{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}


<div class="create_item_form">
  <form action="" method="POST" id="ledgerForm" autocomplete="off">
      {% csrf_token %}
    <div class="row border border-1 border-dark p-3 rounded-1 m-3">
      <div class="col-lg-6 ">
        <div class="d-flex mb-2">
          <label for="id_name" class="item-form">Name :</label>
          <input type="text" required class="ledger-input" value="{{form.instance.name}}" name="name" maxlength="100" id="id_name">
        </div>
        <div class=" d-flex mb-3"> 
          <label for="id_short_name" class="item-form">Alias :</label>
          <input type="text" class="ledger-input" value="{{form.instance.short_name}}" name="short_name" maxlength="100" id="id_short_name" required>
        </div>
        <div class="d-flex mb-3">
          <label for="id_vendor_code"  class="item-form">Vendor Code :</label>

          {% if form.instance.id %}
          <input type="text" class="ledger-input" value="{{form.instance.vendor_code}}" name="vendor_code" maxlength="100" id="id_vendor_code" required>

          {% elif not form.instance.id %}
          <input type="text" class="ledger-input" value="{{form.vendor_code.initial}}" name="vendor_code" maxlength="100" id="id_vendor_code" required>

          {% endif %}

        </div>
        <div class=" d-flex mb-3">
          <label for="id_under_group" class="item-form">Under :</label>
          <select value="{{form.instance.under_group}}" class="ledger-input" name="under_group" required id="id_under_group" required>
              {% if form.instance.id %}
              <option value="{{form.instance.under_group.id}}">{{form.instance.account_sub_group_ledger}}</option>
              {% elif not form.instance.id %}
              <option value=""></option>
                {% endif %}
            {% for grp in under_groups %}
              <option value="{{grp.id}}">{{grp.account_sub_group}}</option>
              {% endfor %}
          </select> 
        </div>
        <div class="d-flex mb-3">
          <label for="id_maintain_billwise" class="item-form">Maintain Billwise :</label>
          <select class="ledger-input" value="{{form.instance.maintain_billwise}}" name="maintain_billwise" id="id_maintain_billwise" required>
              <option value="{{form.instance.maintain_billwise}}">{{form.instance.maintain_billwise}}</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
          </select>
        </div>
        <div class="d-flex mb-3">
          <label for="id_default_credit_period" class="item-form">Default Credit Period:</label>
          <input type="text" class="ledger-input" value="{{form.instance.default_credit_period}}" name="default_credit_period" maxlength="100" id="id_default_credit_period" required>
        </div>
        <div class="d-flex mb-3">
          <label for="id_types" class="item-form">Types :</label>
          <select class="ledger-input" value="{{form.instance.types}}" name="types" id="id_types" required>
            
            {% if form.instance.id %}
            <option value="{{form.instance.types.id}}">{{form.instance.types.type_name}}</option>
            {% for type in ledgerTypes_query %}
            <option value="{{type.id}}">{{type.type_name}}</option>
            {% endfor %}
            {% elif not form.instance.id %}
            <option value=""></option>
            {% endif %}

            {% for type in ledgerTypes_query %}
            <option value="{{type.id}}">{{type.type_name}}</option>
            {% endfor %}

            
          </select> 
          <button type="button" class="itemCreate_btn popup-trigger" onclick="openLedgerTypePopup()">+</button>
        </div>
        <span id="gstError" class="error-messagesGst"></span>
        <div class="d-flex mb-3">
          <label for="id_Gst_no" class="item-form">Gst No :</label>
          <input type="text" class="ledger-input" value = "{{form.instance.Gst_no}}" name="Gst_no" maxlength="15" minlength="15" id="id_Gst_no" required> 
        </div>
        <div class="mt-4">
            {% if form.instance.id %}
            <p class="ms-1">Created Date: <span class="ms-5 fw-bold">{{ form.instance.created_date }}</span></p> 

            {% if form.instance.modified_date_time %}
            <p class="ms-1">Modified Date: <span class=" ms-5 fw-bold">{{ form.instance.modified_date_time }}</span></p>
            {% endif %} 
            
            {% elif not form.instance.id %}
            <p></p>
            {% endif%}
          <!-- <input type="text" placeholder="YYYY-MM-DD" name="date" value="{{form.instance.date | default_if_none:''}}" required id="id_date"> -->
        </div>

        <div class="d-flex mb-4 ms-5 me-1">
          <label for="id_opening_balance" class="item-form ms-1">Opening Balance :</label>

          {% if form.instance.id %}
            <input type="number" placeholder="Rs" class="item-select me-2" value="{{ open_bal|default_if_none:'0'}}" name="opening_balance" required id="id_opening_balance" >
          {% elif not form.instance.id %}
          <input type="number" placeholder="Rs" class="item-select me-2" value="0" name="opening_balance" required id="id_opening_balance" required>
          {% endif %}
          <select class="item-select w-25" name="Debit_Credit" id="id_Debit_Credit" required>
            <option value="{{form.instance.Debit_Credit}}">{{form.instance.Debit_Credit}}</option>
            <option value="N/A">N/A</option>
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
          </select> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex mb-3">
          <label for="id_address" class="item-form">Address :</label> <!--for textarea value = '' doesent work -->
          <textarea name="address" required class="" cols="35" rows="3" id="id_address">{{form.instance.address}}</textarea> 
        </div>
        <div class="d-flex mb-3">
            <label for="id_state" class="item-form">State :</label>
            <input type="text"  class="ledger-input" required name="state" value ="{{form.instance.state}}" maxlength="255" id="id_state">
        </div>
        <div class="d-flex mb-3">
            <label for="id_country" class="item-form">Country :</label>
            <input type="text" class="ledger-input" value = "{{form.instance.country}}" name="country" maxlength="255" id="id_country" required> 
        </div> 
        <div class="d-flex mb-3">
            <label for="id_city" class=" item-form">City :</label>
            <input type="text" class="ledger-input" value = "{{form.instance.city}}" name="city" maxlength="255" id="id_city" required>  
        </div>
        <div class="d-flex mb-3">
            <label for="id_pincode" class=" item-form">Pincode :</label>
            <input type="number" class="ledger-input" value="{{form.instance.pincode |default_if_none:''}}" name="pincode" required id="id_pincode" required>    
        </div>
        <div class="d-flex mb-3">
            <label for="id_mobile_no" class=" item-form">Mobile No :</label>
            <input type="number" class="ledger-input" value="{{form.instance.mobile_no |default_if_none:''}}" name="mobile_no" required id="id_mobile_no" required>    
        </div>  
        <div class="d-flex mb-3">
            <label for="id_landline_no" class="item-form">Landline No :</label>
            <input type="number" class="ledger-input" value="{{form.instance.landline_no |default_if_none:''}}" name="landline_no" required id="id_landline_no"> 
        </div>
        <div class="d-flex mb-3">
            <label for="id_bank_details" class="-label item-form">Bank Details :</label>
            <textarea name="bank_details" class="" cols="33" rows="3" id="id_bank_details">{{form.instance.bank_details}}</textarea>  
        </div>
      </div>
    </div>
    <button type="submit" id="submitButtonLedgerCreate" class="create-btn mx-5 px-2">Submit</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {

    window.onload = function() {
        document.getElementById("id_name").focus();
    };
    document.getElementById('id_Gst_no').addEventListener('focusout',function(el){
      ledgerGstRequired();
    })
  })
  function ledgerGstRequired(){
        var gst  = document.getElementById('id_Gst_no').value;
        var newGst = gst.length;
        var gstErrors = document.getElementById('gstError');
        if(newGst < 15){
            document.getElementById('id_Gst_no').required = true;
            gstErrors.textContent = "Please enter a valid GST number (at least 15 characters).";
            gstErrors.style.display = "block";
        }else{
          gstErrors.style.display = "none";
        }


   
  }
  //ledgerGstRequired();
  var popUpWindow = null;
  function openLedgerTypePopup(button){
    openPopup(button, '{% url "ledger-Types-create-popup" %}');
  }

function openPopup(button, url) {
  if (popUpWindow === null || popUpWindow.closed) {
    newPopUpwindow(button, url);
  } else {
  
    popUpWindow.focus();
  }
}

function newPopUpwindow(button, path) {
  // Specify minimum height and width
  var minWidth = 800; // minimum width
  var minHeight = 600; // minimum height

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');

  // Open new page with specified dimensions
  popUpWindow = window.open(path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    // Ensure only one event listener is attached
  
    window.addEventListener('message', function(event){
        if (event.data.message === 'close') {
                $('body').removeClass('popup-open');
                $('.popup-overlay').remove();
                popUpWindow.close();
             }
           });

          
    // Listen for messages from the popup window
    window.addEventListener('click', function(event) {
    handleOutsideClick(event);
  });

}
function handleOutsideClick(event) {

  var popUpRect = document.querySelector('body').getBoundingClientRect();
  var clickX = event.clientX;
  var clickY = event.clientY;
   
    // Check if the click is outside the popup window
    if (
      clickX > popUpRect.left || clickX <= popUpRect.right ||
      clickY > popUpRect.top || clickY <= popUpRect.bottom
    ) {
     
      popUpWindow.focus();
      
    }
   
}

window.addEventListener('message', function(event) {
    const data = event.data;
 
    if (data.ledger_type) {
        populateDropdownLedgerTypes(data.ledger_type, '#id_types', 'type_name', 'Select Name');
    }
});

function populateDropdownLedgerTypes(items, dropdownSelector, valueKey, defaultText) {
    const dropdown = $(dropdownSelector);
    dropdown.empty();
    dropdown.append('<option value="">' + defaultText + '</option>');

    items.forEach(item => {
        dropdown.append('<option value="' + item.id + '">' + item[valueKey] + '</option>');
    });
}
</script>
{% endblock body %}

    