{% extends 'product/base.html' %} 
{% load static %}
{% block body %}

<form action="" method='POST' class="mt-4">
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-4">
            <div class="d-flex mb-3">
                <label for="id_po_no"  class="item-form">Po No :</label>
               
                <input type="text" class="item-select" name="po_no" id ="id_po_no" value="{{master_form.instance.po_no| default_if_none:''}}" maxlength="255" required>
                
            </div>
            <div class="d-flex mb-3">
                <label for="id_party_name" class="item-form" >Party A/C Name :</label>
          
                <select class="product2Select text-dark" name="party_name" required id="id_party_name">
                    {% if master_form.instance.id %}
                    <option value="{{master_form.instance.party_name.id}}">{{master_form.instance.party_name.name}}</option>
                
                    {% elif not master_form.instance.id %}
                    <option value=""></option>
                    {% for x in party_names %}
                    <option value="{{x.id}}">{{x.name}}</option>
                    {% endfor %}
                    {% endif%}
                </select>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-flex mb-3">
                <label for="id_GST_number" class="me-2" >Party GST No :</label>
                    <input type="text" class="item-select" name="GST_number" id ="id_GST_number"  value="{% if master_form.instance.id %}{{ master_form.instance.party_name.Gst_no }}{% endif %}" maxlength="15" readonly required>
            </div>
            <div class="d-flexmb-3">
                <label for="id_paymentTerm"  class="item-form">Payment Term :</label>
                <input type="text" class="item-select" name="paymentTerm" id ="id_paymentTerm" value="{{form.instance.payment_term}}" maxlength="255" required >
              
            </div>
           
        </div>
        <div class="col-lg-4">
            <div class="d-flex ms-3">
                <label for="id_GST_numbers" class="" >Company GST No :</label>
                <input type="text" class="item-select" name="GST_numbers" id ="id_company_GST_numbers" value="27AAACG20210238" maxlength="50" readonly >
            </div>
        </div>
        
        
    </div>
    <div>
        <table class="table table-striped table-hover table-responsive" id="myTablePurchase">
            <thead class="name_absolute">
                <tr>
                    <th>No</th>
                    <th>M code/C Code</th>
                    <th>Item Name</th>
                    <th>Color</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Rate</th>
                    <th>Tax</th>
                    <th>Gst%</th>
                    <th>CGST</th>
                    <th>SGST/IGST</th>
                    <th>Total Amount</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="mainTableList">
                {{formset.management_form}}
                {% for forms in formset %}
                {{ forms.id }}
                <tr>
                    <td><input type="number" class="rowNo  bg-transparent border-0" name="rowNo_{{forloop.counter0}}" id="rowNo_{{forloop.counter0}}" value="{{forloop.counter}}" readonly></td>
                    <td><input type="text" name="item_Mcode_{{forloop.counter0}}" id="item_Mcode_{{forloop.counter0}}" value="" class="purchase-amount" readonly></td>
                    <td>
                        <div class="custom-dropdown-container">
                            <input  type="hidden" name="{{forms.prefix}}-item_name" id="{{forms.prefix}}-item_name" class="purchaseDate"  value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.item_name }}{% endif %}"  > 
                            <input  type="text" name="item_name_{{forloop.counter0}}" id="item_name_{{forloop.counter0}}" class="productpurchaseInvoice search-input"  placeholder="Item Name" autocomplete="off" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.item_name }}{% endif %}"  > 
                            <div name="select_item_name_{{forloop.counter0}}" class="productpurchaseInvoice item-name s-suggestion-container item-select_input" id="select_item_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Item Name" >
                              
                           
                             </div>
                        </div> 
                    </td>
                    <td><input type="text" name="item_color_{{forloop.counter0}}" id="item_color_{{forloop.counter0}}" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.Item_Color.color_name }}{% endif %}" class="purchase-input" style="margin-left: 10px;" readonly></td>
                    <td><input type="number" name="{{forms.prefix}}-quantity" id="{{forms.prefix}}-quantity" value="{{forms.instance.quantity_total | default_if_none:'' }}" class="purchase-input"></td>
                    <td><input type="text" name="item_per_{{forloop.counter0}}" id="item_per_{{forloop.counter0}}" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.unit_name_item.unit_name }}{% endif %}" class="purchase-mark" readonly></td>
                    <td><input type="number" id="{{forms.prefix}}-rate" class="purchase-input purchase-rate" name="{{forms.prefix}}-rate" value="250" ></td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-amount" class="purchase-amount total-amount" name="{{forms.prefix}}-amount" value="{{forms.instance.amount | default_if_none:''}}" readonly>
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-gst" class="purchase-mark purchase-gst" name="{{forms.prefix}}-gst" value="{{ forms.instance.item_shade.items.Item_Creation_GST.gst_percentage}}" readonly >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-cgst" class="purchase-input purchase-cgst" name="{{forms.prefix}}-cgst" value=""readonly >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-sgst" class="purchase-input purchase-sgst" name="{{forms.prefix}}-sgst" value=""readonly >
                    </td>
                    <td><input type="number" id="{{forms.prefix}}-total_amount" class="purchase-amount purchase-total" name="{{forms.prefix}}-total_amount" value="" readonly></td>
                    <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="godown_deleteId px-2" style="display: none;"  name="{{forms.prefix}}-DELETE" id="{{forms.prefix}}-DELETE" value="" ></i></span></td>
                    
                </tr>
                {% endfor %}
            </tbody>
            <tbody>
                <tr>
                    <td class="text-center fw-bold" ><span>Total</span></td>
                    <td colspan="3"></td>
                    <td> <input type="number" class="purchase-input" style="border: 1px solid red;" name="grand_quantity" id ="id_grand_quantity" value="" maxlength="50" step=".01" readonly></td>
                    <td colspan="2"></td>
                    <td><input type="number" class="purchase-amount" style="border: 1px solid red;"  name="grand_taxableAmount" id ="id_grand_taxableAmount" value="" maxlength="50" step=".01" readonly ></td>
                    <td></td>
                    <td><input type="number" class="purchase-input" style="border: 1px solid red;" name="grand_cgst" id ="id_grand_cgst" value="" maxlength="50" step=".01" readonly></td>
                    <td><input type="number" class="purchase-input" style="border: 1px solid red; " name="grand_Sgst" id ="id_grand_sgst" value="" maxlength="50" step=".01" readonly > </td>
                    <td> <input type="number" class="purchase-amount" style="border: 1px solid red;" name="grand_amount" id ="id_grand_amount" value="" maxlength="50" step=".01" readonly></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-9">
                <div class="ms-2">
                    <input type="number" class="product_row" name="productRow" id="id_productRow" value="1">
                    <button type="button" class="item-btn mb-3" id="addRowButton">Add +</button>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-4">
                    <div class=" mb-3">
                        <label  class="purchase-lable fw-bold">Gross total</label>
                        <span class="purchase-span">
                            <input type="number" class="purchaseTableLabel-Gtotal  purchase-amounts" name="gross_total" id ="id_gross_total" value="{{master_form.instance.gross_total | default_if_none:''}}" maxlength="50" step=".01" readonly >
                        </span>           
                    </div>
                    <div class=" mb-3">
                        <label class="purchase-lable fw-bold">Fright & Transport</label>
                        <span class="purchase-span">
                            <input type="number" class="purchaseTableLabel-transport  purchase-amounts" name="fright_transport" id ="id_fright_transport" value="0" maxlength="50" step=".01" required >
                        </span>
                    </div>
                    <div class=" mb-3">
                        <input type="hidden" id="temp_grand_total" value="">
                        <label class="purchase-lable fw-bold">Round Of </label>
                        <span class="purchase-span">
                            <input type="number" class="purchaseTableLabel-roundOf  purchase-amounts" name="round_off" id ="id_round_off" value="" maxlength="50" step=".01" readonly required>
                        </span> 
                    </div>
                
                    <div class=" mb-3">
                        <label class="purchase-lable fw-bold">Grand total</label>
                        <span class="purchase-span"><input type="number" class="purchaseTableLabel-total purchase-amounts" name="grand_total" value="{{master_form.instance.grand_total | default_if_none:''}}" id="id_grand_total" step=".01" readonly required></span> 
                    </div>
                </div>
            </div>
            
            
            
        </div>
          <button type="submit" class="ms-5 newProductCreateBtn" id="parentFormClick">Submit</button>
    </div>
</form>

<script>


    $(document).ready(function () {
        var itemName;
        var uniqueIdValue;
        var purchaseValue;
        var selectName;
        var searchedItemNameDic; 
        var enterPressed = false;

         // perfix value on item-name change
        $(document).on('click input keyup focus keydown', 'input[name^="item_name_"]', function () {
        itemName = $(this).closest('tr').find('[name$="-quantity"]').attr('name');
        purchaseValue = itemName.split('-')[1];
                
        });

        
        // This ajax request for a input type value send to the backend and show the input name 
        $(document).on('input', 'input[name^="item_name_"]', function(e) {
            var purchaseValue = $(this).attr('name').match(/\d+/)[0]; // Extract the numeric value from the input name
            var nameValue = $(this).val().trim();
            var selectNameValue = `select_item_name_${purchaseValue}`;
            var suggestionsContainer = $(`#${selectNameValue}`);
        
            if (nameValue === 'None') {
                var selectNameValue = $(this).closest('tr').find('[name^="select_item_name_"]');
                    
                selectNameValue.css('display', 'none');
                $(this).attr('data-key', '');
                return;
            }

            if(!enterPressed){
                suggestionsContainer.css('display', 'block');
            }
            enterPressed = false;
        
                if(nameValue.length >= 1){
                    $.ajax({
                    url: '/itemdynamicsearchajax/',
                    method: 'GET',
                    data: { 'nameValue': nameValue },
                    success: function (response) {

                        // Function to escape special characters in the search query
                        function escapeRegExp(string) {
                            return string.replace(/[.*+?^${}()|[\]\\,]/g, '\\$&');
                        }
                        searchedItemNameDict = response.searched_item_name_dict;
                     
                        var searchQuery = nameValue.toLowerCase();
                        var escapedSearchQuery = escapeRegExp(searchQuery); // Escape special characters in search query
                        var regex = new RegExp('(' + escapedSearchQuery + ')', 'gi');
                        var filteredOptions = Object.entries(searchedItemNameDict).filter(([key, value]) => value.toLowerCase().includes(searchQuery));
                        
                        // Clear and repopulate options
                        suggestionsContainer.empty();

                        $.each(filteredOptions, function(index, [key, value]) {
                         
                            let highlightedText = value;
                            let colorStyle = '';
                            if (searchQuery) {
                                highlightedText = value.split("|")[0].replace(regex, '<span class="highlight">$1</span>');
                                const valueCalculate = value.split("|")[1].split(",")[0].trim(); 
                                const numberKey = value.split(/-?\d+(\.\d+)?,/)[2].trim();

                                // Initialize the color based on valueCalculate
                                
                                if (parseFloat(valueCalculate) > 0) {
                                    colorStyle = 'color: green; float: right;';
                                } else {
                                    colorStyle = 'color: red;  float: right;';
                                }

                                if(numberKey.includes(searchQuery)){
                                    numberKeyHighlighted = `<span class="highlight">M Code - ${numberKey}</span>`;
                                }else {
                                    numberKeyHighlighted = `M Code - ${numberKey}`;
                                }
                                suggestionsContainer.append(`<div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion " data-key="${key}">${highlightedText} <span style="${colorStyle}">${valueCalculate}</span>
                                    <br>
                                    <span style="font-weight:bold">${numberKeyHighlighted}</span>
                                    </div>`);
                            } 
                            
                
                        });
                        
                    
                    },
                    error: function (xhr) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        if (xhr.status === 404) {
                            
                            suggestionsContainer.show();
                            suggestionsContainer.empty();
                            suggestionsContainer.append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                        }
                    }
                });
                }else{
                    suggestionsContainer.empty();
                }
                
        
            suggestionsContainer.on('click', '.itemName-div', function(e) {
                var item_value = $(this).data('key');
                var itemNamevaluesCheck = $(this).text();
              
               
               
            
                $(this).closest('.custom-dropdown-container').find('.search-input').val(itemNamevaluesCheck);
                $(this).addClass('selected').siblings().removeClass('selected');

                handleSelection(purchaseValue,itemName, item_value)
                suggestionsContainer.css('display', 'none');
                
            });
        
        
        });

       // Function to handle the AJAX request and UI updates
        function handleSelection(purchaseValue,itemName, item_value) {

        if (item_value !== undefined) {
        var selectedValue = searchedItemNameDict[item_value];
        var namevalueCheck = selectedValue.match(/[a-zA-Z\s().0-9]+/g).join('');

        var numberValue = selectedValue.match(/-?\d+(\.\d+)?/g)[0];
        var newnameValue = namevalueCheck.replace(/[\.\s 0-9]+$/, '');
        var valueKey = namevalueCheck + ' ' + numberValue ;
            
        $(`input[name^="item_name_${purchaseValue}"]`).val(newnameValue);
        $(`input[name^="purchase_order_for_puchase_voucher_rm_set-${purchaseValue}-item_name"]`).val(item_value);

        $.ajax({
            url: '/purchasevouchercreate/',
            method: 'GET',
            data: {
                'item_value': item_value,
            },
            success: function (response) {
                var itemrownameid = itemName.split('-')[1];
                console.log('ews',response.item_m_code_out)
            
                    var itemcolorinput = document.querySelector('#item_color_' + itemrownameid);
                    var item_color = response.item_color;

                    var itemperinput = document.querySelector('#item_per_' + itemrownameid);
                    var itemperinput_response = response.item_per;

                    itemcolorinput.value = item_color;
                    itemperinput.value = itemperinput_response;

                    var itemgstinput = document.querySelector('#purchase_order_for_puchase_voucher_rm_set-' + itemrownameid + '-gst');
                    var item_gst_value_response = response.item_gst_out;
                    itemgstinput.value = item_gst_value_response;

                    var mCode = document.querySelector('#item_Mcode_' + itemrownameid );
                     var newMcodeValue = response.item_m_code_out
                        if(newMcodeValue !== ''){
                            mCode.value = newMcodeValue  
                        }else{
                            mCode.value = '';
                        }
                     
                ajaxInProgress = false;
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
                ajaxInProgress = false;
            }
        });
      }
      }


        var index = 0; // Declare index outside of the event listener
        var indexbool = true;

     $(document).on('keydown', 'input[name^="item_name_"]', function(event) {
        const $inputField = $(this);
        const $dropdownOptions = $inputField.next('.item-name');
        const $options = $dropdownOptions.find('.itemName-div');
        const optionsCount = $options.length - 1;
        const searchText = $inputField.val().trim();
        const hiddenValue = $inputField.closest('.custom-dropdown-container').find(`#select_item_name_${purchaseValue}`);
        if (searchText === '') {
            index = 0;
            return;
        }
        const newHeight = $inputField.offset();
        const windowHeight = $(window).height();
        const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
   

        if (event.key === 'ArrowDown') {
             event.preventDefault();

            if (index <= optionsCount) {
            
                const $selectedItem = $options.eq(index);
                const $nextItem = $selectedItem.next();
                const nameDataKey = $selectedItem.text();
                const nameKey = $selectedItem.data('key');

                $inputField.attr('data-key', nameKey);
             
                $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                const itemOffsetTop = $nextItem.position().top;
                const itemHeight = $nextItem.outerHeight();
                const selectScrollTop = $dropdownOptions.scrollTop();
                const selectHeight = $dropdownOptions.height();

                if (itemOffsetTop + itemHeight > selectHeight) {
                    $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                } else if (itemOffsetTop < 0) {
                    $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                }
                $selectedItem.addClass('selected');
                if (index !== optionsCount) {
                    index += 1;
                    indexbool = true;
                }
            } else {
                index = 0;
            }
        }

        if (event.key === 'ArrowUp') {
             event.preventDefault();

            if (index != 0 && indexbool == true) {
                index -= 1;
            }

            if (index <= optionsCount) {
               
                const $selectedItem = $options.eq(index);
                const $prevItem = $selectedItem.prev();
                const nameDataKey = $selectedItem.text();
                const nameKey = $selectedItem.data('key');

                $inputField.attr('data-key', nameKey);
                
                $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                
                const itemOffsetTop = $prevItem.position().top;
                const itemHeight = $prevItem.outerHeight();
                const selectScrollTop = $dropdownOptions.scrollTop();
                const selectHeight = $dropdownOptions.height();

                if (itemOffsetTop < 0) {
                    $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                } else if (itemOffsetTop + itemHeight > selectHeight) {
                    $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                }

                $selectedItem.addClass('selected');
            } else {
                index = 0;
            }
        }

        if (event.key === 'Enter') {
             event.preventDefault();
            const itemEnterValue = $(this);
            const item_value = itemEnterValue.attr('data-key');

            nameDataKey = '';
            nameKey = '';
            index = 0;
            indexbool = false;
            console.log(purchaseValue,itemName, item_value)
            handleSelection(purchaseValue,itemName, item_value);
            enterPressed = true;
            hiddenValue.css("display" ,"none");
            $inputField.blur();
        }
        if (event.key === 'Tab' && enterPressed) {
        enterPressed = false; // Reset Enter key handling
        return true; // Allow default Tab behavior
    }
   
     });



     $(document).on('change', 'select[name^="party_name"]', function () {

        const selected_party_name = $(this).val()
        const int_selected_party_name = parseInt(selected_party_name)

        $.ajax({
            url: '/purchasevouchercreate/',
            method: 'GET',
            data: {
                'selected_party_name': selected_party_name,
            },
            success: function (response) {
                const party_gst_no_response = response.party_gst_no
                const gst_no_input = document.getElementById('id_GST_number')
                gst_no_input.value = party_gst_no_response
                getGstNo()
                calculateTotalAmount()
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        })
        })
    })
</script>
<script>
//         // This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst 
function getGstNo() {
    let partyGstValue = document.getElementById('id_GST_number').value;
    let comapnyGst = document.getElementById('id_company_GST_numbers').value;

        comapnyGst = comapnyGst.toString();
        partyGstValue = partyGstValue.toString();

    const newCompanyGst = comapnyGst.slice(0,2);
    const newPartyGst = partyGstValue.slice(0,2);
    return newCompanyGst === newPartyGst;
}

    function calculateTotalAmount() {
        let total = 0; 
        let totalQty = 0;
        let newGst =0;
        let newCgst = 0;
        let totalCgst =0;
        let newSgst = 0;
        let totalSgst =0;
        let grandTotal = 0;
        let grandTotalAmount = 0;
        // Iterate through each row
        const rows = Array.from(document.querySelectorAll('.mainTableList tr'))
        .filter(row => row.style.display !== 'none');
        rows.forEach(function(row) {
            console.log(row)
            // Find the quantity, rate, and amount input fields for the current row
            const quantityInput = row.querySelector('.purchase-input[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-quantity"]');
            const rateInput = row.querySelector('.purchase-input[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-rate"]');
            const amountInput = row.querySelector('.total-amount[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-amount"]');
            const gstValue = row.querySelector('.purchase-gst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-gst"]');
            const cgstValue= row.querySelector('.purchase-cgst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-cgst"]');
            const sgstValue= row.querySelector('.purchase-sgst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-sgst"]');
            const totalAmountInput = row.querySelector('.purchase-total[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-total_amount"]');
         
            // Get the values of quantity and rate
            const quantity = parseFloat(quantityInput.value);
            const rate = parseFloat(rateInput.value);
            const gst = parseFloat(gstValue.value);
            console.log('quantity',typeof(quantity))
            console.log('rate',rate)
            // Calculate the amount for the current row
            const amount = quantity * rate;
            console.log('amount',amount)
            totalQty  += quantity;
            // This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst
            if(getGstNo()){ 
            newGst = amount * gst / 100;
            newCgst = newGst / 2;
            newSgst = newGst / 2;
           
            cgstValue.value = isNaN(newCgst) ? '' : newCgst.toFixed(2);
            sgstValue.value = isNaN(newSgst) ? '' : newSgst.toFixed(2);

            totalCgst +=  newCgst;
            totalSgst +=  newSgst;
          
            total += amount; 
            grandTotal = amount + newCgst + newSgst;

          
        
           }else{
            cgstValue.value = ''
            let newIgst = amount * gst / 100;

            sgstValue.value = isNaN(newIgst) ? '' : newIgst.toFixed(2);
            totalSgst += newIgst;
            total +=  amount;  
            grandTotal = amount + newIgst ;
        
        }
            amountInput.value = isNaN(amount) ? '' : amount.toFixed(2);
            totalAmountInput.value = isNaN(grandTotal) ? '' : grandTotal.toFixed(2); 
          
            grandTotalAmount += grandTotal; 
           
        }); 
     
            document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
            document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
            document.getElementById('id_grand_cgst').value = isNaN(totalCgst) ? '' :totalCgst.toFixed(2);
            document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
            document.getElementById('id_grand_amount').value =isNaN(grandTotalAmount) ? '' : grandTotalAmount.toFixed(2);   
            calculateOtherTotal()   
    }
    function calculateOtherTotal(grandTotal) {

        const grandTotals = parseFloat(document.getElementById('id_grand_amount').value);
        //console.log('grandTotals',grandTotals)
        let  grossTotal = grandTotals;      

        // Set the calculated gross total value to the gross total input field
        document.getElementById('id_gross_total').value =isNaN(grossTotal) ? '' : grossTotal.toFixed(2);

        const frightTransport = parseFloat(document.getElementById('id_fright_transport').value);

        let finalTotal = grossTotal + frightTransport;

        document.getElementById('temp_grand_total').value =isNaN(finalTotal) ? '' : finalTotal.toFixed(2);

        
        let finalTotals = Math.round(finalTotal)
        let roundOff = finalTotals - finalTotal;

        document.getElementById('id_round_off').value =isNaN(roundOff) ? '' : roundOff.toFixed(2);
        // Set the calculated grand total value to the grand total input field
        document.getElementById('id_grand_total').value = isNaN(finalTotals) ? '' : finalTotals.toFixed(2);
        }
    // Call the function initially to calculate total amount, GST, and grand total on page load
 
    // Add onchange event handler to id_fright_transport
    document.getElementById('id_fright_transport').addEventListener('input', calculateOtherTotal);
    document.getElementById('id_round_off').addEventListener('input', calculateOtherTotal);
     
    

  
    // Event listener for the add row button
    document.addEventListener('DOMContentLoaded', function () {
    const addButton= document.getElementById('addRowButton');
    const tableBody = document.querySelector('#myTablePurchase tbody'); // Clone the first row of the table
    
    if(addButton && tableBody){
        addButton.addEventListener('click', function() {
            let addInputRow = parseInt(document.getElementById('id_productRow').value, 10);

                if (isNaN(addInputRow) || addInputRow <= 0) {
                    addInputRow = 1;
                    return;
                }
                let lastVisibleRow = null;
                tableBody.querySelectorAll('tr').forEach(row => {
                    if (window.getComputedStyle(row).display !== 'none') {
                        lastVisibleRow = row;
                    }
            });

            if (lastVisibleRow) {
                const formCountInput = document.getElementById("id_purchase_order_for_puchase_voucher_rm_set-TOTAL_FORMS");
               
                for(let i = 0; i<addInputRow; i++){
                    const formCount = parseInt(formCountInput.value); 
                    const formIndex = formCount;
                    const lastRow = lastVisibleRow.cloneNode(true);
                    lastRow.querySelectorAll("input select").forEach(function (e) {
                        e.value = "";
                    });

                    // update the input name,id and value of the last row   
                    const rowElement = lastRow.querySelector('.rowNo[name^="rowNo_"]');
                    rowElement.id = `rowNo_${formIndex}`;
                    rowElement.name = `rowNo_${formIndex}`;
                    rowElement.value = formIndex + 1 ;
                    rowElement.style.border="none";

                    const inputHiddenElement = lastRow.querySelector('input[name$="-item_name"]');
                    inputHiddenElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-item_name`;
                    inputHiddenElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-item_name`;
                    inputHiddenElement.value="";
                    

                    const inputSelectElement = lastRow.querySelector('.search-input[name^="item_name_"]');
                    inputSelectElement.id = `item_name_${formIndex}`;
                    inputSelectElement.name = `item_name_${formIndex}`;
                    inputSelectElement.value="";
                    inputSelectElement.removeAttribute('readonly');
                    
                    const oldShadeElement = lastRow.querySelector('[id^="item_Mcode_"]');
                    oldShadeElement.id = `item_Mcode_${formIndex}`;
                    oldShadeElement.name =  `item_Mcode_${formIndex}`;
                    oldShadeElement.value="";
             ;

                    const selectElement = lastRow.querySelector('.item-name[name^="select_item_name_"]');
                    selectElement.id = `select_item_name_${formIndex}`;
                    selectElement.name = `select_item_name_${formIndex}`;
                    selectElement.innerHTML = '';

                    // Update input name and id
                    const colorInputElement = lastRow.querySelector('.purchase-input[name^="item_color"]');
                    colorInputElement.id = `item_color_${formIndex}`;
                    colorInputElement.name = `item_color_${formIndex}`;
                    colorInputElement.value="";


                    const qunatityInputElement = lastRow.querySelector('.purchase-input[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-quantity"]');
                    qunatityInputElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-quantity`;
                    qunatityInputElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-quantity`;
                    qunatityInputElement.value="";

                    const rateInputElement = lastRow.querySelector('.purchase-rate[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-rate"]');
                    rateInputElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-rate`;
                    rateInputElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-rate`;
                    rateInputElement.value="";

                    const perInputElement = lastRow.querySelector('.purchase-mark[name^="item_per"]');
                    perInputElement.id = `item_per_${formIndex}`;
                    perInputElement.name = `item_per_${formIndex}`;
                    perInputElement.value="";

                    const amountInputElement = lastRow.querySelector('.total-amount');
                    amountInputElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-amount`;
                    amountInputElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-amount`;
                    amountInputElement.value="";

                    const gstElement = lastRow.querySelector('.purchase-gst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-gst"]');
                    gstElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-gst`;
                    gstElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-gst`;
                    gstElement.value="";
                    
                    
                    const cgstElement = lastRow.querySelector('.purchase-cgst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-cgst"]');
                    cgstElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-cgst`;
                    cgstElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-cgst`;
                    cgstElement.value="";

                    const sgstElement = lastRow.querySelector('.purchase-sgst[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-sgst"]');
                    sgstElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-sgst`;
                    sgstElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-sgst`; 
                    sgstElement.value="";

                    const TotalAmountElement = lastRow.querySelector('.purchase-total[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-total_amount"]');
                    TotalAmountElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-total_amount`;
                    TotalAmountElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-total_amount`;
                    TotalAmountElement.value="";

                   
                    const deleteElement = lastRow.querySelector('input[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-DELETE"]');
                    deleteElement.id = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-DELETE`;
                    deleteElement.name = `purchase_order_for_puchase_voucher_rm_set-${formIndex}-DELETE`;
                    deleteElement.value= "";
                    
            

                    formCountInput.value = formCount + 1; 
                    tableBody.appendChild(lastRow);
                    bindRowListeners(lastRow)
                }
                document.getElementById('id_productRow').value = '1';
                calculateTotalAmount();
                calculateOtherTotal();
                deleteRowData();
               
            }   
             
        });
        
    }else{
        console.error("Could not find addFormButton or table body element.");

    }
    });

    function bindRowListeners(row) {
        const quantityInput = row.querySelector('[name$="-quantity"]');
        const rateInput = row.querySelector('.purchase-rate[name$="-rate"]');
        
        if (quantityInput) {
            quantityInput.addEventListener('input', calculateTotalAmount);
        }
        if (rateInput) {
            rateInput.addEventListener('input', calculateTotalAmount);
        }
    }
   

    function getVisibleRows() {
    // Select all rows that are not hidden (excluding those with display: none)
    const visibleRows = document.querySelectorAll('.mainTableList tr:not([style*="display: none"])');
    return visibleRows;
}
   function deleteRowData(){
    // Add click event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(function (button) {
    button.addEventListener('click', function () {
        // Find all rows in the table
        const rows =  getVisibleRows();
        console.log(rows)
        // Check if more than one row exists
        if (rows.length > 1) {
            // Find the row containing the clicked delete button
            const row = this.closest('tr');

            if (row) {
                // Find the checkbox for deletion in the row
                const checkRow = row.querySelector('.godown_deleteId[name^="purchase_order_for_puchase_voucher_rm_set-"][name$="-DELETE"]');

                if (checkRow) {
                    checkRow.checked = true; // Mark as checked
                    checkRow.value = 'true'; // Set the value to 'true'

                    // Optionally hide the row visually
                    row.style.display = 'none';

                    // Call functions to recalculate totals or perform other updates
                    calculateTotalAmount();
                    calculateOtherTotal();
                    // inputCheck();
                } else {
                    console.error("Checkbox for deletion not found in this row");
                }
            }
        } else {
            // If only one row remains, alert the user
            alert('Cannot delete this row; at least one row must remain.');
        }
    });
});

 
  };

  document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('[name$="-quantity"], [name$="-rate"]').forEach(input => {
            input.addEventListener('input', function(){
            calculateTotalAmount();
            calculateOtherTotal();
            });
        });

    })
 deleteRowData();
 calculateTotalAmount();
 calculateOtherTotal();

</script>

{% endblock body %}