{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<div>
      <h2>Account Sub-Group List</h2>
      <div class="mt-5">
        
          <div class="d-flex mb-3">
            <button class="acc-btn " onclick="redirectaccsubgrp()">Add Sub Group +</button>
            <div class="container-account"> 
             <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="product_search" />
               <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
           </div>
          </div>  
         
        <div class="row ps-3">
          <div class="col-lg-6">
            <table class="table table-striped table-hover table-responsive table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="name_absolute">No</th>
                  <th scope="col" class="name_absolute">Group
                    <div class="nav-item dropdown fabric-list-icons">
                      <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><input  type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col" class="name_absolute">Sub Group
                    <div class="nav-item dropdown fabric-list-icons">
                      <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><input  type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                      </ul>
                    </div>
                  </th>
                  <th scope="col" class="name_absolute">Edit</th>
                  <th scope="col" class="name_absolute">Delete</th>
                 
                </tr>
              </thead>
              
              <tbody class="mainTableList">
               
              </tr>
              {% for grp in  groups %} 
              <tr>
                <td>{{grp.id}}</td>
                <td>{{grp.account_main_group}}</td>
                <td>{{grp.account_sub_group}}</td>
                <td><a href="{% url 'account_sub_group-update' grp.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
                <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ grp.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
              </tr>
              {% endfor %}
             
              </tbody>
              
            </table>
          </div>  
         
        </div>
   
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Are you sure you want to delete this Sub Group?
          </div>
          <div class="modal-footer">
            <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
            <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
          </div>
        </div>
      </div>
    </div>
  
  
  <script>
  

    document.body.appendChild(document.getElementById('exampleModal'));
  
    $(document).ready(function(){
        $('.delete-btn').click(function(){
            var itemId = $(this).data('item-id');
            $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
            $('#confirmDeleteModal').modal('show');
        });
  
        // Confirm delete button click event
        $('#confirmDeleteButton').click(function(){
            var itemId = $(this).data('item-id');
            // Redirect to delete view
            window.location.href = '/accsubgrpdelete/' + itemId;
        });
    });

    function redirectaccsubgrp(){
      window.location.href = "{% url 'account_sub_group-create' %}"
    }
  </script>  
    


{% endblock body %}