{% extends 'product/base.html' %}
{% load static %}
{% block body %}
    <h1>Add Product Video Urls</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
                {% for form in formset %}
                {{form.as_p}}
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" id="saveButton">Submit</button>
    </form>

    <script>
        // When the Save button is clicked
        document.getElementById("saveButton").addEventListener("click", function() {
          // Close the current window
          window.close();
        });
      </script>
    {% endblock body %}