{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}
<h1>Add Product Images</h1>
<form id="myForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
  <div>
    <table class="table table-responsive table-striped">
      <tbody>
        {% for form in formset %}
        {{ form.id }}
        <tr>
          <td>{{form.Image}}</td>
        <td>{{form.Image_type}}</td>
        <td>{{form.Order_by}}</td>
        <td>{{form.DELETE}}</td>
        </tr>
        {% endfor %}

      </tbody>

    </table>
  </div>
    

    <input type="submit" class="add_btn">
    </form>

 {% endblock body %}