<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product Video Urls</title>
</head>
<body>
    <h1>Add Product Video Urls</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
                {% for form in formset %}
                {{form.as_p}}
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>