<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master All</title>
</head>
<body>
   <a href="{% url 'pproductlist' %}"><h3> Product Master </h3></a>
   <a href="{% url 'item-list' %}"><h3> Item Master </h3></a>

    <h3> Categories </h3>
   <a href="{% url 'colorlist' %}"><h4>Color Master</h4></a>
   <a href="{% url 'item-fabgroup-list' %}"><h4>Fabric-Group Master</h4></a>
   <a href="{% url 'item-name-list' %}"><h4>Item-Name Master</h4></a> 
</body>
</html>