{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %} 
<div>
  <h2>Create Color</h2>
      <form class="mt-5" action="" method="POST">
        {% csrf_token %}  
       <div class="d-flex">
        <label for="id_color_name" class="form-label create_color_lable">Name:</label>
        <input type="text" class="item-select" value="{{ form.instance.color_name }}" name="color_name" maxlength="255" required id="id_color_name">
       </div>

    <input type="submit" id="saveButton"  onsubmit="onSubmit()" class="create-btn mt-4" name="save" value="Save">
      </form>
</div>



<script>
  // After form submission
  function onSubmit() {
      // Send a message to the parent window indicating form submission
      window.opener.postMessage('formSubmitted', '*');
      // Close the popup window
      window.close();
  }
</script>



{% endblock body %}