{%  extends 'product/base.html'  %}
{% load static %}
{% block body %} 

<h2>Update Product</h2>
<form  method="POST">
{% csrf_token %}

<form method="POST">
  <div class=" d-flex my-3">
    <label for="id_Product_Name" class="form-label item-form">Product Name:</label>
    <input type="text" class="item-select" value="{{form.instance.Product_Name}}" name="Product_Name"  required id="id_Product_Name">
  </div>
  <div class=" d-flex my-3">
    <label for="id_Model_Name" class="form-label item-form">Model Name:</label>
    <input type="text" class="item-select" value="{{form.instance.Model_Name}}" name="Model_Name"  required id="id_Model_Name">
  </div>
  <div class=" d-flex my-3">
  <label for="id_Product_Status" class="form-label item-form">Status:</label>
<select name="Product_Status" class="item-select" id="id_Product_Status">

if 
elif 




  {% if form.instance.id %}
<option value="{{form.instance.Product_Status}}"selected>{{form.instance.Product_Status}}</option>

{% elif %}
<option value=""selected></option>

  {% endif %}
<option value="Preproduction">Preproduction</option>
<option value="Active">Active</option>
<option value="Inactive">Inactive</option>
<option value="Discontinued">Discontinued</option>
</select>
</div>
<div class=" d-flex my-3">
<label for="id_Product_Channel" class="form-label item-form">Channel:</label>
<label for="id_Product_Channel_0" class="px-2"> <input type="checkbox" class="mx-1" name="Product_Channel" value="Ecommerce" id="id_Product_Channel_0">Ecommerce</label>
<label for="id_Product_Channel_1" class="px-2"><input type="checkbox" class="mx-1" name="Product_Channel" value="Retail" id="id_Product_Channel_1">Retail</label>
<label for="id_Product_Channel_2" class="px-2"><input type="checkbox" class="mx-1" name="Product_Channel" value="Corporate" id="id_Product_Channel_2">Corporate</label>
<label for="id_Product_Channel_3" class="px-2"><input type="checkbox" class="mx-1" name="Product_Channel" value="Modern Trade" id="id_Product_Channel_3">Modern Trade</label>
<label for="id_Product_Channel_4" class="px-2"><input type="checkbox" class="mx-1" name="Product_Channel" value="Export" id="id_Product_Channel_4">Export</label>
</div>
<div class=" d-flex my-3">
<label for="id_Product_Brand" class="form-label item-form">Brand:</label>
<select name="Product_Brand" class="item-select" id="id_Product_Brand">
<option value="" selected></option>  
<option value="Cosmus">Cosmus</option> 
<option value="Killer">Killer</option>  
<option value="Tuffgear">Tuffgear</option> 
<option value="BeeArmour">BeeArmour</option>  
<option value="INIT">INIT</option>  
<option value="OEM">OEM</option>  
</select>
</div>
<div class=" d-flex my-3">
<label for="id_Product_HSNCode" class="form-label item-form">HSN Code:</label>
<input type="text" class="item-select" name="Product_HSNCode" value="12345678" id="id_Product_HSNCode">
</div>
<div class="d-flex my-3">
<label for="id_GST" class="form-label item-form">GST:</label>
<select name="Item_Creation_GST"  class="item-select" required  id="id_Item_Creation_GST">
{% if form.instance.id %}
<option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.product_GST}}</option>
{% for gst in gsts %}
<option value="{{gst.id}}">{{gst.gst_percentage}}</option>
{% endfor %}
{% elif not form.instance.id %}
<option value=""></option>  
{% for gst in gsts %}
<option value="{{gst.id}}">{{gst.gst_percentage}}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div class="d-flex my-3">
<label for="id_Product_WarrantyTime" class="form-label item-form">WarrantyTime:</label>
<select name="Product_WarrantyTime" class="item-select" id="id_Product_WarrantyTime">
<option value=""selected></option>
<option value="6 Months">6 Months</option>
<option value="12 Months">12 Months</option>
<option value="18 Months">18 Months</option>
<option value="24 Months">24 Months</option>
<option value="30 Months">30 Months</option>
<option value="36 Months">36 Months</option>
<option value="42 Months">42 Months</option>
<option value="48 Months">48 Months</option>
<option value="54 Months">54 Months</option>
<option value="60 Months">60 Months</option>
</select>
</div>
<div class="d-flex my-3">
<label for="id_Product_MRP" class="form-label item-form"> MRP:</label>
<input type="number" class="item-select" value="{{form.instance.Product_MRP}}" name="Product_MRP"  id="id_Product_MRP">
</div>
<div class="d-flex my-3">
<label for="id_Product_SalePrice_CustomerPrice" class="form-label item-form">Sale Price</label>
<input type="number"class="item-select" name="Product_SalePrice_CustomerPrice" value="{{form.instance.Product_SalePrice_CustomerPrice}}"  id="id_Product_SalePrice_CustomerPrice">
</div>
<div class="d-flex my-3">
<label for="id_Product_BulkPrice" class="form-label item-form">BulkPrice:</label>
<input type="number" class="item-select" value="{{form.instance.Product_BulkPrice}}" name="Product_BulkPrice"  id="id_Product_BulkPrice">
</div>
<div class="d-flex my-3">
<label for="id_Product_Cost_price" class="form-label item-form">Cost price:</label>
    <input type="number" class="item-select" value="{{form.instance.Product_Cost_price}}" name="Product_Cost_price"  id="id_Product_Cost_price">
  </div>
<div class="d-flex my-3">
    <label for="id_Product_Refrence_ID" class="form-label item-form">Refrence ID:</label>
    <input type="number" readonly class="item-select" value = {{form.instance.Product_Refrence_ID}} name="Product_Refrence_ID" required  id="id_Product_Refrence_ID">
</div>
<input type="submit" class="dropbtn" value="submit">
</form>
{% endblock body %}

