{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<h2>Update Product</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="d-flex m-3">
    <label for="id_Product_Refrence_ID" class="form-label item-form">Refrence ID:</label>
    <input type="number" readonly class="item-select" value={{form.instance.Product_Refrence_ID}}
      name="Product_Refrence_ID" required id="id_Product_Refrence_ID">
  </div>
  <button type="button" class="edit_btn w-75 mb-3" id="product_details_btn">Details<span class="span_padding"><i
        class="fas fa-angle-right arrowBtn"></i></span></button>

  <div id="product_details" style="display: none;">
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="card rounded-3 mb-3 p-2">
     
      <div class="row">
        <div class="col-lg-9">
          <div class=" d-flex mb-3">
            <label class="mx-2">Color:</label>
          
            <label class="mx-2">Color:</label>
            <select class="item-select" name="{{ form.prefix }}-PProduct_color" id="{{ form.prefix }}-PProduct_color">
              
              {% if form.instance.PProduct_color.id %}
              <option value="{{form.instance.PProduct_color.id}}">{{form.instance.PProduct_color}}</option>
              {%elif not form.instance %}
              <option value=""></option>
              {% endif %}
              {% for color in colors %}
              <option value="{{color.id}}">{{color.color_name}}</option>
              {% endfor %}

          </select>

            <div class=" d-flex mb-3">
              <label class="mx-3">Image:</label>
              <input type="file" name="{{ form.prefix }}-PProduct_image" accept="image/*" id="{{ form.prefix }}-PProduct_image">
             <!-- <span>{{form.PProduct_image}}</span>-->
            </div>
          </div>
          <div class=" d-flex mb-3">
            <label class="mx-2">SKU:</label>
            <input type="text" class="item-select" name="{{form.prefix}}-PProduct_SKU" value="{{form.instance.PProduct_SKU}}" min="-9223372036854775808" max="9223372036854775807" readonly id="{{form.prefix}}-PProduct_SKU">
           
           <button type="button" class="add_btn" id="edit_images" onclick="editImages(this)">Add Image</button>
           <button type="button" class="add_btn" id="edit_video_url" onclick="editVideoUrl(this)">Youtube Link</button>
    
          </div>
          <div class="mb-2 d-flex">
            <label for="" class="form-label pe-3">EANCode :</label>
            <input type="text" class="item-select" name="{{form.prefix}}-Product_EANCode" value="{{form.instance.Product_EANCode}}" class="rounded-3 w-75 px-2">
            <label for="" class="form-label ms-2 pe-4">Rating :</label>
            <input type="number" class="item-select" name="{{form.prefix}}-Product_Rating" value="{{form.instance.Product_Rating}}" min="0" max="5" class="rounded-3 w-75 px-2">
          </div>
    
          <label for="" class="form-label fw-bold ps-2">Links</label>
          <div class="d-flex">
            <img src="../../../static/images/Amazon 01.png" alt="logo" class="product_logo mx-2">
            <span>{{form.Amazon_Link}}</span>
    
            <img src="../../../static/images/FLIPKART 01.png" alt="logo" class="product_logo mx-2">
            <span>{{form.Flipkart_Link}}</span>
    
            <img src="../../../static/images/Cosmus.png" alt="logo" class="product_logo mx-2">
            <span>{{form.Cosmus_link}}</span>
    
            <label class="mx-2 text-dan ger">Delete:</label>
            <span class="">{{form.DELETE}}</span>
          </div>
        </div>
        <div class="col-lg-2">
            {% if form.instance.PProduct_image %}
            <img src="{{ form.instance.PProduct_image.url }}" alt="Image Preview" style="width: 150px;">
          {% endif %}       
        </div>
     </div>
        </div>

     
    {% endfor %}
  </div>
  <button type="button" class="edit_btn w-75 mb-3" id="aditional_details_btn">Aditional Details<span
      class="additnal-padding"><i class="fas fa-angle-right arrowBtn"></i></span></button>


  <div id="aditional_details" style="display: none;">
    <div class="row">
      <div class="col-lg-4">
        <div class=" d-flex my-3">
          <label for="id_Product_Name" class="form-label item-form">Name:</label>
            <input type="text" class="item-select" value="{% if form.instance.Product_Name %}{{ form.instance.Product_Name }}{% endif %}" name="Product_Name" required id="id_Product_Name">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">Catagory:</label>
          <input type="text" class="item-select" value="" name="" required id="">
        </div>
        <div class=" d-flex my-3">
          <label for="" class="form-label item-form">ShortName:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_ShortName}}" name="Product_ShortName" required id="">
        </div>
        <div class="d-flex mb-3">
          <label for="id_Model_Name" class="form-label item-form">Model Name:</label>
          <input type="text" class="item-select" value="{{form.instance.Model_Name}}" name="Model_Name" required
            id="id_Model_Name">
        </div>
        <div class=" d-flex mb-3">
          <label for="id_Product_Brand" class="form-label item-form">Brand:</label>
          <select name="Product_Brand" class="item-select" id="id_Product_Brand">
            {% if form.instance.id %}
            <option value="{{form.instance.Product_Brand}}">{{form.instance.Product_Brand}}</option>
            {% elif not form.instance.id %}
            <option value=""></option>
            {% endif %}
            <option value="Cosmus">Cosmus</option>
            <option value="Killer">Killer</option>
            <option value="Tuffgear">Tuffgear</option>
            <option value="BeeArmour">BeeArmour</option>
            <option value="INIT">INIT</option>
            <option value="OEM">OEM</option>
          </select>
        </div>
        <div class=" d-flex mb-3">
          <label for="id_Product_Status" class="form-label item-form">Status:</label>
          <select name="Product_Status" class="item-select" id="id_Product_Status">
            {% if form.instance.id %}
            <option value="{{form.instance.Product_Status}}" selected>{{form.instance.Product_Status}}</option>
            {% elif not form.instance.id %}
            <option value="" selected></option>
            {% endif %}
            <option value="Preproduction">Preproduction</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Discontinued">Discontinued</option>
          </select>
        </div>
      </div>
    <div class="col-lg-4">
      <div class="d-flex my-3">
        <label for="" class="form-label item-form">Gender</label>
        <select name="Product_Gender" class="item-select" required id="id_Gender">
          {% if form.instance.id %}
  
          <option value="{{form.instance.Product_Gender}}">{{form.instance.Product_Gender}}</option>
          {% elif not form.instance.id %}
          <option value=""></option>
          {% endif %}
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Unisex">Unisex</option>
        </select>
      </div>
      <div class="d-flex mb-3">
        <label for="id_Product_Channel" class="form-label item-form">Channel:</label>
          <div class=" ms-5">
            {% for choice in form.Product_Channel.field.choices %}
            <label for="id_Product_Channel_{{ forloop.counter0 }}" class="px-2">
              <input type="checkbox" class="mx-1" name="Product_Channel" value="{{ choice.0 }}"
                id="id_Product_Channel_{{ forloop.counter0 }}" {% if choice.0 in form.Product_Channel.value %} checked {% endif %}>
              {{ choice.1 }}
            </label>
            {% endfor %}
          </div>
      </div>
      <div class="d-flex mb-3">
        <label for="id_GST" class="form-label item-form">GST:</label>
        <select name="Product_GST" class="item-select" required id="id_GST">
          {% if form.instance.Product_GST.id %}
          <!-- checks if form.instance.Product_GST.id is true as form.instance.P_GST does not exists right now -->
          <option value="{{ form.instance.Product_GST.id }}">{{form.instance.P_GST}}</option>
          <h2>{{ form.instance.P_GST}}</h2>
          {% elif not form.instance.id %}
          <option value=""></option>
          {% endif %}
          {% for gst in gsts %}
          <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
          {% endfor %}
        </select>
      </div>
      <div class=" d-flex mb-3">
        <label for="id_Product_HSNCode" class="form-label item-form">HSN Code:</label>
        <input type="text" class="item-select" name="Product_HSNCode" value="12345678" id="id_Product_HSNCode">
      </div>
      <div class="d-flex mb-3">
        <label for="id_Product_WarrantyTime" class="form-label item-form">WarrantyTime:</label>
        <select name="Product_WarrantyTime" class="item-select" id="id_Product_WarrantyTime">
          {% if form.instance.id %}
          <option value="{{form.instance.Product_WarrantyTime}}">{{form.instance.Product_WarrantyTime}}</option>
          {% elif not form.instance.id %}
          <option value=""></option>
          {% endif %}
          <option value="6 Months">6 Months</option>
          <option value="12 Months">12 Months</option>
          <option value="18 Months">18 Months</option>
          <option value="24 Months">24 Months</option>
          <option value="30 Months">30 Months</option>
          <option value="36 Months">36 Months</option>
          <option value="42 Months">42 Months</option>
          <option value="48 Months">48 Months</option>
          <option value="54 Months">54 Months</option>
          <option value="60 Months">60 Months</option>
        </select>
      </div>
    </div>
  </div>
    
    
  </div>
  <button type="button" class="edit_btn w-75 mb-3" id="product_capacity_btn">Capacity<span class="capacity-padding"><i
        class="fas fa-angle-right arrowBtn"></i></span></button>
  <div id="product_capacity" style="display: none;">
<div class="row">
  <div class="col-lg-4">
    

    <div class="d-flex my-3">
      <label for="" class="form-label item-form">Compartment:</label>
      <select name="Product_Compartments" required id="" class="item-select">
        {% if form.instance.id %}
        <option value="{{form.instance.Product_Compartments}}">{{form.instance.Product_Compartments}}</option>
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}
        <option value="One">One</option>
        <option value="Two">Two</option>
        <option value="Three">Three</option>
        <option value="Four">Four</option>
        <option value="Five">Five</option>
        <option value="Six">Six</option>
        <option value="Seven">Seven</option>
        <option value="Eight">Eight</option>
        <option value="Nine">Nine</option>
        <option value="Ten">Ten</option>
      </select>
    </div>
    <div class="d-flex my-3">


      <label for="" class="form-label item-form">Acc Compartment:</label>
      <select class="item-select" name="Product_Accessory_Compartments" required id="">

        {% if form.instance.id %}
        <option value="{{form.instance.Product_Accessory_Compartments}}">{{form.instance.Product_Accessory_Compartments}}</option>
        {% elif not form.instance.id %}
        <option value="{{form.instance.Product_Accessory_Compartments}}">{{form.instance.Product_Accessory_Compartments}}</option>
        {% endif %}
        <option value="One">One</option>
        <option value="Two">Two</option>
        <option value="Three">Three</option>
        <option value="Four">Four</option>
        <option value="Five">Five</option>
        <option value="Six">Six</option>
        <option value="Seven">Seven</option>
        <option value="Eight">Eight</option>
        <option value="Nine">Nine</option>
        <option value="Ten">Ten</option>
      </select>



    </div>
    <div class="d-flex my-3">
      <label for="" class="form-label item-form">Capacity:</label>
      <input type="text" class="item-select" value="{{form.instance.Product_CapacityLtrs}}" name="Product_CapacityLtrs" required id="">
    </div>
  </div>
  <div class="col-lg-4">
    <div class="d-flex my-3">
      <label for="" class="form-label item-form">Material:</label>
      <select class="item-select" name="Product_Material" required id="">
        {% if form.instance.id %}
        <option value="{{form.instance.Product_Material}}">{{form.instance.Product_Material}}</option>
        {% elif not form.instance.id %}
        <option value="{{form.instance.Product_Material}}">{{form.instance.Product_Material}}</option>
        {% endif %}
        <option value="PU Coated Polyester">PU Coated Polyester</option>
        <option value="PU Coated Nylon">PU Coated Nylon</option>
        <option value="Vegan Leather">Vegan Leather</option>
        <option value="Polycarbonate">Polycarbonate</option>
        <option value="Eva Shell">Eva Shell</option>
        <option value="Cotton">Cotton</option>
        <option value="Jute">Jute</option>
      </select>

    </div>
    <div class=" d-flex mb-3">
      <label for="" class="form-label item-form">UOM:</label>

      <select class="item-select" name="Product_UOM" id="">

        {% if form.instance.id %}
        <option value="{{form.instance.Product_UOM}}">{{form.instance.Product_UOM}}</option>
        {% elif not form.instance.id %}
        <option value="{{form.instance.Product_UOM}}">{{form.instance.Product_UOM}}</option>
        {% endif %}
        <option value="Pcs">Pcs</option>
        <option value="Set of 3">Set of 3</option>
      </select>


    </div>

    <div class=" d-flex mb-3">
      <label for="" class="form-label item-form">Qty Per Box:</label>
      <input type="text" class="item-select" name="Product_QtyPerBox" value="{{form.instance.Product_QtyPerBox}}" id="">
    </div>

  </div>
</div>
  
  </div>
  <button type="button" class="edit_btn w-75 mb-3" id="product_description_btn">Description<span class="discription-padding"><i
        class="fas fa-angle-right arrowBtn"></i></span></button>
  <div id="product_description" style="display: none;">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">BulletPoint1:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_BulletPoint1}}" name="Product_BulletPoint1" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">BulletPoint2:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_BulletPoint2}}" name="Product_BulletPoint2" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">BulletPoint3:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_BulletPoint3}}" name="Product_BulletPoint3" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">BulletPoint4:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_BulletPoint4}}" name="Product_BulletPoint4" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">BulletPoint5:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_BulletPoint5}}" name="Product_BulletPoint5" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">ShortDescription:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_ShortDescription}}" name="Product_ShortDescription" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">LongDescription:</label>
          <input type="text" class="item-select" value="{{form.instance.Product_LongDescription}}" name="Product_LongDescription" required id="">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WP Length(cm):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WP_Length}}" name="Product_Dimensions_WP_Length" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WP Width(In):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WP_Width}}" name="Product_Dimensions_WP_Width" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WP Height(In):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WP_Height}}" name="Product_Dimensions_WP_Height" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WP Weight(Gm):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WP_Weight}}" name="Product_Dimensions_WP_Weight" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WOP Length(cm):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WOP_Length}}" name="Product_Dimensions_WOP_Length" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WOP Width(In):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WOP_Width}}" name="Product_Dimensions_WOP_Width" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WOP Height(In):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WOP_Height}}" name="Product_Dimensions_WOP_Height" required id="">
        </div>
        <div class="d-flex my-3">
          <label for="" class="form-label item-form">WOP Weight(Gm):</label>
          <input type="text" class="item-select" value="{{form.instance.Product_Dimensions_WOP_Weight}}" name="Product_Dimensions_WOP_Weight" required id="">
        </div>
    
      </div>
      


    </div>
  </div>
  <button type="button" class="edit_btn w-75 mb-3" id="product_pricing_btn">Pricing<span class="span_padding"><i 
    class="fas fa-angle-right arrowBtn"></i></span></button>

  <div id="product_pricing" style="display: none;">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex mb-3">
          <label for="id_Product_Cost_price" class="form-label item-form">Cost price:</label>
          <input type="number" class="item-select" value="{{form.instance.Product_Cost_price}}" name="Product_Cost_price"
            id="id_Product_Cost_price">
        </div>
        <div class="d-flex mb-3">
          <label for="id_Product_MRP" class="form-label item-form"> MRP:</label>
          <input type="number" class="item-select" value="{{form.instance.Product_MRP}}" name="Product_MRP"
            id="id_Product_MRP">
        </div>
        <div class="d-flex mb-3">
          <label for="id_Product_SalePrice_CustomerPrice" class="form-label item-form">Sale & Customer Price</label>
          <input type="number" class="item-select" name="Product_SalePrice_CustomerPrice"
            value="{{form.instance.Product_SalePrice_CustomerPrice}}" id="id_Product_SalePrice_CustomerPrice">
        </div>
        <div class="d-flex mb-3">
          <label for="id_Product_BulkPrice" class="form-label item-form">BulkPrice:</label>
          <input type="number" class="item-select" value="{{form.instance.Product_BulkPrice}}" name="Product_BulkPrice"
            id="id_Product_BulkPrice">
        </div>
        <div class=" d-flex mb-3">
          <label for="" class="form-label item-form">WRP</label>
          <input type="text" class="item-select" name="Product_WRP" value="{{form.instance.Product_WRP}}" id="">
        </div>
      </div>
      <div class="col-lg-4">
        
        <div class=" d-flex mb-3">
          <label for="" class="form-label item-form">CounterPrice:</label>
          <input type="text" class="item-select" name="Product_CashCounterPrice" value="{{form.instance.Product_CashCounterPrice}}" id="">
        </div>
        <div class=" d-flex mb-3">
          <label for="" class="form-label item-form">IndiaMart:</label>
          <input type="text" class="item-select" name="Product_IndiaMartPrice" value="{{form.instance.Product_IndiaMartPrice}}" id="">
        </div>
        <div class=" d-flex mb-3">
          <label for="" class="form-label item-form">Retailer/Dealer:</label>
          <input type="text" class="item-select" name="Product_Retailer_dealer_Price" value="{{form.instance.Product_Retailer_dealer_Price}}" id="">
        </div>
        <div class=" d-flex mb-3">
          <label for="" class="form-label item-form">Wholesaler/Distributor:</label>
          <input type="text" class="item-select" name="Product_Wholesaler_DistributorPrice" value="{{form.instance.Product_Wholesaler_DistributorPrice}}" id="">
        </div>
    
      </div>
    </div>
    
    
  </div>
  </div>
  <input type="submit" class="item-btn mx-5" value="submit">
</form>

<!-- <script>

  var product_color = document.getElementById('id_productdetails-0-PProduct_color');
  product_color.setAttribute('disabled', true);

</script> -->
<script>
  function editImages(button) {
      // Traverse up the DOM to find the card container
      var card = button.closest('.card');
      if (card) {
          // Within the card, find the input with name containing "PProduct_SKU_"
          var productSkuInput = card.querySelector('input[name^="productdetails-"][name$="-PProduct_SKU"]');
          if (productSkuInput) {
              var productSku = productSkuInput.value;
  
              var minWidth = 800; // minimum width
              var minHeight = 600; 
  
              window.open('http://127.0.0.1:8000/product/' + productSku + '/add_images/', '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
          } else {
              console.error('Input with name containing "productdetails-" and ending with "-PProduct_SKU" not found within the card.');
          }
      } else {
          console.error('Parent card container not found.');
      }
  }
 
  </script>
  <script>
     function editVideoUrl(button) {
      // Traverse up the DOM to find the card container
      var card = button.closest('.card');
      if (card) {
          // Within the card, find the input with name containing "PProduct_SKU_"
          var productSkuInput = card.querySelector('input[name^="productdetails-"][name$="-PProduct_SKU"]');
          if (productSkuInput) {
              var productSku = productSkuInput.value;
  
              var minWidth = 800; // minimum width
              var minHeight = 600; 
  
              window.open('http://127.0.0.1:8000/product/' + productSku + '/add_video_url/', '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
          } else {
              console.error('Input with name containing "productdetails-" and ending with "-PProduct_SKU" not found within the card.');
          }
      } else {
          console.error('Parent card container not found.');
      }
  }
    </script>

<script>
  const stars = document.querySelectorAll('.rating input');

  stars.forEach(star => star.addEventListener('click', function () {
    // Get the value of the clicked star
    const rating = this.value;

    // Remove the 'star-selected' class from all stars
    document.querySelectorAll('.rating label').forEach(label => {
      label.classList.remove('star-selected');
    });

    // Add the 'star-selected' class to the clicked star
    this.previousElementSibling.classList.add('star-selected');

    // Send the rating to the backend
    sendRatingToBackend(rating);
  }));

  function sendRatingToBackend(rating) {
    // Assuming you're using AJAX to send data to the backend
    // const xhr = new XMLHttpRequest();
    //xhr.open('POST', 'backend_endpoint_url', true);
    //xhr.setRequestHeader('Content-Type', 'application/json');
    // xhr.onload = function () {
    // Handle response from the backend if needed
    //  console.log(xhr.responseText);
    // };
    //xhr.send(JSON.stringify({ rating: rating }));
    console.log(rating)
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var toggleButton = document.getElementById("product_details_btn");
    var icon = toggleButton.querySelector(".arrowBtn");
    var dataContainer = document.getElementById("product_details");

    toggleButton.addEventListener("click", function () {
      // Toggle the visibility of the data container
      if (dataContainer.style.display === "none") {
        dataContainer.style.display = "block";
        icon.classList.add("rotate"); // Add rotate class to the icon
      } else {
        dataContainer.style.display = "none";
        icon.classList.remove("rotate"); // Remove rotate class from the icon
      }
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    var toggleButton = document.getElementById("aditional_details_btn");
    var icon = toggleButton.querySelector(".arrowBtn");
    var dataContainer = document.getElementById("aditional_details");

    toggleButton.addEventListener("click", function () {
      // Toggle the visibility of the data container
      if (dataContainer.style.display === "none") {
        dataContainer.style.display = "block";
        icon.classList.add("rotate"); // Add rotate class to the icon
      } else {
        dataContainer.style.display = "none";
        icon.classList.remove("rotate"); // Remove rotate class from the icon
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    var toggleButton = document.getElementById("product_capacity_btn");
    var icon = toggleButton.querySelector(".arrowBtn");
    var dataContainer = document.getElementById("product_capacity");

    toggleButton.addEventListener("click", function () {
      // Toggle the visibility of the data container
      if (dataContainer.style.display === "none") {
        dataContainer.style.display = "block";
        icon.classList.add("rotate"); // Add rotate class to the icon
      } else {
        dataContainer.style.display = "none";
        icon.classList.remove("rotate"); // Remove rotate class from the icon
      }
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    var toggleButton = document.getElementById("product_description_btn");
    var icon = toggleButton.querySelector(".arrowBtn");
    var dataContainer = document.getElementById("product_description");

    toggleButton.addEventListener("click", function () {
      // Toggle the visibility of the data container
      if (dataContainer.style.display === "none") {
        dataContainer.style.display = "block";
        icon.classList.add("rotate"); // Add rotate class to the icon
      } else {
        dataContainer.style.display = "none";
        icon.classList.remove("rotate"); // Remove rotate class from the icon
      }
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    var toggleButton = document.getElementById("product_pricing_btn");
    var icon = toggleButton.querySelector(".arrowBtn");
    var dataContainer = document.getElementById("product_pricing");

    toggleButton.addEventListener("click", function () {
      // Toggle the visibility of the data container
      if (dataContainer.style.display === "none") {
        dataContainer.style.display = "block";
        icon.classList.add("rotate"); // Add rotate class to the icon
      } else {
        dataContainer.style.display = "none";
        icon.classList.remove("rotate"); // Remove rotate class from the icon
      }
    });
  });
</script>

<script>
  function previewFile(event, counter) {
    var preview = document.getElementById('previewImage_');
    var file = event.target.files[0];
    var reader = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = "";
    }
  }
</script>


{% endblock body %}