<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Name</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="save" value = 'Save'>
<input type="submit" name="save_and_add_another" value = 'Save and Add Another'>
</form>
<a href="{{ return_url_get }}"><button type="button">Return</button></a>
<a href="{% url 'item-name-list' %}"><button type="button">Item Name List</button></a>
</body>

</html>