{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}

<div class="create_item_form">
            <h2 class="px-5 py-3">{{title}}</h2>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class=" d-flex my-3">
                <label for="id_item_name" class="form-label item-form">Item Name:</label>
                <input type="text" class="item-select" value="{{form.instance.item_name}}" name="item_name" maxlength="255" required id="id_item_name">
              </div>

              <!-- {{form.instance.fab_grp }} - from a function def fab_grp(self): return self.Fabric_Group.fab_grp_name -->
              
              <div class="d-flex my-3">
                <label for="id_Fabric_Group" class="form-label item-form">Fabric Group:</label>
                <select class="item-select" name="Fabric_Group" required id="id_Fabric_Group">
                    
                  {% if form.instance.id %}
                  <option value="{{ form.instance.Fabric_Group.id }}">{{ form.instance.fab_grp }}</option>
                  {% for x in fab_grp %}
                  <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
              {% endfor %}
                 {% elif not form.instance.id %}
                 <option value=""></option>
              {% for x in fab_grp %}
                  <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
              {% endfor %}
              {% endif %}
                </select>
            </div>

              <div class=" d-flex my-3">
                <label for="id_Item_Color" class="form-label item-form">Item Color:</label>
                <select class="item-select" name="Item_Color" required id="id_Item_Color">

                  <!-- form.instance.Color_Name got from (def Color_Name(self):) which returns Item_Color.color_name the actual color
                  When you access a foreign key field in Django templates, by default, it returns the related object, not just its ID.
                  To access the ID of the related object, you need to use the dot notation to access the ID attribute explicitly.
                  {{ form.instance.Item_Color.id }} -->

                  {% if form.instance.id %}
                  <option value="{{ form.instance.Item_Color.id}}">{{form.instance.Color_Name}}</option>
                  {% for x in colors %}
                 <option value="{{x.id}}">{{x.color_name}}</option>
                  {% endfor %}
                    {% elif not form.instance.id %}
                    <option value=""></option>
                    {% for x in colors %}
                    <option value="{{x.id}}">{{x.color_name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
              </div>
              {% if form.instance.id %}
              <div class="d-flex my-3">
                <label for="id_shades" class="item-form">Shades:</label>
               <table id="updateRow" class="table table-striped table-hover shade-form">
                <thead>
                  <tr>
                    <th><label for="{{ shade_form.prefix }}-item_name_rank">Item Name Rank:</label></th>
                    <th><label for="{{ shade_form.prefix }}-item_shade_name">Item Shade Name:</label></th>
                    <th><label for="{{ shade_form.prefix }}-item_color_image">Item Color Image:</label></th>
                  </tr>
                </thead>
                  <tbody>
                    {{ formset.management_form }}
                    {% for shade_form in formset %}
                  <tr>
                    <td>{{shade_form.item_name_rank}}</td>
                    <td>{{shade_form.item_color_name}}</td>
                    <td>{{shade_form.item_color_image}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
               </table>
              </div> 
              {% endif %}
              <div class=" d-flex my-3">
                <label for="id_Material_code" class="form-label item-form">Material Code</label>
                <input type="text" class="item-select" name="Material_code" value="{{form.instance.Material_code}}" maxlength="255" required id="id_Material_code">
              </div>
              <div class=" d-flex my-3">
                <label for="id_Packing" class="form-label item-form">Packing</label>
                <select name="Packing" class="item-select"  required id="id_Packing">
                  <option value="{{form.instance.Packing}}">{{form.instance.Packing}}</option>
                  <option value="Roll">Roll</option>
                  <option value="Bundle">Bundle</option>
                </select>
              </div>
              <div class=" d-flex my-3">
                <label for="id_unit_name_item" class="form-label item-form">Unit Name:</label>
                <select name="unit_name_item" class="item-select" required id="id_unit_name_item">

                    {% if form.instance.id %}
                    <option value="{{ form.instance.unit_name_item.id }}">{{ form.instance.Unit_Name }}</option>
                    {% for x in unit_name %}  
                    <option value="{{x.id}}">{{x.unit_name}}</option>
                    {% endfor %}
                    {% elif not form.instance.id %}
                  <option value=""></option>
                    {% for x in unit_name %}  
                    <option value="{{x.id}}">{{x.unit_name}}</option>
                    {% endfor %}
                    {% endif %}

                </select>
              </div>
              <div class=" d-flex my-3">
                <label for="id_Units" class="form-label item-form">Units:</label>
                <input type="number" class="item-select" name="Units" value="{{form.instance.Units}}" step="0.01" required id="id_Units">
              </div>
              <div class=" d-flex my-3">
                <label for="id_Panha" class="form-label item-form">Panha:</label>
                <input type="number" class="item-select" name="Panha" value="{{form.instance.Panha}}" step="0.01" required id="id_Panha">
              </div>
              <div class=" d-flex my-3">
                <label for="id_Fabric_nonfabric" class="form-label item-form">Fabric/ Non Fabric:</label>
                <select name="Fabric_nonfabric" class="item-select"  required id="id_Fabric_nonfabric">
                  <option value="{{form.instance.Fabric_nonfabric}}">{{form.instance.Fabric_nonfabric}}</option>
                  <option value="Fabric">Fabric</option>
                  <option value="Non Fabric">Non Fabric</option>
                </select>
              </div>
              <div class="d-flex my-3">
                <label for="id_Fabric_Finishes" class="form-label item-form">Fabric Finishes:</label>
                <select name="Fabric_Finishes" class="item-select" required id="id_Fabric_Finishes">
                  <option value="{{form.instance.Fabric_Finishes}}">{{form.instance.Fabric_Finishes}}</option>
                  <option value="PVC Coating">PVC Coating</option>
                  <option value="PU Coating">PU Coating</option>
                  <option value="Black Nickle">Black Nickle</option>
                  <option value="polypropylene(PP)">polypropylene(PP)</option>
                </select>
              </div>
              <div class="d-flex my-3">
                <label for="id_GST" class="form-label item-form">GST:</label>
                <select name="Item_Creation_GST"  class="item-select" required  id="id_Item_Creation_GST">

                  {% if form.instance.id %}
                  <option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.Item_GST}}</option>
                  {% for gst in gsts %}
                  <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
                  {% endfor %}
                  {% elif not form.instance.id %}
                  <option value=""></option>  
                  {% for gst in gsts %}
                  <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
              <div class="d-flex my-3">
                <label for="id_HSN_Code" class="form-label item-form">HSN Code:</label>
                <input type="text" class="item-select" name="HSN_Code" value="{{form.instance.HSN_Code}}" required id="id_HSN_Code">
              </div>
              <div class="d-flex my-3">
                <label for="id_status" class="form-label item-form">Status:</label>
                <select name="status" class="item-select" required  id="id_status">
                  <option value="{{form.instance.status}}">{{form.instance.status}}</option>
                  <option value="Used">Used</option>
                  <option value="Unused">Unused</option>
                  <option value="Slow Moving">Slow Moving</option>
                  <option value="Dead">Dead</option>
                </select>
              </div>
              

              
              {% if not form.instance.id %}
              <div class="d-flex my-3">
                <label for="id_status" class="form-label item-form">Image:</label>
                <input type="file" class="item-select px-2 py-1" name="item_shade_image" required id="">
              </div>
              

              

              <input type="submit" class="form-button" name="save_and_add_another" value="Save and Add Another">

              {% endif %}


              <input type="submit" class="form-button" name="save" value="Save">
              <div>
                
                {{ formset.management_form }}
                {% for shade_form in formset %}
                    <div class="shade-form">
                        {{ shade_form.id }} <!-- Render the form ID if needed -->
            
                        <!-- Render each field manually -->
                        <div>
                            
                            {{ shade_form.item_name_rank }}
                        </div>
                        <div>
                            <label for="{{ shade_form.prefix }}-item_shade_name">Item Shade Name:</label>
                            {{ shade_form.item_shade_name}}
                        </div>
                        <div>
                            
                            {{ shade_form.item_color_image }}
                        </div>
            
                        <!-- Render form errors if any -->
                        {% for error in shade_form.non_field_errors %}
                            <div class="shade-form-error">{{ error }}</div>
                        {% endfor %}
            
                        <!-- Render individual field errors if any -->
                        {% for field in shade_form.visible_fields %}
                            {% if field.errors %}
                                <div class="shade-form-error">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            
              </div>

            </form>
          </div>




<script>
 // Initialize the row count
 var rowCount = 1;
function addRow() {
  
  var table = document.getElementById("updateRow");
  var newRow = table.insertRow();

  var cell1 = newRow.insertCell(0);
  var cell2 = newRow.insertCell(1);
  var cell3 = newRow.insertCell(2);
  var cell4 = newRow.insertCell(3);

  var noText = document.createElement("span");
  noText.textContent = "";
  noText.name = "no_input_" + rowCount;

 
  var textInput = document.createElement("span");
  textInput.textContent = "";
  textInput.name = "textInput_" + rowCount;
  textInput.placeholder = "Enter text";

  var fileInput = document.createElement("span");
  fileInput.textContent = "";
  fileInput.name = "fileInput_" + rowCount;

  var addButton = document.createElement("button");
  addButton.textContent = "Add Row";
  addButton.onclick = addRow;


  var removeButton = document.createElement("button");
  removeButton.textContent = "-";
  removeButton.style.background = "linear-gradient(45deg, #2ed8b6, #59e0c5)";
  removeButton.style.width ="30px";
  removeButton.style.borderRadius = "10px";
  removeButton.style.border="none";
  removeButton.onclick = function() {
    removeRow(newRow);
  };
  cell1.appendChild(noText);
  cell2.appendChild(textInput);
  cell3.appendChild(fileInput);
  cell4.appendChild(removeButton);

  rowCount ++; // Increment the row count
}

function removeRow(row) {
  var table = document.getElementById("updateRow");
  var rowIndex = row.rowIndex;
  table.deleteRow(rowIndex);

  // Decrease the rowCount as a row is removed
  rowCount--;

  // Update the names of input elements and the No text spans in the table
  for (var i = rowIndex; i < table.rows.length; i++) {
    var row = table.rows[i];
    var noText = row.cells[0].querySelector('span[name^="no_input_"]');
    var textInput = row.cells[1].querySelector('input[name^="textInput_"]');
    var fileInput = row.cells[2].querySelector('input[name^="fileInput_"]');

    // Update No text span
    noText.textContent = parseInt(noText.textContent) - 1;
    noText.name = "no_input_" + parseInt(noText.textContent);
    console.log(noText.textContent);

    // Update textInput name
    textInput.name = "textInput_" + parseInt(noText.textContent);

    // Update fileInput name
    fileInput.name = "fileInput_" + parseInt(noText.textContent);
  }
}
</script>


    
 {% endblock body %}


