{% extends 'product/base.html' %}
{% load static %}
{% block body %}


<h2 class="px-5 py-3">{{title}}</h2>
<div class="row">
<div class="col-lg-4">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=" d-flex my-3">
      <label for="id_item_name" class="form-label item-form">Name:</label>
      <input type="text" class="item-select" value="{{form.instance.item_name}}" name="item_name" maxlength="255"
        required id="id_item_name">
    </div>

    <!-- {{form.instance.fab_grp }} - from a function def fab_grp(self): return self.Fabric_Group.fab_grp_name -->

    <div class="d-flex my-3">
      <label for="id_Fabric_Group" class="form-label item-form">Fabric Group:</label>
      <select class="item-select" name="Fabric_Group" required id="id_Fabric_Group">

        {% if form.instance.id %}
        <option value="{{ form.instance.Fabric_Group.id }}">{{ form.instance.fab_grp }}</option>
        {% for x in fab_grp %}
        <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in fab_grp %}
        <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>

    <div class=" d-flex my-3">
      <label for="id_Item_Color" class="form-label item-form">Color:</label>
      <select class="item-select" name="Item_Color" required id="id_Item_Color">

        <!-- form.instance.Color_Name got from (def Color_Name(self):) which returns Item_Color.color_name the actual color
                  When you access a foreign key field in Django templates, by default, it returns the related object, not just its ID.
                  To access the ID of the related object, you need to use the dot notation to access the ID attribute explicitly.
                  {{ form.instance.Item_Color.id }} -->

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Color.id}}">{{form.instance.Color_Name}}</option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% endif %}
      </select>

    </div>
    {% if form.instance.id %}
    <div class="d-flex mb-3">
      <label for="id_Item_shades" class="form-label item-form">Shades:</label>
      <!-- Render reverse related relationship fields dynamically using formset factory  -->
      <div class="mx-3 mb-3">
        <table class="table table-striped table-hover table-responsive rounded-3">
          <tr>
            <th><label for="{{ shade_form.prefix }}-item_name_rank">Rank</label></th>
            <th><label for="{{ shade_form.prefix }}-item_shade_name">Name</label></th>
            <th><label for="{{ shade_form.prefix }}-item_color_image">Shade Image</label></th>
            <th><label for="{{ shade_form.prefix }}-item_color_image">Image</label></th>
            <th><label for="{{ shade_form.prefix }}-item_color_image">Delete</label></th>
          </tr>
          {{ formset.management_form }}
          {% for shade_form in formset %}
          <div>
            {{ shade_form.id }}
            <!-- Render each field manually -->
            <tr>
              <td>
                <!-- item_name_rank -->
                {% if forloop.first %}
                <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_name_rank"
                  id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank }}">
                  <!-- <td>{{shade_form.item_name_rank}}</td> -->
                {% else %}
                 <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_name_rank"
                  id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank }}">
                  <!-- <td>{{shade_form.item_name_rank}}</td> -->
                {% endif %}

              </td>
              <td>
                <!-- item_shade_name -->
              {% if forloop.first %}
              <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name }}" readonly>
                {% else %}
              <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name }}">
              {% endif %}
            </td>
            <td>
                <input type="file" name="{{ shade_form.prefix }}-item_color_image" accept="image/*" id="{{ shade_form.prefix }}-item_color_image">
                <!--image clear checkbox-->
                <!--<label for="{{ shade_form.prefix }}-item_color_image-clear_id">Clear</label>
                <input type="checkbox" name="{{ shade_form.prefix }}-item_color_image-clear" id="{{ shade_form.prefix }}-item_color_image-clear_id">-->
              </td>
              <td>
                {% if shade_form.instance.item_color_image %}
                  <img src="{{ shade_form.instance.item_color_image.url }}" alt="Image Preview" style="max-width: 100px;">
                {% endif %}
              </td>
              <td>{{ shade_form.DELETE }}</td>
            </tr>
            <!-- Render the image preview if available -->
          </div>
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    <div class=" d-flex my-3">
      <label for="id_Material_code" class="form-label item-form">Material Code</label>
      <input type="text" class="item-select" name="Material_code" value="{{form.instance.Material_code}}"
        maxlength="255" required id="id_Material_code">
    </div>
    <div class=" d-flex my-3">
      <label for="id_Packing" class="form-label item-form">Packing</label>
      <select name="Packing" class="item-select" required id="id_Packing">
        <option value="{{form.instance.Packing}}">{{form.instance.Packing}}</option>
        <option value="Roll">Roll</option>
        <option value="Bundle">Bundle</option>
      </select>
    </div>
    <div class=" d-flex my-3">
      <label for="id_unit_name_item" class="form-label item-form">Unit Name:</label>
      <select name="unit_name_item" class="item-select" required id="id_unit_name_item">

        {% if form.instance.id %}
        <option value="{{ form.instance.unit_name_item.id }}">{{ form.instance.Unit_Name }}</option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% endif %}

      </select>
    </div>
    <div class=" d-flex my-3">
      <label for="id_Units" class="form-label item-form">Units:</label>
      <input type="number" class="item-select" name="Units" value="{{form.instance.Units}}" step="0.01" required
        id="id_Units">
    </div>
    <div class=" d-flex my-3">
      <label for="id_Panha" class="form-label item-form">Panha:</label>
      <input type="number" class="item-select" name="Panha" value="{{form.instance.Panha}}" step="0.01" required
        id="id_Panha">
    </div>
    <div class=" d-flex my-3">
      <label for="id_Fabric_nonfabric" class="form-label item-form">Fabric/Non Fabric:</label>
      <select name="Fabric_nonfabric" class="item-select" required id="id_Fabric_nonfabric">
        <option value="{{form.instance.Fabric_nonfabric}}">{{form.instance.Fabric_nonfabric}}</option>
        <option value="Fabric">Fabric</option>
        <option value="Non Fabric">Non Fabric</option>
      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_Fabric_Finishes" class="form-label item-form">Fabric Finishes:</label>
      <select name="Fabric_Finishes" class="item-select" required id="id_Fabric_Finishes">
        <option value="{{form.instance.Fabric_Finishes}}">{{form.instance.Fabric_Finishes}}</option>
        <option value="PVC Coating">PVC Coating</option>
        <option value="PU Coating">PU Coating</option>
        <option value="Black Nickle">Black Nickle</option>
        <option value="polypropylene(PP)">polypropylene(PP)</option>
      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_GST" class="form-label item-form">GST:</label>
      <select name="Item_Creation_GST" class="item-select" required id="id_Item_Creation_GST">

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.Item_GST}}</option>
        {% for gst in gsts %}
        <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for gst in gsts %}
        <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_HSN_Code" class="form-label item-form">HSN Code:</label>
      <input type="text" class="item-select" name="HSN_Code" value="{{form.instance.HSN_Code}}" required
        id="id_HSN_Code">
    </div>
    <div class="d-flex my-3">
      <label for="id_status" class="form-label item-form">Status:</label>
      <select name="status" class="item-select" required id="id_status">
        <option value="{{form.instance.status}}">{{form.instance.status}}</option>
        <option value="Used">Used</option>
        <option value="Unused">Unused</option>
        <option value="Slow Moving">Slow Moving</option>
        <option value="Dead">Dead</option>
      </select>
    </div>
    {% if not form.instance.id %}
    <div class="d-flex my-3">
      <label for="id_status" class="form-label item-form">Image:</label>
      <input type="file" class="item-select px-2 py-1" name="item_shade_image" required id="">
    </div>
    <input type="submit" class="form-button" name="save_and_add_another" value="Save and Add Another">
    {% endif %}
    <input type="submit" class="form-button" name="save" value="Save">
  </form>
</div>
<div class="col-lg-1">
  
    <div class="">
      <button class="fab_btn" onclick="openFabPopup()">+</button>
    </div>
    <div class="">
      <button class="col_btn"  onclick="opencolorPopup()">+</button>
    </div>

    <div class="">
      <button class="unit_btn"  onclick="openunitPopup()">+</button>
    </div>
</div>
</div>

<script>

var shade_id_0 = document.getElementById('id_shades-0-item_shade_name');
shade_id_0.setAttribute('readonly', true);
</script>


<script>
  function openFabPopup() {
      // Specify minimum height and width
      var minWidth = 800; // minimum width
      var minHeight = 600; // minimum height
      
      // Open new page with specified dimensions
      window.open('http://127.0.0.1:8000/fabric_popup/', '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');

      // Set focus on new window
      
  
    }
    function opencolorPopup() {
      // Specify minimum height and width
      var minWidth = 800; // minimum width
      var minHeight = 600; // minimum height
      
      // Open new page with specified dimensions
      window.open('http://127.0.0.1:8000/color_popup/', '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');

      // Set focus on new window
      
  
    }
    function openunitPopup() {
      // Specify minimum height and width
      var minWidth = 800; // minimum width
      var minHeight = 600; // minimum height
      
      // Open new page with specified dimensions
      window.open('http://127.0.0.1:8000/units_popup/', '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');

      // Set focus on new window
      
  
    }
  </script>



{% endblock body %}