{% extends 'product/base.html' %}
{% load static %}
{% block body %}


<h2 class="px-5 py-3">{{title}}</h2>
<div class="row">
<div class="col-lg-4">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class=" d-flex my-3">
      <label for="id_item_name" class="item-form">Name:</label>
      <input type="text" class="item-select" value="{{form.instance.item_name}}" name="item_name" maxlength="255"
        required id="id_item_name">
    </div>

    <!-- {{form.instance.fab_grp }} - from a function def fab_grp(self): return self.Fabric_Group.fab_grp_name -->

    <div class="d-flex my-3">
      <label for="id_Fabric_Group" class="form-label item-form">Fabric Group:</label>
      <select class="item-select" name="Fabric_Group" required id="id_Fabric_Group">

        {% if form.instance.id %}
        <option value="{{ form.instance.Fabric_Group.id }}">{{ form.instance.fab_grp }}</option>
        {% for x in fab_grp %}
        <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in fab_grp %}
        <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>

    <div class=" d-flex my-3">
      <label for="id_Item_Color" class="form-label item-form">Color:</label>
      <select class="item-select" name="Item_Color" required id="id_Item_Color">

        <!-- form.instance.Color_Name got from (def Color_Name(self):) which returns Item_Color.color_name the actual color
                  When you access a foreign key field in Django templates, by default, it returns the related object, not just its ID.
                  To access the ID of the related object, you need to use the dot notation to access the ID attribute explicitly.
                  {{ form.instance.Item_Color.id }} -->

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Color.id}}">{{form.instance.Color_Name}}</option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% endif %}
      </select>

    </div>
    {% if form.instance.id %}
    <div class="d-flex mb-3">
      <label for="id_Item_shades" class="form-label item-form">Shades:</label>
      <!-- Render reverse related relationship fields dynamically using formset factory  -->
      <div class="mx-3 mb-3">
        <table class="table table-striped table-hover table-responsive rounded-3" id="shadeTable">
          <tr>
            <th><label for="{{ shade_form.prefix }}-item_name_rank">Rank</label></th>
            <th><label for="{{ shade_form.prefix }}-item_shade_name">Name</label></th>
            <th><label for="{{ shade_form.prefix }}-item_color_image">Shade Image</label></th>
            <th><lable>Opening Qty</lable></th>
            <th><label for="{{ shade_form.prefix }}-item_delete">Delete</label></th>
          </tr>
          {{ formset.management_form }}
          {% for shade_form in formset %}
          {{ shade_form.id }}
            <tr>
             
              <!-- Render each field manually -->
              <td>
                <!-- item_name_rank -->
                {% if forloop.first %}
                <input type="number" class="item-select" name="{{ shade_form.prefix }}-item_name_rank"
                  id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank }}"readonly>
                  <!-- <td>{{shade_form.item_name_rank}}</td> -->
                {% else %}
                 <input type="number" class="item-select" name="{{ shade_form.prefix }}-item_name_rank"
                  id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank | default_if_none:''}}">
                  <!-- <td>{{shade_form.item_name_rank}}</td> -->
                {% endif %}

              </td>        
                   <td>
                <!-- item_shade_name -->
              {% if forloop.first %}
              <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name }}" readonly>
                {% else %}
              <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name | default_if_none:'' }}">
              {% endif %}
            </td>
            <td>
              {% if shade_form.instance.item_color_image %}
              <img src="{{ shade_form.instance.item_color_image.url }}" alt="Image Preview" style="max-width: 150px; max-height: 150px;">
            {% endif %}
            <div>
              <input type="file" class="pt-1 itemQty" style="width: 250px;" name="{{ shade_form.prefix }}-item_color_image" accept="image/*" id="{{ shade_form.prefix }}-item_color_image">
            </div>
              </td>
            <td><button type="button" class="add_btn itemQty" id="{{ shade_form.prefix }}-opening_qty" name="{{ shade_form.prefix }}-opening_qty" >Add</button></td>
              
              <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="shade_deleteId px-2" style="display: none;"  name="{{shade_form.prefix}}-DELETE" id="{{shade_form.prefix}}-DELETE" value="" ></i></span></td>
            </tr>
          
          {% endfor %}
        </table>
      </div>
    </div>
    {% endif %}

    <div class=" d-flex my-3">
      <label for="id_Material_code" class="form-label item-form">Material Code</label>
      <input type="text" class="item-select" name="Material_code" value="{{form.instance.Material_code}}"
        maxlength="255" required id="id_Material_code">
    </div>
    <div class=" d-flex my-3">
      <label for="id_Item_Packing" class="form-label item-form">Packing</label>
      <select name="Item_Packing" class="item-select" required id="Item_Packing">

        {% if form.instance.id %}
        <option value="{{form.instance.Item_Packing.id}}">{{form.instance.Packaging_Material}}</option>
        
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}

        {% for package_m in packaging_material_all  %}
        <option value="{{package_m.id}}">{{package_m.packing_material}}</option>
        {% endfor %}

      </select>
    </div>
    <div class=" d-flex my-3">
      <label for="id_unit_name_item" class="form-label item-form">Unit Name:</label>
      <select name="unit_name_item" class="item-select" required id="id_unit_name_item">

        {% if form.instance.id %}
        <option value="{{ form.instance.unit_name_item.id }}">{{ form.instance.Unit_Name}}</option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% endif %}

      </select>
    </div>
    <div class=" d-flex my-3">
      <label for="id_Units" class="form-label item-form">Units:</label>
      <input type="number" class="item-select" name="Units" value="{{form.instance.Units}}" step="0.01" required
        id="id_Units">
    </div>

    <div class=" d-flex my-3">
      <label for="id_Panha" class="form-label item-form">Panha:</label>
      <input type="number" class="item-select" name="Panha" value="{{form.instance.Panha}}" step="0.01" required
        id="id_Panha">
    </div>
    <div class=" d-flex my-3">
      <label for="id_Fabric_nonfabric" class="form-label item-form">Fabric/Non Fabric:</label>
      <select name="Fabric_nonfabric" class="item-select" required id="id_Fabric_nonfabric">
        <option value="{{form.instance.Fabric_nonfabric}}">{{form.instance.Fabric_nonfabric}}</option>
        <option value="Fabric">Fabric</option>
        <option value="Non Fabric">Non Fabric</option>
      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_Item_Fabric_Finishes" class="form-label item-form">Fabric Finishes:</label>
      <select name="Item_Fabric_Finishes" class="item-select" required id="id_Item_Fabric_Finishes">

        {% if form.instance.id %}
        <option value="{{form.instance.Item_Fabric_Finishes.id}}">{{form.instance.Fab_Finishes}}</option>
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}
        {% for fab_finish in fab_finishes %}
        <option value="{{fab_finish.id}}">{{fab_finish.fabric_finish}}</option>
        {% endfor %}

      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_GST" class="form-label item-form">GST:</label>
      <select name="Item_Creation_GST" class="item-select" required id="id_Item_Creation_GST">

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.Item_GST}}</option>
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}
        {% for gst in gsts %}
        <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
        {% endfor %}
      
      </select>
    </div>
    <div class="d-flex my-3">
      <label for="id_HSN_Code" class="form-label item-form">HSN Code:</label>
      <input type="text" class="item-select" name="HSN_Code" value="{{form.instance.HSN_Code}}" required
        id="id_HSN_Code">
    </div>
    <div class="d-flex my-3">
      <label for="id_status" class="form-label item-form">Status:</label>
      <select name="status" class="item-select" required id="id_status">
        <option value="{{form.instance.status}}">{{form.instance.status}}</option>
        <option value="Used">Used</option>
        <option value="Unused">Unused</option>
        <option value="Slow Moving">Slow Moving</option>
        <option value="Dead">Dead</option>
      </select>
    </div>
    {% if not form.instance.id %}
    <div class="d-flex my-3">
      <diV>
        <label for="id_status" class="form-label item-form">Image:</label>
      </diV>
      
      <div class="">
        <img id="iFrame" src="..." class="py-1" alt="..." style="width: 10rem; height: 10rem;">
        <input type="file" class=" " style="width: 201px;" name="item_shade_image" required id="item_shade_image" onchange="preview()">
      </div>
      
      
    </div>
    {% endif %}
    <input type="submit" class="newProductCreateBtn" name="save" value="Save">
  </form>
</div>

{% if not form.instance.id %}
<div class="col-lg-1">
    <div class="">
      <button class="fab_btn" onclick="openFabPopup()">+</button>
    </div>
    <div class="">
      <button class="col_btn"  onclick="opencolorPopup()">+</button>
    </div>
    <div class="">
      <button class="package_btn"  onclick="openPackagePopup()">+</button>
    </div>
    <div class="">
      <button class=" unit_btn"  onclick="openunitPopup()">+</button>
    </div>
    <div class="">
      <button class="finish_btn"  onclick="openFabricFinishPopup()">+</button>
    </div>
    <div class="">
      <button class="gst_btn"  onclick="openGstPopup()">+</button>
    </div>
   
    
</div>

{% endif %}
</div>


<!-- <script>
  
  $(document).ready(function () {

    $(document).on('change', 'hiddeninput', function () {

        var selected_party_name = $(this).val()
        var int_selected_party_name = parseInt(selected_party_name)

        $.ajax({
            url: '/item_create_dropdown_refresh_ajax/',
            method: 'GET',
            data: {
                'selected_party_name': selected_party_name,
            },
            success: function (response) {
                console.log('Data sent successfully')

            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        })
    })
})



</script> -->

<script>

  document.addEventListener('DOMContentLoaded', function() {
    // Add click event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            // Find the row containing the clicked delete button
            var row = this.closest('tr');
            var checkRow = row.querySelector('.shade_deleteId[name^="shades-"][name$="-DELETE"]');
            if (checkRow) {
                checkRow.checked = true; // Mark as checked
                checkRow.value = 'true'; // Set the value to 'true'

                row.style.display = 'none';

            } else {
                console.error("Checkbox for deletion not found in this row");
            }
        });
    });
});


</script>

<script>
  $(document).ready(function(){
    var newPopup = null;
    var itemValue;

    $(document).on ('click','button.itemQty',function(button){
      var itemId = $(this).closest('tr').find('input[name$="item_name_rank"]').attr('name');
      var itemValue = itemId.split('-')[1];
      var primaryKey = document.getElementById('id_shades-'+itemValue+'-id');
      var primary_key_id = primaryKey.value;
      console.log('id',primary_key_id)
      console.log('itemId',itemId)
      console.log('itemValue',itemValue)
      if (newPopup === null || newPopup.closed) { // Check if no popup is open or the existing one is closed
                    var minWidth = 800;
                    var minHeight = 600;
      $.ajax({
        url: '{% url "opening-godown-qty-ajax" %}',
        type: 'GET',
        data:{
          itemValue:itemValue,
          primary_key_id:primary_key_id
        },
        success: function (response){
          console.log('Data sent successfully')
          popupWindow = window.open(response.popup_url, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
        },
        error: function (xhr, errmsg, err) {
                            console.log('Error getting popup URL');
                        }
      })
      }
    })

  })
  


  </script>



<script>

  

// function reladFabricPage(){
//   $.ajax({
//     url: '{% url "fabric-popup" %}',
//     type: 'GET',
//     success: function (response){
//       var fabricSelectOption = document.getElementById('id_Fabric_Group');
//       fabricSelectOption.innerHTML = '';
//       response.data.forEach(element => {
//         var options = document.createElement('option');
//         options.value = element.id;
//         options.textContent = element.name;
//         fabricSelectOption.appendChild(options);

//       });
//     },
//     error(xhr,msg,err){
//       console.log('Error submitting form');
//     }
//   })
// }

  var popUpWindow = null;


  function openFabPopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button, '{% url "fabric-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }

  function opencolorPopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button, '{% url "color-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }

  function openunitPopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button, '{% url "unit-name-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }
  function openGstPopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button, '{% url "gst-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }
  function openPackagePopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button,'{% url "packaging-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }

  function openFabricFinishPopup(button) {
    if (popUpWindow === null || popUpWindow.closed) {
      newPopUpwindow(button, '{% url "fabric-finishes-popup" %}');
    } else {
      popUpWindow.focus();
    }
  }


  
  function newPopUpwindow(button, path) {
    // Specify minimum height and width
    var minWidth = 800; // minimum width
    var minHeight = 600; // minimum height

    // Open new page with specified dimensions
    popUpWindow = window.open( path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    console.log(popUpWindow)
    // Listen for messages from the popup window
    window.addEventListener('message', function (event) {
      if (event.data === 'popupClosed'|| event.data === 'submit') {
        // Close the popup window
    
        // Reload parent page when popup window is closed
        location.reload();
      }
    });
  }


  document.querySelector('input[type="file"]').addEventListener('change', function(event) {
      var imgPreview = document.getElementById('iFrame');
      var file = event.target.files[0];
      var reader = new FileReader();

      reader.onload = function() {
        imgPreview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      }
    });
</script>




{% endblock body %}