{% extends 'product/base.html' %} 
{% load static %} 


<!-- 
In this case, value="{{ request.GET.parameter1 }}" sets the initial value of the input field 
to the value of the GET parameter named parameter1, if it exists.
This means that if the user has previously submitted the form with a value for parameter1,
the input field will be pre-filled with that value when the page is loaded. -->

{% block body %}
<div>
      <h2>Item List</h2>
      <div class="row">
        <div class="col-lg-12 sub_main">
          <div class="d-flex mb-3">
            <button class="item-btn " onclick="redirectlistItem()"><span>Add Item +</span></button>
            <div class="container-item"> 
             <input class="" type="search" placeholder="Search" aria-label="Search" />
               <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <button class="item-btn ms-1">Clear Filter</button>
           </div>
          </div>  
        </div>    
      <div class="">
        <table class="table table-striped table-bordered table-hover table-responsive">
          <thead>
            <tr>
              <th scope="col" class="">No</th>
              <th scope="col" class="name_absolute">Name
                <!-- <div class="nav-item dropdown name_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#">Sort Ascending<i class="fa-solid fa-arrow-up-long"></i></button></li>
                    <li><button class="dropdown-item" href="#">Sort Decending<i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li class="nav-item dropend">
                      <button class="nav-link dropdown px-4 fs-6" data-bs-toggle=" dropdown" aria-expanded="false">Filter
                        <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input  type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                        <li><input  type="text"class="dropdown-item input_text" placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">
                Fabric Group
                <!-- <div class="nav-item dropdown fabric_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle=" dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul> -->
                </div>
              </th>
              <th scope="col" class="name_absolute">Item Color
                <!-- <div class="nav-item dropdown Item_color_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle="dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute ps-5">Shades
                <!-- <div class="nav-item dropdown Item_color_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle="dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Material Code
                <!-- <div class="nav-item dropdown material_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div>  -->
              </th>
              <th scope="col" class="name_absolute">Packing
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Unit Name
                <!-- <div class="nav-item dropdown unit_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Units</th>
              <th scope="col" class="name_absolute">Panha</th>
              <th scope="col" class="name_absolute">Fabric/Non Fabric
                <!-- <div class="nav-item dropdown fn_fabric_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#">Sort Ascending<i class="fa-solid fa-arrow-up-long"></i></button></li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                      <button class="nav-link dropdown px-4 fs-6"data-bs-toggle=" dropdown">Filter<i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.." /></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Fabric Finishes
                <!-- <div class="nav-item dropdown ffabric_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">GST</th>
              <th scope="col" class="name_absolute">HSN Code
                <!-- <div class="nav-item dropdown hsn_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-angle-down mx-2"></i></a>
                <ul class="dropdown-menu">
                  <li><input type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                </ul> -->
              </div>
              </th>
              <th scope="col" class="name_absolute">Status
                <!-- <div class="nav-item dropdown status_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#">Unused</button></li>
                    <li> <button class="dropdown-item" href="#">Used</button></li>
                    <li> <button class="dropdown-item" href="#">Slow Moving</button></li>
                    <li> <button class="dropdown-item" href="#">Dead</button></li> 
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Edit</th>
              <th scope="col" class="name_absolute">Delete</th>
              <th scope="col" class="name_absolute">View</th>
            </tr>
          </thead>
          
          <tbody class="mainTableList">
            {% for item in items %}
          </tr>
          <td>{{ forloop.counter}}</td>              
              <td>{{item.item_name}}</td>
              <td>{{item.fab_grp}}</td>
              <td>{{item.Color_Name}}
              
              <span style="color: rgb(166, 0, 0);">{{item.total_quantity | default_if_none:0}}</span>
              </td>
              <!-- render reverse related fields -->
              <td>
                <table>
                  <thead>
                    <tr>
                      <th class="px-2 ">Shade</th>
                      <th class="px-2">Godown<span class="ps-5">Qty</span></th>              
                    </tr>
                    {% for shade in item.shades.all %}
                    <tr style="border-bottom: 1px solid gray;">
                       
                      <td class="px-2">{{shade.item_shade_name}}</td>
                      <td  class="px-2 ms-5">
                        {% for shade_q in shade.godown_shades.all %}
                        <table>
                            <tr>
                              <td class="px-3">{{shade_q.godown_name}}</td>
                              <td class="ps-5">{{shade_q.quantity}}</td>
                              
                          </tr>
                        </table>
                        {% endfor %}
                      </td>
                      </tr>  
                        {% endfor %} 
                
                </table> 
              </td>
              <td>{{item.Material_code}}</td>
              <td>{{item.Packaging_Material}}</td>
              <td>{{item.Unit_Name}}</td>
              <td>{{item.Units}}</td>
              <td>{{item.Panha}}</td>
              <td>{{item.Fabric_nonfabric}}</td>
              <td>{{item.Fab_Finishes}}</td>
              <td>{{item.Item_GST}}</td>
              <td>{{item.HSN_Code}}</td>
              <td>{{item.status}}</td>
              <td><a href="{% url 'item-edit' item.id %}"><span></span><i class="fa-solid fa-pen-to-square"></i></span></a></td>
              <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ item.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
              <td><a href="#"><i class="fa-solid fa-eye"></i></a></td>
              
            </tr>
            {% endfor %}  
          </tbody>
          
        </table>
      </div>
      
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this Item?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>



<script>
document.body.appendChild(document.getElementById('exampleModal'));

$(document).ready(function(){
    $('.delete-btn').click(function(){
        var itemId = $(this).data('item-id');
        $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
        $('#confirmDeleteModal').modal('show');
    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function(){
        var itemId = $(this).data('item-id');
        // Redirect to delete view
        window.location.href = '/itemdelete/' + itemId;
    });
});
</script>
<script>
  function redirectlistItem (){
    window.location.href = "{% url 'item-create'%}"
  }
</script>


{% endblock body %}