{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<div>
      <h2>Product List</h2>
      <div class="row">
        <div class="col-lg-12 sub_main">
          <div class="d-flex mb-2">
            <button class="item-btn" onclick="redirectProductList()">Add Product +</button>
            <div class="container-flex"> 
             <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="product_search" >
               <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <button class="item-btn ml-3">Clear Filter</button>
           </div>
          </div>  
        </div>    
      <div class="">
        <table class="table table-striped table-bordered table-hover table-responsive">
          <thead>
            <tr >
              <th scope="col" class="name_absolute">No</th>
              <th scope="col" class="name_absolute">Product Name
                <!-- <div class="nav-item dropdown name_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#">Sort Ascending<i class="fa-solid fa-arrow-up-long"></i></button></li>
                    <li><button class="dropdown-item" href="#">Sort Decending<i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li class="nav-item dropend">
                      <button class="nav-link dropdown px-4 fs-6" data-bs-toggle=" dropdown" aria-expanded="false">Filter
                        <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input  type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                        <li><input  type="text"class="dropdown-item input_text" placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">
                Model Name
                <!-- <div class="nav-item dropdown fabric_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle=" dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">
                Catagory
                <!-- <div class="nav-item dropdown fabric_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle=" dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Refrence ID
                <!-- <div class="nav-item dropdown Item_color_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#"> Sort Ascending <i class="fa-solid fa-arrow-up-long"></i></button> </li>
                    <li><button class="dropdown-item" href="#"> Sort Decending <i class="fa-solid fa-arrow-down-long"></i></button></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li class="nav-item dropend">
                     <button class="nav-link dropdown px-4 fs-6" data-bs-toggle="dropdown" aria-expanded="false" >Filter
                      <i class="fa-solid fa-angle-right text-decoration-none"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><input type="text" class="dropdown-item input_text"placeholder="Any match.."/></li>
                        <li><input type="text" class="dropdown-item input_text"placeholder="Exact match.."/></li>
                      </ul>
                    </li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Product Color
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Product SKU
                <!-- <div class="nav-item dropdown material_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div>  -->
              </th>
              <th scope="col" class="name_absolute">Channel
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Brand
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Sale Price 
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">MRP
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Bulk Price
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Cost Price
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">GST
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">HSN Code
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Warranty
                <!-- <div class="nav-item dropdown packing_icons">
                  <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown"aria-expanded="false"><i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><input type="text" class="dropdown-item input_text" placeholder="Any match.."/></li>
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Status
                <!-- <div class="nav-item dropdown status_icons"><a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-angle-down mx-2"></i></a>
                  <ul class="dropdown-menu">
                    <li><button class="dropdown-item" href="#">Unused</button></li>
                    <li> <button class="dropdown-item" href="#">Used</button></li>
                    <li> <button class="dropdown-item" href="#">Slow Moving</button></li>
                    <li> <button class="dropdown-item" href="#">Dead</button></li> 
                  </ul>
                </div> -->
              </th>
              <th scope="col" class="name_absolute">Edit</th>
              <th scope="col" class="name_absolute">Delete</th>
              <th scope="col" class="name_absolute">View</th>
            </tr>
          </thead>
          
          <tbody class="mainTableList">
            {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.Product_Name | default_if_none:''}}</td>
                <td>{{ product.Model_Name | default_if_none:''}}</td>
                <td>
                  {% if product.product_cats.all %}
                  {{ product.product_cats.all.0.SubCategory_id.product_main_category.product_category_name }}
                  {% endif %}

                      <ul>
                        {% for categories in product.product_cats.all %}
                        <li>{{categories.SubCategory_id.product_sub_category_name}}</li>
                        {% endfor %}
                      </ul>

                </td>
                <td>{{ product.Product_Refrence_ID }}</td>
                <td>
                    {% for pproduct in product.productdetails.all %}
                        {{ pproduct.product_color_name }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for pproduct in product.productdetails.all %}
                        {{ pproduct.PProduct_SKU }}<br>
                    {% endfor %}
                </td>
                <td>{{ product.Product_Channel | default_if_none:''}}</td>
                <td>{{ product.Product_Brand | default_if_none:''}}</td>
                <td>{{ product.Product_SalePrice_CustomerPrice | default_if_none:''}}</td>
                <td>{{ product.Product_MRP | default_if_none:''}}</td>
                <td>{{ product.Product_BulkPrice | default_if_none:''}}</td>
                <td>{{ product.Product_Cost_price | default_if_none:''}}</td>
                <td>{{ product.P_GST | default_if_none:''}}</td>
                <td>{{ product.Product_HSNCode | default_if_none:''}}</td>
                <td>{{ product.Product_WarrantyTime | default_if_none:''}}</td>
                <td>{{ product.Product_Status| default_if_none:'' }}</td>
                <td><a href="{% url 'edit_production_product' product.Product_Refrence_ID %}"><i class="fa-solid fa-pen-to-square px-2"></i></a>
                </td>
                <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ product.Product_Refrence_ID }}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>

                
                <td><a class="mx-2" href=""><i class="fa-solid fa-eye px-2"></i></a></td>
            </tr>
            {% endfor %}
         </tbody>
        </table>       
      </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this Product Item?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>


<script>
document.body.appendChild(document.getElementById('exampleModal'));

$(document).ready(function(){
    $('.delete-btn').click(function(){
        var itemId = $(this).data('item-id');
        $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
        $('#confirmDeleteModal').modal('show');
    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function(){
        var itemId = $(this).data('item-id');
        // Redirect to delete view
        window.location.href = '/pproductdelete/' + itemId;
    });
});
</script>

          
    <script>
      function redirectProductList() {
        window.location.href = "{% url 'pproduct_creation' %}";
      }
    
    </script>
{% endblock body %}


