{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}

        <div>
            <h2>Create Product</h2>
            <div class="d-flex my-4">
                <form class="mb-3 d-flex">
                    <label for="id_Product_Refrence_ID" class="form-label">Product Refrence ID:</label>
                    <input type="text" class="rounded-3 px-2 mx-3" name="Product_Refrence_ID" required id="id_Product_Refrence_ID">
                    <button class="card_btn"><a class ="text-decoration-none" href="{% url 'colorlist' %}">Add Color</a></button>
                </form>  
                <button id="addButton" class="add_btn">+</button>
                <button value='Save' class="add_btn">Submit</button>
            </div>
            <div >
                <div id="cardContainer">
                <div class="card card-clone" style="width: 15rem;">
                    <img id="frame"  src="..." class="card-img-top card-img p-1"  alt="...">
                    <div class="card-body card-input">
                      <div class="mb-2 d-flex">
                         <label for="id_PProduct_image_1" class="form-label">Image</label>
                          <input class="px-2 rounded-3" name="PProduct_image_1" type="file" id="formFile" onchange="preview()">
                      </div>
                          <div class="mb-2 d-flex">
                            <label for="id_PProduct_color_1" class="form-label pe-3">Color</label>
                            <select name="PProduct_color_1" required id="id_PProduct_color_1" class="rounded-3 w-50 px-2">
                                <option value="-" selected>---------</option>
                                {%for c in color %}
                                <option value="{{ c.id }}">{{c.color_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2 d-flex">
                          <label  for="id_PProduct_SKU_1" class="form-label pe-4">SKU</label>
                          <input type="text" name="PProduct_SKU_1" id="id_PProduct_SKU_1" class="rounded-3 w-75 px-2">
                      </div>
                      <button type="close" value = 'cancel' class="card_btn">Cancel</button>
                    </div>
                  </div>
                  
                </div>
    
            </div> 
      
            <div>
            
            </div>
        </div>

{% endblock body %}