<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Name List</title>
</head>
<body>

    <table>
        <tr>
          <th>Unit_name</th>
            <th>edit</th>
            <th>delete</th>
        </tr>

        {% for unit in unit_name_all %}
        <tr>
          <td>{{unit.unit_name}}</td>
          <td><a href="{% url 'unit_name-update' unit.slug %}">Edit</a></td>
          <td><a href="{% url 'unit_name-delete' unit.slug %}">Delete</a></td>

        </tr>

        {% endfor %}
      </table>

</body>
</html>