{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<div>
      <h2>Units List</h2>
      <div class="row">
        <div class="col-lg-12 sub_main">
          <div class="d-flex mb-3">
            <button class="dropbtn mx-3" onclick="redirectUnitList()"><span>Add Units +</span></button>
            <div class="container-category "> 
             <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="product_search" />
               <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
           </div>
          </div>  
        </div>  
        <div class="row">
          <div class="col-lg-5">
            <table class="table table-striped table-hover table-responsive">
              <thead>
                  <tr>
                      <th scope="col" class="name_absolute">No</th>
                      <th scope="col" class="name_absolute">Unit Name
                          <div class="nav-item dropdown unit-list-icons">
                              <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                  <li><input type="text" class="dropdown-item input_text" placeholder="Any match.." /></li>
                              </ul>
                          </div>
                      </th>
                      <th scope="col" class="name_absolute">Edit</th>
                      <th scope="col" class="name_absolute">Delete</th>
                  </tr>
              </thead>
          
              <tbody>
                  {% for unit in unit_name_all %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{unit.unit_name}}</td>
                      <td><a href="{% url 'unit_name-update' unit.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
                      <td class="modal-trigger" data-unit-id="{{ unit.id }}"><i class=" fa-solid fa-trash text-danger px-2"></i></td>
                  </tr>
                  <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="d-flex">
                            <h3>Confirm Delete</h3>
                            <span class="close">&times;</span>
                        </div>
                        
                        <p id="modal-message">Are you sure you want to remove this Unit?</p>
                        <div class="d-flex mx-2">
                        <button type="button" class="btn" id="confirmYes">Yes</button>
                            <button type="button" class="btn mx-2" id="confirmNo">No</button>
                        </div>
                    </div>
                </div>
            
                  {% endfor %}                
              </tbody>
          </table>
         
    </div>
              </div>
              
            </div>
         
        </div>
</div>
<script>
 var modal = document.getElementById("myModal");
var modalTriggers = document.querySelectorAll(".modal-trigger");
var span = document.getElementsByClassName("close")[0];
var confirmYesButton = document.getElementById("confirmYes");
var confirmNoButton = document.getElementById("confirmNo");
var currentUnitId;// To store the row to be deleted

// Function to open the modal and set the current row
function openModal(row) {
  modal.style.display = "block";
  currentUnitId = unitId;
}

// Function to close the modal
function closeModal() {
  modal.style.display = "none";
}

// When the user clicks on the trigger, open the modal
modalTriggers.forEach(function(trigger) {
  trigger.onclick = function() {
    var unitId = this.parentNode.parentNode.querySelector('td:first-child').textContent; // Get the unit ID from the first column
    openModal(unitId);
  }
});

// When the user clicks on <span> (x) or "No" in the modal, close the modal
span.onclick = confirmNoButton.onclick = function() {
  closeModal();
}

// When the user clicks "Yes" in the modal, send AJAX request to delete the data
confirmYesButton.onclick = function() {
  // Get the URL from the data attribute
  var deleteUrl = "{% url 'unit_name-delete' 0 %}".replace('0', currentUnitId);
 
  fetch(deleteUrl, {
    method: 'DELETE', // Assuming you're using DELETE method for deletion
    headers: {
      'X-CSRFToken': '{{ csrf_token }}', // Add your CSRF token here
    }
  })
  .then(response => {
    if (response.ok) {
      // If deletion is successful, remove the row from the table
      var rowToDelete = document.querySelector('td:first-child').textContent == currentUnitId ? document.querySelector('td:first-child').parentNode : null;
      if (rowToDelete) {
        rowToDelete.parentNode.removeChild(rowToDelete);
      }
      closeModal();
    } else {
      console.error('Error deleting data');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    closeModal();
  }
}
</script>


<script>
  function redirectUnitList(){
    window.location.href = "{% url 'unit_name-create'%}"
  }
  
</script>
{% endblock body %}