{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %} 
  <div>
      
      <form  id ="unitForm"  action="" method="POST">
           {% csrf_token %}
        <h2 class="mb-3 mt-4">Create Units</h2>   
        <div class="d-flex">
        <label for="id_unit_name" class="item-form px-2">Name:</label>
        <input type="text" class="item-select" value="{{ form.instance.unit_name }}" name="unit_name" maxlength="255" required id="id_unit_name">
        </div>

        <input type="submit" class="create-btn mt-4" name="save" value="Save">
      </form> 
  </div>

  <script>
    document.getElementById('unitForm').addEventListener('submit', async function(event) {
        event.preventDefault();  // Prevent the default form submission
    
    const form = event.target;
    const formData = new FormData(form);
    formData.append('save', 'Save');
    try {
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        });

        if (response.ok) {
            const data = await response.json();  // Await the response.json() call
            console.log('Response data:', data);  // Now you can access the JSON data

           window.opener.postMessage(data, '*');

            window.close();
        } else {
            console.error('Failed to update Units.');
        }
    } catch (error) {
        console.error('Error:', error);
    }
      
    });
    </script>
{% endblock body %}