
{% extends 'product/base.html' %}
{% load static %}
{% block body %}


<!-- <form action="" method="POST">

{% csrf_token %}
{{form}}
<button type="submit">Change Password <i class="fa-regular fa-user"></i></button>
</form> -->
<div class="mt-2">
    <h3 class="mb-3">Change Password</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_old_password" class="item-form">Old password:</label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
        </div>
        <div class="mb-3">
            <label for="id_new_password1" class="item-form">New password:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
            <span class="helptext text-muted text-small d-block ms-5">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </span>
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="item-form">New password confirmation:</label>
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        </div>
        <button type="button" class="item-btn"><i class="fa-regular fa-user"></i> Change Password</button>
    </form>

</div>

{% endblock %}