{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}

    <div class="row ps-3 mt-5">
        <div class="col-lg-5">
            <form action="" method="POST">

                {% csrf_token %}
               <h2>GST - {{title}}</h2>
                <div class="d-flex my-4">
                    <label for="id_gst_percentage" class="item-form">Gst percentage :</label>
                    <input type="number" name="gst_percentage" class="item-select" required id="id_gst_percentage" value="{{form.instance.gst_percentage}}">    
                </div>
            
                <input type="submit" class="create-btn mt-4" name="save" value="Save">
            
            </form>
        </div>
        <div class="col-lg-5 mt-5">
            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Gst %</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="mainTableList">
                    {% for gst in gsts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                       <td>{{gst.gst_percentage}}</td>  
                       <td> <a href=" {% url 'gst-update' gst.id %}"><i class="fa-solid fa-pen-to-square px-2"></i></a></td>
                       <td><a href="{% url 'gst-delete' gst.id %}"><i class="fa-solid fa-trash text-danger px-2"></a></td>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>


</section>
 {% endblock body %}
