{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}



        <div class="">
          <h5 class="" id="">Item Name: {{item}}</h5> 
          <h5 class="" id="">shade Name: {{item_shade}}</h5>
          </div>
        <div class="">
            <form method="post" id="" enctype="multipart/form-data">
                {% csrf_token %}

                <div>
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form }}
                    {% endfor %}

                </div>


                <table class="table table-striped table-hover" id="newTable">
                    <thead>
                        <tr>
                            <th>Godowns</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="mainTableList">
                        
                        <tr>
                            <input type="hidden" id="godown_unique_id" name="godown_unique_id-{{forloop.counter0}}" value="1">
                            <td>
                            <select name="godown_id-{{forloop.counter0}}" id="godown_id-{{forloop.counter0}}" class="purchase-input godown-select" value="">
                                <option value=""></option>
                                {% for godown in godowns %}
                                <option value="{{godown.id}}">{{godown.godown_name_raw}}</option>
                                {% endfor %}
                            </select>
                            </td>
                            <td><input type="number" name="quantity-0" id="quantity-0" class="purchase-input godown-quantity" value=""></td>
                            <td><input type="number" name="rate-0"  id="rate-0" class="purchase-input godown-rate" value="">
                            </td>
                            <td><input type="number" name="amount-0"  id="amount-0" class="purchase-input godown-amount" value="" readonly>
                            </td>
                            <td><button class="border-0 bg-transparent delete-btn" ><i class="fa-solid fa-trash text-danger px-2"></button></td>
                                
                            </tr>
                            <input type="hidden" class="purchase-amount" name="grand_godown_quantity" id ="grand_godown_quantity" value="" maxlength="50" step=".01">
                                <input type="hidden" class="purchase-amount" name="grand_godown_rate" id ="grand_godown_rate" value="" maxlength="50" step=".01"  >
                                <input type="hidden" class="purchase-amount" name="grand_godown_amount" id ="grand_godown_amount" value="" maxlength="50" step=".01"  >
                                <input type="hidden" class ="purchase-amount" name = "godown-hidden-unique-value" id="godown-hidden-unique-value" value="{{unique_id}}">
                    </tbody>
                </table>
               <button type="button" class="create-btn" id="addModalButton">Add +</button>
               <input type="submit" class="add_btn">
            </form>
            
        </div>
    
<script>
    
    
</script>
    <script>
        $(document).ready (function(){
        
        $(document).on('click', '#addModalButton', function() {
       
        var newFormValue = document.getElementById('godown_unique_id');
        
        var formsValue = parseInt(newFormValue.value);
        console.log(formsValue);
        
        var tableClone = $('#newTable').find('tbody tr').last().clone(true);
        
            //update the input name and id for the new row
        const newGodownItem = tableClone.find('select[name^="godown_id-"]');
        newGodownItem.attr('name', 'godown_id-' + formsValue );
        newGodownItem.attr('id', 'godown_id-' + formsValue);
        newGodownItem.val('');
      

        const newQuantity = tableClone.find('input[name^="quantity-"]');
        newQuantity.attr('name', 'quantity-' + formsValue  );
        newQuantity.attr('id', 'quantity-' + formsValue );
        newQuantity.val('');
       

        const newRate = tableClone.find('input[name^="rate-"]');
        newRate.attr('name', 'rate-' + formsValue);
        newRate.attr('id', 'rate-' + formsValue);
        newRate.val('');
       

        const newAmount = tableClone.find('input[name^="amount-"]');
        newAmount.attr('name', 'amount-' + formsValue);
        newAmount.attr('id', 'amount-' + formsValue );
        newAmount.val('');


        $('#newTable tbody').append(tableClone);
        newFormValue.value = formsValue + 1;

       
        
    });
   // This funcion calculate the amount for each row then set the total amount and total quantity
    function calculateNewRow(row) {
        var inputQty = row.find('.godown-quantity[name^="quantity-"]').val();
        var inputQtyValue = parseInt(inputQty);
        var inputRate = row.find('.godown-rate[name^="rate-"]').val();
        var inputRateValue = parseInt(inputRate);
        var totalAmount = row.find('.godown-amount[name^="amount-"]').val();
    
        // Calculate and set the amount for this row
        var amount = inputQtyValue * inputRateValue;
        
        totalAmount = isNaN(amount) ? '' : amount.toFixed(2);
        row.find('.godown-amount[name^="amount-"]').val(totalAmount);
        
        return amount;
       
    }
    // calculate the total quantity
    function calculateQty(row) {
        var inputQty = row.find('.godown-quantity[name^="quantity-"]').val();
        var inputQtyValue = parseInt(inputQty);
        return inputQtyValue;
      
    }
    function calculateRate(row){
        var inputRate = row.find('.godown-rate[name^="rate-"]').val();
        var inputRateValue = parseInt(inputRate);
        return inputRateValue;
    }
    // Function to calculate total amount
    function calculateGodownAmount() {
        var total = 0;
        var totalRate = 0;
        var totalQty = 0;
        // Iterate over each row in the table body
        $('#newTable tbody tr').each(function() {
        var newAmount = calculateNewRow($(this));
        var newQty = calculateQty($(this));
        var newRate = calculateRate($(this));
        totalQty += newQty;
        totalRate = newRate;
        total += newAmount;
        });
        // Update the total amount field
        $('#grand_godown_amount').val(total);
        $('#grand_godown_quantity').val(totalQty);
        $('#grand_godown_rate').val(totalRate);
    }


    $(document).on('input', '.godown-quantity' &&' .godown-rate', function() {
            //call the calculation function when qunatity and rate is changed   
            calculateGodownAmount();

        })
        
        // Delete row from delete button
       $(document).on('click', '.delete-btn', function(){
        var tableRows = $('#newTable tbody tr');
          if (tableRows.length > 1) { // Check if the table has only one row
        var row = $(this).closest('tr');
        row.remove();
        calculateGodownAmount();

    } else {
        alert('Table must have at least one godown item');
    }
          
        });

        })
    </script>







{% endblock body %}