{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %}
    <h4>Godown Allocation For: {{item}}-({{item_shade}})</h4>
    <div class="item_godown">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Godown</th>
              <th>Qty</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for godown in godowns %}
            <tr>
                <td class="godown"> 
                    <input type="text" name="godown" class="godown-input item-select" value="{{godown.godown_name_raw}}" placeholder="Godown" readonly>
                </td>
                <td class="Qty"> 
                    <input type="number" name="Qty" class="qty-input item-select" value="" placeholder="Qty">
                </td>
                <td class="Rate"> 
                    <input type="number" name="Rate" class="rate-input item-select" value="" placeholder="Rate">
                </td>
                <td class="Total"></td>
               
            </tr> 
            {% endfor %}
        </tbody>
        </table>
        <div class="d-flex">
            <div class=" mb-3">
              <span id="totalQty" class="fw-bold px-2"></span>
          </div>
          <div class=" mb-3">
              <span id="totalAmount" class="fw-bold px-2"></span>
          </div>
        </div>
        <div>
            <input type="submit" class="product2create-btn" name="save" value="Save">
        </div>
      </div>
    <script>
        $(document).ready(function(){
            $(".item_godown").on('input', '.qty-input, .rate-input', function(){
                var totalQty = 0;
                var totalAmount = 0;
                $(".item_godown tbody tr").each(function(){
                    var qty = parseFloat($(this).find('.qty-input').val()) || 0;
                    var rate = parseFloat($(this).find('.rate-input').val()) || 0;
                    var total = qty * rate;
                    $(this).find('.Total').text(total.toFixed(2));
                    totalQty += qty;
                    totalAmount += total;
                });
                $('#totalQty').text(totalQty.toFixed(2));
                $('#totalAmount').text(totalAmount.toFixed(2));
            });
        });
        </script>

      {% endblock body %}