{% extends 'product/base.html' %} 
{% load static %} 


{% block body %} 
<div>
    <h2>Purchase invoice</h2>
    <form class="mt-4" action=""method="POST">
            {% csrf_token %}
            <div class="d-flex mb-3">
                <div>

                    <div class="d-flex mb-3">
                        <label for="id_purchase_number"  class="item-form">Purchase No</label>
                        {% if master_form.instance.id %}
                        <input type="number" class="item-select" name="purchase_number" id ="id_purchase_number" value="{{master_form.instance.purchase_number}}" maxlength="255" required readonly>
                        {% else %}
                        <input type="number" class="item-select" name="purchase_number" id ="id_purchase_number" value="{{master_form.instance.purchase_number}}" maxlength="255" required>
                        {% endif %}
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_supplier_invoice_number" class="item-form" >Supplier Invoice No</label>
                        <input type="number" class="item-select" name="supplier_invoice_number" id ="id_supplier_invoice_number" value="{{master_form.instance.supplier_invoice_number}}" maxlength="255" required >
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_GST_numbers" class="item-form" >Company GST No : </label>
                        <input type="text" class="item-select" name="GST_numbers" id ="id_company_GST_numbers" value="27AAACG20210238" maxlength="50" readonly >
                    </div>
                </div>
                <div class="ms-5">
                    <div class="d-flex mb-3">
                        <label for="id_ledger_type" class="item-form" >ledger Type</label>
                        <input type="text" class="item-select" name="ledger_type" id ="id_ledger_type" value="{{master_form.instance.ledger_type}}" maxlength="50" default='Purchase' readonly required placeholder="Purchase" >
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_party_name" class="item-form" >Party A/C Name</label>
                        <select class="item-select" name="party_name" required id="id_party_name">
                        {% if master_form.instance.id %}
                        {% for x in party_names %}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {% endfor %}
                        {% elif not master_form.instance.id %}
                        <option value=""></option>
                        {% for x in party_names %}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {% endfor %}
                        {% endif %}
                
                        </select>

                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_GST_number" class="item-form" >Party GST No : </label>
                        <input type="text" class="item-select" name="GST_number" id ="id_GST_number"  value="{% if master_form.instance.id %}{{ master_form.instance.party_name.Gst_no }}{% endif %}" maxlength="15" readonly required>
                    </div>
            
                </div>
            </div>

        <table id="myTable" class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Item Name</th>
                    <th>Colour</th>
                    <th>Shade</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Units</th>
                    <th>Taxable Value</th>
                    <th>GST %</th>
                    <th>CGST</th>
                    <th>SGST/IGST</th>
                    <th>Total Amount</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody class="mainTableList">
                {{items_formset.management_form}}
                {% for forms in items_formset %}
                {{ forms.id }}
                
                <tr>
                    
                    <input type="hidden" id="{{forms.prefix}}-popupData" name="{{forms.prefix}}-popupData" value="">    
                    <input type="hidden" id="{{forms.prefix}}-jsonDataInputquantity" value="" name="{{forms.prefix}}-jsonDataInputquantity">
                    <input type="hidden" class="unique-id" name="item_unique_id_{{forloop.counter0}}" value='' id="item_unique_id_{{forloop.counter0}}">
                    <input type="hidden" id="{{forms.prefix}}-deleteJsonData" value="" name="{{forms.prefix}}-deleteJsonData">
                    <input type="hidden" id="{{forms.prefix}}-old_item_shade" value="{{forms.instance.item_shade.id}}" name="{{forms.prefix}}-old_item_shade">
                    <input type="hidden" id="{{forms.prefix}}-old_item_shade_for_dropdown_change" value="{{forms.instance.item_shade}}" name="{{forms.prefix}}-old_item_shade_for_dropdown_change">
                    <td><span class="rowNo" name="rowNo_{{forloop.counter0}}" id="rowNo_{{forloop.counter0}}" value="">{{forloop.counter}}</span></td>
                    <td> <input  type="text" name="item_name_{{forloop.counter0}}" id="item_name_{{forloop.counter0}}" class="item-select search-input"  placeholder="Item Name" autocomplete="off" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.item_name }}{% endif %}"  > 
                         <div name="select_item_name_{{forloop.counter0}}" class="item-select item-name s-suggestion-container" id="select_item_name_{{forloop.counter0}}" style="display: none; height: auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Item Name" >
                           
                        
                          </div>
                          
                    </td>
                    <td>
                        <input type="text" name="item_color_{{forloop.counter0}}" id="item_color_{{forloop.counter0}}" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.Item_Color.color_name }}{% endif %}" class="purchase-input"readonly>
                        
                    </td>
                    <td>
                        <input type ="text" name="input_item_shade_{{forloop.counter0}}" id="input_item_shade_{{forloop.counter0}}" class="purchase-select" style="border: none ;color: #000; background-color: transparent; display: none;" readonly value="">
                        <select name="{{forms.prefix}}-item_shade" class="purchase-select item-shade" placeholder="Item Shades"  id="{{forms.prefix}}-item_shade">

                             {% if forms.instance.id %} 
                             <option value="{{forms.instance.item_shade.id}}">{{forms.instance.item_shade.item_shade_name}}</option>

                             {% elif not forms.instance.id %}
                             <option value=""></option>
                             {% endif %}

                        </select>
                       
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-quantity_total" class="purchase-input purchase-qunatity" name="{{forms.prefix}}-quantity_total" value="{{forms.instance.quantity_total | default_if_none:'' }}" readonly>
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-rate" class="purchase-input purchase-rate" name="{{forms.prefix}}-rate" value="{{forms.instance.rate | default_if_none:''}}" readonly>
                    </td>
                    <td>
                        <input type="text" name="item_per_{{forloop.counter0}}" id="item_per_{{forloop.counter0}}" value="{% if forms.instance.id %}{{ forms.instance.item_shade.items.unit_name_item.unit_name }}{% endif %}" class="purchase-input" readonly>
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-amount" class="purchase-amount total-amount" name="{{forms.prefix}}-amount" value="{{forms.instance.amount | default_if_none:''}}" readonly>
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-gst" class="purchase-input purchase-gst mb-2" name="{{forms.prefix}}-gst" value="{{ forms.instance.item_shade.items.Item_Creation_GST.gst_percentage}}" readonly >
                    </td>
                    <td>
                    <input type="number" id="{{forms.prefix}}-cgst" class="purchase-input purchase-cgst mb-2" name="{{forms.prefix}}-cgst" value=""readonly >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-sgst" class="purchase-input purchase-sgst mb-2" name="{{forms.prefix}}-sgst" value=""readonly >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-total_amount" class="purchase-amount purchase-total" name="{{forms.prefix}}-total_amount" value="" readonly>
                    </td>
                    <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="godown_deleteId px-2" style="display: none;"  name="{{forms.prefix}}-DELETE" id="{{forms.prefix}}-DELETE" value="" ></i></span>
                    
                    </td>
                    
                 </tr>   
            {% endfor %}
            </tbody>

        </table>
        <button type="button" class="item-btn ms-3 mb-3" id="addRowButton">Add +</button>
    

        <div class="mb-4">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                        <td class="text-center" ><lable style="padding-left: 20px;">Total</lable></td>
                        <td> <input type="number" class="purchase-input" style="border: 1px solid red; margin-left: 363px;" name="grand_quantity" id ="id_grand_quantity" value="" maxlength="50" step=".01" readonly></td>
                        <td><input type="number" class="purchase-amount" style="border: 1px solid red; margin-left: 192px;"  name="grand_taxableAmount" id ="id_grand_taxableAmount" value="" maxlength="50" step=".01" readonly ></td>
                        <td><input type="number" class="purchase-input" style="border: 1px solid red; margin-left: 96px;" name="grand_cgst" id ="id_grand_cgst" value="" maxlength="50" step=".01" readonly></td>
                        <td><input type="number" class="purchase-input" style="border: 1px solid red; " name="grand_Sgst" id ="id_grand_sgst" value="" maxlength="50" step=".01" readonly > </td>
                        <td> <input type="number" class="purchase-amount" style="border: 1px solid red;" name="grand_amount" id ="id_grand_amount" value="" maxlength="50" step=".01" readonly></td>
                    </tr>
                </tbody>
            </table>
            <div class="table-left mb-3">
                <lable  class="purchase-lable fw-bold">Gross total</lable>
                <span class="purchase-span">
                    <input type="number" class="ms-5  purchase-amount" name="gross_total" id ="id_gross_total" value="{{master_form.instance.gross_total | default_if_none:''}}" maxlength="50" step=".01" readonly >
                </span>           
            </div>

            <div class="table-left-transport mb-3">
                <lable class="purchase-lable fw-bold">Fright & Transport</lable>
                <span class="purchase-span">
                    <input type="number" class="ms-3  purchase-amount" name="fright_transport" id ="id_fright_transport" value="{{master_form.instance.fright_transport | default_if_none:'0'}}" maxlength="50" step=".01" >
                </span>
            </div>
            <div class="table-left-roundOf mb-3">
                <input type="hidden" id="temp_grand_total" value="">
                <label class="purchase-lable fw-bold">Round Of </label>
                <span class="purchase-span">
                    <input type="number" class="ms-5  purchase-amount" name="round_off" id ="id_round_off" value="" maxlength="50" step=".01" readonly>
                </span> 
            </div>
        
            <div class="table-left-grandTotal mb-3">
                <label class="purchase-lable fw-bold">Grand total</label>
                <span class="purchase-span"><input type="number" class="purchaseTableLabel-total purchase-amount" name="grand_total" value="{{master_form.instance.grand_total | default_if_none:''}}" id="id_grand_total" step=".01" readonly></span> 
            </div>
        </div>


      <input type="submit" class="ms-5 newProductCreateBtn" id="parentForm">
    </form>
</div>


<script>
  
    window.addEventListener('message', receiveMessage, false);

    function receiveMessage(event) {

        var dataWithPrefix = event.data;
  
       var convertedData = {};

       if (typeof dataWithPrefix === 'object' && Object.keys(dataWithPrefix).length > 0) {
       var datalength = Object.values(dataWithPrefix)[0]
       
        var dataId =Object.keys(dataWithPrefix)[0];
        
       
       if (dataId) {
        var datasId = dataId.split('_')[1];
        // Use datasId as needed
    } else {
        // Handle the case where dataId is undefined
        console.log('No dataId found');
    }
        if(datalength){
            for (var i = 0; i < datalength.length; i++) {
   
                var name = datalength[i].name;
                var value = datalength[i].value;
                var original_value = datalength[i].original_value || null;
                var changeData = datalength[i].change_type
               
                if (convertedData.hasOwnProperty(name)) {
                    if (!Array.isArray(convertedData[name])) {
                        convertedData[name] = [convertedData[name]]; // Convert to array
                    }
                    convertedData[name].push(value); // Push new value to array
                } else {
                    convertedData[name] = value; // Set the initial value
                } 
            }
        }else {
            // Handle the case where dataId is undefined
            console.log('No dataId found');
        }

    }
    // Set the popupData with convertedData
    var data = document.getElementById('purchase_voucher_items_set-' + datasId + '-popupData');
    data.value = JSON.stringify(convertedData);
}

</script>


 <script>
// this code contain the popup window for on submit button send to to parent window 
// this function retrive the data and compare with same unquie id and update the table data

//pefix value on item-shade change 
    function updateFormData(newSessionData){
    var newId = newSessionData.newUniqueId;
    var newQty = newSessionData.newTotalQty;
    var newRate = newSessionData.newTotalRate;
    var primaryKey = newSessionData.newPrimaryKey;
    var prefixId = newSessionData.prefixValue;


   
        var oldQty =  document.getElementById('purchase_voucher_items_set-'+ prefixId + '-quantity_total')
        var oldRate =  document.getElementById('purchase_voucher_items_set-'+ prefixId + '-rate')
    
        

        oldQty.value = newQty
      oldRate.value = newRate
      calculateTotalAmount()
      calculateOtherTotal()

}
 
// This function access for child popup window data on submit button. this data will be reflated to the main godown qunatity with the godown name 
    function BackendQuantityjson(jsonString){

        var jsonData = JSON.parse(jsonString);
        var row_prefix_child = jsonData.parent_row_prefix_id;
        var all_rate_child = jsonData.all_Rate;
        var godown_data = jsonData.newRow; 
       console.log(godown_data)
   

        var updateJsonData= document.getElementById('purchase_voucher_items_set-'+ row_prefix_child + '-jsonDataInputquantity');
        updateJsonData.value = JSON.stringify(jsonData);
    }
    

// This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst 
function getGstNo() {
    var partyGstValue = document.getElementById('id_GST_number').value;
    var comapnyGst = document.getElementById('id_company_GST_numbers').value;


comapnyGst = comapnyGst.toString();
partyGstValue = partyGstValue.toString();

var newCompanyGst = comapnyGst.slice(0,2);
var newPartyGst = partyGstValue.slice(0,2);
if(newCompanyGst == newPartyGst){
    return true;
}else{
    return false;
}
}

</script>







 <script>
//this ajax is for gst no 
    $(document).ready(function () {

        $(document).on('change', 'select[name^="party_name"]', function () {

            var selected_party_name = $(this).val()
            var int_selected_party_name = parseInt(selected_party_name)

            $.ajax({
                url: '/purchasevouchercreate/',
                method: 'GET',
                data: {
                    'selected_party_name': selected_party_name,
                },
                success: function (response) {
                    console.log('Data sent successfully')
                    var party_gst_no_response = response.party_gst_no
                    var gst_no_input = document.getElementById('id_GST_number')
                    gst_no_input.value = party_gst_no_response
                    getGstNo()
                    calculateTotalAmount()
                },
                error: function (xhr, errmsg, err) {
                    console.log('Error sending value to the backend');
                }
            })
        })
    })

    // this function gereate a randow uuid and store the value in unique id
function randomValue (){

    var itemShadeIdValue
 
  var itemName = document.querySelector('select[name^="purchase_voucher_items_set-"]').closest('tr');
  var selectElement = itemName.querySelector('select[name^="purchase_voucher_items_set-"]');
  var itemShadeName = selectElement.getAttribute('name');
  var totalForms = document.getElementById('id_purchase_voucher_items_set-TOTAL_FORMS').value;
 
    itemShadeIdValue = itemShadeName.split('-')[1];
   

   for( var i =0; i<totalForms ; i++){
    const uuid = uuidv4();
    var primeId = document.getElementById('id_purchase_voucher_items_set-' +i+ '-id').value;
    if(primeId == ''){
        var uniqueId = document.getElementById('item_unique_id_' + i);
        uniqueId.value = uuid;   
    }
   }
 }

  randomValue();

 </script>

 <script>
    //This ajax call is to populate the shade and color based on the selected item once retrive the value
    // When click the item name then append the shades with the color, per 
    $(document).ready(function () {
       
        var itemName;
        var uniqueIdValue;
        var purchaseValue;
        var itemShadeName ;
        var itemShadeIdValue;
        var selectName;

        $(document).on('change','select[name^="purchase_voucher_items_set-"]', function () {
        var newData = document.getElementById('purchase_voucher_items_set-'+purchaseValue+'-jsonDataInputquantity').value;
        var itemShade = document.querySelector('#input_item_shade_'+ purchaseValue);
        var itemShadeValue = document.querySelector('#purchase_voucher_items_set-'+purchaseValue+'-old_item_shade_for_dropdown_change')
       
        var selectElementValue = itemShadeValue.value;
       
        if(newData == ''){
        
            itemShade.value = selectElementValue;
            itemShade.style ="display: none";
        }

        });
        
       // perfix value on item-name change
        $(document).on('click input keyup focus keydown', 'input[name^="item_name_"]', function () {
        itemName = $(this).closest('tr').find('select[name^="purchase_voucher_items_set-"]').attr('name');
        purchaseValue = itemName.split('-')[1];
                
        });
    //perfix value on item-shade change 
    $(document).on('click','select[name^="purchase_voucher_items_set-"]',function(){
        itemShadeName = $(this).closest('tr').find('select[name^="purchase_voucher_items_set-"]').attr('name');
        itemShadeIdValue = itemShadeName.split('-')[1];
    
    })

   $(document).on('keydown','input[name^="item_name_"]',function(e){
    selectName = $(this).closest('tr').find('[id^="select_item_name_"]').attr('id');

   })
 // This ajax request for a input type value send to the backend and show the input name 
   $(document).on('input keyup click focus keydown ','input[name^="item_name_"]',function(e) {

        if( e.type === 'input' || e.type === 'keyup' || e.type === 'focus' || e.type === 'click' || e.type === 'Enter'){
           
        var nameValue = document.querySelector(`.search-input[name^="item_name_${purchaseValue}"]`).value;
        var purchaseData = document.getElementById('purchase_voucher_items_set-'+purchaseValue+'-popupData').value;
        var jsonData = document.getElementById('purchase_voucher_items_set-'+purchaseValue+'-jsonDataInputquantity').value;
        var uniqueValue = document.getElementById('item_unique_id_'+purchaseValue).value;
        
        if(nameValue == ''){
        var selectNameValue = $(this).closest('tr').find('[name^="select_item_name_"]');
             
        selectNameValue.css('display', 'none');
             
       }
    
     
      if((purchaseData == '' && uniqueValue != '' )|| (purchaseData == '' && uniqueValue == '' && jsonData == '')){
        $.ajax({
            url: '/purchasevoucheritemsearchajax/',
            method: 'GET',
            data: {
                'nameValue': nameValue,
            },
            success: function (response) {
                filtered_data_backend = response.item_name_typed
                searched_item_name_dict = response.searched_item_name_dict


              

            $('.search-input').on('keyup', function () {
                    var select = $('#' + selectName);
                    
            var searchQuery = $(this).val();
             var filteredOptions =Object.entries(searched_item_name_dict).filter(([key, value]) =>
                  value.toLowerCase().includes(searchQuery)  
                );
            
               
                // Clear and repopulate options
                select.empty();
                   
            if (filteredOptions.length > 0) {
                        select.show();
                    
                    } else { 
                        
                        select.hide();
                    }
                
          
                    $.each(filteredOptions, function(key, value) {
                        var newFilter = filteredOptions.indexOf(value);
                       
                       
                            
            select.append('<div id="itemName-div_'+newFilter+'" value="" class="itemName-div itemName-div-suggestion selected" data-key="' + value[0] + '">' + value[1] + '</div>');
                        
        });



        // Show the suggestions div if there are options, hide it otherwise
      
    });
     
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText); // Log any errors
                if(xhr.status == 400){
                    $('#' + selectName).empty(); 
                }
            }
        })
      }else{
        var itemNameData = $(this).closest('tr').find('input[name^="item_name_"]');
        var shadeNameData = $(this).closest('tr').find('select[name^="purchase_voucher_items_set-"]');
        itemNameData.attr('readonly', true);
        shadeNameData.prop('disabled', true);
    }  
        }
   })

   var index = 0; // Declare index outside of the event listener
   var indexbool = false
   
$(document).on('keydown','input[name^="item_name_"]', function(event) {
   
    var select = $(this).next('.item-name');
    var selectLength = select.find('.itemName-div').length-1;
    var inputName = document.querySelector(`.search-input[name^="item_name_${purchaseValue}"]`);
    
   
    if (event.key === 'ArrowDown') {
        event.preventDefault();
      
       if(index <= selectLength){
        
            var selectedItem = select.find('#itemName-div_' + index);
            var nameDataKey= selectedItem.text();
            var nameKey = selectedItem.data('key');

            //inputName.value = nameDataKey;
            inputName.setAttribute('data-key', nameKey);
        
            selectedItem.addClass("bg-highlight");
            selectedItem.removeClass("selected");
           
            console.log(selectedItem)
            if(index != selectLength ){
                index += 1; 
             indexbool = true;
             
            }
             
             
       }else{
           index = 0;
       }
      
       
     
     }else if(event.key === 'ArrowUp'){
           event.preventDefault();
           if (index != 0 && indexbool == true)
           {
           
                index = index - 1;
           }
          
           if(index <= selectLength){
 
            var selectedItem = select.find('#itemName-div_' + index);
            var nameDataKey= selectedItem.text();
            var nameKey = selectedItem.data('key');

            //inputName.value = nameDataKey;
            inputName.setAttribute('data-key', nameKey);
            
            selectedItem.addClass("bg-highlight");
            selectedItem.removeClass("selected");
           
            }
            else{
                    index=0
            }   
     
        }else if (event.key === 'Enter') {

        
        event.preventDefault();
        select.hide();
        var itemEnterValue = document.querySelector(`.search-input[name^="item_name_${purchaseValue}"]`);
        var  item_value = itemEnterValue.getAttribute('data-key');
       
        var newData = document.getElementById('purchase_voucher_items_set-'+purchaseValue+'-jsonDataInputquantity').value;
    
        var itemShade = document.querySelector('#input_item_shade_'+ purchaseValue);
        var itemShadeValue = document.querySelector('#purchase_voucher_items_set-'+purchaseValue+'-old_item_shade_for_dropdown_change').value
        if(newData == '' && itemShadeValue != ''){
            itemShade.value = itemShadeValue;
            itemShade.style = "display : block";
        }

            if (item_value !== undefined) {
                var selectedValue = searched_item_name_dict[item_value];
                $(this).val(selectedValue);
               
                $.ajax({
                url: '/purchasevouchercreate/',
                method: 'GET',
                data: {
                    'item_value': item_value,
                },
                success: function (response) {
                    console.log('Data sent successfully')
                    itemrownameid = itemName.split('-')[1];
                   
                    $('#' + itemName).empty().append('<option value="">Select Shade</option>'); 
                    
                    
                    var itemcolorinput = document.querySelector('#item_color_' +itemrownameid);
                    var item_color = response.item_color;
                 
                    var itemperinput = document.querySelector('#item_per_' +itemrownameid);
                    var itemperinput_response = response.item_per;
                    
                    itemcolorinput.value = item_color;
                    itemperinput.value = itemperinput_response;
                    
                    var itemgstinput = document.querySelector('#purchase_voucher_items_set-' + itemrownameid + '-gst')
                    var item_gst_value_response = response.item_gst_out;
                    itemgstinput.value = item_gst_value_response
                   
                    var item_shade_response = response.item_shade;
                    
                    var item_shade__quantity = response.item_shades_total_quantity_dict;
                 
                 
                 //once we get the response then we need to append it to the select box as a option with check the key and value
                    // if it is equal to key then append it to the select box else append it to the select box
                    $.each(item_shade_response, function (key, value) { 
                  
                        $.each(item_shade__quantity, function (key, value) { });
                        if (key == key) {
                            $('#' + itemName).append('<option value="' + key + '">' + value +  ' -  '  + item_shade__quantity[key]+ '</option>');
                          
                        }else{
                            $('#' + itemName).append('<option value="' + key + '">' + value + '</option>');
                        }
                    });
                },
                error: function (xhr, errmsg, err) {
                    console.log('Error sending value to the backend');
                }
            });  
            }
           
        }

        $(document).on('click','[name^="item_name_"]', function(event) {
          
                event.preventDefault();
                select.hide()
                       
        })
       

        $(document).on('keydown','[name^="item_name_"]', function(event) {
          if(event.key === 'Tap') {
          event.preventDefault();
          select.hide()
          } 
        
        })
        
   });   
       
  // This ajax call then select item name value send to the backend and append the shade ,color,per gst data show in the table
     
 
     
        var popupWindow = null; // Variable to hold the reference to the popup window
       
        $(document).on('change', 'select[name^="purchase_voucher_items_set-"]', function () {
           

        var selectedShade = $(this).val();
        var  uniqueIdValue = $(this).closest('tr').find('input[name^="item_unique_id_"]').val();
      
        var purchaseId = document.getElementById('id_purchase_voucher_items_set-' + purchaseValue + '-id');  
        var prefix_id = purchaseValue;

        
    
        var primary_id = null;
        var test = null;
        if(purchaseId ){
            primary_id = purchaseId.value

            if (primary_id === "") {
                primary_id = null
            }

        }else{
    
            console.log('purchaseId',purchaseId)
        }

                if (selectedShade !== "" && primary_id !== null ) {
                if (popupWindow === null || popupWindow.closed) { // Check if no popup is open or the existing one is closed
                    var minWidth = 800;
                    var minHeight = 600;
                  
                    $.ajax({
                        // Use Django URL name to fetch the URL dynamically
                        url: '{% url "purchasevoucher-createpopup-ajax" %}',
                        method: 'GET',
                        data: {
                            'selected_shade': selectedShade,
                            'purchase_id': primary_id,
                            'prefix_id':prefix_id,   
                        },
                        success: function (response) {
                            // Open the dynamic URL received from the server
                           
                            popupWindow = window.open(response.popup_url, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
                           
                        },
                        error: function (xhr, errmsg, err) {
                            console.log('Error getting popup URL');
                        }
                    });
                } else {
                    // If a popup window is already open, notify the user or take appropriate action
                    console.log('A popup window is already open');
                }
            
            }else if (uniqueIdValue !== "" && selectedShade !== "" ) {
                if (popupWindow === null || popupWindow.closed) { // Check if no popup is open or the existing one is closed
                    var minWidth = 800;
                    var minHeight = 600;
    
                    $.ajax({
                        // Use Django URL name to fetch the URL dynamically
                        url: '{% url "purchasevoucher-createpopup-ajax" %}',
                        method: 'GET',
                        data: {
                            'selected_shade': selectedShade,
                            'unique_invoice_row_id': uniqueIdValue,
                            'prefix_id':prefix_id
                        },
                        success: function (response) {
                            // Open the dynamic URL received from the server
                            popupWindow = window.open(response.popup_url, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
                        },
                        error: function (xhr, errmsg, err) {
                            console.log('Error getting popup URL');
                        }
                    });
                } else {
                    // If a popup window is already open, notify the user or take appropriate action
                    console.log('A popup window is already open');
                }
            }
            
        });

    });
</script>

<!--This script is to calculate the purchase invoice amount and create a new row to added and append it to the table-->
<script>
   function calculateTotalAmount() {
        var rows = document.querySelectorAll('#myTable tbody tr');
        var total = 0; 
        var totalQty = 0;
        var newGst =0;
        var newCgst = 0;
        var totalCgst =0;
        var newSgst = 0;
        var totalSgst =0;
        var grandTotal = 0;
        var grandTotalAmount = 0;
        // Iterate through each row
        rows.forEach(function(row) {
            // Find the quantity, rate, and amount input fields for the current row
            var quantityInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-quantity_total"]');
            var rateInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-rate"]');
            var amountInput = row.querySelector('.total-amount[name^="purchase_voucher_items_set-"][name$="-amount"]');
            var gstValue = row.querySelector('.purchase-gst[name^="purchase_voucher_items_set-"][name$="-gst"]');
            var cgstValue= row.querySelector('.purchase-cgst[name^="purchase_voucher_items_set-"][name$="-cgst"]');
            var sgstValue= row.querySelector('.purchase-sgst[name^="purchase_voucher_items_set-"][name$="-sgst"]');

            var totalAmountInput = row.querySelector('.purchase-total[name^="purchase_voucher_items_set-"][name$="-total_amount"]');
         
            // Get the values of quantity and rate
            var quantity = parseFloat(quantityInput.value);
            var rate = parseFloat(rateInput.value);
            var gst = parseFloat(gstValue.value);
         
            // Calculate the amount for the current row
           var amount = quantity * rate;
           totalQty = quantity  +  totalQty;
        // This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst
           if(getGstNo()){ 
            newGst = amount * gst / 100;
            newCgst = newGst / 2;
            newSgst = newGst / 2;
           

            cgstValue.value = isNaN(newCgst) ? '' : newCgst.toFixed(2);
            sgstValue.value = isNaN(newSgst) ? '' : newSgst.toFixed(2);
            totalCgst = totalCgst + newCgst;
            totalSgst = totalSgst + newSgst;
          
             
            // Set the calculated amount value to the amount input field
            amountInput.value = isNaN(amount) ? '' : amount.toFixed(2);

            // Set the calculated total amount value to the total amount input field

            total= total + amount;
            
            grandTotal = total + newCgst + newSgst;
        
           totalAmountInput.value = isNaN(grandTotal) ? '' : grandTotal.toFixed(2); 
           grandTotalAmount = grandTotalAmount + grandTotal; 
           document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
           document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
           document.getElementById('id_grand_cgst').value = isNaN(totalCgst) ? '' :totalCgst.toFixed(2);
           document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
          
           document.getElementById('id_grand_amount').value =isNaN(grandTotalAmount) ? '' : grandTotalAmount.toFixed(2);
           }else{
            cgstValue.value = ''

            newIgst = amount * gst / 100;
      
            sgstValue.value = isNaN(newIgst) ? '' : newIgst.toFixed(2);
           
            totalSgst = totalSgst + newIgst;
          
             
            // Set the calculated amount value to the amount input field
            amountInput.value = isNaN(amount) ? '' : amount.toFixed(2);

            // Set the calculated total amount value to the total amount input field

            total= total + amount;
            
            grandTotal = total + newIgst ;
        
           totalAmountInput.value = isNaN(grandTotal) ? '' : grandTotal.toFixed(2); 
           grandTotalAmount = grandTotalAmount + grandTotal; 
           document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
           document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
           document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
          
           document.getElementById('id_grand_amount').value =isNaN(grandTotalAmount) ? '' : grandTotalAmount.toFixed(2);
           }
         
        });   
        
    }
        function calculateOtherTotal(grandTotal) {

         var grandTotal = parseFloat(document.getElementById('id_grand_amount').value);
        
          var  grossTotal = grandTotal;      
    
        // Set the calculated gross total value to the gross total input field
        document.getElementById('id_gross_total').value =isNaN(grossTotal) ? '' : grossTotal.toFixed(2);

        var frightTransport = parseFloat(document.getElementById('id_fright_transport').value);

        var finalTotal = grossTotal + frightTransport;

        document.getElementById('temp_grand_total').value =isNaN(finalTotal) ? '' : finalTotal.toFixed(2);

          
        var finalTotals = Math.round(finalTotal)

        var roundOff = finalTotals - finalTotal;
        document.getElementById('id_round_off').value =isNaN(roundOff) ? '' : roundOff.toFixed(2);
        // Set the calculated grand total value to the grand total input field
        document.getElementById('id_grand_total').value = isNaN(finalTotals) ? '' : finalTotals.toFixed(2);
    }

    // Call the function initially to calculate total amount, GST, and grand total on page load
    calculateTotalAmount();
   
  
    // Add onchange event handler to id_fright_transport
    document.getElementById('id_fright_transport').addEventListener('input', calculateOtherTotal);
    document.getElementById('id_round_off').addEventListener('input', calculateOtherTotal);
     
    function deleteCalculationRow(){
        var total = 0; // Total amount across all rows
        var totalQty = 0; // Total quantity
        var totalRate = 0;
        var totalSgst= 0;
        var totalCgst = 0;
        var grandAmount =0;
        
        var totalRow = document.querySelectorAll('#myTable tbody tr');
        
        var visibleRow = Array.from(totalRow).filter(function(row) {
            var style = window.getComputedStyle(row);
            return style.display !== 'none';
        })

  

        visibleRow.forEach(function (row){
            var quantityInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-quantity_total"]');
            var rateInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-rate"]');
            var amountInput = row.querySelector('.total-amount[name^="purchase_voucher_items_set-"][name$="-amount"]');
            var gstValue = row.querySelector('.purchase-gst[name^="purchase_voucher_items_set-"][name$="-gst"]');
            var cgstValue= row.querySelector('.purchase-cgst[name^="purchase_voucher_items_set-"][name$="-cgst"]');
            var sgstValue= row.querySelector('.purchase-sgst[name^="purchase_voucher_items_set-"][name$="-sgst"]');
            var totalAmountInput = row.querySelector('.purchase-total[name^="purchase_voucher_items_set-"][name$="-total_amount"]');

            var quantity = parseFloat(quantityInput.value);
            var rate = parseFloat(rateInput.value);
            var amount = parseFloat(amountInput.value);
            var gst = parseFloat(gstValue.value);
            var cgst = parseFloat(cgstValue.value);
            var sgst = parseFloat(sgstValue.value);
            var totalAmount = parseFloat(totalAmountInput.value);


            total= total + amount;

            totalQty = totalQty+ quantity;

            totalSgst = totalSgst + sgst;
            totalCgst = totalCgst + cgst;

            grandAmount = grandAmount + totalAmount;

           });
           
      if(getGstNo()){
        document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
           document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
           document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
           document.getElementById('id_grand_cgst').value = isNaN(totalCgst) ? '' : totalCgst.toFixed(2);
           document.getElementById('id_grand_amount').value =isNaN(grandAmount) ? '' : grandAmount.toFixed(2)

         }else{
            document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
           document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
           document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
         
           document.getElementById('id_grand_amount').value =isNaN(grandAmount) ? '' : grandAmount.toFixed(2)

         }
           
     
    }
    
    function deleteAlltotal(grandAmount){
        var grandTotal = parseFloat(document.getElementById('id_grand_amount').value);
        
        var  grossTotal = grandTotal;      
  
      // Set the calculated gross total value to the gross total input field
      document.getElementById('id_gross_total').value =isNaN(grossTotal) ? '' : grossTotal.toFixed(2);

      var frightTransport = parseFloat(document.getElementById('id_fright_transport').value);

      var finalTotal = grossTotal + frightTransport;

      document.getElementById('temp_grand_total').value =isNaN(finalTotal) ? '' : finalTotal.toFixed(2);

        
      var finalTotals = Math.round(finalTotal)

      var roundOff = finalTotals - finalTotal;
      document.getElementById('id_round_off').value =isNaN(roundOff) ? '' : roundOff.toFixed(2);
      // Set the calculated grand total value to the grand total input field
      document.getElementById('id_grand_total').value = isNaN(finalTotals) ? '' : finalTotals.toFixed(2);

    }

   
    function addEventListenersToInputs() {
        var inputs = document.querySelectorAll('#myTable tbody tr input');
        inputs.forEach(function(input) {
            input.addEventListener('input', function() {
                calculateTotalAmount();
                calculateOtherTotal();
                deleteCalculationRow();
                deleteAlltotal();
             
            });
        });
       
    }
  
    // Event listener for the add row button
    document.addEventListener('DOMContentLoaded', function () {
    const addButton= document.getElementById('addRowButton');
    const tableBody = document.querySelector('#myTable tbody'); // Clone the first row of the table
    
    if(addButton && tableBody){
        addButton.addEventListener('click', function() {
            const formCountInput = document.getElementById("id_purchase_voucher_items_set-TOTAL_FORMS");
            const formCount = parseInt(formCountInput.value);
            
            const lastRow = tableBody.lastElementChild.cloneNode(true); // clone the last row of the table
            lastRow.style.display= 'table-row'; // Ensure the cloned row is visible
            const formIndex = formCount;
            lastRow.querySelectorAll("input, select").forEach(function(el) { 
            el.value = ""; 
            });

            // update the input name,id and value of the last row   
            const rowElement = lastRow.querySelector('.rowNo[name^="rowNo_"]');
            rowElement.id = `rowNo_${formIndex}`;
            rowElement.name = `rowNo_${formIndex}`;
            rowElement.textContent = formIndex + 1;
            rowElement.style.border="none";

            


            const inputSelectElement = lastRow.querySelector('.search-input[name^="item_name_"]');
            inputSelectElement.id = `item_name_${formIndex}`;
            inputSelectElement.name = `item_name_${formIndex}`;
            inputSelectElement.value="";
            inputSelectElement.removeAttribute('readonly');
            
            const oldShadeElement = lastRow.querySelector('[name^="input_item_shade_"]');
            oldShadeElement.id = `input_item_shade_${formIndex}`;
            oldShadeElement.name =  `input_item_shade_${formIndex}`;
            oldShadeElement.value="";
            oldShadeElement.style.display = 'none';

            const selectElement = lastRow.querySelector('.item-name[name^="select_item_name_"]');
            selectElement.id = `select_item_name_${formIndex}`;
            selectElement.name = `select_item_name_${formIndex}`;
            selectElement.innerHTML = '';
          
           

            // Update input name and id
            const colorInputElement = lastRow.querySelector('.purchase-input[name^="item_color"]');
            colorInputElement.id = `item_color_${formIndex}`;
            colorInputElement.name = `item_color_${formIndex}`;
            colorInputElement.value="";

            const selectElementShade = lastRow.querySelector('.item-shade[name^="purchase_voucher_items_set-"][name$="-item_shade"]');
            selectElementShade.id = `purchase_voucher_items_set-${formIndex}-item_shade`;
            selectElementShade.name = `purchase_voucher_items_set-${formIndex}-item_shade`;
            selectElementShade.innerHTML = '';
            selectElementShade.removeAttribute('disabled');

            const qunatityInputElement = lastRow.querySelector('.purchase-qunatity[name^="purchase_voucher_items_set-"][name$="-quantity_total"]');
            qunatityInputElement.id = `purchase_voucher_items_set-${formIndex}-quantity_total`;
            qunatityInputElement.name = `purchase_voucher_items_set-${formIndex}-quantity_total`;
            qunatityInputElement.value="";

            const rateInputElement = lastRow.querySelector('.purchase-rate[name^="purchase_voucher_items_set-"][name$="-rate"]');
            rateInputElement.id = `purchase_voucher_items_set-${formIndex}-rate`;
            rateInputElement.name = `purchase_voucher_items_set-${formIndex}-rate`;
            rateInputElement.value="";

            const perInputElement = lastRow.querySelector('.purchase-input[name^="item_per"]');
            perInputElement.id = `item_per_${formIndex}`;
            perInputElement.name = `item_per_${formIndex}`;
            perInputElement.value="";

            const amountInputElement = lastRow.querySelector('.total-amount');
            amountInputElement.id = `purchase_voucher_items_set-${formIndex}-amount`;
            amountInputElement.name = `purchase_voucher_items_set-${formIndex}-amount`;
            amountInputElement.value="";

            const gstElement = lastRow.querySelector('.purchase-gst[name^="purchase_voucher_items_set-"][name$="-gst"]');
            gstElement.id = `purchase_voucher_items_set-${formIndex}-gst`;
            gstElement.name = `purchase_voucher_items_set-${formIndex}-gst`;
            gstElement.value="";
            
            
            const cgstElement = lastRow.querySelector('.purchase-cgst[name^="purchase_voucher_items_set-"][name$="-cgst"]');
            cgstElement.id = `purchase_voucher_items_set-${formIndex}-cgst`;
            cgstElement.name = `purchase_voucher_items_set-${formIndex}-cgst`;
            cgstElement.value="";

            const sgstElement = lastRow.querySelector('.purchase-sgst[name^="purchase_voucher_items_set-"][name$="-sgst"]');
            sgstElement.id = `purchase_voucher_items_set-${formIndex}-sgst`;
            sgstElement.name = `purchase_voucher_items_set-${formIndex}-sgst`; 
            sgstElement.value="";

            const TotalAmountElement = lastRow.querySelector('.purchase-total[name^="purchase_voucher_items_set-"][name$="-total_amount"]');
            TotalAmountElement.id = `purchase_voucher_items_set-${formIndex}-total_amount`;
            TotalAmountElement.name = `purchase_voucher_items_set-${formIndex}-total_amount`;
            TotalAmountElement.value="";

           const uniqueElement = lastRow.querySelector('.unique-id');
           uniqueElement.id = `item_unique_id_${formIndex}`;
           uniqueElement.name = `item_unique_id_${formIndex}`;
           uniqueElement.value= uuidv4();

           const backendQtyElement = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-jsonDataInputquantity"]');
           backendQtyElement.id = `purchase_voucher_items_set-${formIndex}-jsonDataInputquantity`;
           backendQtyElement.name = `purchase_voucher_items_set-${formIndex}-jsonDataInputquantity`;
           backendQtyElement.value= "";
           
           const popUpElement = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-popupData"]');
           popUpElement.id = `purchase_voucher_items_set-${formIndex}-popupData`;
           popUpElement.name = `purchase_voucher_items_set-${formIndex}-popupData`;
           popUpElement.value= "";


           const deleteElement = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-DELETE"]');
           deleteElement.id = `purchase_voucher_items_set-${formIndex}-DELETE`;
           deleteElement.name = `purchase_voucher_items_set-${formIndex}-DELETE`;
           deleteElement.value= "";
           
           const deletedCheckBoxElement = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-deleteJsonData"]');
           deletedCheckBoxElement.id = `purchase_voucher_items_set-${formIndex}-deleteJsonData`;
           deletedCheckBoxElement.name = `purchase_voucher_items_set-${formIndex}-deleteJsonData`;
           deletedCheckBoxElement.value = '';

           const olditemshadeElement = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-old_item_shade"]');
           olditemshadeElement.id = `purchase_voucher_items_set-${formIndex}-old_item_shade`;
           olditemshadeElement.name = `purchase_voucher_items_set-${formIndex}-old_item_shade`;
           olditemshadeElement.value = '';

           const olditemshadeElementforupdate = lastRow.querySelector('input[name^="purchase_voucher_items_set-"][name$="-old_item_shade_for_dropdown_change"]');
           olditemshadeElementforupdate.id = `purchase_voucher_items_set-${formIndex}-old_item_shade_for_dropdown_change`;
           olditemshadeElementforupdate.name = `purchase_voucher_items_set-${formIndex}-old_item_shade_for_dropdown_change`;
           olditemshadeElementforupdate.value = '';
            
            tableBody.appendChild(lastRow);
           
            addEventListenersToInputs(lastRow);
            calculateTotalAmount(); 
            deleteCalculationRow();
            deleteAlltotal();
            deleteRowData();
            formCountInput.value = formCount + 1;    
        });
        
    }else{
        console.error("Could not find addFormButton or table body element.");

    }
	addEventListenersToInputs(); // Add event listeners to the new row inputs
    calculateTotalAmount();
    calculateOtherTotal();
    deleteCalculationRow();
    deleteAlltotal();
  


    // Call function to add event listeners to existing rows' inputs
    

   function deleteRowData(){
    // Add click event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            // Find the row containing the clicked delete button
            var row = this.closest('tr');
            var checkRow = row.querySelector('.godown_deleteId[name^="purchase_voucher_items_set-"][name$="-DELETE"]');
            if (checkRow) {
                checkRow.checked = true; // Mark as checked
                checkRow.value = 'true'; // Set the value to 'true'

                row.style.display = 'none';
                deleteCalculationRow();
                deleteAlltotal();
              
                
            } else {
                console.error("Checkbox for deletion not found in this row");
            }
        });
    });
};
deleteRowData();
});
addEventListenersToInputs();
    // Call calculateTotalAmount initially to calculate total on page load
    calculateTotalAmount();

    calculateOtherTotal();
    deleteCalculationRow();
    deleteAlltotal();

  </script>

{% endblock body %}