{% extends 'product/base.html' %} 
{% load static %} 

{% block body %} 
<div>
        <h2>Purchase invoice</h2>
        <form class="mt-5" action="" method="POST">
            {% csrf_token %}
       
        <div class="d-flex mb-3">
            <label for="id_purchase_number"  class="item-form">Purchase No</label>
            <input type="number" class="item-select" name="purchase_number" id ="id_purchase_number" value="{{master_form.instance.purchase_number}}" maxlength="255" required >
        </div>
        <div class="d-flex mb-3">
            <label for="id_supplier_invoice_number" class="item-form" >Supplier Invoice No</label>
            <input type="number" class="item-select" name="supplier_invoice_number" id ="id_supplier_invoice_number" value="{{master_form.instance.supplier_invoice_number}}" maxlength="255" required >
        </div>
        <div class="d-flex mb-3">
            <label for="id_ledger_type" class="item-form" >ledger Type</label>
            <input type="text" class="item-select" name="ledger_type" id ="id_ledger_type" value="{{master_form.instance.ledger_type}}" maxlength="50" default='Purchase' readonly required placeholder="Purchase" >
        </div>
        <div class="d-flex mb-3">
            <label for="id_party_name" class="item-form" >Party A/C Name</label>
            <select class="item-select" name="party_name" required id="id_party_name">
            {% if master_form.instance.id %}
            {% for x in party_names %}
            <option value="{{x.id}}">{{x.name}}</option>
            {% endfor %}
            {% elif not master_form.instance.id %}
            <option value=""></option>
            {% endif %}
            {% for x in party_names %}
            <option value="{{x.id}}">{{x.name}}</option>
            {% endfor %}
    
            </select>
        </div>
        
       
    <div class="">
        <table id="myTable" class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Item Name</th>
                    <th>Colour</th>
                    <th>Shade</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Units</th>
                    <th>Amount</th>
                    <th>CGST</th>
                    <th>SGST/IGST</th>
                    <th>Total Amount</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                {{items_formset.management_form}}
                {% for forms in items_formset %}
                {{ forms.id }}
                
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td> 
                        <select name="item_name_{{forloop.counter0}}" class="item-select item-name" placeholder="Item Name" id="item_name_{{forloop.counter0}}">

                            {% if forms.instance.id %}
                            <option value="{{forms.instance.item_shade.items.id}}">{{forms.instance.item_shade.items.item_name}}</option>
                            {% for item in items %}
                            <option value="{{item.id}}">{{item.item_name}}</option>
                            {% endfor %}
                            {% elif not forms.instance.id %}
                            <option value=""></option>
                            {% for item in items %}
                            <option value="{{item.id}}">{{item.item_name}}</option>
                            {% endfor %}
                            {% endif %}
                          </select>
                        
                    </td>
                    <td>
                        <input type="text" name="item_color_{{forloop.counter0}}" id="item_color_{{forloop.counter0}}" value="{% if forms.instance.id %} {{ forms.instance.item_shade.items.Item_Color.color_name }}{% endif %}" class="purchase-input"readonly>
                    </td>
                    <td>
                        <select name="{{forms.prefix}}-item_shade" class="item-select item-shade" placeholder="Item Shades"  id="{{forms.prefix}}-item_shade">

                             {% if forms.instance.id %} 
                             <option value="{{forms.instance.item_shade.id}}">{{forms.instance.item_shade.item_shade_name}}</option>

                             {% elif not forms.instance.id %}
                             <option value=""></option>
                             {% endif %}

                        </select>
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-quantity_total" class="purchase-input purchase-qunatity" name="{{forms.prefix}}-quantity_total" value="{{forms.instance.quantity_total | default_if_none:'' }}" >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-rate" class="purchase-input purchase-rate" name="{{forms.prefix}}-rate" value="{{forms.instance.rate | default_if_none:''}}" >
                    </td>
                    <td>
                        <input type="text" name="item_per_{{forloop.counter0}}" id="item_per_{{forloop.counter0}}" value="{% if forms.instance.id %} {{ forms.instance.item_shade.items.unit_name_item.unit_name }}{% endif %}" class="purchase-input" readonly>
                    </td>
                    <td>
                        <input type="text" id="{{forms.prefix}}-amount" class="purchase-amount total-amount" name="{{forms.prefix}}-amount" value="{{forms.instance.amount | default_if_none:''}}"  style="border: none;">
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-cgst" class="purchase-input purchase-cgst" name="{{forms.prefix}}-cgst" value="{{forms.instance.cgst | default_if_none:''}}" >
                    </td>
                    <td>
                        <input type="number" id="{{forms.prefix}}-sgst" class="purchase-input purchase-sgst" name="{{forms.prefix}}-sgst" value="{{forms.instance.sgst | default_if_none:''}}" >
                    </td>
                    <td>
                        <input type="text" id="{{forms.prefix}}-total" class="purchase-input purchase-total" name="{{forms.prefix}}-total" value="{{forms.instance.total | default_if_none:''}}" >
                    </td>
                    <td>{{ forms.DELETE }}</td>
                    
                 </tr>   
            
            {% endfor %}
        </tbody>


        </table>
        <button type="button" class="create-btn" id="addRowButton">Add +</button>
    
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Item Name: </h3> 
              <h3 class="modal-title" id="exampleModalLabel">shade Name:</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-striped table-hover" id="newTable">
                        <thead>
                            <tr>
                                <th>Godowns</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                          
                            {{godown_formsets.management_form}}
                            {% for g_forms in godown_formsets %}
                    

                            <tr>
                                <td><select name="{{g_forms.prefix}}-godown_select" id="{{g_forms.prefix}}-godown_select" class="purchase-input godown-select" value="">
                                    {% if g_forms.instance.id %}
                                    <option value="{{g_forms.instance.godown_select.id}}">{{g_forms.instance.godown_select.godown_name_raw}}</option>

                                    {% for godown in item_godowns_raw %}
                                    <option value="{{godown.id}}">{{godown.godown_name_raw}}</option>
                                    {% endfor %}


                                    {% elif not g_forms.instance.id %}
                                    <option value=""></option>
                                    {% for godown in item_godowns_raw %}
                                    <option value="{{godown.id}}">{{godown.godown_name_raw}}</option>
                                    {% endfor %}
                                   {% endif %}

                                </select></td>
                                <td><input type="number" name="{{g_forms.prefix}}-quantity" id="{{g_forms.prefix}}-quantity" class="purchase-input godown-quantity" value=""></td>
                                <td><input type="number" name="{{g_forms.prefix}}-rate"  id="{{g_forms.prefix}}-rate" class="purchase-input godown-rate" value="">
                                </td>
                                <td><input type="number" name="{{g_forms.prefix}}-amount"  id="{{g_forms.prefix}}-amount" class="purchase-input godown-amount" value="" readonly>
                                </td>
                                <td><button class="border-0 bg-transparent delete-btn" ><i class="fa-solid fa-trash text-danger px-2"></button></td>
                                <input type="hidden" class="purchase-amount" name="grand_godown_quantity" id ="grand_godown_quantity" value="" maxlength="50" step=".01"  >
                  
                                <input type="hidden" class="purchase-amount" name="grand_godown_amount" id ="grand_godown_amount" value="" maxlength="50" step=".01"  >
                                </tr>
                            {% endfor %}
                    </table>
                   <button type="button" class="create-btn" id="addModalButton">Add +</button>
                </form>
                
            </div>
            <div class="modal-footer">
              <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
              <button type="button" class="modal-btn" id="confirmSaveButton">Save</button>
            </div>
          </div>
        </div>
      </div>
  
           

<div class="table-left">
    <div class="d-flex mb-3">

        <input type="hidden" class="purchase-amount" name="grand_amount" id ="id_grand_amount" value="" maxlength="50" step=".01"  >
    </div>
    <div class="d-flex mb-3">
        <span class="item-form fw-bold">Fright & Transport</span>
        <input type="number" class="purchase-amount" name="fright_transport" id ="id_fright_transport" value="{{master_form.instance.fright_transport}}" maxlength="50" step=".01" required >

    </div>
    <div class="d-flex mb-3">
        <span  class="item-form fw-bold" >Gross total</span>
        <input type="number" class="purchase-amount" name="gross_total" id ="id_gross_total" value="{{master_form.instance.gross_total}}" maxlength="50" required >
    </div>
    <div class="d-flex mb-3">
        <label for="id_gst_rate" class="item-form fw-bold" >GST
            <select class="rounded-1" name="gst_rate" required id="id_gst_rate">
                {% if master_form.instance.id %}
                <option value="{{master_form.instance.gst_rate.id}}">{{master_form.instance.gst_rate.gst_percentage}}</option>
                {% for x in Purchase_gst %}
                <option value="{{x.id}}">{{x.gst_percentage}}</option>
                {% endfor %}
                {% elif not master_form.instance.id %}
                <option value=""></option>
                {% for x in Purchase_gst %}
                <option value="{{x.id}}">{{x.gst_percentage}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </label>
        <input type="number" step="0.01" class="purchase-amount" name="" value="" id="id_gst" > 
    </div>
    <div class="d-flex mb-3">
        <label for="id_grand_total" class="item-form fw-bold" >Grand total</label>
          <input type="text" class="purchase-amount" name="grand_total" value="{{master_form.instance.grand_total}}" id="id_grand_total">
    </div>
</div>



<input type="submit" class="add_btn">
 </form>
 <script>
    // This is for the modal open and crate a new table row
    document.body.appendChild(document.getElementById('exampleModal'));
    
    $(document).ready(function(){
     
        $(document).on('change','.item-shade',function(){ // change event on the select element 
           
            var selectValue = $(this).val();
            var itemId = $(this).data('item-id');
            console.log(selectValue);
            if(selectValue !== ''){
            
            $('#exampleModal').modal('show');  // open the modal on change the shades select element
           
            }
           
        });

        $(document).on('input', '.godown-quantity' &&' .godown-rate', function() {
            //call the calculation function when qunatity and rate is changed   
            calculateGodownAmount();
        })
        
        // create a new row when add button is clicked with the changes with name ,id and value attributes
        $(document).on('click', '#addModalButton', function() {
        var newTableValue = document.getElementById('id_shade_godown_items_set-TOTAL_FORMS');
        var formsValue = parseInt(newTableValue.value);
        
        var tableClone = $('#exampleModal').find('#newTable tbody tr').last().clone(true);
            //update the input name and id for the new row
        const newGodownItem = tableClone.find('select[name^="shade_godown_items_set-"][name$="-godown_select"]');
        newGodownItem.attr('name', 'shade_godown_items_set-' + formsValue + '-godown_select');
        newGodownItem.attr('id', 'id_shade_godown_items_set-' + formsValue + '-godown_select');
        newGodownItem.val('');
      

        const newQuantity = tableClone.find('input[name^="shade_godown_items_set-"][name$="-quantity"]');
        newQuantity.attr('name', 'shade_godown_items_set-' + formsValue + '-quantity');
        newQuantity.attr('id', 'id_shade_godown_items_set-' + formsValue + '-quantity');
        newQuantity.val('');
       

        const newRate = tableClone.find('input[name^="shade_godown_items_set-"][name$="-rate"]');
        newRate.attr('name', 'shade_godown_items_set-' + formsValue + '-rate');
        newRate.attr('id', 'id_shade_godown_items_set-' + formsValue + '-rate');
        newRate.val('');
       

        const newAmount = tableClone.find('input[name^="shade_godown_items_set-"][name$="-amount"]');
        newAmount.attr('name', 'shade_godown_items_set-' + formsValue + '-amount');
        newAmount.attr('id', 'id_shade_godown_items_set-' + formsValue + '-amount');
        newAmount.val('');

        $('#newTable tbody').append(tableClone);

        newTableValue.value = formsValue + 1;

       
        
    });
   // This funcion calculate the amount for each row then set the total amount and total quantity
    function calculateNewRow(row) {
        var inputQty = row.find('.godown-quantity[name^="shade_godown_items_set-"][name$="-quantity"]').val();
        var inputQtyValue = parseInt(inputQty);
        var inputRate = row.find('.godown-rate[name^="shade_godown_items_set-"][name$="-rate"]').val();
        var inputRateValue = parseInt(inputRate);
        var totalAmount = row.find('.godown-amount[name^="shade_godown_items_set-"][name$="-amount"]').val();
    
        // Calculate and set the amount for this row
        var amount = inputQtyValue * inputRateValue;
        
        totalAmount = isNaN(amount) ? '' : amount.toFixed(2);
        row.find('.godown-amount[name^="shade_godown_items_set-"][name$="-amount"]').val(totalAmount);
        return amount;
       
    }
    // calculate the total quantity
    function calculateQty(row) {
        var inputQty = row.find('.godown-quantity[name^="shade_godown_items_set-"][name$="-quantity"]').val();
        var inputQtyValue = parseInt(inputQty);
        return inputQtyValue;
      
    }
    // Function to calculate total amount
    function calculateGodownAmount() {
        var total = 0;
        var totalQty = 0;
        // Iterate over each row in the table body
        $('#newTable tbody tr').each(function() {
        var newAmount = calculateNewRow($(this));
        var newQty = calculateQty($(this));
        totalQty += newQty;
        total += newAmount;
  
        });


        // Update the total amount field
        $('#grand_godown_amount').val(total);
        $('#grand_godown_quantity').val(totalQty);
    }
     
    // Delete row from delete button
       $(document).on('click', '.delete-btn', function(){
        var tableRows = $('#newTable tbody tr');
          if (tableRows.length == 1) { // Check if the table has only one row
        // If table is empty, append a new row
        $('#addModalButton').trigger('click');
    } else {
        $(this).closest('tr').remove();
    }
          
        });
    
        
    });
</script>

 <script>
    //This ajax call is to populate the shade and color based on the selected item once retrive the value
    // When click the item name then append the shades with the color, per 
    $(document).ready(function () {
        var itemName;
        var lastSelectedItem = '';
        $(document).on('click', 'select[name^="item_name_"]', function () {
        itemName = $(this).closest('tr').find('select[name^="purchase_voucher_items_set-"]').attr('name');
        console.log('itename',itemName);
    });
     $(document).on('change', 'select[name^="item_name_"]', function () {
            var item_value = $(this).val();          
            $.ajax({
                url: '/purchasevouchercreate/',
                method: 'GET',
                data: {
                    'item_value': item_value,
                },
                success: function (response) {
                    console.log('Data sent successfully')
                    itemrownameid = itemName.split('-')[1];
                    console.log(itemrownameid);
                    $('#' + itemName).empty().append('<option value="">Select Shade</option>'); 
                    

                    var itemcolorinput = document.querySelector('#item_color_' +itemrownameid);
                    var item_color = response.item_color;
                 
                    
                    var itemperinput = document.querySelector('#item_per_' +itemrownameid);
                    var itemperinput_response = response.item_per;
                    
                    itemcolorinput.value = item_color;
                    itemperinput.value = itemperinput_response;



                    var item_shade_response = response.item_shade;
                    var item_shade__quantity = response.item_shades_total_quantity_dict;
                    
                 //once we get the response then we need to append it to the select box as a option with check the key and value
                    // if it is equal to key then append it to the select box else append it to the select box
                    $.each(item_shade_response, function (key, value) { 
                  
                        $.each(item_shade__quantity, function (key, value) { });
                        if (key == key) {
                            $('#' + itemName).append('<option value="' + key + '">' + value +  ' -  '  + item_shade__quantity[key]+ '</option>');
                        }else{
                            $('#' + itemName).append('<option value="' + key + '">' + value + '</option>');
                        }
                        
                     
                    });
                    
                },
                
                error: function (xhr, errmsg, err) {
                    console.log('Error sending value to the backend');
                }
               
            });
            
        });
        
    });
</script>

<!--This script is to calculate the purchase invoice amount and create a new row to added and append it to the table-->
<script>
   function calculateTotalAmount() {
        var rows = document.querySelectorAll('#myTable tbody tr');
        var total = 0;
        
       
        // Iterate through each row
        rows.forEach(function(row) {
            // Find the quantity, rate, and amount input fields for the current row
            var quantityInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-quantity_total"]');
            var rateInput = row.querySelector('.purchase-input[name^="purchase_voucher_items_set-"][name$="-rate"]');
            var amountInput = row.querySelector('.total-amount[name^="purchase_voucher_items_set-"][name$="-amount"]');
         
            // Get the values of quantity and rate
            var quantity = parseFloat(quantityInput.value);
            var rate = parseFloat(rateInput.value);

            // Calculate the amount for the current row
           var amount = quantity * rate;
        
            // Set the calculated amount value to the amount input field
            amountInput.value = isNaN(amount) ? '' : amount.toFixed(2);

            // Add the amount to the total
            total= total + amount;
            
          
           document.getElementById('id_grand_amount').value = total.toFixed(2);
        });
      
        
    }
       
        // Set the calculated total value to the total input field
        // Get the value of the fright & transport
        function calculateOtherTotal(total) {
         
         var grandTotal = parseFloat(document.getElementById('id_grand_amount').value);
        
        var frightTransport = parseFloat(document.getElementById('id_fright_transport').value);
        
           
        // Calculate the gross total by adding the total amount and the fright & transport
        var grossTotal = grandTotal + frightTransport;
        
        // Set the calculated gross total value to the gross total input field
        document.getElementById('id_gross_total').value = grossTotal.toFixed(2);

        // Get the value of GST rate
        var gstRate = document.getElementById('id_gst_rate');
       
        var newGstRate = gstRate.options[gstRate.selectedIndex].text;
       
       
        // Calculate GST amount
        var gstAmount = (grossTotal * newGstRate) / 100;

        // Set the calculated GST value to the GST input field
        document.getElementById('id_gst').value = gstAmount.toFixed(2);

        // Calculate grand total by adding gross total and GST amount
        var grandTotal = grossTotal + gstAmount;

        // Set the calculated grand total value to the grand total input field
        document.getElementById('id_grand_total').value = grandTotal.toFixed(2);
    }

    // Call the function initially to calculate total amount, GST, and grand total on page load
    calculateTotalAmount();
   
    
    // Add onchange event handler to id_fright_transport
    document.getElementById('id_fright_transport').addEventListener('input', calculateOtherTotal);
   
   
    // Add onchange event handler to id_gst_rate
    document.getElementById('id_gst_rate').addEventListener('change', calculateOtherTotal);
    // Function to add event listeners to quantity and rate inputs
    function addEventListenersToInputs() {
        var inputs = document.querySelectorAll('#myTable tbody tr input');
        inputs.forEach(function(input) {
            input.addEventListener('input', function() {
                calculateTotalAmount();
                calculateOtherTotal();
                
            });
        });
       
    }
  
    // Event listener for the add row button
    document.addEventListener('DOMContentLoaded', function () {
    const addButton= document.getElementById('addRowButton');
    const tableBody = document.querySelector('#myTable tbody'); // Clone the first row of the table
    
    if(addButton && tableBody){
        addButton.addEventListener('click', function() {
            const formCountInput = document.getElementById("id_purchase_voucher_items_set-TOTAL_FORMS");
            const formCount = parseInt(formCountInput.value);
            const lastRow = tableBody.lastElementChild.cloneNode(true); // clone the last row of the table
            const formIndex = formCount;
            lastRow.querySelectorAll("input, select").forEach(function(element) { 
                element.value = null; 
            });
            // update the input name,id and value of the last row      
            const selectElement = lastRow.querySelector('.item-name');
            selectElement.id = `item_name_${formIndex}`;
            selectElement.name = `item_name_${formIndex}`;
            selectElement.value="";

            // Update input name and id
            const colorInputElement = lastRow.querySelector('.purchase-input[name^="item_color"]');
            colorInputElement.id = `item_color_${formIndex}`;
            colorInputElement.name = `item_color_${formIndex}`;
            colorInputElement.value="";

            const selectElementShade = lastRow.querySelector('.item-shade');
            selectElementShade.id = `purchase_voucher_items_set-${formIndex}-item_shade`;
            selectElementShade.name = `purchase_voucher_items_set-${formIndex}-item_shade`;
            selectElementShade.value='null';

            const qunatityInputElement = lastRow.querySelector('.purchase-qunatity[name^="purchase_voucher_items_set-"][name$="-quantity_total"]');
            qunatityInputElement.id = `purchase_voucher_items_set-${formIndex}-quantity_total`;
            qunatityInputElement.name = `purchase_voucher_items_set-${formIndex}-quantity_total`;
            qunatityInputElement.value="";

            const rateInputElement = lastRow.querySelector('.purchase-rate[name^="purchase_voucher_items_set-"][name$="-rate"]');
            rateInputElement.id = `purchase_voucher_items_set-${formIndex}-rate`;
            rateInputElement.name = `purchase_voucher_items_set-${formIndex}-rate`;
            rateInputElement.value="";

            const perInputElement = lastRow.querySelector('.purchase-input[name^="item_per"]');
            perInputElement.id = `item_per_${formIndex}`;
            perInputElement.name = `item_per_${formIndex}`;
            perInputElement.value="";

            const amountInputElement = lastRow.querySelector('.total-amount');
            amountInputElement.id = `purchase_voucher_items_set-${formIndex}-amount`;
            amountInputElement.name = `purchase_voucher_items_set-${formIndex}-amount`;
            amountInputElement.value="";


            tableBody.appendChild(lastRow);
           
            addEventListenersToInputs(lastRow);
            calculateTotalAmount();  
            
            formCountInput.value = formCount + 1;    
        });
        
    }else{
        console.error("Could not find addFormButton or table body element.");

    }
	addEventListenersToInputs(); // Add event listeners to the new row inputs
    calculateTotalAmount();
    calculateOtherTotal();
});

  
    // Call function to add event listeners to existing rows' inputs
    addEventListenersToInputs();
    // Call calculateTotalAmount initially to calculate total on page load
    calculateTotalAmount();

    calculateOtherTotal();
  </script>



{% endblock body %}