{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}
<div>
      <h2>Purchase Invoice List</h2>
      <div class="">
        
          <div class="d-flex mb-3">
            <button class="acc-btn" onclick="">Add Invoice +</button>
            <div class="container-account"> 
             <input class="" type="search" placeholder="Search" aria-label="Search" id="" name="" />
               <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
           </div>
          </div>  
         
        <div class="row">
          <div class="col-lg-6">
            <table class="table table-striped table-hover table-responsive table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="name_absolute">No</th>
                  <th scope="col" class="name_absolute">Date</th>
                  <th scope="col" class="name_absolute">Party A/c Name</th>
                  <th scope="col" class="name_absolute">Voucher Type</th>
                  <th scope="col" class="name_absolute">Voucher No</th>
                  <th scope="col" class="name_absolute">Debit Amount</th>
                  <th scope="col" class="name_absolute">Credit Amount</th>
                  <th scope="col" class="name_absolute">Edit</th>
                  <th scope="col" class="name_absolute">Delete</th>
                 
                </tr>
              </thead>
              
              <tbody class="mainTableList">
              
              <tr>
                <td>1</td>
                <td>01-01-2022</td>
                <td>(Akash Enterprises)</td>
                <td>Purchases</td>
                <td>7979</td>
                <td>1</td>
                <td>1</td>
                <td><a href=""><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
                <td><a href=""><i class="fa-solid fa-trash text-danger px-2"></i></a></td>
              </tr>
             
             
              </tbody>
              
            </table>
          </div>  
         
        </div>
   
    </div>
    
  

{% endblock body %}