{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="row mt-4">
  <div class="col-lg-5">
      <form  action="" method="POST" id="factoryEmpForm">
        {% csrf_token %}  
       <div class="d-flex mb-3">
        <label for="id_factory_emp_name" class="item-form">Worker Name:</label>
        <input type="text" class="item-select search-input" value="{{ form.instance.factory_emp_name }}" name="factory_emp_name" maxlength="255" required id="id_factory_emp_name">
       </div>
       <div class="d-flex mb-3">
        <label for="id_cutting_room_id" class="item-form">Cutting Room:</label>
        <select name="cutting_room_id" id="id_cutting_room_id" class="item-select" style="width: 300px !important;">
          {% if form.instance.id %}
          <option value="{{form.instance.cutting_room_id.id}}">{{form.instance.cutting_room_id.cutting_room_name}}</option>
          {% for room in cutting_rooms %}
          <option value="{{room.id}}">{{room.cutting_room_name}}</option>
          {% endfor %}
          {% elif not form.instance.id %}
          <option value=""></option>
          {% for room in cutting_rooms %}
          <option value="{{room.id}}">{{room.cutting_room_name}}</option>
          {% endfor %}
          {% endif %}
        </select>
       </div>
  
    <button type="submit" id="submitButtonFactoryEmp" class="create-btn mt-4" name="save" value="Save">Save</button>
    
  </form>

</div>
<div class="col-lg-6">
  <div class="row">
    <div class="col-lg-12">
        <div class="d-flex mb-3">
            <form method="GET">
                <div class="container-category "> 
                <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="" />
                <input type="submit" class="mx-2"></input>
                </div>
            </form>
            <button class="item-btn mx-2">Clear Filter</button>
        </div>
    </div>  
</div>  
  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsives">
        <table class="table table-striped table-hover  table-bordered">
          <thead class="name_absolute sticky-top">
            <tr class="text-nowrap">
              <th>No</th>
              <th>Name</th>
              <th>Cutting room</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
  
            {% for emp in factory_employees %}
            <tr class="text-nowrap">
              <td>{{ forloop.counter }}</td>
              <td>{{emp.factory_emp_name}}</td>
              <td>{{emp.cutting_room_id.cutting_room_name}}</td>
              <td><a href="{% url 'factory-emp-update' emp.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></a></td>
              <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{emp.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-text">
        Are you sure you want to delete this Employee name?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>


<script>
     document.addEventListener("DOMContentLoaded", function () {
    window.onload = function() {
        document.getElementById("id_factory_emp_name").focus();
    };
  })
  document.body.appendChild(document.getElementById('exampleModal'));

  $(document).ready(function () {
    $('#factoryEmpForm').on('submit', function () {
      $('#submitButtonFactoryEmp').attr('disabled', 'disabled');
    });
    $('.delete-btn').click(function () {
      var itemId = $(this).data('item-id');
      var name = $(this).closest('tr').find('td').eq(1).text();

      var EmployeeName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
      $('#modal-body-text').html(' Are you sure you want to delete this Employee name ' + EmployeeName + '?');
      $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
      $('#exampleModal').modal('show');


    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function () {
      var itemId = $(this).data('item-id');
      // Redirect to delete view
      window.location.href = '/factory_emp_delete/' + itemId;
    });
  });

  function redirectlistFactory() {
    window.location.href = "{% url 'factory-emp-create' %}"
  }
</script>
{% endblock %}