{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="mt-2">
    <label class="fw-bold">Ref No :</label><span class="text-danger ms-2 refId"> {{product_instance.Product_Refrence_ID}}</span>
    <label class="fw-bold ms-3">Model Name :</label><span class="text-danger ms-2">{{product_instance.Model_Name}}</span>
    <label class="fw-bold ps-3">Images :</label>
        {% for instance in product_instance.productdetails.all %}
        {% if instance.PProduct_image.url is not None %}
        <img src=" {{instance.PProduct_image.url}}" style="width: 60px; height: 60px; padding:2px; margin: 2px;">
        {% endif %}
        {% endfor %}
    
        
</div class="mt-2"> 
<label  class="fw-bold" for="">Approval Pending Qty : </label><span class="text-danger"> {{purchase_order_instance.total_approval_pending}}</span>
<label  class="fw-bold" for="">Total Approved QTY : </label><span class="text-danger"> {{product_quantity.total_quantity}}</span>
<div>

</div>

<div class=" mt-2">
    <!-- <h3>Model Wise</h3> -->
    <table class="table table-striped table-hover table-bordered" id="tableLabourWorkinIdBody">
        <thead class="name_absolute sticky-top">
            <tr>
                <th>PO No</th>
                <th>Challan No</th>
                <th>Date</th>
                <th>Vendor Name</th>
                <th>Total Labour Work Out</th>
                <th>Total Labour Work In</th>
                <th>Rep Out</th>
                <th>Rep In</th>
                <th>Total Received</th>
                <th>Total Balance to Vendor</th>
                <th>Approval Pending Qty</th>
                <th>Total Approved Qty</th>
                
            </tr>
        </thead>
        <tbody class="mainTableList" id="tableLabourWorkinId">
            {% for instance in purchase_instances %}
            <tr>
                <td>{{instance.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.purchase_order_number}}</td>
                <td>{{instance.challan_no}}</td>
                <td>{{instance.created_date}}</td>
                <td>{{instance.labour_name.name}}</td>
                <td><span class="tolatLwoqty">{{instance.total_process_pcs}}</span></td>
                <td><span class="tolatLwiqty">{{instance.total_return_pcs_1|default_if_none:'0'}}</span></td>
                <td></td>
                <td></td>
                <td>{{instance.total_return_pcs_1|default_if_none:'0'}}</td>
                <td><span class="tolatBalanceQty">{{instance.total_balance_to_vendor|default_if_none:'0'}}</span></td>
                <td><span class="tolatPendingQty">{{instance.total_pending_to_approval_qty}}</span></td>
                <td>{{instance.total_approved_qty}}</td>
                    <input type="hidden" class="godownId" value="{{instance.challan_no}}">
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="mainTableList" id="totalLabourwokoutInValues">
            <tr>
                <td colspan="4" class="fw-bold">Total</td>
                <td><span class="fw-bold" id="tLabourWorkQty">0</span></td>
                <td><span class="fw-bold" id="tLabourWorkInQty">0</span></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><span class="fw-bold" id="tBalanceQty">0</span></td>
                <td><span class="fw-bold" id="tApprovedQty">0</span></td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

<script>


    function godownModalWaise(){
        var godownModel = document.querySelectorAll('.mainTableList tr');
 
        godownModel.forEach(function(item){
            item.style.cursor = 'pointer';
            item.addEventListener('click',function(event){
                event.preventDefault();
             
                var godownId = item.querySelector('.godownId').value;
                var refIds = $('.refId').text();
                var newrefIds = parseInt(refIds);
                window.location.href = "/finishedgoodsgodownproductrefvendorwisereport/" + newrefIds + "/" + godownId;
            })
        })
   
    }

    function CalculateTotalLabourWorkoutin(){
        var labourWorkout = 0;
        var labourWorkin = 0;
        var balanceQty = 0;
        var approvedQty = 0;
        var totalLabourWout = document.querySelectorAll('.tolatLwoqty');
        totalLabourWout.forEach(function(item){
            labourWorkout = labourWorkout + parseInt(item.textContent);
            var tlabourWorkIn = item.closest('tr').querySelector('.tolatLwiqty');
            labourWorkin += parseInt(tlabourWorkIn.textContent);
            var tBalanceQty = item.closest('tr').querySelector('.tolatBalanceQty');
            balanceQty += parseInt(tBalanceQty.textContent);
            var tApprovedQty = item.closest('tr').querySelector('.tolatPendingQty');
            approvedQty += parseInt(tApprovedQty.textContent);


            document.getElementById('tLabourWorkQty').textContent = labourWorkout;
            document.getElementById('tLabourWorkInQty').textContent = labourWorkin;
            document.getElementById('tBalanceQty').textContent = balanceQty;
            document.getElementById('tApprovedQty').textContent = approvedQty;
        })

    }
    godownModalWaise()
    CalculateTotalLabourWorkoutin()
</script>
{% endblock body %}