{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-lg-11 mt-3">
            <h4>Finish Goods - <span class="text-danger text-capitalize">{{ g_name }}</span></h4>

        <table class="table table-striped table-hover table-bordered" >
            <thead class="name_absolute sticky-top">
                <tr>
                    <th>No</th>
                    <th>Brand Name</th>
                    <th>SKU ID</th>
                    <th>Category</th>
                    <th>Model Name</th>
                    <th>Stock </th>
                    <th>All Godown Stock</th>
                    <th>Unfinished Stage</th>
                </tr>
            </thead>
            <tbody class="mainTableList" id="goodsReports">
                {% for record in product_quantity %}
                <tr id="refrenceIds">
                    <td>{{forloop.counter}}</td>
                    <td>{{record.Product_Brand}}</td>
                    <td>{{record.product_cats.first.SubCategory_id.product_main_category.product_category_name}}</td>
                    <td class="refrenceId">{{record.Product_Refrence_ID}}</td>
                    <td><span class="text-danger fw-bold">{{record.Model_Name}}</span></td>
                    <td>{{record.total_quantity_product}}</td>
                    <td>{{record.all_godown_qty}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}