{% extends 'product/base.html' %}
{% load static %}
{% block body %}


<div class="row">
    <div class="col-lg-11 mt-3">
         
        <table class="table table-striped table-hover table-bordered">
            <thead class="name_absolute sticky-top">
                <tr>
                    <th>No</th>
                    <th>Brand Name</th>
                    <th>Category</th>
                    <th>Reference ID</th>
                    <th>Model Name</th>
                    <th>All Godown Stock</th>
                    <th>Approval Pending Qty</th>
                    <th>Total Balance to Vendor</th>
                    <th>Unfinished Stage</th>
                </tr>
            </thead>
            <tbody class="mainTableList" id="goodsReports">
                {% for record in product_quantity %}
                <tr id="refrenceIds">
                    <td>{{forloop.counter}}</td>
                    <td>{{record.Product_Brand | default_if_none:''}}</td>
                    <td>{{record.product_cats.first.SubCategory_id.product_main_category.product_category_name | default_if_none:''}}</td>
                    <td class="refrenceId">{{record.Product_Refrence_ID | default_if_none:''}}</td>
                    <td><span class="text-danger fw-bold">{{record.Model_Name|default_if_none:''}}</span></td>
                    <td>{{record.total_quantity_product|default_if_none:0}}</td>
                    <td>{{record.total_qty_pending|default_if_none:0}}</td>
                    <td>{{record.total_bal_vendor|default_if_none:0}}</td>
                    <!-- <td>{{record.all_godown_qty}}</td> -->
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function referenceButtonClick(){
        var goodsReports = document.getElementById('goodsReports');
            goodsReports.style.cursor = 'pointer';
          var newGoods = document.querySelectorAll('.mainTableList tr');
          newGoods.forEach(function(item){
            item.addEventListener('click' ,function(event){
                event.preventDefault();
                var refrenceId =this.querySelector('.refrenceId').textContent;
                var refId = parseInt(refrenceId);
                window.location.href = "/finishedgoodsgodownproductrefwisereport/" + refId;
            })
          })
    }
    referenceButtonClick();
</script>
{% endblock %}