{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="" >
    <form method="POST" autocomplete="off" id="labourWorkOutForm">
        {% csrf_token %}
       
        <div class="row">
            <div class="col-lg-6 mt-4">
                <div style="border: 3px solid rgb(165, 164, 164); padding: 10px; border-radius: 5px;">
                    <span id="challanError" class="error-messagescuttingCreate"></span>
                    <div class="d-flex mb-2">
                        
                        <div class="d-flex">
                            
                            <input type="hidden" name="godown_id" id="id_godown_id" value="{{godown_id}}">

                            <label for="id_challan_no" class="">Challan No:</label>

                             
                            {% if labour_work_out_child_form.instance.id %}

                            <input type="text" name="challan_no" id="id_challan_no" class="purchase-amount text-danger ms-2 me-5 pb-2 " value="{{labour_work_out_child_form.instance.challan_no}}" required>
                            {% elif not labour_work_out_child_form.instance.id %}
                            <input type="text" name="challan_no" id="id_challan_no" class="purchase-amount text-danger ms-2 me-5 pb-2" value="{{labour_work_out_child_form.challan_no.initial}}" required>
                            {% endif %}

                        </div>
                        <div class="d-flex ms-1 ">
                            <label for="id_labour_name" class="">Labour:</label>
                            <select type="number" name="labour_name" id="id_labour_name" class="item-select ms-2 pb-2" required>
                            {% if labour_work_out_child_form.instance.id %}
                            <option value="{{labour_work_out_child_form.instance.labour_name.id}}">{{labour_work_out_child_form.instance.labour_name.name}}</option>
                            {% for ledger in ledger_labour_instances %}
                                <option value="{{ledger.id}}">{{ledger.name}}</option>
                            {% endfor %}
                            {% elif not labour_work_out_child_form.instance.id %}
                            <option value=""></option>
                            {% for ledger in ledger_labour_instances %}
                                <option value="{{ledger.id}}">{{ledger.name}}</option>
                            {% endfor %}

                            {% endif %}
                        
                            </select>
                            <button type="button" class="itemCreate_btn popup-trigger" onclick="openlabourPopup()">+</button>
                        </div>
                    
                    </div>

                    <div class="d-flex mb-2">
                        <div class="d-flex ">
                            <label for="id_total_approved_pcs" class="">Approved pcs:</label>
                            {% if labour_work_out_child_form.instance.id %}
                            <input name="total_approved_pcs"  value ="{{labour_work_out_child_form.instance.labour_workout_master_instance.total_approved_pcs}}" required id="id_total_approved_pcs" class="purchase-input text-danger ms-2 me-3 pb-2" style="outline: none;" readonly>
                            {% elif not labour_work_out_child_form.instance.id %}
                            <input name="total_approved_pcs"  value ="{{labour_work_out_child_form.initial.total_approved_pcs}}" required id="id_total_approved_pcs" class="purchase-input text-danger ms-2 me-3 pb-2 " readonly style="outline: none;">
                            {% endif %}
                        </div>
                   
                        <div class="d-flex ms-5"> 
                            <label for="id_total_process_pcs" class="">Proccess Pcs:</label> 
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.instance.total_process_pcs | default_if_none:0}}" name="total_process_pcs" id="id_total_process_pcs" readonly style="outline: none;">
                            
                        </div>

                        
                    </div>
                    <div>
                        <div class="d-flex"> 
                        <label for="id_total_balance_pcs" class="">Balance pcs:</label> 

                            {% if labour_work_out_child_form.instance.id %}
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.instance.total_balance_pcs}}" name="total_balance_pcs" id="id_total_balance_pcs" readonly style="outline: none;">
                            {% elif not labour_work_out_child_form.instance.id %}
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.initial.total_balance_pcs}}" name="total_balance_pcs" id="id_total_balance_pcs" readonly style="outline: none;">
                            {% endif %}
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="table-responsives">

                
                    <table class="table table-striped table-hover table-bordered tables">
                        <thead class="text-nowrap name_absolute sticky-top">
                            <tr>
                                <th>Product Sku</th>
                                <th>Color</th>
                                <th>Approved Qty</th>
                                <th>Balance Qty</th>
                                <th>Process Qty</th>
                            </tr>
                        </thead>
                        <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
                            {{product_to_item_formset.management_form}}
                            {% for form in product_to_item_formset %}
                            {% if form.instance.id %}
                            <tr>
            
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput"  name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-pending_pcs" value="{{form.instance.pending_pcs}}" id="id_{{form.prefix}}-pending_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>
                                
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-processed_pcs" value="{{form.instance.processed_pcs}}" id="id_{{form.prefix}}-processed_pcs" ></td>
                                <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs_view" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs_view" readonly>
                            </tr>

                            {% elif not form.instance.id %}
                            
                            <tr>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.initial.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput"  name="{{form.prefix}}-product_color" value="{{form.initial.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-pending_pcs" value="{{form.initial.pending_pcs}}" id="id_{{form.prefix}}-pending_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.initial.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>
                               <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs_view" value="{{form.initial.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs_view" readonly>  
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-processed_pcs" value="{{form.initial.processed_pcs}}" id="id_{{form.prefix}}-processed_pcs" ></td>   
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex pb-2">
                        <label for="id_OderQty" class="text-danger">Total:</label>
                        <input type="number" class="productorderqty-input text-danger" name="OrderQty" id="id_OderQty" value="{{form.instance.number_of_pieces}}" style="margin-left: 232px;" readonly>
                        <input type="number" class="productorderqty-input text-danger " name="balanceQtys" id="id_balanceQtys" value="" style="margin-left: 60px;" readonly>
                        <input type="number" class="productorderqty-input text-danger " name="processQty" id="id_processQty" value="" style="margin-left: 47px;" readonly>
                    
                    </div>
                </div>
            </div>
             
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="tables-form">
                    <table class="table table-striped table-hover table-bordered tables"  >
                        <thead class="name_absolute sticky-top border-1">
                            <tr >
                                <th>Product SKU</th>
                                <th>Product Color</th>
                                <th>Material Name</th>
                                <th>Color Shade</th>
                                <th>Rate</th>
                                <th>Panha</th>
                                <th>Unit Name</th>
                                <th>Units</th>
                                <th>G-Total</th>
                                <th>G-Total-Combi</th>
                                <th>Comsump</th>
                                <th>Comsump Combi</th>
                                <th>Total Comsum</th>
                                <th>Physical Stock</th>
                                <th>Balance Stock</th>
                            </tr>
                        </thead>
                        <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;" id="labourTable">
                            {{ labour_workout_cutting_items_formset_form.management_form }}
                            {% for form in labour_workout_cutting_items_formset_form %}
                            
                            {{form.id}}
                            {% if form.instance.id %}
                            <tr class="text-nowrap">
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="text" class="productShadeCutting_Material_input" name="{{form.prefix}}-material_name" value="{{form.instance.material_name}}" maxlength="100" id="id_{{form.prefix}}-material_name" readonly></td>
                                <td><input type="text"  class="productinput" name="{{form.prefix}}-material_color_shade" value="{{form.instance.material_color_shade}}" maxlength="255" id="id_{{form.prefix}}-material_color_shade"readonly></td>
                                <td><input type="number" name="{{form.prefix}}-rate" class="productorderrawqty-input" value="{{form.instance.rate}}" step="0.01" id="id_{{form.prefix}}-rate" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-panha" class="productorderrawqty-input" value="{{form.instance.panha}}" step="0.01" id="id_{{form.prefix}}-panha" readonly></td>
                                <td><input type="text" name="{{form.prefix}}-unit_value" class="productorderrawqty-input" value="{{form.instance.unit_value}}" step="0.01" id="id_{{form.prefix}}-unit_value" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-units" class="productorderrawqty-input" value="{{form.instance.units}}" step="0.01" id="id_{{form.prefix}}-units" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-g_total" class="productorderrawqty-input" value="{{form.instance.g_total}}" step="0.01" id="id_{{form.prefix}}-g_total"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-g_total_combi" class="productorderrawqty-input" value="{{form.instance.g_total_combi}}" step="0.01" id="id_{{form.prefix}}-g_total_combi"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-consumption" class="productorderrawqty-input" value="{{form.instance.consumption}}" step="0.01" id="id_{{form.prefix}}-consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-combi_consumption" class="productorderrawqty-input" value="{{form.instance.combi_consumption}}" step="0.01" id="id_{{form.prefix}}-combi_consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-total_comsumption" class="productorderrawqty-input" value="{{form.instance.total_comsumption}}" step="0.01" id="id_{{form.prefix}}-total_comsumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-physical_stock" class="productorderrawqty-input" value="{{form.instance.physical_stock}}" step="0.01" id="id_{{form.prefix}}-physical_stock" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-balance_physical_stock" class="productorderrawqty-input" value="{{form.instance.balance_physical_stock}}" step="0.01" id="id_{{form.prefix}}-balance_physical_stock" readonly></td>
                            </tr>
                            {% elif not form.instance.id %}
                           
                            <tr class="text-nowrap">
                                <input type="hidden" name="{{form.prefix}}-fab_non_fab" id="id_{{form.prefix}}-fab_non_fab" value="{{form.initial.fab_non_fab}}" class="fab_non_fab">
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.initial.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.initial.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="text" class="productShadeCutting_Material_input" name="{{form.prefix}}-material_name" value="{{form.initial.material_name}}" maxlength="100" id="id_{{form.prefix}}-material_name" readonly></td>
                                <td><input type="text"  class="productinput" name="{{form.prefix}}-material_color_shade" value="{{form.initial.material_color_shade}}" maxlength="255" id="id_{{form.prefix}}-material_color_shade" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-rate" class="productorderrawqty-input" value="{{form.initial.rate}}" step="0.01" id="id_{{form.prefix}}-rate" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-panha" class="productorderrawqty-input" value="{{form.initial.panha}}" step="0.01" id="id_{{form.prefix}}-panha" readonly></td>
                                <td><input type="text" name="{{form.prefix}}-unit_value" class="productorderrawqty-input" value="{{form.initial.unit_value}}" step="0.01" id="id_{{form.prefix}}-unit_value" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-units" class="productorderrawqty-input" value="{{form.initial.units}}" step="0.01" id="id_{{form.prefix}}-units" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-g_total" class="productorderrawqty-input" value="{{form.initial.g_total}}" step="0.01" id="id_{{form.prefix}}-g_total"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-g_total_combi" class="productorderrawqty-input" value="{{form.initial.g_total_combi}}" step="0.01" id="id_{{form.prefix}}-g_total_combi"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-consumption" class="productorderrawqty-input" value="{{form.initial.consumption}}" step="0.01" id="id_{{form.prefix}}-consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-combi_consumption" class="productorderrawqty-input" value="{{form.initial.combi_consumption}}" step="0.01" id="id_{{form.prefix}}-combi_consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-total_comsumption" class="productorderrawqty-input" value="{{form.initial.total_comsumption}}" step="0.01" id="id_{{form.prefix}}-total_comsumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-physical_stock" class="productorderrawqty-input" value="{{form.initial.physical_stock}}" step="0.01" id="id_{{form.prefix}}-physical_stock" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-balance_physical_stock" class="productorder_input " value="{{form.initial.balance_physical_stock}}" step="0.01" id="id_{{form.prefix}}-balance_physical_stock" readonly></td>
                                <input type="hidden" name="{{form.prefix}}-Remark" class="productorder_input " value="{{form.initial.Remark}}" step="0.01" id="id_{{form.prefix}}-Remark" readonly>
                                <input type="hidden" name="{{form.prefix}}-pcs" class="productorder_input " value="{{form.initial.pcs}}" step="0.01" id="id_{{form.prefix}}-pcs" readonly>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <input type="hidden" id="id_physical_stock" value="{{physical_stock_all_godown_json}}">
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
        
        <div class="d-flex mt-3">
            <label for="id_note" class="text-dark">Note :-</label>
            {% if not labour_work_out_child_form.instance.id %}
            <textarea name="note" id="id_note" cols="140" rows="1" class="ms-2 ps-2 rounded-2">{{labour_work_out_child_form.instance.note | default_if_none:''}}</textarea>
            {% elif labour_work_out_child_form.instance.id %}
            <span class="text-danger ms-2 text-capitalize"> {{labour_work_out_child_form.instance.note | default_if_none:''}}</span>{{labour_work_out_child_form.instance.note | default_if_none:''}}</spa>
            {% endif %}
        </div>
        <button type="submit" class="create-btn mt-3 mx-3" name="submit-form" value="submit" id="id_submitLabourWorkOut" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
    </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
      <div class="modal-body justify-content-center text-center">
        <img src="../../../static/images/Cosmus.png" alt="loading..." height="120px" width="120px" class="spinner_image">
        </div>
        </div>
    </div> 
</div>
<script>




    var popUpWindow = null;
function openlabourPopup(button){
    openNewPopup(button, '{% url "ledger-popup-create" %}');
}

function openNewPopup(button, url){
    if (popUpWindow === null || popUpWindow.closed) {
    newPopUpwindow(button, url);
  } else {
  
    popUpWindow.focus();
  }
}

function newPopUpwindow(button, path){
    // Specify minimum height and width
  var minWidth = 1150; // minimum width
  var minHeight = 800; // minimum height

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');

  // Open new page with specified dimensions
  popUpWindow = window.open(path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    // Ensure only one event listener is attached
  
    window.addEventListener('message', function(event){
        if (event.data.message === 'close') {
                $('body').removeClass('popup-open');
                $('.popup-overlay').remove();
                popUpWindow.close();
                
             }
           });


    // Listen for messages from the popup window
    window.addEventListener('click', function(event) {
    handleOutsideClick(event);
  });
}
function handleOutsideClick(event) {

var popUpRect = document.querySelector('body').getBoundingClientRect();
var clickX = event.clientX;
var clickY = event.clientY;
 
  // Check if the click is outside the popup window
  if (
    clickX > popUpRect.left || clickX <= popUpRect.right ||
    clickY > popUpRect.top || clickY <= popUpRect.bottom
  ) {
   
    popUpWindow.focus();
    
  }

}

window.addEventListener('message', function(event) {
    const data = event.data;
    console.log(data);
    if (data.ledger_labour) {
        populateDropdown(data.ledger_labour, '#id_labour_name', 'name', 'Select Name');
    }
});

function populateDropdown(items, dropdownSelector, valueKey, defaultText) {
    const dropdown = $(dropdownSelector);
    dropdown.empty();
    dropdown.append('<option value="">' + defaultText + '</option>');

    items.forEach(item => {
        dropdown.append('<option value="' + item.id + '">' + item[valueKey] + '</option>');
    });
}
</script>

<script>
document.body.appendChild(document.getElementById('exampleModal'));
 $(document).ready(function(){

        $('#id_challan_no').on('focusout',function(){
            var challanNo = $(this).val();
            var challanId = $("#id_challan_no");
            var errorElement = $('#challanError'); // The error message element
            var submitButton = $('#id_submitLabourWorkOut');
            var formId = $('#labourTable').find('#id_labour_workout_cutting_items_set-0-id').val();
      
            if(formId == ""){
                $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'labour_workout_challan_no': challanNo,
                    
                },
                success: function (data) {
                    if(data.validation_flag === true){
                        challanId.css('border', '1px solid red');
                        errorElement.text('*Challan number already exists');
                        errorElement.show();
                        submitButton.attr('disabled', 'disabled');
                    }else {
                        
                        challanId.css('border', '1px solid black'); 
                        errorElement.text('');
                        errorElement.hide();
                        submitButton.removeAttr('disabled');
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
            }
            
        })
        $('#labourWorkOutForm').off('submit').on('submit',function(){
            var submitButton = $('#id_submitLabourWorkOut');
            var forms = $('#exampleModal');
    
            submitButton.val('Loading...');
            forms.show();
        })
    })

   
    function labourApprovedQty() {
    var totals = 0;
    var balanceQty = 0;
    var approveQty = 0;
    const ids = document.getElementById('id_labour_workout_cutting_items_set-0-id').value;
    const totalBalanceValue = document.getElementById('id_total_balance_pcs').value;
    // console.log('totalBalanceValue', totalBalanceValue);

    if (ids !== "" || (ids == "" && totalBalanceValue == 0)) {
        const submitButton = document.getElementById('id_submitLabourWorkOut');
        const challanNo = document.getElementById('id_challan_no');
        const labourname = document.getElementById('id_labour_name');
        const totalApprove = document.getElementById('id_total_approved_pcs');
        const totalProcessed = document.getElementById('id_total_process_pcs');
        const totalBalance = document.getElementById('id_total_balance_pcs');

        challanNo.readOnly = true;
        challanNo.style.backgroundColor = 'transparent';
        challanNo.style.border = 'none';
        challanNo.style.outline = 'none';
        totalApprove.style.backgroundColor = 'transparent';
        totalApprove.style.border = 'none';
        totalProcessed.style.backgroundColor = 'transparent';
        totalProcessed.style.border = 'none';
        totalBalance.style.backgroundColor = 'transparent';
        totalBalance.style.border = 'none';
        submitButton.style.display = 'none';
        labourname.disabled = true;
        labourname.style.backgroundColor = 'transparent';

        const processQty = document.querySelectorAll('[name$="-processed_pcs"]');
        processQty.forEach(function (element) {
            element.readOnly = true;
            element.style.backgroundColor = 'transparent';
            element.style.border = 'none';
            element.style.outline = 'none';

            const row = element.closest('tr');
            const approvedQty = parseInt(element.value) || 0;
            const aproveValue = parseInt(row.querySelector('[name$="-pending_pcs"]').value) || 0;
            const balanceValue = parseInt(row.querySelector('[name$="-balance_pcs"]').value) || 0;

            balanceQty += balanceValue;
            approveQty += aproveValue;
            totals += approvedQty;
            document.getElementById('id_processQty').value = totals;
            document.getElementById('id_OderQty').value = approveQty;
            document.getElementById('id_balanceQtys').value = balanceQty;
        });
    }else{
    window.onload = function() {
        document.forms[0].reset();
    };
    }
}

labourApprovedQty()
    
function updateBalanceAndProcessQty() {
    var approve = 0;
    var totalBalance = 0;
    var totalProcess = 0;
    var forms = parseInt(document.getElementById('id_labour_workout_child_items-TOTAL_FORMS').value);
    var prcocessMainValue = parseInt(document.getElementById('id_processQty').value) || 0;
    var balanceMainValue = document.getElementById('id_balanceQtys');
    var apprvedMainValue = document.getElementById('id_OderQty');
    var totalProcessElement = document.getElementById('id_total_process_pcs');
    var totalBalanceElement = document.getElementById('id_total_balance_pcs');

    for (var i = 0; i < forms; i++) {
        var processed = document.getElementById('id_labour_workout_child_items-' + i + '-processed_pcs');
        var balanced = document.getElementById('id_labour_workout_child_items-' + i + '-balance_pcs');
        var approved = document.getElementById('id_labour_workout_child_items-' + i + '-pending_pcs');
        var balanceView = document.getElementById('id_labour_workout_child_items-' + i + '-balance_pcs_view');

        var approvedValue = parseInt(approved.value) || 0;
        var balanceValue = parseInt(balanced.value) || 0;
        var processValue = parseInt(processed.value) || 0;
        var balanceViewValue = parseInt(balanceView.value) || 0;
        
        // Adjust the process value if it exceeds the balance view value
        if (processValue > balanceViewValue) {
            totalProcess += balanceViewValue; // Add up the balanced quantity to total process
            prcocessMainValue -= balanceViewValue; // Decrease the main process value by the balance view value
            processed.value = balanceViewValue; // Set the processed value to the available balance
            balanceMainValue.value = 0;
            // Update the balanced value for the current row
            balanced.value = 0; // No remaining balance if process quantity exceeds balance view
        } else {
            totalProcess += processValue; // Accumulate process quantity if it's within the balance
            var balance = balanceViewValue - processValue; // Update balance for the row
            
            balanced.value = balance;
            totalBalanceElement.value = balance;
            //console.log('balance', balance)
        }

        // Update approved quantity
        approve += approvedValue;
        apprvedMainValue.value = approve;

        // Accumulate total balance
        totalBalance += balance;
        //console.log('totalBalance', totalBalance);
        balanceMainValue.value =  isNaN(totalBalance) ? 0 : totalBalance; // Update main balance
        totalBalanceElement.value = totalBalance; // Update total balance

        // Update total process quantity field
        totalProcessElement.value = totalProcess;
    }
    //console.log('totalProcess', totalProcess);
    // Update the main process value
    prcocessMainValue = totalProcess; // Ensure prcocessMainValue reflects the total processed quantity
    document.getElementById('id_processQty').value = prcocessMainValue;
}

function labourworkoutBalanceQty(){
    var totalforms = document.getElementById('id_labour_workout_cutting_items_set-TOTAL_FORMS').value;

    for (var i = 0; i < totalforms; i++) {
        var physicalstock = parseFloat(document.getElementById('id_labour_workout_cutting_items_set-' + i + '-physical_stock').value);
        var balance = parseFloat(document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').value);
    
        if(physicalstock > 0){
            document.getElementById('id_labour_workout_cutting_items_set-' + i + '-physical_stock').style.color = 'green';
        }else{
            document.getElementById('id_labour_workout_cutting_items_set-' + i + '-physical_stock').style.color = 'red';
        }

        if(balance > 0){
            document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').style.color = 'green';
        }else{
           
            document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').style.color = 'red';
        }
    }
}
labourworkoutBalanceQty()
   function fabricQty(totalValues) {
    let totalFabric = 0;
    const processQty = document.querySelectorAll('[name$="-processed_pcs"]');

    processQty.forEach(function (element) {
        let processValue = parseInt(element.value) || 0;
        const color = element.closest('tr').querySelector('[name$="-product_color"]').value;
        const labourValue = document.getElementById('id_processQty');
        const labourTotalQty = document.getElementById('id_total_process_pcs');
        const balanceQty = parseInt(element.closest('tr').querySelector('[name$="-balance_pcs"]').value);
        let balanceViewValues = parseInt(element.closest('tr').querySelector('[name$="-balance_pcs_view"]').value);
     
        if (processValue > balanceQty) {
            processValue = balanceViewValues;
           
        }
            totalFabric += processValue;
        
     
        labourValue.value = totalFabric

        const mainTables = document.querySelectorAll('#labourTable tr');

        mainTables.forEach(function (el) {
            const mainColor = el.querySelector('[name$="-product_color"]').value;
            let totalConsumption = el.querySelector('[name$="-total_comsumption"]');
            const pcs = el.querySelector('[name$="-pcs"]');
            if (totalConsumption) {
                if (color === mainColor) {
                    const consumption = el.querySelector('[name$="-consumption"]');
                    const gTotal = el.querySelector('[name$="-combi_consumption"]');
                    
                    const gTotalCombi = parseFloat(gTotal.value) || 0;
                    const consumptionMainValue = parseFloat(consumption.value) || 0;
          

                    let gTotalCombiTotal = gTotalCombi * totalValues;

                    let tConsumption = consumptionMainValue * processValue ;
                 
                    let tConsumptionTotal = tConsumption + gTotalCombiTotal;
             
                    totalConsumption.value = tConsumptionTotal.toFixed(3);
                    if(pcs){
                        pcs.value = processValue;
                    }
                } else if (mainColor === "Common Item") {
                    const consumption =el.querySelector('[name$="-consumption"]');
                    const consumtionCmobi = el.querySelector('[name$="-combi_consumption"]');
                    const consumptionValue = parseFloat(consumption.value) || 0;
                    const consumptionCmobiValue = parseFloat(consumtionCmobi.value) || 0;
                 
                    let tConsumption = consumptionValue * totalValues;
                    let tConsumptionTotal = consumptionCmobiValue * totalValues;
                    let finalTconsumtioncommon = tConsumption + tConsumptionTotal;
                    totalConsumption.value = finalTconsumtioncommon.toFixed(3);
                    if(pcs){
                        pcs.value = totalValues;
                    }
                }
            }
        });
    });
    balanceQty();
}

function labourWorkOutCheck(){
    let totalValues = 0;
    const labourWorkOut = document.querySelectorAll('[name$="-processed_pcs"]');
    labourWorkOut.forEach(function(element){
        totalValues += parseFloat(element.value) || 0; 
    })
    document.getElementById('id_processQty').value = totalValues;
    const ids = document.getElementById('id_labour_workout_cutting_items_set-0-id').value;
    if(ids == ""){
        fabricQty(totalValues)
    }
   
}
    function balanceQty(){
        var totalforms = document.getElementById('id_labour_workout_cutting_items_set-TOTAL_FORMS').value;

        for (var i = 0; i < totalforms; i++) {
            var physicalstock = document.getElementById('id_labour_workout_cutting_items_set-' + i + '-physical_stock').value;
           
            var totalConsumption = document.getElementById('id_labour_workout_cutting_items_set-' + i + '-total_comsumption').value;        

            if(!isNaN(physicalstock) && !isNaN(totalConsumption)){
                var balanceValue = physicalstock - totalConsumption;
                document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').value = balanceValue.toFixed(3);
                if(balanceValue > 0){
                    document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').style.color = 'green';
                }else{
                    document.getElementById('id_labour_workout_cutting_items_set-' + i + '-balance_physical_stock').style.color = 'red';
                }
            }
           
         
        
        }
    }
document.addEventListener('DOMContentLoaded', function() {
    labourApprovedQty()
    labourWorkOutCheck()
    balanceQty()
    const pendingQty = document.querySelectorAll('[name$="-processed_pcs"]');
    pendingQty.forEach(function(el){
        // el.addEventListener('focus', balanceQty);
      el.addEventListener('input',function(){
         balanceQty();
        fabricQty();
        updateBalanceAndProcessQty();
        labourworkoutBalanceQty();
        labourWorkOutCheck()
      })
    })
   
});


window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            document.forms[0].reset();
        }
    });
</script>
{% endblock %}