{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<form method="post" class="mt-3" id="labourWorkInForm" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" value = "{{approval_check}}" name="approval" id="id_approval">
    <div class="row">
        <div class="col-lg-4">
            <!-- <h5 class="fw-bold mt-2 text-danger mb-3">Labour Workin Create</h5> -->
            <span id="labourWorkInError" class="error-messagescuttingCreate"></span>
            <div class="d-flex mb-3">
                <label for="id_voucher_number" class="item-form">GRN No:</label>

                {% if not master_form.instance.id %}
                <input type="number" class="item-select" name="voucher_number" value="{{master_form.voucher_number.initial}}" required id="id_voucher_number">
                {% else %}
                <input type="number" class="item-select" name="voucher_number" value="{{master_form.instance.voucher_number}}" required id="id_voucher_number">

                {% endif %}

            </div>
            <div class="d-flex mb-3">
                <label for="id_labour_name" class="item-form">Labour Name:</label>

                {% if not master_form.instance.id %}

                <input type="text" class="item-select" name="labour_name" value="{{master_form.labour_name.initial}}" required id="id_labour_name" readonly style="border: 1px solid blue; outline: none; outline: none;">

                {% else %}
                <input type="text" class="item-select" name="labour_name" value="{{master_form.instance.labour_voucher_number.labour_name.name}}" required id="id_labour_name" readonly style="border: 1px solid blue; outline: none;">

                {% endif %}
            </div>

            <div class="d-flex mb-3">
                <label for="id_challan_no" class="item-form">Challan no:</label>
                {% if not master_form.instance.id %}

                <input type="text" class="item-select" name="challan_no" value="{{master_form.challan_no.initial}}"required id="id_challan_no" readonly style="border: 1px solid blue; outline: none;">
                {% else %}

                <input type="text" class="item-select" name="challan_no" value="{{master_form.instance.labour_voucher_number.challan_no}}" required id="id_challan_no" readonly style="border: 1px solid blue; outline: none;">
                {% endif %}
            </div>
            <div class="d-flex mb-3">
                <label for="id_purchase_order_no" class="item-form">PO.No:</label>

                {% if not master_form.instance.id %}

                <input type="text" class="item-select" name="purchase_order_no" value="{{master_form.purchase_order_no.initial}}" required id="id_purchase_order_no" readonly style="border: 1px solid blue; outline: none;">
                {% else %}
                <input type="text" class="item-select" name="purchase_order_no" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.purchase_order_number}}" required id="id_purchase_order_no" readonly style="border: 1px solid blue; outline: none;">

                {% endif %}
            </div>
            <div class="d-flex mb-3">
                <label for="id_refrence_number" class="item-form">Refrence No:</label>
                {% if not master_form.instance.id %}


                <input type="number" class="item-select" name="refrence_number" value="{{master_form.refrence_number.initial}}" required id="id_refrence_number" readonly style="border: 1px solid blue; outline: none;">

                {% else %}
                <input type="number" class="item-select" name="refrence_number" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.Product_Refrence_ID}}" required id="id_refrence_number" readonly style="border: 1px solid blue; outline: none;">

                {% endif %}

            </div>
            <div class="d-flex mb-3">
                <label for="id_model_name" class="item-form">Model Name:</label>

        {% if not master_form.instance.id %}

        <input type="text" class="item-select" name="model_name" value="{{master_form.model_name.initial}}" required id="id_model_name" readonly style="border: 1px solid blue; outline: none;">

        {% else %}
        <input type="text" class="item-select" name="model_name" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.Model_Name}}" required id="id_model_name" style="border: 1px solid blue; outline: none;" readOnly>
    
        {% endif %}

    </div>
    <div class="d-flex mb-3">


        
        <label for="id_total_p_o_qty" class="item-form">Total PO. Qty:</label>


        {% if not master_form.instance.id %}
        <input type="number" class="item-select" name="total_p_o_qty" value="{{master_form.total_p_o_qty.initial}}" id="id_total_p_o_qty" readOnly style="border: 1px solid blue; outline: none;">


        {% else %}

        <input type="number" class="item-select" name="total_p_o_qty" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.number_of_pieces}}" id="id_total_p_o_qty" style="border: 1px solid blue; outline: none;"readOnly>

            {% endif %}
        </div>
        <div class="d-flex mb-3">
            <label for="id_labour_workout_qty" class="item-form">Total Issued Qty:</label>

            {% if not master_form.instance.id %}

            <input type="number" class="item-select" name="labour_workout_qty" value="{{master_form.labour_workout_qty.initial}}" required id="id_labour_workout_qty" readonly style="border: 1px solid blue; outline: none;">

            {% else %}
            <input type="number" class="item-select" name="labour_workout_qty" value="{{master_form.instance.labour_voucher_number.total_process_pcs}}" required  id="id_labour_workout_qty" readonly style="border: 1px solid blue; outline: none;">

            {% endif %}

        </div>
    <div class="d-flex mb-3">
        <label for="id_description" class="item-form">Naration:</label>
    <input type="text" class="item-select" name="description" maxlength="100" value="{{master_form.instance.description | default_if_none:''}}"  id="id_description">
    </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-10">
                    <table class="table table-striped table-hover table-bordered tables">
                        <thead class="name_absolute sticky-top">
                            <tr>
                                <th>Product Sku</th>
                                <th>Color</th>
                                <th>Issue QTY</th>
                                <th>Received QTY</th>
                                <th>Balance QTY</th>
                                <th>Return QTY</th>   
                            </tr>
                        </thead>
                        <tbody class="mainTableList">
                            {{labour_work_in_product_to_item_formset.management_form}}
                            {% for form in labour_work_in_product_to_item_formset %}
                            {{form.id}}
        
        
                            {% if not form.instance.id %}
                            <tr>
                                <td><input type="text"class="productinput" name="{{form.prefix}}-product_sku" value="{{form.initial.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku"readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.initial.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-L_work_out_pcs" value="{{form.initial.L_work_out_pcs}}" id="id_{{form.prefix}}-L_work_out_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-total_recieved_qty" value="{{form.initial.total_recieved_qty}}" id="id_{{form.prefix}}-total_recieved_qty" readonly>
                                     <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-pending_to_return_pcs" value="{{form.initial.pending_to_return_pcs}}" id="id_{{form.prefix}}-pending_to_return_pcs" readonly>
                                </td>
                                <td><input type="number"  class="productorderrawqty-input" name="{{form.prefix}}-qty_to_compare" value="{{form.initial.qty_to_compare}}" id="id_{{form.prefix}}-qty_to_compare" readonly></td>
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-return_pcs" value="{{form.initial.return_pcs}}" id="id_{{form.prefix}}-return_pcs"></td>
                                <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-cur_bal_plus_return_qty" value="{{form.initial.cur_bal_plus_return_qty}}" id="id_{{form.prefix}}-cur_bal_plus_return_qty" readonly>   
                            </tr>
                            {% elif form.instance.id %}
                            <tr>
                                <td><input type="text"class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-L_work_out_pcs" value="{{form.instance.L_work_out_pcs}}" id="id_{{form.prefix}}-L_work_out_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-total_recieved_qty" value="{{form.initial.total_recieved_qty}}" id="id_{{form.prefix}}-total_recieved_qty" readonly>
                                    <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-pending_to_return_pcs" value="{{form.instance.pending_to_return_pcs}}" id="id_{{form.prefix}}-pending_to_return_pcs"readonly>
                                </td>
                                <td><input type="number"  class="productorderrawqty-input" name="{{form.prefix}}-qty_to_compare" value="{{form.initial.qty_to_compare}}" id="id_{{form.prefix}}-qty_to_compare"readonly></td>
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-return_pcs" value="{{form.instance.return_pcs}}" id="id_{{form.prefix}}-return_pcs" ></td>
                                <input type="hidden" class="productorderrawqty-input" name="{{form.prefix}}-cur_bal_plus_return_qty" value="{{form.initial.cur_bal_plus_return_qty}}" id="id_{{form.prefix}}-cur_bal_plus_return_qty" readonly>   
        
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr class="mainTableList">
                                <td class="ms-2 fw-bold">Total</td>
                                <td></td>
                                <td><span class="ms-2 fw-bold" id="tIssueQty"></span></td>
                                <td><span class="ms-2 fw-bold" id="tReceivedQty"></span></td>
                                <td><span class="ms-2 fw-bold" id="tBalanceQty"></span></td>
                                <td><span class="ms-2 fw-bold" id="tReturnQty"></span></td>
                            </tr>
                        </tbody>
                        <tbdoy>
                            
                        </tbdoy>
                    </table>
                </div>
            </div>
           
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex mb-3">
                        <label for="id_total_balance_pcs" class="item-form">Pending Pcs:</label>
        
                        {% if not master_form.instance.id %}
                        <input type="text" class="item-select" name="total_balance_pcs" value="{{ master_form.total_balance_pcs.initial }}"  required id="id_total_balance_pcs" readonly style="border: 1px solid blue; outline: none;">
        
                        {% else %}
                        <input type="text" class="item-select" name="total_balance_pcs"
                            value="{{ master_form.instance.total_balance_pcs }}" required id="id_total_balance_pcs" readonly style="border: 1px solid blue; outline: none;">
        
                        {% endif %}
        
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_total_return_pcs" class="item-form">Total Return Pcs:</label>
                        <input type="number" class="item-select" name="total_return_pcs" value="{{master_form.instance.total_return_pcs |default_if_none:''}}" required id="id_total_return_pcs" readonly style="border: 1px solid blue; outline: none;">
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_labour_charges" class="item-form">Labour charges:</label>
        
                        {% if not master_form.instance.id %}
        
                        <input type="number" class="item-select" name="labour_charges" step="0.01"value="{{master_form.labour_charges.initial}}" required id="id_labour_charges" >
                        {% else %}
        
                        <input type="number" class="item-select" name="labour_charges" step="0.01" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.labour_charges}}" id="id_labour_charges">
        
                        {% endif %}
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_other_charges" class="item-form">Other Charges:</label>
                        <input type="number" class="item-select" value="{{master_form.instance.other_charges}}" name="other_charges" step="0.01" required id="id_other_charges">
                    </div>
                    <div class="d-flex mb-3">
                        <label for="id_amount" class="item-form">Amount:</label>
                    <input type="number" class = "item-select" name="amount" step="0.01" value="{{master_form.instance.amount |default_if_none:''}}" required id="id_amount" readonly style="border: 1px solid blue; outline: none;">
                    </div>
                </div>
                <div class="col-lg-4">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="name_absolute">
                            <tr>
                                <th>GR No</th>
                                <th>T Return Pcs</th>
                                <th>T Appr Pcs</th>
                            </tr>
                        </thead>
                        <tbody class="mainTableList">
                            {% for x in labour_workin_all %}
                            <tr>
                                <td>{{x.voucher_number}}</td>
                                <td>{{x.total_return_pcs}}</td>
                                <td>{{x.total_approved_quantity}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
           
        </div>
    </div>
    <button type="submit" value="Submit" class="create-btn" id="id_submitLabourWorkIn" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
      <div class="modal-body justify-content-center text-center">
        <img src="../../../static/images/Cosmus.png" alt="loading..." height="120px" width="120px" class="spinner_image">
        </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    formSubmit();
    CalculateAmount();
    totalValueCheck();
    approveValueCheck();
  })

  function totalValueCheck(){
    var totalValue = parseInt(document.getElementById('id_total_return_pcs').value);
    var submitFomValue = document.getElementById('id_submitLabourWorkIn');
    if(totalValue === 0){
        submitFomValue.disabled = true;
    }else{
        submitFomValue.disabled = false;
    }
  }
  
  function approveValueCheck(){
      var approveValue = document.getElementById('id_approval').value;
      var submitForm = document.getElementById('id_submitLabourWorkIn');
      var discription = document.getElementById('id_description');
      var labourCharges = document.getElementById('id_labour_charges');
      var otherCharges = document.getElementById('id_other_charges');
      var returnValue = document.querySelectorAll('[name$="-return_pcs"]');
      var grNO = document.getElementById('id_voucher_number');
      if(approveValue === 'True'){
        
        returnValue.forEach(function(element){
            element.readOnly = true;
            element.style.outline = 'none';
            element.style.backgroundColor = 'transparent';
            element.style.border = 'none';
        })
          submitForm.style.display = 'none';
          discription.readOnly = true;
          labourCharges.readOnly = true;
          otherCharges.readOnly = true;
          labourCharges.style.outline = 'none';
          labourCharges.style.border = '1px solid blue';
          otherCharges.style.outline = 'none';
          otherCharges.style.border = '1px solid blue';
          discription.style.outline = 'none';
          discription.style.border = '1px solid blue';
          grNO.readOnly = true;
          grNO.style.outline = 'none';
          grNO.style.border = '1px solid blue';
      }else{
          submitForm.style.display = 'block';
          discription.readOnly = false;
          labourCharges.readOnly = false;
          otherCharges.readOnly = false;
          labourCharges.style.outline = '1px solid black';
          labourCharges.style.border = '1px solid black';
          otherCharges.style.outline = '1px solid black';
          otherCharges.style.border = '1px solid black';
          discription.style.outline = '1px solid black';
          discription.style.border = '1px solid black';
          grNO.readOnly = false;
          grNO.style.outline = '1px solid black';
          grNO.style.border = '1px solid black';
          returnValue.forEach(function(element){
            element.readOnly = false;
            element.style.outline = '1px solid black';
            element.style.backgroundColor = 'white';
            element.style.border = '1px solid black';
         
        })
      }
  }
  function formSubmit(){
    var labourId = document.getElementById('id_l_w_in_products-0-id').value;
    var total = 0;
    var balancepc= 0;
    var issueValue = 0;
    var receivedValue = 0;
 
    if(labourId != ''){
        var totalReturn = document.querySelectorAll('[name$="-return_pcs"]');
        var refNo = document.getElementById('id_voucher_number');
        refNo.readOnly = true;
        refNo.style.outline = 'none';
        totalReturn.forEach(function(element){
            var returnValue = parseInt(element.value) || 0;
            var row = element.closest('tr'); 
            var balance = parseInt(row.querySelector('input[name$="-cur_bal_plus_return_qty"]').value) || 0;
            var BalanceActualValue = parseInt(row.querySelector('input[name$="-qty_to_compare"]').value) || 0;
            var IssueQty = parseInt(row.querySelector('input[name$="-L_work_out_pcs"]').value) || 0;
            var ReceivedQty = parseInt(row.querySelector('input[name$="-total_recieved_qty"]').value) || 0;
           
             if(returnValue > balance){
                returnValue = 0;
                element.value = 0;
                row.querySelector('input[name$="-qty_to_compare"]').value = BalanceActualValue;
             }

            var balanceQtyValue = balance - returnValue;
            
            row.querySelector('input[name$="-qty_to_compare"]').value = balanceQtyValue;

            total  += returnValue;
            balancepc += balanceQtyValue;
            issueValue +=IssueQty;
            receivedValue += ReceivedQty
            console.log("total",total)
        })

    }else{
        var totalReturnPcs = document.querySelectorAll('[name$="-return_pcs"]');

        totalReturnPcs.forEach(function(input){
            var returnValue = parseInt(input.value) || 0;
            var row = input.closest('tr'); 
            var balance = parseInt(row.querySelector('input[name$="-pending_to_return_pcs"]').value) || 0;
            var BalanceActualValue = parseInt(row.querySelector('input[name$="-qty_to_compare"]').value) || 0;
            var pendingValue =document.getElementById('id_total_balance_pcs').value
            var IssueQty = parseInt(row.querySelector('input[name$="-L_work_out_pcs"]').value) || 0;
            var ReceivedQty = parseInt(row.querySelector('input[name$="-total_recieved_qty"]').value) || 0;

             if(returnValue > balance){
                returnValue = 0;
                input.value = 0;
               row.querySelector('input[name$="-qty_to_compare"]').value = BalanceActualValue;
             }
           
            var balanceQty = balance - returnValue;
            
            row.querySelector('input[name$="-qty_to_compare"]').value = balanceQty;
            total  += returnValue;
            balancepc += balanceQty;
            issueValue +=IssueQty;
            receivedValue += ReceivedQty;
        })
    }
    
    document.getElementById('id_total_return_pcs').value = total;
    document.getElementById('id_total_balance_pcs').value = balancepc;
    document.getElementById('tReturnQty').textContent = total;
    document.getElementById('tBalanceQty').textContent =balancepc;
    document.getElementById('tIssueQty').textContent = issueValue;
    document.getElementById('tReceivedQty').textContent = receivedValue;

  }

  
    document.getElementById("id_other_charges").addEventListener('input', CalculateAmount);
    document.getElementById("id_labour_charges").addEventListener('input', CalculateAmount);
    function CalculateAmount() {
        var totalReceivedPc = document.getElementById('id_total_return_pcs').value || 0;
        var labour_charges = document.getElementById('id_labour_charges').value;
        var other_charges = document.getElementById('id_other_charges').value;

        var newAmount = parseFloat(totalReceivedPc) * parseFloat(labour_charges);

        var amounts = newAmount + parseFloat(other_charges);
        document.getElementById('id_amount').value = amounts;
    }

    
    document.querySelectorAll('[name$="-return_pcs"]').forEach(function(element){
        element.addEventListener('input', function(){
            formSubmit();
            totalValueCheck();  
            CalculateAmount();
        }
        
        );
    })
    document.body.appendChild(document.getElementById('exampleModal'));
    $(document).ready(function () {
        $('#id_voucher_number').on('focusout', function () {
            var voucher_number = $(this).val();
            var new_order = $("#id_purchase_order_number");
            var errorElement = $('#labourWorkInError'); // The error message element
            var submitButton = $('#id_submitLabourWorkIn');
            var formId = $('#id_l_w_in_products-0-id').val()
        
            if(formId == ''){
                $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'voucher_number': voucher_number,
                },
                success: function (data) {
                    if (data.validation_flag === true) {
                        new_order.css('border', '1px solid red');
                        errorElement.text('*New order number already exists');
                        errorElement.show();
                        submitButton.attr('disabled', 'disabled');
                    } else {

                        new_order.css('border', '1px solid black');
                        errorElement.text('');
                        errorElement.hide();
                        submitButton.removeAttr('disabled');
                    }
                },
                error: function (error) {
                    console.log(error);
                }

            })
            }
            
        })

        $('labourWorkInForm').off('submit').on('submit', function () {
            var $submitButton = $('#id_submitLabourWorkIn');  // The submit button
            var originalButtonValue = $('#exampleModal');  // Store original button text

            $submitButton.val('Loading...');
            originalButtonValue.show();
        });
    })
    window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            document.forms[0].reset();
        }
    });

    window.addEventListener("popstate", function() {
    console.log("test spinner");
    var spinnerModalElement = document.getElementById('exampleModal');
    var spinnerModal = bootstrap.Modal.getInstance(spinnerModalElement);
    console.log('spinner',spinnerModal);
   
    if (spinnerModal) {
      spinnerModal.hide();
    }
  });
</script>
{% endblock %}