{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}

<div class="mt-2" style="padding-left: 250px;">
  {% if request.path == '/purchaseorderlist/' %}
<span class=" fw-bold  py-1 px-2 ">New Order</span> ->
{% elif request.path != '/purchaseorderlist/' %}
<button class="bg-c-red border-0 py-1 px-2 rounded-4"><a class="text-decoration-none text-dark" href="{% url 'purchase-order-list' %}">New Order </a></button>  ->
{% endif %}

<button class="bg-c-yellow border-0 py-1 px-3 rounded-4"><a class="text-decoration-none text-dark " href="{% url 'purchase-order-raw-material-list' %}">Purchase Order</a></button> ->
<button  class="bg-c-blue border-0 py-1 px-3 rounded-4"><a class="text-decoration-none text-dark "  href="{% url 'purchase-order-cutting-list-all' %}">Cutting Order</a></button> ->
<button  class="bg-c-green border-0 py-1 px-3 rounded-4"><a  class="text-decoration-none text-dark " href="{% url 'labour-workout-all' %}">Labour Workout</a></button> ->
<button  class="bg-c-purple border-0 py-1 px-3 rounded-4"><a  class="text-decoration-none text-dark " href="{% url 'labour-workin-list-all' %}">Labour WorkIn</a></button>
</div>

<div class="row">
  <div class="col-lg-12 mt-4">
    <div class="d-flex mb-3">
      <button class="product-btn addButtonClick" id="addNewOrderClick" onclick="reversAddRowOrder()">Add Order +</button>
      <div class="container-flex">
        <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="product_search">
        <a class="px-2 py-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
      <button class="item-btn ms-1">Clear Filter</button>
    </div>
  </div>
</div>

<div class="table-responsives">
    <table class="table table-striped table-hover  table-bordered mt-2" style="width: 100%;">
        <thead class="name_absolute sticky-top">
            <tr>
              <th>No</th>
              <th>Date</th>
                <th>P.O No</th>
                <th>Refrence No</th>
                <th>Model Name</th>
                <th>Party Name</th>
                <th>Target Date</th>
                <th>Total P.O Qty</th>
                <th>Balance Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="mainTableList text-nowrap" style="max-height: 450px; overflow-y: auto;">
            {% for po in purchase_orders %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{po.created_date}}</td>
                <td>{{po.purchase_order_number}}</td>
                <td><button class="border-0 rounded  mb-1 px-2 py-1" style="color:white; background-color: #ab2e3c;"><a style="color:white; text-decoration: none;" href="{% url 'edit_production_product' po.product_reference_number.Product_Refrence_ID %}">{{po.product_reference_number.Product_Refrence_ID}}</a></button></td>
                <td>{{po.product_reference_number.Model_Name}}</td>
                <td>{{po.ledger_party_name.name}}</td>
                <td>{{po.target_date}}</td>
                <td>{{po.number_of_pieces}}</td>
                <td>{{po.balance_number_of_pieces}}</td>
                <td><button class="border-0 bg-transparent editButtonNewOrderClick"><a href="{% url 'purchase-order-update' po.id %}" id="editButtonNewOrderClick"><i class="fa-solid fa-pen-to-square px-2"></i></a></button></td>
                <td><button class="border-0 bg-transparent deletes-btn" data-item-id="{{po.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></i></button></td> 
                  <input type="hidden" value="{{po.raw_materials.exists}}" class="purchaseOderDelete">
             
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-text">
          Are you sure you want to delete this Purchase Order No?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" id="noButton" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- <img src="../../../static/images/Gear.png" alt="loading..." height="120px" width="120px" id="loadingImage" class="loading-image"> -->
<!-- <div class="modal fade" id="exampleModalSpinner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-transparent border-0">
    <div class="modal-body justify-content-center text-center">
      <img src="../../../static/images/Gear.png" alt="loading..." height="120px" width="120px">
      </div>
      </div>
  </div> 
</div>  -->



<script>

// function Loadingscreen(){
//         const form = document.getElementById("addNewOrderClick");
//         const loadingImage = document.getElementById("loadingImage");
      
     
//         form.addEventListener("click", function(event) {
//         // Show the loading image
//         loadingImage.style.display = "block";
      
    
//         });
//   }
//   window.addEventListener('popstate', function(event) {
//             const myModal = document.getElementById("loadingImage");
//             if (myModal) {
//                 myModal.style.display = 'none';
//             }
//     
//      });

//     Loadingscreen()
  function reversAddRowOrder() {
    window.location.href = "{% url 'purchase-order-create' %}";
  }

  document.body.appendChild(document.getElementById('exampleModal'));

  $(document).ready(function(){
      $('.deletes-btn').click(function(){
        var itemId = $(this).data('item-id');
        var name = $(this).closest('tr').find('td').eq(2).text();
        var coloredName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
        var oderedIdDelete = $(this).closest('tr').find('.purchaseOderDelete').val();
    
          $('#modal-body-text').html('Are you sure you want to delete the Purchase Order ' + coloredName + '?');
          // $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
          $('#exampleModal').modal('show');
      // Confirm delete button click event
      $('#confirmDeleteButton').off('click').on('click', function(){
        //var itemId = $(this).data('item-id');
        var $this = $(this);
        var openSpinner = $this.html();
        if(oderedIdDelete == 'False'){
          $this.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...');
          $this.prop('disabled', true);
          
          window.location.href = '/purchaseorderdelete/' + itemId;
        }else{
          $('#modal-body-text').html('Cannot delete this approved cutting ' + coloredName + '.');
          $('.modal-footer').hide();
          $this.html(openSpinner);
        $('.btn-close').on('click', function(){
          $('.modal-footer').show();
          $('.btn-close').off('click');
        });
        }
   
         
      })
          
      });

    ;
  });
</script>

{% endblock %}