{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}

<label class="fw-bold ms-3">Cutting V No :</label><span class="text-danger ms-2 fw-bold">{{cutting_order_instance.raw_material_cutting_id}}</span>
<label class="fw-bold ms-5">Total QTY :</label><span class="text-danger ms-2 fw-bold">{{cutting_order_instance.processed_qty}}</span>

<form method="POST" autocomplete="off" id="purchaseOderCutting">
    {% csrf_token %}

    <h2 class="mb-3 mt-3">Cutting</h2>
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-striped table-hover table-bordered tables" id="cuttingTable">
                <thead class="name_absolute text-nowrap">
                    <tr>
                        <th>Product Sku</th>
                        <th>Color</th>
                        <th>Cutting Qty</th>
                        <th>Balance pcs</th>
                        <th>Approved pcs <input type="checkbox" class="checkAll ms-2" id="id_checkAll" name="checkAll"></th>
                    </tr>
                </thead>
                <tbody class="mainTableList">
                    {{formset.management_form}}
                    {% for form in formset %}
                    {{form.id}}
                    <tr class="text-nowrap">
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                        <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-cutting_quantity" value="{{form.instance.cutting_quantity}}" id="id_{{form.prefix}}-cutting_quantity" readonly></td>
                        <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>
                        <td><input class="text-danger productorderrawqty-input" value="{{form.instance.approved_pcs}}">
                            <!-- <input type="number" class="productorderqty-input" name="{{form.prefix}}-" value="{{form.instance.approved_pcs}}" id="id_{{form.prefix}}-approved_pcs"> -->
                            <input type="number" class="productorderqty-input ms-2" name="{{form.prefix}}-approved_pcs" value="{{form.instance.approved_pcs}}" id="id_{{form.prefix}}-approved_pcs">
                        
                        </td>
                      
                        <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-approved_pcs_diffrence" value="{{form.instance.approved_pcs_diffrence}}" id="id_{{form.prefix}}-approved_pcs_diffrence">
                        <input type="hidden" class="productorderqty-input" name="{{form.prefix}}-currentApproved_pcs" value="" id="id_{{form.prefix}}-currentApproved_pcs">
                    </tr>
                    {% endfor %}
                    <tr class="fw-bold text-danger">
                        <td colspan="2">Total</td>
                        <td><span class="ms-2" id="TotalCutting">0</span></td>
                        <td><span class="ms-2" id="TotalApprove">0</span></td>
                        <td><span class="ms-2" id="TotalBalance">0</span></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
   
<button type="submit" name="" id="cuttingOrderApproved" class="create-btn mt-3 mx-3">Submit</button>
</form>
<div>
    <table class="table table-striped table-hover table-bordered" id="approvalDataLog" >
      <thead class="name_absolute sticky-top">
        <tr>
          <th>Date</th>
          <th>Approved By</th>
          <th>Approved QTY</th>
          <th>Balance QTY LWO</th>
        </tr>
      </thead>
      <tbody class="mainTableList" >
          
      </tbody>
      <tbody class="mainTableList" id="totalApproved">
        <tr>
          <td colspan="2" class="fw-bold">Total</td>
        
          <td><span class="fw-bold" id="tApprovedQty">0</span></td>
          <td><span class="fw-bold" id="tBalanceQty">0</span></td>
        </tr>
      </tbody>
    </table>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    var checkAll = document.getElementById('id_checkAll');
    
    // Event listener for the "Check All" checkbox
    checkAll.addEventListener('change', checkboxCheckAll);

    function checkboxCheckAll() {
        var checkboxes = document.querySelectorAll('[name$="-approved_pcs"]');
        
        checkboxes.forEach(element => {
            var balanceQty = element.closest('tr').querySelector('[name$="-balance_pcs"]');
            var cuttingQty = element.closest('tr').querySelector('[name$="-cutting_quantity"]');
            var balanceValue = parseInt(balanceQty.value) || 0;
            var cuttingValue = parseInt(cuttingQty.value) || 0;
    
            if (checkAll.checked) {
                element.value = cuttingValue;
                balanceQty.value = 0;
            } else {
                element.value = 0;
                
                balanceQty.value = cuttingValue;
            }
        });
    }
});

function quantityCheck() {
    totalCutting = 0;
    totalapprove = 0;
    totalbalance = 0;
    var approved = document.querySelectorAll('[name$= "-approved_pcs"]');

    approved.forEach(element => {
        var approvedValues = parseInt(element.value);
        var cuttingApprovedValue = parseInt(element.closest('tr').querySelector('[name$= "-cutting_quantity"]').value);
        var currentApproveValues = parseInt(element.closest('tr').querySelector('[name$= "-currentApproved_pcs"]').value);
        var balanceValueKey = parseInt(element.closest('tr').querySelector('[name$="-balance_pcs"]').value)
        
       console.log(approvedValues)
            if (cuttingApprovedValue < approvedValues) {
                element.closest('tr').querySelector('[name$= "-approved_pcs"]').value = 0;
            }
            
            if (!isNaN(approvedValues) && !isNaN(cuttingApprovedValue)) {
                var balanceApprovedValue = cuttingApprovedValue - approvedValues;
                if (balanceApprovedValue < 0) {
                    element.closest('tr').querySelector('[name$= "-balance_pcs"]').value = cuttingApprovedValue;
                } else {
                    element.closest('tr').querySelector('[name$= "-balance_pcs"]').value = balanceApprovedValue;
                }
            }
            totalCutting += cuttingApprovedValue;
            totalapprove += approvedValues;
            totalbalance += balanceValueKey;
            document.getElementById('TotalCutting').textContent =totalCutting
            document.getElementById('TotalApprove').textContent = totalapprove;
            document.getElementById('TotalBalance').textContent =totalbalance;
        
    });
}


    function submitForm(){
        var balanceApprove = document.querySelectorAll('[name$="-balance_pcs"]');
        var currentApproved = document.querySelectorAll('[name$="-approved_pcs"]');
        var submitBtn = document.querySelector('.create-btn');
        var checkBoxBtn = document.getElementById('id_checkAll');
        currentApproved.forEach(values =>{
            var current = parseInt(values.value);
            values.closest('tr').querySelector('[name$= "-currentApproved_pcs"]').value = current;

        })
        var totalQty = 0;
        balanceApprove.forEach(ele =>{
            var balance = parseInt(ele.value);
           totalQty = totalQty + balance;
        
            return totalQty
        })

        if(totalQty === 0){
            var approveBtn = document.querySelectorAll('[name$= "-approved_pcs"]');
               approveBtn.forEach(element =>{
                   element.setAttribute('readonly', true);
               }) 
               submitBtn.style.display = 'none'; 
               checkBoxBtn.disabled = true;          
        }else{
        submitBtn.style.display = 'block';
        checkBoxBtn.disabled = false;
      }
  
    }
 
    function approveValueCheck(){
        var approveCheck = document.querySelectorAll('[name$= "-approved_pcs"]');
        var submitButton = document.getElementById('cuttingOrderApproved');
        var hasInvalidValue = false; 

        approveCheck.forEach(function(data){
            var approveValue = parseInt(data.value);
            var closerstTr = data.closest('tr');
            var currentCheckValue = closerstTr.querySelector('[name$= "-currentApproved_pcs"]').value;
         if (approveValue != 0) {
            // Check if approvedValues is less than currentCheckValue
            if (approveValue < currentCheckValue) {

                data.style.borderColor = 'red';
                hasInvalidValue = true; 
             
             
            }else{
                data.style.borderColor = 'gray';
              
            }
        } 
        });
        if (hasInvalidValue) {
            submitButton.style.cursor = "not-allowed";
            submitButton.disabled = true;
        } else {
            submitButton.style.cursor = "pointer";
            submitButton.disabled = false;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
    
        quantityCheck()
        submitForm()
 
        let approve = document.querySelectorAll('input[name$="-approved_pcs"]');
        approve.forEach(function (element) {
            element.addEventListener('input', () => {
                quantityCheck();
                approveValueCheck();
              
            });
            element.addEventListener('focus',()=>{
                approveValueCheck();
            })
        })
    
        document.getElementById('purchaseOderCutting').addEventListener('submit',function(){
            approveValueCheck();
        })

    })


    if (window.opener) {
        
        const dataFromParent = window.opener.sharedData;
        var TotalApprove = 0;
        var totalBalance = 0;
        var newTable = document.querySelector('#approvalDataLog tbody'); 
        console.log(dataFromParent)
        newTable.innerHTML = ''; // Clear previous table rows


        dataFromParent.forEach(function(items, index) {
            console.log(items)
              var approveDate = new Date(items.Approved_Date).toLocaleDateString(); // Format the date
              var approveName = items.Approved_Name || 'N/A';   // Default if undefined
              var approveQty = items.Approved_Qty || 0;        // Default to 0 if undefined
              var balanceQty = items.pending_Qty || 0;        // Default to 0 if undefined
              var row = document.createElement('tr');        // Create a new row
             
              // Create cells and set their content
              var cell1 = document.createElement('td');
              cell1.textContent = approveDate;

              var cell2 = document.createElement('td');
              cell2.textContent = approveName;

              var cell3 = document.createElement('td');
              cell3.textContent = approveQty;
              
              var cell4 = document.createElement('td');
              cell4.textContent = balanceQty;

              // Append cells to the row
              row.appendChild(cell1);
              row.appendChild(cell2);
              row.appendChild(cell3);
              row.appendChild(cell4);

              TotalApprove += approveQty;
              totalBalance += balanceQty;

              // Append the row to the table
              newTable.appendChild(row);
          });

          document.getElementById('tApprovedQty').textContent = TotalApprove;
          document.getElementById('tBalanceQty').textContent = totalBalance;

      
    }
</script>

{% endblock %}