{% extends 'product/base.html' %}
{% load static %}
{% block body %}
    <div class="row mt-4">
        <div class="col-lg-5">
            <h2 class="fw-bold mb-3">{{ warehouse_name }}</h2>
          <form action="" method="POST" id="colorForm">
            {% csrf_token %}
            <div class="d-flex">
              <label for="id_zone_name" class="item-form">Zone Name:</label>
              <input type="text" class="item-select rounded" value="{{ form.instance.zone_name }}" name="zone_name" maxlength="255" required id="id_zone_name">
            </div>
            <button type="submit" id="submitButtoncreateColorUpdate" class="create-btn mt-4" name="save" value="save">Save</button>
          </form>
      
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="d-flex mb-3">
                <form method="GET">
                  <div class="container-category ">
                    <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="" value="" />
                    <input type="submit" class="mx-2"></input>
                  </div>
                </form>
                <button class="item-btn mx-3">Clear Filter</button>
              </div>
            </div>
          </div>
          <div class="row ps-3">
            <div class="col-lg-12">
              <div class="table-responsives">
                <table class="table table-striped table-hover table-bordered" style="width: 100%;">
                  <thead class="name_absolute sticky-top text-nowrap">
                    <tr>
                      <th>No</th>
                      <th>Zone Name</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody class="mainTableList " style="max-height: 450px; overflow-y: auto;">
                    </tr>
                    {% for zone in zones %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><a href="{% url 'add-rack-in-zone' zone.id %}" style="text-decoration: none; color: #000">{{zone.zone_name}}</a></td>
                      <td><a href="{% url 'edit-zone-in-warehouse' zone.id %}"><i class="fa-solid fa-pen-to-square ps-3"></i></a></td>
                      <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ zone.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger ps-3"></button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body-text">
                  Are you sure you want to delete the zone is?
                </div>
                <div class="modal-footer">
                  <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
                  <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script>
        document.body.appendChild(document.getElementById('exampleModal'));
        document.addEventListener("DOMContentLoaded", function () {
          window.onload = function() {
              document.getElementById("id_color_name").focus();
          };
        })
        $(document).ready(function () {
          $('#colorForm').on('submit', function () {
            $('#submitButtoncreateColorUpdate').attr('disabled','disabled');
          });
          $('.delete-btn').click(function () {
            var itemId = $(this).data('item-id');
            var name = $(this).closest('tr').find('td').eq(1).text();
            var coloredName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
            $('#modal-body-text').html('Are you sure you want to delete the Zone is ' + coloredName + '?');
            $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
            $('#exampleModal').modal('show');
      
      
          });
      
          // Confirm delete button click event
          $('#confirmDeleteButton').click(function () {
            var itemId = $(this).data('item-id');
            // Redirect to delete view
            window.location.href = '/deletezoneinwarehouse/' + itemId;
          });
        });
      
        
      </script>
{% endblock body %}