{% extends 'product/base.html' %}
{% load static %}
{% block body %}
<div class="mt-4 mb-3">
    <!-- <h2>Warehouse List</h2> -->
    <div class="d-flex ">
        <label for="id_warehouse_select" class="">Warehouse :</label>
        <select name="warehouse_select" id="id_warehouse_select" class="ms-2 item-select">
            <option value="" selected>Select Warehouse</option>
            {% for x in wareshouse_all %}
            <option value="{% url 'finished-goods-stock-single' x.id %}">{{x.warehouse_name_finished}}</option>
            {% endfor %}
        </select>
        <button class="package_btn ms-4"><a style="text-decoration: none; color: white;" href="{% url 'finished-goods-stock-all' %}">All Stock</a></button>
    </div>
    

</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="name_absolute sticky-top"> 
            <tr> 
                <th>Product Name</th>
                <th>Refrence No</th>
                <th>Product SKU</th>
                <th>Product Color</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
            {% for record in finished_godown_all %}
            <tr>
                <td>{{record.Product.Product_Name}}</td>
                <td>{{record.Product.Product_Refrence_ID}}</td>
                <td>{{record.PProduct_SKU}}</td>
                <td>{{record.PProduct_color}}</td>
                <td class="stockQty">{{record.total_warehouse_stock | default_if_none:0}}</td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('id_warehouse_select').addEventListener('change',function(){
            changeValue() ;
        })
        function stockQty(){
            var stockQty = document.querySelectorAll('.stockQty')
            stockQty.forEach(function(qty){
               var stock=  parseInt(qty.textContent)
               console.log(stock)
               if(stock >= 0){
                qty.style.color = 'green';
               }else{
                qty.style.color = 'red';
               }
            })
        }
        stockQty()
    })
    function changeValue(){
        var selectedValue =document.getElementById('id_warehouse_select').value
        if (selectedValue) {
             window.location.href = selectedValue; 
        } 
    }
    changeValue()
</script>

    

{% endblock body %}




