{% extends 'product/base.html' %}

{% load static %}

{% block body %}

<div class="container mt-5">



    <table>

        <thead id=data-table>

            <tr>

                <th>grn no</th>

                <th>vendor name</th>

                <th>challan no</th>

                {% for value in sku_list%}

                <th>{{value}}</th>

                {% endfor %}
                <th>Total</th>
            </tr>
            
        </thead>

        <tbody>

            {% for data in list_to_send %}

            <tr>
                <td>{{ data.grn_no }}</td>
                <td>{{ data.vendor_name }}</td>
                <td>{{ data.challan_no }}</td>
                {% for key,value in data.approve_qty.items %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

  


{% endblock body %}