{% extends 'product/base.html' %}
{% load static %}
{% block body %}
<div class="mt-4">
    <form action="">
        <div class="mb-3">
            <label class="fw-bold">Product Sku :<span class="text-danger ms-2">{{product_name}}</span></label>
            <label class="fw-bold">Voucher Type:<span class="text-danger ms-2">{{voucher_type}}</span></label>
        </div>
       <div class="row">
            <div class="col-lg-10">
                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                        {{formset.management_form}}
        
                        {% for form in formset %}
                        {{form}}
                        {% endfor %}
                    </tbody>
                   
                </table>
            </div>
       </div>
 
        
     
        <button type="submit" class="newProductCreateBtn mt-5" name="save" value="Save" id="">Submit</button>
    </form>
</div>

{% endblock body %}
