{% extends 'product/base.html' %}
{% load static %}
{% block body %}
    <form action="" method="post" id="stockTransferForm" class="mt-3">
      {% csrf_token %}
      <div>
        <span></span>
      </div>
      <input type="hidden" id="productTransferDate" value="{{dict_to_send}}">
      <div class="d-flex mb-2">
          <label for="id_voucher_no" class="">Voucher No:</label>
          {% if form.instance.pk %}
          <input value="{{form.instance.voucher_no}}" class="item-select mx-3" type="number" name="voucher_no" id="id_voucher_no" readonly>
          {% elif not form.instance.pk %}
          <input value="{{form.instance.voucher_no}}" required class="item-select mx-3" type="number" name="voucher_no" id="id_voucher_no">
          {% endif %}
          <div>
              <label for="" class="item-form">Source warehouse:</label>
              <p>(Transfer from)</p>
          </div>
          <div class="d-flex mb-3 ms-3 my-2">
              <select name="source_warehouse" required class="item-select" id="id_source_warehouse">
  
                  {% if form.instance.pk %}
                    <option value="{{form.instance.source_warehouse.id}}">{{form.instance.source_warehouse.godown_name_finished}}</option>
                        
                  {% elif not form.instance.pk %}
  
                    <option value=""></option>
                    
                    {% for godown in godowns %}
                    <option value="{{ godown.id }}">{{godown.godown_name_finished}}</option>
                    {% endfor %}
                  
  
                  {% endif %}
              </select>
          </div>
          <span class="pt-3 px-2">To</span>
          <div class="mx-2">
              <label for="" class="item-form">Target Warehouse:</label>
              <p>(Transfer to)</p>
          </div>
          <div class=" d-flex mb-3 ms-3 my-2">
              <select class="item-select destination_godowns" required name="destination_warehouse" id="id_destination_warehouse">
                {% if form.instance.pk %}
                  <option value="{{form.instance.destination_warehouse.id}}">{{form.instance.destination_warehouse.warehouse_name_finished}}</option>
    

                {% elif not form.instance.pk %}

                  <option value=""></option>
      
                  {% for warehouse in warehouses %}
                  <option value="{{ warehouse.id }}">{{warehouse.warehouse_name_finished}}</option>
                  {% endfor %}
                

                {% endif %}
              </select>
          </div>
      </div>
      <div class="d-flex mb-3">
          
      </div>
     
      <div class="">
          <table class="table table-striped table-hover table-bordered" id="mainProductForm">
              <thead class="name_absolute sticky-top">
                  <tr>
                      <th>No</th>
                      <th>Product Name</th>
                      <th>Color</th>
                      <th>Qty</th>
                      <th>Units</th>
                      <th>Remark</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody class="mainTableList">
                  {{ formset.management_form}}
                  {% for form in formset %}
            
                  {% if voucher_instance.qc_all_qty > 0 %}
                  {{ form.id }}
                  <tr>
                      <td><span id="id_stock_{{forloop.counter0}}">{{forloop.counter}}</span></td>
                      <td>
                          <div class="custom-dropdown-container">
                            <input readonly  type="hidden" name="{{form.prefix}}-product" id="id_{{form.prefix}}-product" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" > 
                              <input readonly type="text" name="{{form.prefix}}-products" id="id_{{form.prefix}}-products" class="productpurchaseInvoice search-input stock_product_name"  placeholder="Product Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.product.Product.Product_Name }} {{form.instance.product.PProduct_SKU}}{% endif %}"> 
                              <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice stock_input_name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >
  
                               </div>
                          </div> 
                      </td>
                      <td>
                          <input type="text" value="{{form.instance.product.PProduct_color.color_name}}" name="stock_color_{{forloop.counter0}}" id="id_stock_color_{{forloop.counter0}}" class="purchase-amount stock_color" readonly>
                      </td>
                      <td>
                          <input readonly type="text" value="{{form.instance.product_quantity_transfer|default_if_none:''}}" class="purchase-amount stock_qty" name="{{form.prefix}}-product_quantity_transfer" maxlength="200" id="id_{{form.prefix}}-product_quantity_transfer">
                      </td>
                      <td>
                          <input readonly type="text" value="NOS" name='stock_per_{{forloop.counter0}}' id="id_stock_per_{{forloop.counter0}}" class="purchase-amount stock_units" readonly>
                      </td>
                      <td>
                          <input readonly type="text" value="{{form.instance.remarks|default_if_none:''}}" class="purchase-amount stock_remarks" name="{{form.prefix}}-remarks" maxlength="255" id="id_{{form.prefix}}-remarks">
                      </td>
                      <td>
                          <span class="delete-btn border-0 bg-transparent" style="cursor: pointer; display: none;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input disabled type="checkbox" class="stock_deleteId px-2" style="display: none;" name="{{form.prefix}}-transnfer_cancelled_records" id="id_{{form.prefix}}-transnfer_cancelled_records" value=""></i></span>
                      </td>
                  </tr>
                  {% else %}
                  {{ form.id }}
                  <tr>
                    <td><span id="id_stock_{{forloop.counter0}}">{{forloop.counter}}</span></td>
                    <td>
                        <div class="custom-dropdown-container">
                          <input  type="hidden" name="{{form.prefix}}-product" id="id_{{form.prefix}}-product" value="{% if form.instance.id %}{{form.instance.product.PProduct_SKU}}{% endif %}" > 
                            <input type="text" name="{{form.prefix}}-products" id="id_{{form.prefix}}-products" class="productpurchaseInvoice search-input stock_product_name"  placeholder="Product Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.product.Product.Product_Name }} {{form.instance.product.PProduct_SKU}}{% endif %}"> 
                            <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice stock_input_name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >

                             </div>
                        </div> 
                    </td>
                    <td>
                        <input type="text" value="{{form.instance.product.PProduct_color.color_name}}" name="stock_color_{{forloop.counter0}}" id="id_stock_color_{{forloop.counter0}}" class="purchase-amount stock_color" readonly>
                    </td>
                    <td>
                        <input type="text" value="{{form.instance.product_quantity_transfer|default_if_none:''}}" class="purchase-amount stock_qty" name="{{form.prefix}}-product_quantity_transfer" maxlength="200" id="id_{{form.prefix}}-product_quantity_transfer">
                    </td>
                    <td>
                        <input type="text" value="NOS" name='stock_per_{{forloop.counter0}}' id="id_stock_per_{{forloop.counter0}}" class="purchase-amount stock_units" readonly>
                    </td>
                    <td>
                        <input type="text" value="{{form.instance.remarks|default_if_none:''}}" class="purchase-amount stock_remarks" name="{{form.prefix}}-remarks" maxlength="255" id="id_{{form.prefix}}-remarks">
                    </td>
                    <td>
                        <span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="stock_deleteId px-2" style="display: none;" name="{{form.prefix}}-transnfer_cancelled_records" id="id_{{form.prefix}}-transnfer_cancelled_records" value=""></i></span>
                    </td>
                </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
          </table>
          {% if voucher_instance.qc_all_qty > 0 %}
          <button style="display: none;" type="button" class="create-btn" id="addRowButton">Add +</button>
          {% else %}
          <button type="button" class="create-btn" id="addRowButton">Add +</button>
          {% endif %}
      </div>
      {% if not voucher_instance.qc_all_qty > 0 %}
      <button type="submit" id="submitButtonStockTransfer" class="create-btn mt-4" name="save" value="Save">Submit</button>
      {% endif %}
    </form>
  
  <script>
      document.addEventListener('DOMContentLoaded', function () {
  
          const addRowButton = document.getElementById('addRowButton');
          const mainTable = document.querySelector('.mainTableList');
  
          if (addRowButton && mainTable) {
              addRowButton.addEventListener('click', function () {
                  let lastVisibleRow = null;
                  mainTable.querySelectorAll('tr').forEach(row => {
                      if (window.getComputedStyle(row).display !== 'none') {
                          lastVisibleRow = row;
                      }
                  });
                  if (lastVisibleRow) {
                      const newForm = document.getElementById('id_finished_goods_transfer_records_set-TOTAL_FORMS');
                      const newFormCount = parseInt(newForm.value);
                      const newTable = lastVisibleRow.cloneNode(true);
                      newTable.querySelectorAll("input select").forEach(function (e) {
                          e.value = "";
                      });
  
                      const newId = newTable.querySelector('td:first-child span');
                      newId.id = `id_stock_${newFormCount}`;
                      newId.textContent = newFormCount + 1;
                     
  
                      const productNameElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-product"]');
                      productNameElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product`;
                      productNameElement.name = `finished_goods_transfer_records_set-${newFormCount}-product`;
                      productNameElement.value = "";

                      const itemNameElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="-products"]');
                      itemNameElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-products`;
                      itemNameElement.name = `finished_goods_transfer_records_set-${newFormCount}-products`;
                      itemNameElement.value = "";
                      itemNameElement.style.readonly ="false";
  
                      const selectElement = newTable.querySelector('.stock_input_name[name^="select_product_name_"]');
                      selectElement.id = `select_product_name_${newFormCount}`;
                      selectElement.name = `select_product_name_${newFormCount}`;
                      selectElement.innerHTML = '';
  
                      const itemColorElement = newTable.querySelector('input[name^="stock_color_"]');
                      itemColorElement.id = `id_stock_color_${newFormCount}`;
                      itemColorElement.name = `stock_color_${newFormCount}`;
                      itemColorElement.value = "";
  
                      const itemQuantityElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="product_quantity_transfer"]');
                      itemQuantityElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-product_quantity_transfer`;
                      itemQuantityElement.name = `finished_goods_transfer_records_set-${newFormCount}-product_quantity_transfer`;
                      itemQuantityElement.value = "";
  
                      const itemPerElement = newTable.querySelector('input[name^="stock_per_"]');
                      itemPerElement.id = `id_stock_per_${newFormCount}`;
                      itemPerElement.name = `stock_per_${newFormCount}`;
                      itemPerElement.value = "NOS";
  
                      const itemRemarksElement = newTable.querySelector('input[name^="finished_goods_transfer_records_set-"][name$="remarks"]');
                      itemRemarksElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-remarks`;
                      itemRemarksElement.name = `finished_goods_transfer_records_set-${newFormCount}-remarks`;
                      itemRemarksElement.value = "";
  
                      const deleteElement = newTable.querySelector('.stock_deleteId[name^="finished_goods_transfer_records_set-"][name$="-transnfer_cancelled_records"]');
                      deleteElement.id = `id_finished_goods_transfer_records_set-${newFormCount}-transnfer_cancelled_records`;
                      deleteElement.name = `finished_goods_transfer_records_set-${newFormCount}-transnfer_cancelled_records`;
                      deleteElement.value = "";
                      deleteElement.checked = false;
  
                      newForm.value = newFormCount + 1;
  
                      mainTable.appendChild(newTable);
                      deleteRow();
                    editStockTransferProduct()
                
                    
                  } else {
                      console.error("No visible rows found to clone.");
                  }
              });
          }
  
          function deleteRow() {
              // Add click event listener to all delete buttons
              document.querySelectorAll('.delete-btn').forEach(function (button) {
                  button.addEventListener('click', function () {
                      // Find the row containing the clicked delete button
                      const row = this.closest('tr');
                      const checkRow = row.querySelector('.stock_deleteId[name^="finished_goods_transfer_records_set-"][name$="-transnfer_cancelled_records"]');
                      if (checkRow) {
                          checkRow.checked = true; // Mark as checked
                          checkRow.value = 'true'; // Set the value to 'true'
                          row.style.display = 'none';
  
                      } else {
                          console.error("Checkbox for deletion not found in this row");
                      }
                  });
              });
          };
          deleteRow();
         
      });
      function editStockTransferProduct() {
        var forms = document.getElementById('id_finished_goods_transfer_records_set-TOTAL_FORMS').value;
        console.log(forms)
        for(var i=0; i<forms; i++){
            var stockId = document.getElementById('id_finished_goods_transfer_records_set-' + i +'-id').value;
        
            if(stockId !== ""){
             
                var stockItemName = document.getElementById('id_finished_goods_transfer_records_set-'+ i+'-products');
                stockItemName.readOnly = true;
            
                var stockQty = document.getElementById('id_finished_goods_transfer_records_set-'+i+'-product_quantity_transfer');
                stockQty.readOnly = true;
            }
        }
      
    }
    editStockTransferProduct()

      $(document).ready(function () {
          var searchedItemNameDict;
          var enterPressed = false;
          var itemName;
          var purchaseValue;
          var productWerhouseid = $('#id_finished_goods_transfer_records_set-0-id').val() || '';  
          if(productWerhouseid == ''){
            $('#id_source_warehouse').on('change', function () {
              const godown_id = $(this).val();
              const id = $(this).attr('id');
              console.log(godown_id)
              $.ajax({
                  url: '/producttransfertowarehouseajax/',
                  method: 'GET',
                  data: {
                      'godown_id': godown_id
                  },
                  success: function (response) {
                      $('.stock_product_name').empty()
                      $('.stock_color').val('');
                      $('.stock_qty').val('');
                      $('.stock_remarks').val('');
                    
                      $(document).on('click input keyup focus keydown', 'input[name$="-products"]', function () {
                      itemName = $(this).closest('tr').find('input[name$="-product_quantity_transfer"]').attr('name');
                      purchaseValue = itemName.split('-')[1];
                              
                      });
                     $(document).on('input', 'input[name$="-products"]', function(e) {
                      var StockValue = $(this).attr('name').match(/\d+/)[0]; // Extract the numeric value from the input name
                      var nameValue = $(this).val().trim();
                      var selectNameValue = `select_product_name_${StockValue}`;
                      var suggestionsContainer = $(`#${selectNameValue}`);

                      if (nameValue === 'None' || nameValue === '') {
                        suggestionsContainer.css('display', 'none').empty();
                          $(this).attr('data-key', '');
                          return;
                      }
                      if(!enterPressed){
                          suggestionsContainer.css('display', 'block');
                      }
                      enterPressed = false;
                      
                      function escapeRegExp(string) {
                            return string.replace(/[.*+?^${}()|[\]\\,]/g, '\\$&');
                        }
                        searchedProductNameDic = response.filtered_product; 
                    
                        const searchQuery = nameValue.toLowerCase();
                        const searchTerms = searchQuery.split(/\s+/);
                        const convertStringData = searchTerms.toString();
                    
                        const escapedTerms = searchTerms.map(escapeRegExp);

                        const regex = new RegExp(`(${escapedTerms.join('|')})`, 'gi');

                        const normalizeSpaces = (str) => str.replace(/\s+/g, ' ').trim();
      
                        const filteredOptions = Object.entries(searchedProductNameDic).filter(
                        ([key, value]) => {
                            const normalizedKey = normalizeSpaces(key.toString().toLowerCase());
                            const normalizedProductName = normalizeSpaces(value[0].toString().toLowerCase());
                            const normalizedColor = normalizeSpaces(value[1].toString().toLowerCase());
                        
                            const normalizedQuery = normalizeSpaces(convertStringData.toLowerCase());
           
                            return normalizedKey.includes(normalizedQuery) ||
                                normalizedProductName.includes(normalizedQuery) ||
                                normalizedColor.includes(normalizedQuery);
                        });
         
                        suggestionsContainer.empty();
                        console.log(filteredOptions)
                        // Generate suggestions for matching options
                        filteredOptions.forEach(([key, value], index) => {
                            // Extract relevant fields
                            const productName = value[0]; // Product name
                            const productSKU = key; // SKU
                            const productColor = value[1];
                            // Highlight matches in name, SKU, and color
                            const highlightedText = productName.replace(regex, '<span class="highlight">$1</span>');
                            const highlightedSKU = productSKU.replace(regex, '<span class="highlight">$1</span>');
                            const highlightedColor = productColor.replace(regex, '<span class="highlight">$1</span>');

                            // Add the suggestion to the container
                            suggestionsContainer.append(`
                                <div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion" data-key="${key}">
                                    ${highlightedText}<span>${highlightedSKU}</span>&nbsp;<span>${highlightedColor}</span>
                                </div>
                            `);
                            
                        });
                        if(filteredOptions == ''){
                            suggestionsContainer.show();
                            suggestionsContainer.empty();
                            suggestionsContainer.append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                        }
                           
                          suggestionsContainer.on('click', '.itemName-div', function(e) {
                            var item_value = $(this).data('key');
                            var itemNamevaluesCheck = $(this).text().trim();
                         
                            $(this).closest('.custom-dropdown-container').find('.search-input').val(newNameValue);
                            $(this).closest('.custom-dropdown-container').find('[name$="-product"]').val(item_value)
                            $(this).addClass('selected').siblings().removeClass('selected');

                            if (item_value !== undefined) {
                            var selectedValue = searchedProductNameDic[item_value];
                            var namevalueCheck = selectedValue[0];
                          
                            var newNameValue = namevalueCheck + '-'+ item_value;
                  
                            $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);
                            
                                const productColor = selectedValue[1]
                                const productQty = selectedValue[2];
                                var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                                var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');
                                                    
                                productcolorinput.value = productColor;
                                productQtyinputs.value = productQty ;
                            
                            }
                        
                            suggestionsContainer.css('display', 'none');
                            
                        })
  
                     }) 
                     
  
                      var index = 0; // Declare index outside of the event listener
                      var indexbool = true;
  
                  $(document).on('keydown', 'input[name$="-products"]', function(event) {
                      const $inputField = $(this);
                      const $dropdownOptions = $inputField.next('.stock_input_name');
                      const $options = $dropdownOptions.find('.itemName-div');
                      const optionsCount = $options.length - 1;
                      const searchText = $inputField.val().trim();
                      const hiddenValue = $inputField.closest('.custom-dropdown-container').find(`#select_product_name_${purchaseValue}`);
                      if (searchText === '') {
                          index = 0;
                          return;
                      }
                      const newHeight = $inputField.offset();
                      const windowHeight = $(window).height();
                      const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
              
  
                      if (event.key === 'ArrowDown') {
                          event.preventDefault();
  
                          if (index <= optionsCount) {
                          
                              const $selectedItem = $options.eq(index);
                              const $nextItem = $selectedItem.next();
                              const nameDataKey = $selectedItem.text();
                              const nameKey = $selectedItem.data('key');
  
                              $inputField.attr('data-key', nameKey);
                          
                              $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                              const itemOffsetTop = $nextItem.position().top;
                              const itemHeight = $nextItem.outerHeight();
                              const selectScrollTop = $dropdownOptions.scrollTop();
                              const selectHeight = $dropdownOptions.height();
  
                              if (itemOffsetTop + itemHeight > selectHeight) {
                                  $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                              } else if (itemOffsetTop < 0) {
                                  $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                              }
                              $selectedItem.addClass('selected');
                              if (index !== optionsCount) {
                                  index += 1;
                                  indexbool = true;
                              }
                          } else {
                              index = 0;
                          }
                      }
  
                      if (event.key === 'ArrowUp') {
                          event.preventDefault();
  
                          if (index != 0 && indexbool == true) {
                              index -= 1;
                          }
  
                          if (index <= optionsCount) {
                          
                              const $selectedItem = $options.eq(index);
                              const $prevItem = $selectedItem.prev();
                              const nameDataKey = $selectedItem.text();
                              const nameKey = $selectedItem.data('key');
  
                              $inputField.attr('data-key', nameKey);
                              
                              $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                              
                              const itemOffsetTop = $prevItem.position().top;
                              const itemHeight = $prevItem.outerHeight();
                              const selectScrollTop = $dropdownOptions.scrollTop();
                              const selectHeight = $dropdownOptions.height();
  
                              if (itemOffsetTop < 0) {
                                  $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                              } else if (itemOffsetTop + itemHeight > selectHeight) {
                                  $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                              }
  
                              $selectedItem.addClass('selected');
                          } else {
                              index = 0;
                          }
                      }
  
                      if (event.key === 'Enter') {
                          event.preventDefault();
                          const itemEnterValue = $(this);
                          const item_value = itemEnterValue.attr('data-key');
  
                          nameDataKey = '';
                          nameKey = '';
                          index = 0;
                          indexbool = false;
                          if (item_value !== undefined) {
                            var selectedValue = searchedProductNameDic[item_value];
                            var namevalueCheck = selectedValue[0]
                            var newNameValue = namevalueCheck + '-'+ item_value;
            
                            $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-product"]`).val(item_value);
                            $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);
                            
                                const productColor = selectedValue[1];
                                const productQty = selectedValue[2];
                                var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                                var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');
                                                    
                                productcolorinput.value = productColor;
                                productQtyinputs.value = productQty ;
                            
                            }
  

                          enterPressed = true;
                          hiddenValue.css("display" ,"none");
                          $inputField.blur();
                      }
                      if (event.key === 'Tab' && enterPressed) {
                      enterPressed = false; // Reset Enter key handling
                      return true; // Allow default Tab behavior
                  }
              
                  });
  
                  },
                  error: function (error) {
                      console.log('Error sending value to the backend');
                      
                  }
              })
          })

        }else{
            var productTransferdate = $('#productTransferDate').val();

            var ProductDataObject;
            try {
            // Fix single quotes and mismatched quotes in the JSON string
                const sanitizedData = productTransferdate
                    .replace(/'/g, '"') // Replace single quotes with double quotes
                    .replace(/([{,])\s*(\d+)\s*:/g, '$1"$2":'); // Add quotes around numeric keys
                    ProductDataObject = JSON.parse(sanitizedData);
    
                } catch (error) {
                    console.error('Error parsing stockData:', error);
                }
            $(document).on('click input keyup focus keydown', 'input[name$="-products"]', function () {
                itemName = $(this).closest('tr').find('input[name$="-product_quantity_transfer"]').attr('name');
                purchaseValue = itemName.split('-')[1];
            });

            $(document).on('input', 'input[name$="-products"]', function (e) {
                var StockValue = $(this).attr('name').match(/\d+/)[0]; // Extract the numeric value from the input name
                var nameValue = $(this).val().trim();
                var selectNameValue = `select_product_name_${StockValue}`;
                var suggestionsContainer = $(`#${selectNameValue}`);

                if (nameValue === 'None' || nameValue === '') {
                      suggestionsContainer.css('display', 'none').empty();
                      $(this).attr('data-key', '');
                      return;
                }
                if (!enterPressed) {
                      suggestionsContainer.css('display', 'block');
                }
                enterPressed = false;

                function escapeRegExp(string) {
                      return string.replace(/[.*+?^${}()|[\]\\,]/g, '\\$&');
                }
                  searchedProductNameDic = ProductDataObject;
                  const searchQuery = nameValue.toLowerCase();
                  const searchTerms = searchQuery.split(/\s+/);
                  const convertStringData = searchTerms.toString();
                  const escapedTerms = searchTerms.map(escapeRegExp);
                  const regex = new RegExp(`(${escapedTerms.join('|')})`, 'gi');
                  const normalizeSpaces = (str) => str.replace(/\s+/g, ' ').trim();
                  const filteredOptions = Object.entries(searchedProductNameDic).filter(
                      ([key, value]) => {
                          const normalizedKey = normalizeSpaces(key.toString().toLowerCase());
                          const normalizedProductName = normalizeSpaces(value[0].toString().toLowerCase());
                          const normalizedColor = normalizeSpaces(value[1].toString().toLowerCase());

                          const normalizedQuery = normalizeSpaces(convertStringData.toLowerCase());

                          return normalizedKey.includes(normalizedQuery) ||
                              normalizedProductName.includes(normalizedQuery) ||
                              normalizedColor.includes(normalizedQuery);
                      });

                  suggestionsContainer.empty();

                  // Generate suggestions for matching options
                  filteredOptions.forEach(([key, value], index) => {
                      // Extract relevant fields
                      const productName = value[0]; // Product name
                      const productSKU = key; // SKU
                      const productColor = value[1];
                      // Highlight matches in name, SKU, and color
                      const highlightedText = productName.replace(regex, '<span class="highlight">$1</span>');
                      const highlightedSKU = productSKU.replace(regex, '<span class="highlight">$1</span>');
                      const highlightedColor = productColor.replace(regex, '<span class="highlight">$1</span>');

                      // Add the suggestion to the container
                      suggestionsContainer.append(`
                                <div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion" data-key="${key}">
                                    ${highlightedText}<span>${highlightedSKU}</span>&nbsp;<span>${highlightedColor}</span>
                                </div>
                            `);
                   });
                   if(filteredOptions == ''){
                            suggestionsContainer.show();
                            suggestionsContainer.empty();
                            suggestionsContainer.append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                        }

                  suggestionsContainer.on('click', '.itemName-div', function (e) {
                      var item_value = $(this).data('key');
                      var itemNamevaluesCheck = $(this).text().trim();

                      $(this).closest('.custom-dropdown-container').find('.search-input').val(newNameValue);
                      $(this).closest('.custom-dropdown-container').find('[name$="-product"]').val(item_value)
                      $(this).addClass('selected').siblings().removeClass('selected');

                      if (item_value !== undefined) {
                          var selectedValue = searchedProductNameDic[item_value];
                          var namevalueCheck = selectedValue[0];
                
                          var newNameValue = namevalueCheck + '-' + item_value;
                          $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);

                          const productColor = selectedValue[1]
                          const productQty = selectedValue[2];
                          var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                          var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');

                          productcolorinput.value = productColor;
                          productQtyinputs.value = productQty;

                      }

                      suggestionsContainer.css('display', 'none');

                  });

              })  
                     
  
                var index = 0; // Declare index outside of the event listener
                var indexbool = true;
  
                $(document).on('keydown', 'input[name$="-products"]', function(event) {
                      const $inputField = $(this);
                      const $dropdownOptions = $inputField.next('.stock_input_name');
                      const $options = $dropdownOptions.find('.itemName-div');
                      const optionsCount = $options.length - 1;
                      const searchText = $inputField.val().trim();
                      const hiddenValue = $inputField.closest('.custom-dropdown-container').find(`#select_product_name_${purchaseValue}`);
                      if (searchText === '') {
                          index = 0;
                          return;
                      }
                      const newHeight = $inputField.offset();
                      const windowHeight = $(window).height();
                      const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
              
  
                      if (event.key === 'ArrowDown') {
                          event.preventDefault();
  
                          if (index <= optionsCount) {
                          
                              const $selectedItem = $options.eq(index);
                              const $nextItem = $selectedItem.next();
                              const nameDataKey = $selectedItem.text();
                              const nameKey = $selectedItem.data('key');
  
                              $inputField.attr('data-key', nameKey);
                          
                              $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                              const itemOffsetTop = $nextItem.position().top;
                              const itemHeight = $nextItem.outerHeight();
                              const selectScrollTop = $dropdownOptions.scrollTop();
                              const selectHeight = $dropdownOptions.height();
  
                              if (itemOffsetTop + itemHeight > selectHeight) {
                                  $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                              } else if (itemOffsetTop < 0) {
                                  $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                              }
                              $selectedItem.addClass('selected');
                              if (index !== optionsCount) {
                                  index += 1;
                                  indexbool = true;
                              }
                          } else {
                              index = 0;
                          }
                      }
  
                      if (event.key === 'ArrowUp') {
                          event.preventDefault();
  
                          if (index != 0 && indexbool == true) {
                              index -= 1;
                          }
  
                          if (index <= optionsCount) {
                          
                              const $selectedItem = $options.eq(index);
                              const $prevItem = $selectedItem.prev();
                              const nameDataKey = $selectedItem.text();
                              const nameKey = $selectedItem.data('key');
  
                              $inputField.attr('data-key', nameKey);
                              
                              $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                              
                              const itemOffsetTop = $prevItem.position().top;
                              const itemHeight = $prevItem.outerHeight();
                              const selectScrollTop = $dropdownOptions.scrollTop();
                              const selectHeight = $dropdownOptions.height();
  
                              if (itemOffsetTop < 0) {
                                  $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                              } else if (itemOffsetTop + itemHeight > selectHeight) {
                                  $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                              }
  
                              $selectedItem.addClass('selected');
                          } else {
                              index = 0;
                          }
                      }
  
                      if (event.key === 'Enter') {
                          event.preventDefault();
                          const itemEnterValue = $(this);
                          const item_value = itemEnterValue.attr('data-key');
  
                          nameDataKey = '';
                          nameKey = '';
                          index = 0;
                          indexbool = false;
                          if (item_value !== undefined) {
                            var selectedValue = searchedProductNameDic[item_value];
                            var namevalueCheck = selectedValue[0]
                            var newNameValue = namevalueCheck + '-'+ item_value;
                           
                            $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-product"]`).val(item_value);
                            $(`input[name$="finished_goods_transfer_records_set-${purchaseValue}-products"]`).val(newNameValue);
                            
                                const productColor = selectedValue[1];
                                const productQty = selectedValue[2];
                                var productcolorinput = document.querySelector('#id_stock_color_' + purchaseValue);
                                var productQtyinputs = document.getElementById('id_finished_goods_transfer_records_set-' + purchaseValue + '-product_quantity_transfer');
                                                    
                                productcolorinput.value = productColor;
                                productQtyinputs.value = productQty ;
                            
                            }
  

                          enterPressed = true;
                          hiddenValue.css("display" ,"none");
                          $inputField.blur();
                      }
                      if (event.key === 'Tab' && enterPressed) {
                      enterPressed = false; // Reset Enter key handling
                      return true; // Allow default Tab behavior
                    }
              
                }); 
            }
        })

  </script>

{% endblock body %}