
{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div>

    <form class="mt-4" action="" method="POST" autocomplete="off" id="newForm">
        
        {% csrf_token %}
        {% if product_pur_vouch_form.instance.id %}
        <div class="">
            <div class="d-flex mb-3">
                <span id="purchaseError" class="error-messages"></span>
                <div class="d-flex ">
                    <label for="id_purchase_number"  class="me-3">Purchase No :</label>
                
                    <input type="text" class="item-select" name="purchase_number" id ="id_purchase_number" value="{{product_pur_vouch_form.instance.purchase_number}}" maxlength="255" required readonly>
                </div>
                <span id="SupplierError" class="error-messages"></span>
                <div class="d-flex ms-2">
                    <label for="id_supplier_invoice_number" class="" >Supplier No :</label>
                    <input type="text" class="item-select" name="supplier_invoice_number" id ="id_supplier_invoice_number" value="{{product_pur_vouch_form.instance.supplier_invoice_number}}" maxlength="255" required readonly  aria-required="true">
                </div>
               
                <div class="d-flex ms-3">
                    <label for="id_GST_numbers" class="" >Company GST No :</label>
                    <input type="text" class="item-select" name="GST_numbers" id ="id_company_GST_numbers" value="27AAACG20210238" maxlength="50" readonly >
                </div>
                <div class="d-flex ms-3">
                    <label for="id_ledger_type" class="me-2" >ledger Type :</label>
                    <input type="text" class="item-select border-0 bg-transparent" name="ledger_type" id ="id_ledger_type" value="{{product_pur_vouch_form.instance.ledger_type}}" maxlength="50" default='Purchase(Product)' readonly placeholder="Purchase(Product)" >
                </div>
                
            </div>
            <span id="ledgerError" class="error-messages"></span>
            <div class="d-flex mb-3">
                <div class="d-flex">
                    <label for="id_GST_numbers" class="me-2" >Finished godowns :</label>
                    <select name="finished_godowns" required id="id_finished_godowns" class="item-select" disabled>
                        {% for warehouse in warehouses %}
                          <option value="{{ warehouse.pk }}">{{ warehouse.warehouse_name_finished }}</option>
                        {% endfor %}
                    </select>
                </div>
                <span id="purchaseError" class="error-messages"></span>
                <div class="d-flex ms-3">
                    <label for="id_party_name" class="me-3" >Party A/C Name :</label>
                    <select class="product2Select text-black" name="party_name" required id="id_party_name" disabled>
                        {% if product_pur_vouch_form.instance.id %}
                        <option value="{{product_pur_vouch_form.instance.party_name.id}}">{{product_pur_vouch_form.instance.party_name.name}}</option>
                        {% elif not form.instance.id %}
                        <option value=""></option>
                        {% endif %}
                        
                        {% for x in party_names %}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {% endfor %}
                    </select>
                    <button disabled type="button" class="itemCreate_btn popup-trigger" onclick="openPurchasePartyPopup()">+</button>
                </div>
                <div class="d-flex ms-3">
                    <label for="id_GST_number" class="me-2" >Party GST No :</label>
                    <input type="text" class="item-select" name="GST_number" id ="id_GST_number"  value="{% if product_pur_vouch_form.instance.id %}{{ product_pur_vouch_form.instance.party_name.Gst_no }}{% endif %}" maxlength="15" readonly required>
                </div>
            
            </div>
        </div>

        {% elif not product_pur_vouch_form.instance.id %}
        <div class="">
            <div class="d-flex mb-3">
                <span id="purchaseError" class="error-messages"></span>
                <div class="d-flex ">
                    <label for="id_purchase_number"  class="me-3">Purchase No :</label>
                    
                    <input type="text" class="item-select" name="purchase_number" id ="id_purchase_number" value="{{product_pur_vouch_form.instance.purchase_number}}" maxlength="255" required>
                    
                    
                </div>
                <span id="SupplierError" class="error-messages"></span>
                <div class="d-flex ms-2">
                    <label for="id_supplier_invoice_number" class="" >Supplier No :</label>
                    {% if product_pur_vouch_form.instance.id %}
                    <input type="text" class="item-select" name="supplier_invoice_number" id ="id_supplier_invoice_number" value="{{product_pur_vouch_form.instance.supplier_invoice_number}}" maxlength="255" readonly>
                    {% elif not product_pur_vouch_form.instance.id %}
                    <input type="text" class="item-select" name="supplier_invoice_number" id ="id_supplier_invoice_number" value="{{product_pur_vouch_form.instance.supplier_invoice_number}}" maxlength="255" required  aria-required="true">
                    {% endif %}
                </div>
               
                <div class="d-flex ms-3">
                    <label for="id_GST_numbers" class="" >Company GST No :</label>
                    <input type="text" class="item-select" name="GST_numbers" id ="id_company_GST_numbers" value="27AAACG20210238" maxlength="50" readonly >
                </div>
                <div class="d-flex ms-3">
                    <label for="id_ledger_type" class="me-2" >ledger Type :</label>
                    <input type="text" class="item-select border-0 bg-transparent" name="ledger_type" id ="id_ledger_type" value="{{product_pur_vouch_form.instance.ledger_type}}" maxlength="50" default='Purchase(Product)' readonly placeholder="Purchase(Product)" >
                </div>
                
            </div>
            <span id="ledgerError" class="error-messages"></span>
            <div class="d-flex mb-3">
                <div class="d-flex">
                    <label for="id_GST_numbers" class="me-2" >Finished godowns :</label>
                    <select name="finished_godowns" required id="id_finished_godowns" class="item-select text-dark">
                        {% for warehouse in warehouses %}
                          <option value="{{ warehouse.pk }}">{{ warehouse.warehouse_name_finished }}</option>
                        {% endfor %}
                    </select>
                </div>
                <span id="purchaseError" class="error-messages"></span>
                <div class="d-flex ms-3">
                    <label for="id_party_name" class="me-3" >Party A/C Name :</label>
                    <select class="product2Select" name="party_name" required id="id_party_name">
                        {% if product_pur_vouch_form.instance.id %}
                        <option value="{{product_pur_vouch_form.instance.party_name.id}}">{{product_pur_vouch_form.instance.party_name.name}}</option>
                        {% elif not form.instance.id %}
                        <option value=""></option>
                        {% endif %}
                        
                        {% for x in party_names %}
                        <option value="{{x.id}}">{{x.name}}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="itemCreate_btn popup-trigger" onclick="openPurchasePartyPopup()">+</button>
                </div>
                <div class="d-flex ms-3">
                    <label for="id_GST_number" class="me-2" >Party GST No :</label>
                    <input type="text" class="item-select" name="GST_number" id ="id_GST_number"  value="{% if product_pur_vouch_form.instance.id %}{{ product_pur_vouch_form.instance.party_name.Gst_no }}{% endif %}" maxlength="15" readonly required>
                </div>
            
            </div>
        </div>
        {% endif %}
        <div> 
            <table id="myTable" class="table table-striped table-hover  table-bordered">
                <thead class="name_absolute">
                    <th>No</th>
                    <th colspan="2">Product Name</th>
                    <th style="padding-left: 25px;">Colour</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>Units</th>
                    <th>Tax</th>
                    <th>GST %</th>
                    <th>CGST</th>
                    <th>SGST/IGST</th>
                    <th>Total Amount</th>
                    <th>DELETE</th>
                </thead>
                <tbody class="mainTableList">
                    {{product_purchase_voucher_items_formset_instance.management_form}}
                    {% for forms in product_purchase_voucher_items_formset_instance %}
                    {{ forms.id }}
                    {% if product_pur_vouch_instance.total_qc_qty > 0 %}
                    <tr> 
                        <td><input type="number" class="rowNo purchase-mark bg-transparent border-0" name="rowNo_{{forloop.counter0}}" id="rowNo_{{forloop.counter0}}" value="{{forloop.counter}}"></td>
                        <td colspan="2">
                            <div class="custom-dropdown-container">
                                <input type="hidden" name="{{forms.prefix}}-product_name" id="id_{{forms.prefix}}-product_name"  value="{% if forms.instance.id %}{{forms.instance.product_name.PProduct_SKU}}{% endif %}" > 


                                <input type="text" readonly name="{{forms.prefix}}-product_name_value" id="id_{{forms.prefix}}-product_name_Value" class="productpurchaseInvoice search-input"  placeholder="Product Name" autocomplete="off" value="{% if forms.instance.id %}{{forms.instance.product_name.Product.Product_Name}} {{forms.instance.product_name.PProduct_SKU}} {% endif %}" > 

                                
                                <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice product-name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >
                                  
                               
                                 </div>
                            </div> 
                        </td>
                        <td><input type="text" readonly name="item_color_{{forloop.counter0}}" id="item_color_{{forloop.counter0}}" value="{% if forms.instance.id %}{{forms.instance.product_name.PProduct_color}}{% endif %}" class="purchase-input" style="margin-left: 10px;" readonly></td>
               
                        <td><input type="number" readonly id="{{forms.prefix}}-quantity_total" class="purchase-input purchase-qunatity" name="{{forms.prefix}}-quantity_total" value="{{forms.instance.quantity_total | default_if_none:'' }}" ></td>
                        <td><input type="number" readonly id="{{forms.prefix}}-rate" class="purchase-input purchase-rate" name="{{forms.prefix}}-rate" value="{{forms.instance.rate | default_if_none:''}}"></td>
                        <td style="width: 50px;"><input type="text" name="item_per_{{forloop.counter0}}" id="item_per_{{forloop.counter0}}" value="NOS" class="purchase-mark" readonly></td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-amount" class="purchase-amount total-amount" name="{{forms.prefix}}-amount" value="{{forms.instance.amount | default_if_none:''}}" readonly>
                        </td>
                        <td>
                            
                            <input type="number" id="{{forms.prefix}}-gst" class="purchase-mark purchase-gst" name="{{forms.prefix}}-gst" value="{{ forms.instance.product_name.Product.Product_GST.gst_percentage }}" readonly >
                        </td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-cgst" class="purchase-input purchase-cgst" name="{{forms.prefix}}-cgst" value=""readonly >
                        </td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-sgst" class="purchase-input purchase-sgst" name="{{forms.prefix}}-sgst" value=""readonly >
                        </td>
                        <td><input type="number" id="{{forms.prefix}}-total_amount" class="purchase-amount purchase-total" name="{{forms.prefix}}-total_amount" value="" readonly></td>
                        <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer; display: none;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="godown_deleteId px-2" style="display: none;"  name="{{forms.prefix}}-DELETE" id="{{forms.prefix}}-DELETE" value="" ></i></span></td>
                        
                    </tr>
                    {% else %}
                    <tr> 
                        <td><input type="number" class="rowNo purchase-mark bg-transparent border-0" name="rowNo_{{forloop.counter0}}" id="rowNo_{{forloop.counter0}}" value="{{forloop.counter}}"></td>
                        <td colspan="2">
                            <div class="custom-dropdown-container">
                                <input type="hidden" name="{{forms.prefix}}-product_name" id="id_{{forms.prefix}}-product_name"  value="{% if forms.instance.id %}{{forms.instance.product_name.PProduct_SKU}}{% endif %}" > 


                                <input type="text" name="{{forms.prefix}}-product_name_value" id="id_{{forms.prefix}}-product_name_Value" class="productpurchaseInvoice search-input"  placeholder="Product Name" autocomplete="off" value="{% if forms.instance.id %}{{forms.instance.product_name.Product.Product_Name}} {{forms.instance.product_name.PProduct_SKU}} {% endif %}" > 

                                
                                <div name="select_product_name_{{forloop.counter0}}" class="productpurchaseInvoice product-name s-suggestion-container item-select_input" id="select_product_name_{{forloop.counter0}}" style="display: none; height:auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Product Name" >
                                  
                               
                                 </div>
                            </div> 
                        </td>
                        <td><input type="text" name="item_color_{{forloop.counter0}}" id="item_color_{{forloop.counter0}}" value="{% if forms.instance.id %}{{forms.instance.product_name.PProduct_color}}{% endif %}" class="purchase-input" style="margin-left: 10px;" readonly></td>
               
                        <td><input type="number" id="{{forms.prefix}}-quantity_total" class="purchase-input purchase-qunatity" name="{{forms.prefix}}-quantity_total" value="{{forms.instance.quantity_total | default_if_none:'' }}" ></td>
                        <td><input type="number" id="{{forms.prefix}}-rate" class="purchase-input purchase-rate" name="{{forms.prefix}}-rate" value="{{forms.instance.rate | default_if_none:''}}"></td>
                        <td style="width: 50px;"><input type="text" name="item_per_{{forloop.counter0}}" id="item_per_{{forloop.counter0}}" value="NOS" class="purchase-mark" readonly></td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-amount" class="purchase-amount total-amount" name="{{forms.prefix}}-amount" value="{{forms.instance.amount | default_if_none:''}}" readonly>
                        </td>
                        <td>
                            
                            <input type="number" id="{{forms.prefix}}-gst" class="purchase-mark purchase-gst" name="{{forms.prefix}}-gst" value="{{ forms.instance.product_name.Product.Product_GST.gst_percentage }}" readonly >
                        </td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-cgst" class="purchase-input purchase-cgst" name="{{forms.prefix}}-cgst" value=""readonly >
                        </td>
                        <td>
                            <input type="number" id="{{forms.prefix}}-sgst" class="purchase-input purchase-sgst" name="{{forms.prefix}}-sgst" value=""readonly >
                        </td>
                        <td><input type="number" id="{{forms.prefix}}-total_amount" class="purchase-amount purchase-total" name="{{forms.prefix}}-total_amount" value="" readonly></td>
                        <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="godown_deleteId px-2" style="display: none;"  name="{{forms.prefix}}-DELETE" id="{{forms.prefix}}-DELETE" value="" ></i></span></td>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                <tbody>
                    <tr>
                        <td class="text-center fw-bold" ><span>Total</span></td>
                        <td colspan="3"></td>
                        <td> <input type="number" class="purchase-input" style="border: 1px solid red;" name="grand_quantity" id ="id_grand_quantity" value="" maxlength="50" step=".01" readonly></td>
                        <td colspan="2"></td>
                        <td><input type="number" class="purchase-amount" style="border: 1px solid red;"  name="grand_taxableAmount" id ="id_grand_taxableAmount" value="" maxlength="50" step=".01" readonly ></td>
                        <td></td>
                        <td><input type="number" class="purchase-input" style="border: 1px solid red;" name="grand_cgst" id ="id_grand_cgst" value="" maxlength="50" step=".01" readonly></td>
                        <td><input type="number" class="purchase-input" style="border: 1px solid red; " name="grand_Sgst" id ="id_grand_sgst" value="" maxlength="50" step=".01" readonly > </td>
                        <td> <input type="number" class="purchase-amount" style="border: 1px solid red;" name="grand_amount" id ="id_grand_amount" value="" maxlength="50" step=".01" readonly></td>
                    </tr>
                </tbody>
    
            </table>
        </div>
        
       
    <div class="row">
        <div class="col-lg-9">
            <div class="ms-2">
                {% if product_pur_vouch_instance.total_qc_qty > 0 %}
                <input readonly type="number" class="product_row" name="productRow" id="id_productRow" value="1">
                <button style="display: none;" type="button" class="item-btn mb-3" id="addRowButton">Add +</button>
                {% else %}
                <input  type="number" class="product_row" name="productRow" id="id_productRow" value="1">
                <button type="button" class="item-btn mb-3" id="addRowButton">Add +</button>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="mb-4">
                <div class=" mb-3">
                    <label  class="purchase-lable fw-bold">Gross total</label>
                    <span class="purchase-span">
                        <input type="number" class="purchaseTableLabel-Gtotal  purchase-amounts" name="gross_total" id ="id_gross_total" value="{{product_pur_vouch_form.instance.gross_total | default_if_none:''}}" maxlength="50" step=".01" readonly >
                    </span>           
                </div>
                <div class=" mb-3">
                    {% if product_pur_vouch_instance.total_qc_qty > 0 %}
                    <label class="purchase-lable fw-bold">Fright & Transport</label>
                    <span class="purchase-span">
                        <input readonly type="number" class="purchaseTableLabel-transport  purchase-amounts" name="fright_transport" id ="id_fright_transport" value="{{product_pur_vouch_form.instance.fright_transport | default_if_none:'0'}}" maxlength="50" step=".01" required >
                    </span>
                    {% else %}
                    <label class="purchase-lable fw-bold">Fright & Transport</label>
                    <span class="purchase-span">
                        <input type="number" class="purchaseTableLabel-transport  purchase-amounts" name="fright_transport" id ="id_fright_transport" value="{{product_pur_vouch_form.instance.fright_transport | default_if_none:'0'}}" maxlength="50" step=".01" required >
                    </span>
                    {% endif %}
                </div>
                <div class=" mb-3">
                    <input type="hidden" id="temp_grand_total" value="">
                    <label class="purchase-lable fw-bold">Round Of </label>
                    <span class="purchase-span">
                        <input type="number" class="purchaseTableLabel-roundOf  purchase-amounts" name="round_off" id ="id_round_off" value="" maxlength="50" step=".01" readonly required>
                    </span> 
                </div>
            
                <div class=" mb-3">
                    <label class="purchase-lable fw-bold">Grand total</label>
                    <span class="purchase-span"><input type="number" class="purchaseTableLabel-total purchase-amounts" name="grand_total" value="{{product_pur_vouch_form.instance.grand_total | default_if_none:''}}" id="id_grand_total" step=".01" readonly required></span> 
                </div>
            </div>
        </div>
        
        
    {% if not product_pur_vouch_instance.total_qc_qty > 0 %}
    </div>
      <button type="submit" class="ms-5 newProductCreateBtn" id="parentFormClick">Submit</button>
    {% endif %}
    </form>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
      <div class="modal-body justify-content-center text-center">
        <img src="../../../static/images/Cosmus.png" alt="loading..." height="120px" width="120px" class="spinner_image">
        </div>
        </div>
    </div> 
</div>


<!--This script use for party name add which use in ledger create popup-->
<script>
      document.body.appendChild(document.getElementById('exampleModal'));
      $('#newForm').off('submit').on('submit', function(e) {
            var $submitButton = $('#id_submitPurchaseOrderCutting');  // The submit button
            var originalButtonValue = $('#exampleModal');  // Store original button text
            originalButtonValue.show();
        });

    var popUpNewWindow = null;
function openPurchasePartyPopup(button){
    openNewPopup(button, '{% url "ledger-popup-create" %}');
}

function openNewPopup(button, url){
    if (popUpNewWindow === null || popUpNewWindow.closed) {
        newPopUpwindow(button, url);
    } else {
  
        popUpNewWindow.focus();
    }
}

function newPopUpwindow(button, path){
    // Specify minimum height and width
  var minWidth = 1150; // minimum width
  var minHeight = 800; // minimum height

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');

  // Open new page with specified dimensions
  popUpNewWindow = window.open(path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    // Ensure only one event listener is attached
  
    window.addEventListener('message', function(event){
        if (event.data.message === 'close') {
                $('body').removeClass('popup-open');
                $('.popup-overlay').remove();
                popUpNewWindow.close();
                
             }
           });


    // Listen for messages from the popup window
    window.addEventListener('click', function(event) {
    handleOutsideClick(event);
  });
}
function handleOutsideClick(event) {
var popUpRect = document.querySelector('body').getBoundingClientRect();
var clickX = event.clientX;
var clickY = event.clientY;
 
  // Check if the click is outside the popup window
  if (
    clickX > popUpRect.left || clickX <= popUpRect.right ||
    clickY > popUpRect.top || clickY <= popUpRect.bottom
  ) {
   
    popUpNewWindow.focus();
    
  }

}

window.addEventListener('message', function(event) {
    const data = event.data;
    console.log(data.ledger_labour);
    if (data.ledger_labour) {
        populateDropdownLedger(data.ledger_labour, '#id_party_name', 'name', 'Select Name');
    }
});

function populateDropdownLedger(items, dropdownSelector, valueKey, defaultText) {
    const dropdown = $(dropdownSelector);
    dropdown.empty();
    dropdown.append('<option value="">' + defaultText + '</option>');

    items.forEach(item => {
        dropdown.append('<option value="' + item.id + '">' + item[valueKey] + '</option>');
    });
}

// This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst 
function getGstNo() {
    let partyGstValue = document.getElementById('id_GST_number').value;
    let comapnyGst = document.getElementById('id_company_GST_numbers').value;

        comapnyGst = comapnyGst.toString();
        partyGstValue = partyGstValue.toString();

    const newCompanyGst = comapnyGst.slice(0,2);
    const newPartyGst = partyGstValue.slice(0,2);
    return newCompanyGst === newPartyGst;
}

</script>

<script>
    $(document).ready(function(){
        $('#id_purchase_number').on('focusout',function(){
            var purchase_number = $(this).val();
           console.log(purchase_number)
            var purchase = $("#id_purchase_number");
            var errorElement = $('#purchaseError'); // The error message element
            var submitForm = $('#parentFormClick');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'purchase_number': purchase_number,
                    
                },
                success: function (data) {
                    if(data.validation_flag === true){
                       purchase.css('border', '1px solid red');
                        errorElement.text('*Purchase number already exists');
                        errorElement.show();
                        submitForm.prop('disabled', true);
                       
                    }else {
                        
                        purchase.css('border', '1px solid black');
                        errorElement.text('');
                        errorElement.hide();
                        submitForm.prop('disabled', false);
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        })
   
//this ajax is for gst no 
        $(document).on('change', 'select[name^="party_name"]', function () {

        const selected_party_name = $(this).val()
        const int_selected_party_name = parseInt(selected_party_name)

        $.ajax({
            url: '/purchasevouchercreate/',
            method: 'GET',
            data: {
                'selected_party_name': selected_party_name,
            },
            success: function (response) {
                const party_gst_no_response = response.party_gst_no
                const gst_no_input = document.getElementById('id_GST_number')
                gst_no_input.value = party_gst_no_response
                getGstNo()
                calculateTotalAmount()
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        })
        })
    })
    


   
</script>

 <script>
    //This ajax call is to populate the shade and color based on the selected item once retrive the value
    //When click the item name then append the shades with the color, per 
    $(document).ready(function () {
        var itemName;
        var uniqueIdValue;
        var purchaseValue;
        var selectName;
        var searchedProductNameDic; 
        var enterPressed = false;

        // This ajax request for a input type value send to the backend and show the product name 
        $(document).on('input', 'input[name$="-product_name_value"]', function(e) {
           var  purchaseValue = $(this).attr('name').match(/\d+/)[0]; // Extract the numeric value from the input name
            var productnamevalue = $(this).val().trim();
            var selectNameValue = `select_product_name_${purchaseValue}`;
            var suggestionsContainer = $(`#${selectNameValue}`);
 
                if (productnamevalue === 'None') {
                    var selectNameValue = $(this).closest('tr').find('[name^="select_product_name_"]');
                        
                    selectNameValue.css('display', 'none');
                    $(this).attr('data-key', '');
                    return;
                }

                if(!enterPressed){
                    suggestionsContainer.css('display', 'block');
                }
                enterPressed = false;
        
                if(productnamevalue.length >= 1){
                    $.ajax({
                    url: '/productdynamicsearchajax/',
                    method: 'GET',
                    data: { 'productnamevalue': productnamevalue },
                    success: function (response) {
                        // Function to escape special characters in the search query
                        function escapeRegExp(string) {
                            return string.replace(/[.*+?^${}()|[\]\\,]/g, '\\$&');
                        }
                        searchedProductNameDic = response.products; 
                        console.log(searchedProductNameDic)
                        const searchQuery = productnamevalue.toLowerCase();
                        const searchTerms = searchQuery.split(/\s+/);
                        const convertStringData = searchTerms.toString();
                    
                        const escapedTerms = searchTerms.map(escapeRegExp);

                        const regex = new RegExp(`(${escapedTerms.join('|')})`, 'gi');

                        const normalizeSpaces = (str) => str.replace(/\s+/g, ' ').trim();
      
                        const filteredOptions = Object.entries(searchedProductNameDic).filter(
                        ([key, value]) => {
                            const normalizedKey = normalizeSpaces(key.toString().toLowerCase());
                            const normalizedProductName = normalizeSpaces(value[0].toString().toLowerCase());
                            const normalizedColor = normalizeSpaces(value[1].toString().toLowerCase());
                        
                            const normalizedQuery = normalizeSpaces(convertStringData.toLowerCase());
           
                            return normalizedKey.includes(normalizedQuery) ||
                                normalizedProductName.includes(normalizedQuery) ||
                                normalizedColor.includes(normalizedQuery);
                        });
         
                        suggestionsContainer.empty();

                        // Generate suggestions for matching options
                        filteredOptions.forEach(([key, value], index) => {
                            // Extract relevant fields
                            const productName = value[0]; // Product name
                            const productSKU = key; // SKU
                            const productColor = value[1];
                            // Highlight matches in name, SKU, and color
                            const highlightedText = productName.replace(regex, '<span class="highlight">$1</span>');
                            const highlightedSKU = productSKU.replace(regex, '<span class="highlight">$1</span>');
                            const highlightedColor = productColor.replace(regex, '<span class="highlight">$1</span>');

                            // Add the suggestion to the container
                            suggestionsContainer.append(`
                                <div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion" data-key="${key}">
                                    ${highlightedText}<span>${highlightedSKU}</span>&nbsp;<span>${highlightedColor}</span>
                                </div>
                            `);
                        });
                    
                    },
                    error: function (xhr) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        if (xhr.status === 404) {
                            
                            suggestionsContainer.show();
                            suggestionsContainer.empty();
                            suggestionsContainer.append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                        }
                    }
                });
                }else{
                    suggestionsContainer.empty();
                }
        
        
            suggestionsContainer.on('click', '.itemName-div', function(e) {
                var item_value = $(this).data('key');
                var itemNamevaluesCheck = $(this).text().trim();
                
                $(this).closest('.custom-dropdown-container').find('.search-input').val(itemNamevaluesCheck);
                $(this).closest('.custom-dropdown-container').find('[name$="-product_name"]').val(item_value)
                $(this).addClass('selected').siblings().removeClass('selected');

                if (item_value !== undefined) {
                var selectedValue = searchedProductNameDic[item_value];
                var namevalueCheck = selectedValue[0];
                var newnameValue = namevalueCheck +''+item_value;
                $(`input[name$="product_purchase_voucher_items_set-${purchaseValue}-product_name"]`).val(item_value);
                $(`input[name$="product_purchase_voucher_items_set-${purchaseValue}-product_name_value"]`).val(newnameValue)
                    const productColor = selectedValue[1];
                    const productGst = selectedValue[2];
                    var itemcolorinput = document.querySelector('#item_color_' + purchaseValue);
                    var itemgstinputs = document.getElementById('product_purchase_voucher_items_set-' + purchaseValue + '-gst');
                                        
                        itemcolorinput.value = productColor;
                        itemgstinputs.value = productGst ;
                
            }
               
                suggestionsContainer.css('display', 'none');
                
            });
        
        
        });

        var index = 0; // Declare index outside of the event listener
        var indexbool = true;

        $(document).on('keydown', 'input[name$="-product_name_value"]', function(event) {
        const $inputField = $(this);
        const $dropdownOptions = $inputField.next('.product-name');
        const $options = $dropdownOptions.find('.itemName-div');
        const optionsCount = $options.length - 1;
        const searchText = $inputField.val().trim();
        const hiddenValue = $inputField.closest('.custom-dropdown-container').find(`#select_item_name_${purchaseValue}`);
        if (searchText === '') {
            index = 0;
            return;
        }
        const newHeight = $inputField.offset();
        const windowHeight = $(window).height();
        const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
   

        if (event.key === 'ArrowDown') {
             event.preventDefault();

            if (index <= optionsCount) {
            
                const $selectedItem = $options.eq(index);
                const $nextItem = $selectedItem.next();
                const nameDataKey = $selectedItem.text();
                const nameKey = $selectedItem.data('key');

                $inputField.attr('data-key', nameKey);
             
                $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                const itemOffsetTop = $nextItem.position().top;
                const itemHeight = $nextItem.outerHeight();
                const selectScrollTop = $dropdownOptions.scrollTop();
                const selectHeight = $dropdownOptions.height();

                if (itemOffsetTop + itemHeight > selectHeight) {
                    $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                } else if (itemOffsetTop < 0) {
                    $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                }
                $selectedItem.addClass('selected');
                if (index !== optionsCount) {
                    index += 1;
                    indexbool = true;
                }
            } else {
                index = 0;
            }
        }

        if (event.key === 'ArrowUp') {
             event.preventDefault();

            if (index != 0 && indexbool == true) {
                index -= 1;
            }

            if (index <= optionsCount) {
               
                const $selectedItem = $options.eq(index);
                const $prevItem = $selectedItem.prev();
                const nameDataKey = $selectedItem.text();
                const nameKey = $selectedItem.data('key');

                $inputField.attr('data-key', nameKey);
                
                $selectedItem.addClass('bg-highlight').siblings().removeClass('bg-highlight');
                
                const itemOffsetTop = $prevItem.position().top;
                const itemHeight = $prevItem.outerHeight();
                const selectScrollTop = $dropdownOptions.scrollTop();
                const selectHeight = $dropdownOptions.height();

                if (itemOffsetTop < 0) {
                    $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
                } else if (itemOffsetTop + itemHeight > selectHeight) {
                    $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
                }

                $selectedItem.addClass('selected');
            } else {
                index = 0;
            }
        }

        if (event.key === 'Enter') {
             event.preventDefault();
            const itemEnterValue = $(this);
            const item_value = Number(itemEnterValue.attr('data-key'));
            const purchasedata = itemEnterValue.closest('tr').find('[name^="item_color_"]').attr('name').match(/\d+/)[0];
            console.log('purchasedata',purchasedata)
            nameDataKey = '';
            nameKey = '';
            index = 0;
            indexbool = false;
            $dropdownOptions.css('display', 'none');
            if (item_value !== undefined) {
                var selectedValue = searchedProductNameDic[item_value];
                console.log(selectedValue,'selectedValue')
                var namevalueCheck = selectedValue[0];
                 var newnameValue = namevalueCheck + ' '+item_value;

                $(`input[name$="product_purchase_voucher_items_set-${purchasedata}-product_name"]`).val(item_value);
                $(`input[name$="product_purchase_voucher_items_set-${purchasedata}-product_name_value"]`).val(newnameValue)
                    const productColor = selectedValue[1];
                    const productGst = selectedValue[2];
                    var itemcolorinput = document.querySelector('#item_color_' + purchasedata);
                    var itemgstinputs = document.getElementById('product_purchase_voucher_items_set-' + purchasedata + '-gst');
                                        
                        itemcolorinput.value = productColor;
                        itemgstinputs.value = productGst ;
                        enterPressed = true;
            hiddenValue.css("display" ,"none");
            $inputField.blur();
            }
           
        }
        if (event.key === 'Tab' && enterPressed) {
        enterPressed = false; // Reset Enter key handling
        return true; // Allow default Tab behavior
    }
   
     });



    })
</script>


<script>
//     //This script is to calculate the purchase invoice amount and create a new row to added and append it to the table-->
    function calculateTotalAmount() {
        let total = 0; 
        let totalQty = 0;
        let newGst =0;
        let newCgst = 0;
        let totalCgst =0;
        let newSgst = 0;
        let totalSgst =0;
        let grandTotal = 0;
        let grandTotalAmount = 0;
        // Iterate through each row
        const rows = Array.from(document.querySelectorAll('.mainTableList tr'))
        .filter(row => row.style.display !== 'none');
        rows.forEach(function(row) {
            // Find the quantity, rate, and amount input fields for the current row
            const quantityInput = row.querySelector('.purchase-input[name^="product_purchase_voucher_items_set-"][name$="-quantity_total"]');
            const rateInput = row.querySelector('.purchase-input[name^="product_purchase_voucher_items_set-"][name$="-rate"]');
            const amountInput = row.querySelector('.total-amount[name^="product_purchase_voucher_items_set-"][name$="-amount"]');
            const gstValue = row.querySelector('.purchase-gst[name^="product_purchase_voucher_items_set-"][name$="-gst"]');
            const cgstValue= row.querySelector('.purchase-cgst[name^="product_purchase_voucher_items_set-"][name$="-cgst"]');
            const sgstValue= row.querySelector('.purchase-sgst[name^="product_purchase_voucher_items_set-"][name$="-sgst"]');
            const totalAmountInput = row.querySelector('.purchase-total[name^="product_purchase_voucher_items_set-"][name$="-total_amount"]');
         
            // Get the values of quantity and rate
            const quantity = parseFloat(quantityInput.value);
            // console.log(quantity)
            const rate = parseFloat(rateInput.value);
            const gst = parseFloat(gstValue.value);
            //console.log(rate)
            // Calculate the amount for the current row
            const amount = quantity * rate;
            totalQty  += quantity;
            // This function use for comparing the company gst with party gst no and calculate the cgst,sgst and igst
            if(getGstNo()){ 
            newGst = amount * gst / 100;
            newCgst = newGst / 2;
            newSgst = newGst / 2;
           
            cgstValue.value = isNaN(newCgst) ? '' : newCgst.toFixed(2);
            sgstValue.value = isNaN(newSgst) ? '' : newSgst.toFixed(2);

            totalCgst +=  newCgst;
            totalSgst +=  newSgst;
          
            total += amount; 
            grandTotal = amount + newCgst + newSgst;

          
        
           }else{
            cgstValue.value = ''
            let newIgst = amount * gst / 100;

            sgstValue.value = isNaN(newIgst) ? '' : newIgst.toFixed(2);
            totalSgst += newIgst;
            total +=  amount;  
            grandTotal = amount + newIgst ;
        
        }
            amountInput.value = isNaN(amount) ? '' : amount.toFixed(2);
            totalAmountInput.value = isNaN(grandTotal) ? '' : grandTotal.toFixed(2); 
          
            grandTotalAmount += grandTotal; 
           
        }); 
     
            document.getElementById('id_grand_taxableAmount').value = isNaN(total) ? '' :total.toFixed(2);
            document.getElementById('id_grand_quantity').value = isNaN(totalQty) ? '' :totalQty.toFixed(2);
            document.getElementById('id_grand_cgst').value = isNaN(totalCgst) ? '' :totalCgst.toFixed(2);
            document.getElementById('id_grand_sgst').value = isNaN(totalSgst) ? '' : totalSgst.toFixed(2);
            document.getElementById('id_grand_amount').value =isNaN(grandTotalAmount) ? '' : grandTotalAmount.toFixed(2);   
            calculateOtherTotal()   
    }
    // calculateTotalAmount()
    function calculateOtherTotal(grandTotal) {

         const grandTotals = parseFloat(document.getElementById('id_grand_amount').value);
         //console.log('grandTotals',grandTotals)
          let  grossTotal = grandTotals;      
    
        // Set the calculated gross total value to the gross total input field
        document.getElementById('id_gross_total').value =isNaN(grossTotal) ? '' : grossTotal.toFixed(2);

        const frightTransport = parseFloat(document.getElementById('id_fright_transport').value);

        let finalTotal = grossTotal + frightTransport;

        document.getElementById('temp_grand_total').value =isNaN(finalTotal) ? '' : finalTotal.toFixed(2);

          
        let finalTotals = Math.round(finalTotal)
        let roundOff = finalTotals - finalTotal;

        document.getElementById('id_round_off').value =isNaN(roundOff) ? '' : roundOff.toFixed(2);
        // Set the calculated grand total value to the grand total input field
        document.getElementById('id_grand_total').value = isNaN(finalTotals) ? '' : finalTotals.toFixed(2);
    }
    // Call the function initially to calculate total amount, GST, and grand total on page load
 
    // Add onchange event handler to id_fright_transport
    document.getElementById('id_fright_transport').addEventListener('input', calculateOtherTotal);
    document.getElementById('id_round_off').addEventListener('input', calculateOtherTotal);

    
    
  
    // Event listener for the add row button
    document.addEventListener('DOMContentLoaded', function () {
    const addButton= document.getElementById('addRowButton');
    const tableBody = document.querySelector('#myTable tbody'); // Clone the first row of the table
    
    if(addButton && tableBody){
        addButton.addEventListener('click', function() {
            let addInputRow = parseInt(document.getElementById('id_productRow').value, 10);

                if (isNaN(addInputRow) || addInputRow <= 0) {
                    addInputRow = 1;
                    return;
                }
                let lastVisibleRow = null;
                tableBody.querySelectorAll('tr').forEach(row => {
                    if (window.getComputedStyle(row).display !== 'none') {
                        lastVisibleRow = row;
                    }
            });

            if (lastVisibleRow) {
                const formCountInput = document.getElementById("id_product_purchase_voucher_items_set-TOTAL_FORMS");
               
                for(let i = 0; i<addInputRow; i++){
                    const formCount = parseInt(formCountInput.value); 
                    const formIndex = formCount;
                    const lastRow = lastVisibleRow.cloneNode(true);
                    lastRow.querySelectorAll("input select").forEach(function (e) {
                        e.value = "";
                    });

                    // update the input name,id and value of the last row   
                    const rowElement = lastRow.querySelector('.rowNo[name^="rowNo_"]');
                    rowElement.id = `rowNo_${formIndex}`;
                    rowElement.name = `rowNo_${formIndex}`;
                    rowElement.value = formIndex + 1 ;
                    rowElement.style.border="none";

                    const inputSelectElement = lastRow.querySelector('input[name$="-product_name"]');
                    inputSelectElement.id = `id_product_purchase_voucher_items_set-${formIndex}-product_name`;
                    inputSelectElement.name = `product_purchase_voucher_items_set-${formIndex}-product_name`;
                    inputSelectElement.value="";

                    const inputElement = lastRow.querySelector('input[name$="-product_name_value"]');
                    inputElement.id = `id_product_purchase_voucher_items_set-${formIndex}-product_name_value`;
                    inputElement.name = `product_purchase_voucher_items_set-${formIndex}-product_name_value`;
                    inputElement.value="";
                    
                    const selectElement = lastRow.querySelector('.product-name[name^="select_product_name_"]');
                    selectElement.id = `select_product_name_${formIndex}`;
                    selectElement.name = `select_product_name_${formIndex}`;
                    selectElement.innerHTML = '';
            
                    const colorInputElement = lastRow.querySelector('.purchase-input[name^="item_color"]');
                    colorInputElement.id = `item_color_${formIndex}`;
                    colorInputElement.name = `item_color_${formIndex}`;
                    colorInputElement.value="";

                    const qunatityInputElement = lastRow.querySelector('.purchase-qunatity[name^="product_purchase_voucher_items_set-"][name$="-quantity_total"]');
                    qunatityInputElement.id = `product_purchase_voucher_items_set-${formIndex}-quantity_total`;
                    qunatityInputElement.name = `product_purchase_voucher_items_set-${formIndex}-quantity_total`;
                    qunatityInputElement.value="";

                    const rateInputElement = lastRow.querySelector('.purchase-rate[name^="product_purchase_voucher_items_set-"][name$="-rate"]');
                    rateInputElement.id = `product_purchase_voucher_items_set-${formIndex}-rate`;
                    rateInputElement.name = `product_purchase_voucher_items_set-${formIndex}-rate`;
                    rateInputElement.value="";

                    const perInputElement = lastRow.querySelector('.purchase-mark[name^="item_per"]');
                    perInputElement.id = `item_per_${formIndex}`;
                    perInputElement.name = `item_per_${formIndex}`;
                    perInputElement.value="NOs";

                    const amountInputElement = lastRow.querySelector('.total-amount');
                    amountInputElement.id = `product_purchase_voucher_items_set-${formIndex}-amount`;
                    amountInputElement.name = `product_purchase_voucher_items_set-${formIndex}-amount`;
                    amountInputElement.value="";

                    const gstElement = lastRow.querySelector('.purchase-gst[name^="product_purchase_voucher_items_set-"][name$="-gst"]');
                    gstElement.id = `product_purchase_voucher_items_set-${formIndex}-gst`;
                    gstElement.name = `product_purchase_voucher_items_set-${formIndex}-gst`;
                    gstElement.value="";
                    
                    
                    const cgstElement = lastRow.querySelector('.purchase-cgst[name^="product_purchase_voucher_items_set-"][name$="-cgst"]');
                    cgstElement.id = `product_purchase_voucher_items_set-${formIndex}-cgst`;
                    cgstElement.name = `product_purchase_voucher_items_set-${formIndex}-cgst`;
                    cgstElement.value="";

                    const sgstElement = lastRow.querySelector('.purchase-sgst[name^="product_purchase_voucher_items_set-"][name$="-sgst"]');
                    sgstElement.id = `product_purchase_voucher_items_set-${formIndex}-sgst`;
                    sgstElement.name = `product_purchase_voucher_items_set-${formIndex}-sgst`; 
                    sgstElement.value="";

                    const TotalAmountElement = lastRow.querySelector('.purchase-total[name^="product_purchase_voucher_items_set-"][name$="-total_amount"]');
                    TotalAmountElement.id = `product_purchase_voucher_items_set-${formIndex}-total_amount`;
                    TotalAmountElement.name = `product_purchase_voucher_items_set-${formIndex}-total_amount`;
                    TotalAmountElement.value="";

                    const deleteElement = lastRow.querySelector('input[name^="product_purchase_voucher_items_set-"][name$="-DELETE"]');
                    deleteElement.id = `product_purchase_voucher_items_set-${formIndex}-DELETE`;
                    deleteElement.name = `product_purchase_voucher_items_set-${formIndex}-DELETE`;
                    deleteElement.value= "";

                    formCountInput.value = formCount + 1; 
                    tableBody.appendChild(lastRow);
                    bindRowListeners(lastRow)
                }
                document.getElementById('id_productRow').value = '1';
                calculateTotalAmount();
                calculateOtherTotal();
                deleteRowData()

            }   
             
        });
        
    }else{
        console.error("Could not find addFormButton or table body element.");

    }
    function bindRowListeners(row) {
        const quantityInput = row.querySelector('.purchase-qunatity[name$="-quantity_total"]');
        const rateInput = row.querySelector('.purchase-rate[name$="-rate"]');
        
        if (quantityInput) {
            quantityInput.addEventListener('input', calculateTotalAmount);
        }
        if (rateInput) {
            rateInput.addEventListener('input', calculateTotalAmount);
        }
    }
    });


    function getVisibleRows() {
    // Select all rows that are not hidden (excluding those with display: none)
    const visibleRows = document.querySelectorAll('.mainTableList tr:not([style*="display: none"])');
    return visibleRows;
}
   function deleteRowData(){
    // Add click event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(function (button) {
    button.addEventListener('click', function () {
        // Find all rows in the table
        const rows =  getVisibleRows();
        console.log(rows)
        // Check if more than one row exists
        if (rows.length > 1) {
            // Find the row containing the clicked delete button
            const row = this.closest('tr');

            if (row) {
                // Find the checkbox for deletion in the row
                const checkRow = row.querySelector('.godown_deleteId[name^="product_purchase_voucher_items_set-"][name$="-DELETE"]');

                if (checkRow) {
                    checkRow.checked = true; // Mark as checked
                    checkRow.value = 'true'; // Set the value to 'true'

                    // Optionally hide the row visually
                    row.style.display = 'none';

                    // Call functions to recalculate totals or perform other updates
                    calculateTotalAmount();
                    calculateOtherTotal();
                    //inputCheck();
                } else {
                    console.error("Checkbox for deletion not found in this row");
                }
            }
        } else {
            // If only one row remains, alert the user
            alert('Cannot delete this row; at least one row must remain.');
        }
    });
});

 
  };
document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll('[name$="-quantity_total"], [name$="-rate"]').forEach(input => {
    input.addEventListener('input', function(){
        calculateTotalAmount();
        calculateOtherTotal();
    });
});



})

 calculateTotalAmount();
 calculateOtherTotal();
 deleteRowData()
</script>
<script>
    const form = document.getElementById("newForm");
    const submitButton = document.getElementById("parentFormClick");
    const supplier_invoice_number = document.getElementById('')
    // Prevent Enter key from submitting the form
    form.addEventListener("keydown", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
      
      }
    });
  
    document.addEventListener("DOMContentLoaded", function () {
    const submitButton = document.getElementById("parentFormClick");
    const itemNameInputs = document.querySelectorAll("input[id^='item_name_']");

    const itemQtyInputs = document.querySelectorAll("input[id$='-quantity_total']");

    function validateInputs() {
        let isValid = true;
        // Check all item name inputs
        itemNameInputs.forEach(input => {
            console.log('ew',typeof(input.value.trim()))
            if (!input.value.trim()) {
                isValid = false;
            }
            if(input.value.trim() == ""){
                submitButton.disabled = true;
            }else{
                submitButton.disabled = false; 
            }
            
        });

    }


    itemNameInputs.forEach(input => {
        input.addEventListener("input", validateInputs);
    });

 
    submitButton.addEventListener('click',function(){
        validateInputs()
    })
 
    // Initial validation on page load
    validateInputs();
    inputCheck();
});


function inputCheck(){
        const itemNameInputsid = document.querySelectorAll('[name$="-product_name"]');
    // Loop through each input and add keydown event listener
    itemNameInputsid.forEach((input, index) => {
        input.addEventListener("keydown", function (event) {
            if (event.key === "Tab") {
                event.preventDefault(); // Prevent default tab behavior

                // Check if the current input has a value
                if (input.value.trim() !== "") {
                    // If not the last input, move focus to the next row's item name
                    if (itemNameInputsid[index + 1]) {
                        itemNameInputsid[index + 1].focus();
                    }
                } else {
                    // If current input is empty, refocus on it
                    input.focus();
                }
            }
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default Enter key behavior

                // Find the current <td> containing this input
                const currentTd = this.closest('td');
                    console.log('currentId',currentTd)
                // Find the next <td> sibling
                if (currentTd) {
                    const nextTd = currentTd.nextElementSibling;

                    // Check if next <td> exists and contains an input
                    if (nextTd) {
                        const nextInput = nextTd.querySelector('input');
                        if (nextInput) {
                            nextInput.focus(); // Move focus to the next input
                        }
                    }
                }
            }
        });
    });
    }
</script>


{% endblock body %}