{% extends 'product/base.html' %}

{% load static %}

{% block body %}

<a href="{% url 'warehouse-product-transfer-create' %}">create</a>

<tr>
    <th></th>
</tr>


<tr>
    <td></td>
</tr>

{% for warehouse_product_transfer in warehouse_product_transfer_list %}

{{ warehouse_product_transfer.voucher_no }}

{{ warehouse_product_transfer.source_warehouse }}

{{ warehouse_product_transfer.destination_warehouse }}

<a href="{% url 'warehouse-product-transfer-update' warehouse_product_transfer.id %}" >edit</a>

<form action="{% url 'product-transfer-to-warehouse-delete' warehouse_product_transfer.id %}" method='POST' class="btn btn-sm">
    {% csrf_token %}
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">
</form>

{% endfor %}



<script>

    $('.delete-button').click(function(){

        const objId = $(this).data('id');

        console.log(objId)

        $.ajax({

            url:'/producttransfertowarehousedelete/',

            type:'GET',

            data:{'objId': objId},

            success : function(respones){

                console.log(response)

            },

            error: function() {

                alert('Failed to delete the item!');

            }

        })

    })

</script>

{% endblock body %}