{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="mt-4">
    {% if form.instance.id %}
    <button type="button" class="itemCreate_btn"><a class="text-decoration-none text-white" href="{% url 'item-create' %}">Create</a></button>
    {% endif %}
    
  <form method="POST" enctype="multipart/form-data" autocapitalize="off">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{form.instance.id}}" id="id_items">
    <div class="d-flex mb-3">
      {% if not form.instance.id %}
      <label for="id_item-to-clone" class="item-form text-primary fw-bold">Clone :</label>
      <div class="custom-dropdown-container">
        <input type="text" class="product2SelectItems" name="item-to-clone"  id="id_item-to-clone" maxlength="255" placeholder="Item Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.Item_pk.item_name }}{% endif %}" data-key="" style="border: 2px solid #007df9; color: #007df9;">
        <div class="product2SelectItems item-name s-suggestion-container" id="search-results" style="display: none; height: auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Item Name">

        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-lg-5">
        <span id="itemError" class="error-messagesItem"></span>
        <div class=" d-flex my-3">
          <label for="id_item_name" class="item-form fw-bold " style="color: purple;">Name :</label>
          <input type="text" class="product2Select" value="{{form.instance.item_name}}" name="item_name" maxlength="255"
            required id="id_item_name">
        </div>
        {% if form.instance.id %}
      <div class="d-flex my-3">
        <label for="id_Material_code" class="item-form">Material Code :</label>
        <input type="text" class="item-select" name="Material_code" value="{{form.initial.Material_code}}" maxlength="255" required id="id_Material_code">
      </div>
      {% elif not form.instance.id %}
      <div class="d-flex my-3">
        <span id="materialError" class="error-messagesItem"></span>
        <label for="id_Material_code" class="item-form">Material Code :</label>
        <input type="text" class="item-select" name="Material_code" value="{{form.Material_code.initial}}" maxlength="255" required id="id_Material_code">
      </div>
      {% endif %}
        <div class=" d-flex my-3">
          <label for="id_Item_Color" class="item-form">Color :</label>
          <select class="item-select" name="Item_Color" required id="id_Item_Color">
    
            <!-- form.instance.Color_Name got from (def Color_Name(self):) which returns Item_Color.color_name the actual color
                      When you access a foreign key field in Django templates, by default, it returns the related object, not just its ID.
                      To access the ID of the related object, you need to use the dot notation to access the ID attribute explicitly.
                      {{ form.instance.Item_Color.id }} -->
    
            {% if form.instance.id %}
            <option value="{{ form.instance.Item_Color.id}}">{{form.instance.Color_Name}}</option>
            {% for x in colors %}
            <option value="{{x.id}}">{{x.color_name}}</option>
            {% endfor %}
            {% elif not form.instance.id %}
            <option value=""></option>
            {% for x in colors %}
            <option value="{{x.id}}">{{x.color_name}}</option>
            {% endfor %}
            {% endif %}
          </select>
          {% if not form.instance.id %}
          <button type="button" class="itemCreate_btn popup-trigger" onclick="opencolorPopup()">+</button>
          {% endif %}
        </div>
        <div class="d-flex my-3">
          <label for="id_Fabric_Group" class="item-form">Fabric Group :</label>
          <select class="item-select" name="Fabric_Group" required id="id_Fabric_Group">
            {% if form.instance.id %}
            <option value="{{ form.instance.Fabric_Group.id }}">{{ form.instance.fab_grp }}</option>
            {% for x in fab_grp %}
            <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
            {% endfor %}
            {% elif not form.instance.id %}
            <option value=""></option>
            {% for x in fab_grp %}
            <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
            {% endfor %}
            {% endif %}
          </select>
          {% if not form.instance.id %}
          <button class="itemCreate_btn" type="button" onclick="openFabPopup()">+</button>
          {% endif %}
        </div>
      </div>
    <div class="col-lg-5">
      <div class="d-flex my-3">
        <label for="id_Item_Fabric_Finishes" class="item-form">Fabric Finishes :</label>
        <select name="Item_Fabric_Finishes" class="item-select" required id="id_Item_Fabric_Finishes">
          {% if form.instance.id %}
          <option value="{{form.instance.Item_Fabric_Finishes.id}}">{{form.instance.Fab_Finishes}}</option>
          {% elif not form.instance.id %}
          <option value=""></option>
          {% endif %}
          {% for fab_finish in fab_finishes %}
          <option value="{{fab_finish.id}}">{{fab_finish.fabric_finish}}</option>
          {% endfor %}
        </select>
        {% if not form.instance.id %}
        <button type="button" class="itemCreate_btn" onclick="openFabricFinishPopup()">+</button>
        {% endif %}
      </div>
      <div class="d-flex ">
        <label for="id_Fabric_nonfabric" class="item-form fw-bold text-danger">Fabric/Non Fabric :</label>
        <select name="Fabric_nonfabric" class="item-select" required id="id_Fabric_nonfabric">
          <option value="{{form.instance.Fabric_nonfabric}}">{{form.instance.Fabric_nonfabric}}</option>
          <option value="Fabric">Fabric</option>
          <option value="Non Fabric">Non Fabric</option>
        </select>
      </div>
      <div class="d-flex my-3">
        <label for="id_HSN_Code" class="form-label item-form">HSN Code :</label>
        <input type="text" class="item-select" name="HSN_Code" value="{{form.instance.HSN_Code}}" required id="id_HSN_Code">
      </div>
      <div class="d-flex my-3">
        <label for="id_GST" class="item-form">GST :</label>
        <select name="Item_Creation_GST" class="item-select" required id="id_Item_Creation_GST">
  
          {% if form.instance.id %}
          <option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.Item_GST}}</option>
          {% elif not form.instance.id %}
          <option value=""></option>
          {% endif %}
          {% for gst in gsts %}
          <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
          {% endfor %}
        </select>
        {% if not form.instance.id %}
        <button type="button" class="itemCreate_btn" onclick="openGstPopup()">+</button>
        {% endif %}
      </div>
    </div>


  </div>
    {% if form.instance.id %}
    <div class="d-flex mb-3">
      <label for="id_Item_shades" class="item-form">Shades :</label>
      <!-- Render reverse related relationship fields dynamically using formset factory  -->
      <div class="item-form">      
            <table class="table table-striped table-hover table-bordered" id="shadeTable">
              <thead class=" name_absolute">
                <tr class="">
                  <th>Rank</th>
                  <th>Name</th>
                  <th>Image</th>
                  <th>Total Quantity</th>
                  <th>Rate</th>
                  <th>Value</th>
                  <th>Opening Qty</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody class="mainTableList" id="shadeTableBody">
                {{ formset.management_form }}
                {% for shade_form in formset %}
                {{ shade_form.id }}
                <tr class="text-nowrap">
                  <input type="hidden" name="{{ shade_form.prefix }}-openingValue" id="{{ shade_form.prefix }}-openingValue" value="">
                  <td>
                     {% if forloop.first %}
                     <input type="number" class="purchase-mark" name="{{ shade_form.prefix }}-item_name_rank"  id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank }}"readonly>                    
                     {% else %}
                      <input type="number" class="purchase-mark" name="{{ shade_form.prefix }}-item_name_rank" id="{{ shade_form.prefix }}-item_name_rank" value="{{ shade_form.instance.item_name_rank | default_if_none:''}}">
                     {% endif %}
     
                  </td>        
                  <td>
                     <!-- item_shade_name -->
                      {% if forloop.first %}
                      <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                      id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name }}" readonly>
                      {% else %}
                      <input type="text" class="item-select" name="{{ shade_form.prefix }}-item_shade_name"
                       id="{{ shade_form.prefix }}-item_shade_name" value="{{ shade_form.instance.item_shade_name | default_if_none:'' }}">
                      {% endif %}
                 </td>
                 <td >
                    {% if shade_form.instance.item_color_image %}
                    <img src="{{ shade_form.instance.item_color_image.url }}" alt="Image Preview" style="max-width: 60px; max-height: 60px;">
                      {% endif %}
                    <div>
                      <input type="file" class="pt-1 itemQty" style="width: 250px;" name="{{ shade_form.prefix }}-item_color_image" accept="image/*" id="{{ shade_form.prefix }}-item_color_image">
                    </div>
                  </td>
                  <td><input type="number" class="itemNewQty" name="{{forloop.counter0}}-total_quantity" id="id_{{forloop.counter0}}-total_quantity" value="{{shade_form.instance.total_quantity}}" readonly></td>
                  <td><input type="number" class="itemNewQty" name="{{foorloop.counter0}}-total_rate" id="id_{{forloop.counter0}}-total_rate" value="{{shade_form.instance.rate}}" readonly></td>
                  <td><input type="number" class="itemNewQty" name="{{forloop.counter0}}-total_value" id="id_{{forloop.counter0}}-total_value" value="{{shade_form.instance.total_rate}}" readonly></td>
                  <td><button type="button" class="add_btn itemQty" id="{{ shade_form.prefix }}-opening_qty" name="{{ shade_form.prefix }}-opening_qty" >Add</button></td>
                  <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="shade_deleteId px-2" style="display: none;"  name="{{shade_form.prefix}}-DELETE" id="{{shade_form.prefix}}-DELETE" value="" ></i></span></td>
                 </tr>
                 {% endfor %}
              </tbody>
            </table>
      </div>
    </div>
    {% endif %}
    
    <div class="row">
      <div class="col-lg-5">
        <div class="d-flex mb-3">
          <label for="id_Item_Packing" class="item-form">Packing :</label>
          <select name="Item_Packing" class="item-select" required id="Item_Packing">
    
            {% if form.instance.id %}
            <option value="{{form.instance.Item_Packing.id}}">{{form.instance.Packaging_Material}}</option>
            {% elif not form.instance.id %}
            <option value=""></option>
            {% endif %}
    
            {% for package_m in packaging_material_all %}
            <option value="{{package_m.id}}">{{package_m.packing_material}}</option>
            {% endfor %}
    
          </select>
          {% if not form.instance.id %}
          <button type="button" class="package_btn" onclick="openPackagePopup()">+</button>
          {% endif %}
        </div>
        <div class=" d-flex my-3">
          <label for="id_Panha" class="item-form fw-bold text-success">Panha :</label>
          <input type="number" class="item-select" name="Panha" value="{{form.instance.Panha | default_if_none:''}}" step="0.01" required min="1" id="id_Panha">
        </div>
        <div class="d-flex">
          <label for="id_unit_name_item" class="item-form">Unit Name :</label>
          <select name="unit_name_item" class="item-select" required id="id_unit_name_item">
    
            {% if form.instance.id %}
            <option value="{{ form.instance.unit_name_item.id }}">{{ form.instance.Unit_Name}}</option>
            {% for x in unit_name %}
            <option value="{{x.id}}">{{x.unit_name}}</option>
            {% endfor %}
            {% elif not form.instance.id %}
            <option value=""></option>
            {% for x in unit_name %}
            <option value="{{x.id}}">{{x.unit_name}}</option>
            {% endfor %}
            {% endif %}
          </select>
          {% if not form.instance.id %}
          <button type="button" class="itemCreate_btn" onclick="openUnitPopup()">+</button>
          {% endif %}
        </div>
        <div class="d-flex my-3">
          <label for="id_Units_value" class="item-form">Units :</label>
          <input type="text" class="item-select unitValue" name="Units" value="{{form.instance.Units| default_if_none:''}}" step="0.01" required id="id_Units_value">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex mb-3">
          <label for="id_status" class="item-form">Status:</label>
          <select name="status" class="item-select" required id="id_status">
            <option value="{{form.instance.status}}">{{form.instance.status}}</option>
            <option value="Used">Used</option>
            <option value="Unused">Unused</option>
            <option value="Slow Moving">Slow Moving</option>
            <option value="Dead">Dead</option>
          </select>
        </div>
        {% if not form.instance.id %}
        <div class="d-flex my-3 ">
          <diV>
            <label for="id_status" class="form-label item-form">Image :</label>
          </diV>
          
          <div class="">
            <img id="iFrame" src="..." class="py-1" alt="..." style="width: 7rem; height: 7rem;">
            <input type="file" class=" " style="width: 250px;" name="item_shade_image" id="item_shade_image" onchange="preview()">
          </div>
          
          
        </div>
        {% endif %}
        
      </div>
    </div>
      
  
   
    <button type="submit" class="newProductCreateBtn mt-3" name="save" value="Save" id="submitButtonItemCreate">Submit</button>
  </form>





  
  
    

</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    window.onload = function() {
        document.getElementById("id_item-to-clone").focus();
    };
  })
$(document).ready(function(){
  $(document).on('change','#id_unit_name_item',function(){
    let unit_name_pk = $(this).val();

    $.ajax({
      url: '/itemnamepkajax/',
      method: 'GET',
      data: {
        'unit_name_pk': unit_name_pk
      },
      success: function(response) {
        let units_value = response.unit_name_units;
        $('#id_Units_value').val(units_value);
        
      },
      error: function(xhr, errmsg, err) {
        console.log('Error sending value to the backend');
      }
    });
  });
});

 
</script>

<script>

document.addEventListener("DOMContentLoaded",function(){
  TotalValueCalculation() 
})
function TotalValueCalculation(){
    var shadeId = document.getElementById('id_items').value;
    if(shadeId != "None"){
    var form = document.getElementById('id_shades-TOTAL_FORMS').value;
    for(var i=0;i<form;i++){
        var quantity = document.getElementById('id_'+i+'-total_quantity').value;
        var rate = document.getElementById('id_'+i+'-total_rate').value;

        var totalValue = parseFloat(quantity) * parseFloat(rate);

        document.getElementById('id_'+i+'-total_value').value = totalValue.toFixed(2);

    }
  }
  }
 
 window.addEventListener('message', function(event) {
    const data = event.data;
    if (data.gst_updated) {
        populateDropdown(data.gst_updated, '#id_Item_Creation_GST', 'gst_percentage', 'Select GST');
    }
    if (data.color_all) {
        populateDropdown(data.color_all, '#id_Item_Color', 'color_name', 'Select Color');
    }
    if (data.Fabric_Group_all) {
        populateDropdown(data.Fabric_Group_all, '#id_Fabric_Group', 'fab_grp_name', 'Select Fabric Group');
    }
    if (data.packaging_all_values) {
        populateDropdown(data.packaging_all_values, '#Item_Packing', 'packing_material', 'Select Packaging');
    }
    if (data.Unit_Name_all_values) {
        populateDropdown(data.Unit_Name_all_values, '#id_unit_name_item', 'unit_name', 'Select Unit');
    }
    if (data.fabric_finishes_all) {
        populateDropdown(data.fabric_finishes_all, '#id_Item_Fabric_Finishes', 'fabric_finish', 'Select Fabric Finishes');
    }
});

function populateDropdown(items, dropdownSelector, valueKey, defaultText) {
    const dropdown = $(dropdownSelector);
    dropdown.empty();
    dropdown.append('<option value="">' + defaultText + '</option>');

    items.forEach(item => {
        dropdown.append('<option value="' + item.id + '">' + item[valueKey] + '</option>');
    });
}
$(document).ready(function(){
        $('#id_item_name').on('focusout',function(){
            var item_name = $(this).val();
           
            var itemcreateName = $("#id_item_name");
            var errorElement = $('#itemError'); // The error message element
            var submitButton = $('#submitButtonItemCreate');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'item_name': item_name,
                    
                },
                success: function (data) {
                  var itemId = $('#id_items').val();
                  if(itemId == "None"){
                    if(data.validation_flag === true){
                       //alert("Purchase number already exists");
                       itemcreateName.css('border', '1px solid red');
                        errorElement.text('*Item Name already exists');
                        errorElement.show();
                        submitButton.attr('disabled', 'disabled');
                       
                    }else {
                      itemcreateName.css('border', '1px solid lightgray'); 
                      errorElement.text('');
                      errorElement.hide();
                      submitButton.removeAttr('disabled');
                    }
                  }
                    
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        })

        $('#id_Material_code').on('focusout',function(){
            var item_material_code = $(this).val();
           
            var material_code = $("#id_Material_code");
            var errorElement = $('#materialError'); // The error message element
            var submitButton = $('#submitButtonItemCreate');
            var itemId = $('#id_items').val();
            if(itemId == "None"){
              validFlagCheck( item_material_code,material_code,errorElement,submitButton);
            }
            
        })
        
        $('#id_item-to-clone').on('click',function(){
            var item_material_code = $('#id_Material_code').val();
           
            var material_code = $("#id_Material_code");
            var errorElement = $('#materialError'); // The error message element
            var submitButton = $('#submitButtonItemCreate');
            var itemId = $('#id_items').val();
            if(itemId == "None"){
              validFlagCheck( item_material_code,material_code,errorElement,submitButton);
            }
           
            
        })
        function validFlagCheck( item_material_code,material_code,errorElement,submitButton){
          $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'item_material_code': item_material_code,
                    
                },
                success: function (data) {
                
                    if(data.validation_flag === true){
                       //alert("Purchase number already exists");
                       material_code.css('border', '1px solid red');
                        errorElement.text('*Material number already exists');
                        errorElement.show();
                        submitButton.attr('disabled', 'disabled');
                       
                    }else {
                      material_code.css('border', '1px solid lightgray');                        
                      errorElement.text('');
                      errorElement.hide();
                      submitButton.removeAttr('disabled');
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        }
    })
 
 </script>


<script>
  //This script is to ajax reuest send the data and highlight the searched item in the dropdown and the suggestion will be shown on the screen
  $(document).ready(function () {
    let enterValue = false;
    let index = 0; //  index outside of the event listener
    let indexbool = false;

    const suggestions = $('#search-results')
    $(document).on('input','#id_item-to-clone',function(){

      const nameValue = $(this).val().trim();
     
        if(nameValue === '') {
          suggestions.css('display', 'none');
              $(this).attr('data-key', '');
              return;
        }
          if(!enterValue){             // Show the dropdown only if Enter key was not pressed
            suggestions.css('display', 'block');
            }
            enterValue = false;
    
    if(nameValue.length >= 1){
 
      $.ajax({
            url: '/itemdynamicsearchajax/',
            method: 'GET',
            data: {
                'nameValue': nameValue
            },
            success: function (response) {
              const searchData = response.searched_item_name_dict;
              function escapeRegExp(string) {
                       return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
               }
               const searchQuery = nameValue.toLowerCase();
              
               const escapedSearchQuery = escapeRegExp(searchQuery); // Escape special characters in search query
               const regex = new RegExp('(' + escapedSearchQuery + ')', 'gi');

               const filteredOptions = Object.entries(searchData).filter(([key, value]) => value.toLowerCase().includes(searchQuery));
       
                suggestions.empty();
                $.each(filteredOptions, function(index, [key, value]) {
                  let highlightedText = value;
                  let colorStyle = '';
                  if (searchQuery) {
                    highlightedText = value.split("|")[0].replace(regex, '<span class="highlight">$1</span>');
                    const valueCalculate = value.split("|")[1].trim(); 

                    // Initialize the color based on valueCalculate
                    
                    if (parseFloat(valueCalculate) > 0) {
                        colorStyle = 'color: green; float: right;';

                    } else {
                        colorStyle = 'color: red; float: right;';
                    }
                    suggestions.append(`<div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion " data-key="${key}">${highlightedText}&nbsp; <span style="${colorStyle}">${valueCalculate}</span></div>`);
                } 
                  
                
                });
              
            },
            error:function(xhr){
            // console.log(xhr.status + ": " + xhr.responseText);
                if (xhr.status === 404 || xhr.status === 400) {
                  suggestions.css('display', 'block');
                  suggestions.empty().append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                }
        }
        });
    }else{
        suggestions.empty();
    }
    
        suggestions.on('click', '.itemName-div-suggestion', function() {
          
           var nameDataValue = $(this).text().trim();
          var parts = nameDataValue.match(/(.+?)(-?\d+(\.\d+)?)/);
          if(parts){
            var textParts = parts[1];
            var numberParts = parts[2];

            var newHtml = `${textParts}<span style="float: right;">${numberParts}</span>`
            $(this).html(newHtml);
         
          }
         
       $(this).closest('.custom-dropdown-container').find('.product2SelectItems').val(nameDataValue);
       $(this).addClass('selected').siblings().removeClass('selected');

       const itemValue = $(this).attr('data-key');
       $.ajax({
            url: '/itemcreatecloneajax/',
            method: 'GET',
            data: {
                'itemValue': itemValue
            },
            success: function (response) {
             const item_data_response = response.response_data;
            
             $('#id_Fabric_Group').val(item_data_response.fabric_group.fab_g_key);
                $('#id_Item_Color').val(item_data_response.color.color_key);
                $('#id_Units_value').val(item_data_response.unit_name_units);
                $('#Item_Packing').val(item_data_response.packing.packing_key);
                $('#id_unit_name_item').val(item_data_response.unit_name.unit_name_key);
                $('#id_Panha').val(item_data_response.panha);
                $('#id_Fabric_nonfabric').val(item_data_response.fab_non_fab);
                $('#id_Item_Fabric_Finishes').val(item_data_response.fab_finishes.fab_finishes_key);
                $('#id_Item_Creation_GST').val(item_data_response.gst.gst_key);
                $('#id_HSN_Code').val(item_data_response.hsn_code);
                $('#id_status').val(item_data_response.status);
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        })
        suggestions.css('display', 'none');
   })

    })
    
    
$(document).on('click', '.product2SelectItems',function(){
        var selectValue = $(this).next('.s-suggestion-container');
        selectValue.css('display', 'none');
        selectValue.empty();
})

    $(document).on('keydown', '[name^="item-to-clone"]', function (e) {
        const $inputField = $(this);
        const $dropdownOptions = $inputField.next('.s-suggestion-container');
        const $options = $dropdownOptions.find('.itemName-div');
        const optionsCount = $options.length - 1;
       
        const nameData = $inputField.val().trim();

        if(nameData === ''){
            index = 0;
            indexbool = false;
            return;
        }

        const newHeight = $inputField.offset();
        const windowHeight = $(window).height();
        const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
         $dropdownOptions.css({
              'max-height': availableSpace + 'px',
              'overflow-y': 'auto'
         });
       if(e.key=== 'ArrowDown'){
          e.preventDefault();

          if(index <= optionsCount){
            const selectedItem = $options.eq(index);
            const nextItem = selectedItem.next();
            const nameDataKey= selectedItem.text();
            const nameKey = selectedItem.data('key');
                // Remove highlight from previously selected item   
            $options.removeClass('bg-highlight');
            selectedItem.addClass('bg-highlight');
            $inputField.attr('data-key', nameKey);
            $inputField.text(nameDataKey);
           
            const itemOffsetTop = nextItem.position() ? nextItem.position().top : 0;
            const itemHeight = nextItem.outerHeight();
            const selectScrollTop = $dropdownOptions.scrollTop();
            const selectHeight = $dropdownOptions.height();

            if (itemOffsetTop + itemHeight > selectHeight) {
                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
            } else if (itemOffsetTop < 0) {
                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
            }
             
          
            if(index !== optionsCount ){
                index += 1; 
             indexbool = true;        
            }     
                
          }else{
            index = 0;
          }
      
        }
          if(e.key === 'ArrowUp'){
            e.preventDefault(); 
            if (index != 0 && indexbool == true)
            {           
                  index = index - 1;
            }
            
            if(index <= optionsCount){
          
           const selectedItem = $options.eq(index);
           const prevItem = selectedItem.prev();
           const nameDataKey= selectedItem.text();
           const nameKey = selectedItem.data('key');

            $options.removeClass('bg-highlight');
            selectedItem.addClass('bg-highlight');
            $inputField.attr('data-key', nameKey);
            $inputField.text(nameDataKey);
          
            const itemOffsetTop = prevItem.position() ? prevItem.position().top : 0;
            const itemHeight = prevItem.outerHeight();
            const selectScrollTop = $dropdownOptions.scrollTop();
            const selectHeight = $dropdownOptions.height();

            if (itemOffsetTop < 0) {
                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
            } else if (itemOffsetTop + itemHeight > selectHeight) {
                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
            }
              }
              else{
                      index = 0;
              }   
            
          }
          if(e.key === 'Enter'){
          e.preventDefault();
          const commomSugenstionHide = $inputField.closest('.custom-dropdown-container').find(`#search-results`);
          const nameValues = $inputField.text().trim();
          const itemValue = $inputField.attr('data-key');
          
          if ($inputField.length > 0) {
              
            $inputField.val(nameValues);
           
            $.ajax({           // this ajax reuest is to send the data and show the all the option will filed once click on the suggestion on the screen
            url: '/itemcreatecloneajax/',
            method: 'GET',
            data: {
                'itemValue': itemValue
            },
            success: function (response) {
              const item_data_response = response.response_data
              
                $('#id_Fabric_Group').val(item_data_response.fabric_group.fab_g_key);
                $('#id_Item_Color').val(item_data_response.color.color_key);
                $('#id_Units_value').val(item_data_response.unit_name_units);
                $('#Item_Packing').val(item_data_response.packing.packing_key);
                $('#id_unit_name_item').val(item_data_response.unit_name.unit_name_key);
                $('#id_Panha').val(item_data_response.panha);
                $('#id_Fabric_nonfabric').val(item_data_response.fab_non_fab);
                $('#id_Item_Fabric_Finishes').val(item_data_response.fab_finishes.fab_finishes_key);
                $('#id_Item_Creation_GST').val(item_data_response.gst.gst_key);
                $('#id_HSN_Code').val(item_data_response.hsn_code);
                $('#id_status').val(item_data_response.status);
                 
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        }); 
          }
          index = 0;
          indexbool = false;
          enterValue = true; // Set the flag to true when Enter is pressed
          commomSugenstionHide.css('display', 'none'); // Hide the dropdown
          commomSugenstionHide.empty();
        }    
    })
})
</script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    // Add click event listener to all delete buttons
    document.querySelectorAll('.delete-btn').forEach(function(button) {
        button.addEventListener('click', function() {
            // Find the row containing the clicked delete button
            const row = this.closest('tr');
            const checkRow = row.querySelector('.shade_deleteId[name^="shades-"][name$="-DELETE"]');
            if (checkRow) {
                checkRow.checked = true; // Mark as checked
                checkRow.value = 'true'; // Set the value to 'true'

                row.style.display = 'none';

            } else {
                console.error("Checkbox for deletion not found in this row");
            }
        });
    });

   
});

function receiveData(openingValue){
  const popupData = JSON.parse(openingValue);
  const primeKey = popupData.parentKey;
  const openingData= document.getElementById('shades-'+primeKey+'-openingValue')
      openingData.value = JSON.stringify(popupData); // Set the value of the input field to the popupData;   
}
</script>

<script>
  let newPopup = null;
$(document).ready(function(){
   
  let itemValue;
  let itemId;

  $(document).on ('click','button.itemQty',function(button){
      const itemId = $(this).closest('tr').find('input[name$="item_name_rank"]').attr('name');
      itemValue = itemId.split('-')[1];
      const primaryKey = document.getElementById('id_shades-'+itemValue+'-id');
      const primary_key_id = primaryKey.value;
     
    
      if (newPopup === null || newPopup.closed) { // Check if no popup is open or the existing one is closed
           
        const minWidth = 800;
        const minHeight = 600;

        // $('body').addClass('popup-open');
        // $('body').append('<div class="popup-overlay"></div>');

        $.ajax({
        url: '{% url "opening-godown-qty-ajax" %}',
        type: 'GET',
        data:{
          itemValue:itemValue,
          primary_key_id:primary_key_id,
        
        },
        success: function (response){
          const itemValues  = itemId.split('-')[1];
          const qtyData =document.getElementById('shades-'+itemValues+'-openingValue').value

          if(response.popup_url === '/openinggodownquantity/'+itemValue){
            const url = response.popup_url; 
            const newUrl = encodeURIComponent(qtyData);
            const fullUrl = `${url}?data=${newUrl}`;

            newPopup = window.open(fullUrl , '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');

          }else{
            newPopup = window.open(response.popup_url, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
          }
        },
        error: function (xhr, errmsg, err) {
               console.log('Error getting popup URL');
        }
      })
      }
    })
  })

</script>



<script>


var popUpWindow = null;
function openFabPopup(button) {
  openPopup(button, '{% url "fabric-popup" %}');
}

function opencolorPopup(button) {
  openPopup(button, '{% url "color-popup" %}');
}

function openUnitPopup(button) {
  openPopup(button, '{% url "unit-name-popup" %}');
}

function openGstPopup(button) {
  openPopup(button, '{% url "gst-popup" %}');
}

function openPackagePopup(button) {
  openPopup(button,'{% url "packaging-popup" %}');
}

function openFabricFinishPopup(button) {
  openPopup(button, '{% url "fabric-finishes-popup" %}');
}

function openPopup(button, url) {
  if (popUpWindow === null || popUpWindow.closed) {
    newPopUpwindow(button, url);
  } else {
  
    popUpWindow.focus();
  }
}

function newPopUpwindow(button, path) {
  // Specify minimum height and width
  var minWidth = 800; // minimum width
  var minHeight = 600; // minimum height

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');

  // Open new page with specified dimensions
  popUpWindow = window.open(path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    // Ensure only one event listener is attached
  
    window.addEventListener('message', function(event){
        if (event.data.message === 'close') {
                $('body').removeClass('popup-open');
                $('.popup-overlay').remove();
                popUpWindow.close();
             }
           });


    // Listen for messages from the popup window
    window.addEventListener('click', function(event) {
    handleOutsideClick(event);
  });

}
function handleOutsideClick(event) {

  var popUpRect = document.querySelector('body').getBoundingClientRect();
  var clickX = event.clientX;
  var clickY = event.clientY;
   
    // Check if the click is outside the popup window
    if (
      clickX > popUpRect.left || clickX <= popUpRect.right ||
      clickY > popUpRect.top || clickY <= popUpRect.bottom
    ) {
     
      popUpWindow.focus();
      
    }
  
}

  document.querySelector('input[type="file"]').addEventListener('change', function(event) {
      const imgPreview = document.getElementById('iFrame');
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function() {
        imgPreview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      }
    });
</script>



{% endblock body %}