{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}

  <h2 class="mt-3 mb-4">{{title}}</h2>

  <form method="POST" enctype="multipart/form-data" id="itemForm">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{form.instance.id}}" id="id_items">
    <div class="d-flex mb-3">
      {% if not form.instance.id %}
      <label for="id_item-to-clone" class="item-form text-primary fw-bold">Clone : </label>
      <div class="custom-dropdown-container">
        <input type="text" class="product2SelectItems" name="item-to-clone"  id="id_item-to-clone" maxlength="255" placeholder="Item Name" autocomplete="off" value="{% if form.instance.id %}{{ form.instance.Item_pk.item_name }}{% endif %}" data-key="" style="border: 2px solid #007df9; color: #007df9; font-weight: bolder;"  >
        <div class="product2SelectItems item-name s-suggestion-container" id="search-results" style="display: none; height: auto;" dir="auto" spellcheck="false" tabindex="0" aria-label="Item Name">

        </div>
      </div>
      {% endif %}
    </div>
        <span id="itemError" class="error-messagesItem"></span>
        <div class=" d-flex mb-3">
          <label for="id_item_name" class="item-form fw-bold " style="color: purple;">Name :</label>
          <input type="text" class="product2Select" value="{{form.instance.item_name}}" name="item_name" maxlength="255" required id="id_item_name">
        </div>

        <!-- {{form.instance.fab_grp }} - from a function def fab_grp(self): return self.Fabric_Group.fab_grp_name -->
  <div class="row">
      <div class="col-lg-5">
        <span id="materialError" class="error-messagesItem"></span>
        {% if form.instance.id %}
        <div class="d-flex mb-3">
      
          <label for="id_Material_code" class="item-form">Material Code:</label>
          <input type="text" class="item-select" name="Material_code" value= "{{form.initial.Material_code}}" maxlength="255" required id="id_Material_code">
        </div>
        {% elif not form.instance.id %}
        <div class="d-flex mb-2">
          
        <label for="id_Material_code" class="item-form">Material Code:</label> 
        <input type="text" class="item-select" name="Material_code" value="{{form.Material_code.initial}}" maxlength="255" required id="id_Material_code">
       </div>
       {% endif %}
      
    <div class=" d-flex mb-3">
      <label for="id_Item_Color" class="item-form">Color :</label>
      <select class="item-select" name="Item_Color" required id="id_Item_Color" required>

        <!-- form.instance.Color_Name got from (def Color_Name(self):) which returns Item_Color.color_name the actual color
                  When you access a foreign key field in Django templates, by default, it returns the related object, not just its ID.
                  To access the ID of the related object, you need to use the dot notation to access the ID attribute explicitly.
                  {{ form.instance.Item_Color.id }} -->

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Color.id}}">{{form.instance.Color_Name}}</option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in colors %}
        <option value="{{x.id}}">{{x.color_name}}</option>
        {% endfor %}
        {% endif %}
      </select>
     
    </div>
    <div class="d-flex mb-3">
      <label for="id_Fabric_Group" class="item-form">Fabric Group :</label>
      <select class="item-select" name="Fabric_Group" required id="id_Fabric_Group">
          {% if form.instance.id %}
              <option value="{{ form.instance.Fabric_Group.id }}">{{ form.instance.fab_grp }}</option>
              {% for x in fab_grp %}
                  <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
              {% endfor %}
          {% elif not form.instance.id %}
              <option value=""></option>
              {% for x in fab_grp %}
                  <option value="{{ x.id }}">{{ x.fab_grp_name }}</option>
              {% endfor %}
          {% endif %}
      </select>
  
    </div>
    <div class="d-flex mb-3">
      <label for="id_Item_Packing" class="item-form">Packing :</label>
      <select name="Item_Packing" class="item-select" required id="Item_Packing">

        {% if form.instance.id %}
        <option value="{{form.instance.Item_Packing.id}}">{{form.instance.Packaging_Material}}</option>
        
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}

        {% for package_m in packaging_material_all  %}
        <option value="{{package_m.id}}">{{package_m.packing_material}}</option>
        {% endfor %}

      </select>
    </div>
    <div class=" d-flex mb-3">
      <label for="id_Panha" class=" item-form fw-bold text-success">Panha :</label>
      <input type="number" class="item-select" name="Panha" value="{{form.instance.Panha | default_if_none:''}}" step="0.01" required min="1" id="id_Panha">
    </div>
    <div class="d-flex my-3">
      <label for="id_unit_name_item" class="item-form">Unit Name :</label>
      <select name="unit_name_item" class="item-select" required id="id_unit_name_item">

        {% if form.instance.id %}
        <option value="{{ form.instance.unit_name_item.id }}">{{ form.instance.Unit_Name}}</option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% elif not form.instance.id %}
        <option value=""></option>
        {% for x in unit_name %}
        <option value="{{x.id}}">{{x.unit_name}}</option>
        {% endfor %}
        {% endif %}
      </select>
     
    </div>
    <div class=" d-flex mb-3">
      <label for="id_Units_value" class="item-form">Units :</label>
      <input type="text" class="item-select unitValue" name="Units" value="{{form.instance.Units| default_if_none:''}}" step="0.01" required id="id_Units_value">
    </div>
  </div>
  <div class="col-lg-5">
    <div class="d-flex mb-3">
      <label for="id_Item_Fabric_Finishes" class="item-form">Fabric Finishes :</label>
      <select name="Item_Fabric_Finishes" class="item-select" required id="id_Item_Fabric_Finishes">

        {% if form.instance.id %}
        <option value="{{form.instance.Item_Fabric_Finishes.id}}">{{form.instance.Fab_Finishes}}</option>
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}
        {% for fab_finish in fab_finishes %}
        <option value="{{fab_finish.id}}">{{fab_finish.fabric_finish}}</option>
        {% endfor %}
      </select>
    </div>
    <div class=" d-flex mb-3">
      <label for="id_Fabric_nonfabric" class=" item-form fw-bold text-danger">Fabric/Non Fabric :</label>
      <select name="Fabric_nonfabric" class="item-select" required id="id_Fabric_nonfabric">
        <option value="{{form.instance.Fabric_nonfabric}}">{{form.instance.Fabric_nonfabric}}</option>
        <option value="Fabric">Fabric</option>
        <option value="Non Fabric">Non Fabric</option>
      </select>
    </div>
    
    <div class="d-flex mb-3">
      <label for="id_GST" class="item-form">GST :</label>
      <select name="Item_Creation_GST" class="item-select" required id="id_Item_Creation_GST">

        {% if form.instance.id %}
        <option value="{{ form.instance.Item_Creation_GST.id }}">{{ form.instance.Item_GST}}</option>
        {% elif not form.instance.id %}
        <option value=""></option>
        {% endif %}
        {% for gst in gsts %}
        <option value="{{gst.id}}">{{gst.gst_percentage}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="d-flex mb-3">
      <label for="id_HSN_Code" class="form-label item-form">HSN Code :</label>
      <input type="text" class="item-select" name="HSN_Code" value="{{form.instance.HSN_Code}}" required
        id="id_HSN_Code">
    </div>
  
  
    <div class="d-flex mb-3">
      <label for="id_status" class="form-label item-form">Status :</label>
      <select name="status" class="item-select" required id="id_status">
        <option value="{{form.instance.status}}">{{form.instance.status}}</option>
        <option value="Used">Used</option>
        <option value="Unused">Unused</option>
        <option value="Slow Moving">Slow Moving</option>
        <option value="Dead">Dead</option>
      </select>
    </div>
    {% if not form.instance.id %}
    <div class="d-flex mb-3">
      <diV>
        <label for="id_status" class="form-label item-form">Image :</label>
      </diV>
      
      <div class="">
        <img id="iFrame" src="..." class="py-1" alt="..." style="width: 7rem; height: 7rem;">
        <input type="file" class=" " style="width: 201px;" name="item_shade_image" id="item_shade_image" onchange="preview()">
      </div>
      
      
    </div>
    {% endif %}
  </div>
  
  
  </div>
    <button type="submit" class="newProductCreateBtn" name="save" value="Save" id="id_save">Save</button>
  </form>



<script>
 document.addEventListener("DOMContentLoaded", function () {
    window.onload = function() {
        document.getElementById("id_item-to-clone").focus();
    };
  })
$(document).ready(function(){
  $(document).on('change','#id_unit_name_item',function(){
    let unit_name_pk = $(this).val();

    $.ajax({
      url: '/itemnamepkajax/',
      method: 'GET',
      data: {
        'unit_name_pk': unit_name_pk
      },
      success: function(response) {
        let units_value = response.unit_name_units;
        $('#id_Units_value').val(units_value);
        
      },
      error: function(xhr, errmsg, err) {
        console.log('Error sending value to the backend');
      }
    });
  });
});

 
</script>

<script>

document.addEventListener("DOMContentLoaded",function(){
  TotalValueCalculation() 
})
function TotalValueCalculation(){
    var shadeId = document.getElementById('id_items').value;
    if(shadeId != "None"){
    var form = document.getElementById('id_shades-TOTAL_FORMS').value;
    for(var i=0;i<form;i++){
        var quantity = document.getElementById('id_'+i+'-total_quantity').value;
        var rate = document.getElementById('id_'+i+'-total_rate').value;

        var totalValue = parseFloat(quantity) * parseFloat(rate);

        document.getElementById('id_'+i+'-total_value').value = totalValue.toFixed(2);

    }
  }
  }
 
  $(document).ready(function(){
        $('#id_item_name').on('focusout',function(){
            var item_name = $(this).val();
            var itemcreateName = $("#id_item_name");
            var errorElement = $('#itemError'); // The error message element
            var submitButton = $('#id_save');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'item_name': item_name,
                },
                success: function (data) {
                    if(data.validation_flag === true){
                      itemcreateName.css('border', '1px solid red');
                      errorElement.text('*Item Name already exists');
                      errorElement.show();
                      submitButton.attr('disabled', 'disabled');
                    }else {
                      itemcreateName.css('border', '1px solid lightgray');
                      errorElement.text('');
                      errorElement.hide();
                      submitButton.removeAttr('disabled');
                    }
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        })

        $('#id_Material_code').on('focusout',function(){
            var item_material_code = $(this).val(); 
            var material_code = $("#id_Material_code");
            var errorElement = $('#materialError'); // The error message element
            var submitButton = $('#id_save');
             validFlagCheck(item_material_code,material_code,errorElement,submitButton);
            
        })
        
       $('#id_item-to-clone').on('click',function(){
            var item_material_code = $('#id_Material_code').val();
            var material_code = $("#id_Material_code");
            var errorElement = $('#materialError'); // The error message element
            var submitButton = $('#id_save');
            validFlagCheck(item_material_code,material_code,errorElement,submitButton);
            
        })
        function validFlagCheck(item_material_code,material_code, errorElement,submitButton){
          $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'item_material_code': item_material_code,
                    
                },
                success: function (data) {;
                    if(data.validation_flag === true){                     
                      material_code.css('border', '1px solid red');
                      errorElement.text('*Material number already exists');
                      errorElement.show();
                      submitButton.attr('disabled', 'disabled');
                       
                    }else {
                      material_code.css('border', '1px solid lightgray');                        
                      errorElement.text('');
                      errorElement.hide();
                      submitButton.removeAttr('disabled');
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        }
    })
 
 </script>


<script>
  //This script is to ajax reuest send the data and highlight the searched item in the dropdown and the suggestion will be shown on the screen
  $(document).ready(function () {
    let enterValue = false;
    let index = 0; //  index outside of the event listener
    let indexbool = false;

    const suggestions = $('#search-results')
    $(document).on('input','#id_item-to-clone',function(){

      const nameValue = $(this).val().trim();
     
        if(nameValue === '') {
          suggestions.css('display', 'none');
              $(this).attr('data-key', '');
              return;
        }
          if(!enterValue){             // Show the dropdown only if Enter key was not pressed
            suggestions.css('display', 'block');
            }
            enterValue = false;
    
    if(nameValue.length >= 1){
 
      $.ajax({
            url: '/itemdynamicsearchajax/',
            method: 'GET',
            data: {
                'nameValue': nameValue
            },
            success: function (response) {
              const searchData = response.searched_item_name_dict
              function escapeRegExp(string) {
                       return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
               }
               const searchQuery = nameValue.toLowerCase();
               const escapedSearchQuery = escapeRegExp(searchQuery); // Escape special characters in search query
               const regex = new RegExp('(' + escapedSearchQuery + ')', 'gi');

               const filteredOptions = Object.entries(searchData).filter(([key, value]) => value.toLowerCase().includes(searchQuery));
       
                suggestions.empty();
                $.each(filteredOptions, function(index, [key, value]) {
                  let highlightedText = value;
                  let colorStyle = '';
                  if (searchQuery) {
                    highlightedText = value.split("|")[0].replace(regex, '<span class="highlight">$1</span>');
                    const valueCalculate = value.split("|")[1].trim(); 

                    // Initialize the color based on valueCalculate
                    
                    if (parseFloat(valueCalculate) > 0) {
                        colorStyle = 'color: green; float: right;';
                    } else {
                        colorStyle = 'color: red; float: right;';
                    }
                    suggestions.append(`<div id="itemName-div_${index}" class="itemName-div itemName-div-suggestion " data-key="${key}">${highlightedText} <span style="${colorStyle}">${valueCalculate}</span></div>`);
                } 
                  
                
                });
              
            },
            error:function(xhr){
            // console.log(xhr.status + ": " + xhr.responseText);
                if (xhr.status === 404 || xhr.status === 400) {
                  suggestions.css('display', 'block');
                  suggestions.empty().append(`<div" class="itemName-div itemName-div-suggestion ">No item found</div>`);
                }
        }
        });
    }else{
        suggestions.empty();
    }
    
        suggestions.on('click', '.itemName-div-suggestion', function() {
       
       $(this).closest('.custom-dropdown-container').find('.product2SelectItems').val($(this).text().trim());
       $(this).addClass('selected').siblings().removeClass('selected');

       const itemValue = $(this).attr('data-key');
       $.ajax({
            url: '/itemcreatecloneajax/',
            method: 'GET',
            data: {
                'itemValue': itemValue
            },
            success: function (response) {
             const item_data_response = response.response_data;
            
             $('#id_Fabric_Group').val(item_data_response.fabric_group.fab_g_key);
                $('#id_Item_Color').val(item_data_response.color.color_key);
                $('#id_Units_value').val(item_data_response.unit_name_units);
                $('#Item_Packing').val(item_data_response.packing.packing_key);
                $('#id_unit_name_item').val(item_data_response.unit_name.unit_name_key);
                $('#id_Panha').val(item_data_response.panha);
                $('#id_Fabric_nonfabric').val(item_data_response.fab_non_fab);
                $('#id_Item_Fabric_Finishes').val(item_data_response.fab_finishes.fab_finishes_key);
                $('#id_Item_Creation_GST').val(item_data_response.gst.gst_key);
                $('#id_HSN_Code').val(item_data_response.hsn_code);
                $('#id_status').val(item_data_response.status);
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        })
        suggestions.css('display', 'none');
   })

    })
    
    
$(document).on('click', '.product2SelectItems',function(){
        var selectValue = $(this).next('.s-suggestion-container');
        selectValue.css('display', 'none');
        selectValue.empty();
})

    $(document).on('keydown', '[name^="item-to-clone"]', function (e) {
        const $inputField = $(this);
        const $dropdownOptions = $inputField.next('.s-suggestion-container');
        const $options = $dropdownOptions.find('.itemName-div');
        const optionsCount = $options.length - 1;
       
        const nameData = $inputField.val().trim();

        if(nameData === ''){
            index = 0;
            indexbool = false;
            return;
        }

        const newHeight = $inputField.offset();
        const windowHeight = $(window).height();
        const availableSpace = windowHeight - newHeight.top - $inputField.outerHeight();
         $dropdownOptions.css({
              'max-height': availableSpace + 'px',
              'overflow-y': 'auto'
         });
       if(e.key=== 'ArrowDown'){
          e.preventDefault();

          if(index <= optionsCount){
            const selectedItem = $options.eq(index);
            const nextItem = selectedItem.next();
            const nameDataKey= selectedItem.text();
            const nameKey = selectedItem.data('key');
                // Remove highlight from previously selected item   
            $options.removeClass('bg-highlight');
            selectedItem.addClass('bg-highlight');
            $inputField.attr('data-key', nameKey);
            $inputField.text(nameDataKey);
           
            const itemOffsetTop = nextItem.position() ? nextItem.position().top : 0;
            const itemHeight = nextItem.outerHeight();
            const selectScrollTop = $dropdownOptions.scrollTop();
            const selectHeight = $dropdownOptions.height();

            if (itemOffsetTop + itemHeight > selectHeight) {
                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
            } else if (itemOffsetTop < 0) {
                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
            }
             
          
            if(index !== optionsCount ){
                index += 1; 
             indexbool = true;        
            }     
                
          }else{
            index = 0;
          }
      
        }
          if(e.key === 'ArrowUp'){
            e.preventDefault(); 
            if (index != 0 && indexbool == true)
            {           
                  index = index - 1;
            }
            
            if(index <= optionsCount){
          
           const selectedItem = $options.eq(index);
           const prevItem = selectedItem.prev();
           const nameDataKey= selectedItem.text();
           const nameKey = selectedItem.data('key');

            $options.removeClass('bg-highlight');
            selectedItem.addClass('bg-highlight');
            $inputField.attr('data-key', nameKey);
            $inputField.text(nameDataKey);
          
            const itemOffsetTop = prevItem.position() ? prevItem.position().top : 0;
            const itemHeight = prevItem.outerHeight();
            const selectScrollTop = $dropdownOptions.scrollTop();
            const selectHeight = $dropdownOptions.height();

            if (itemOffsetTop < 0) {
                $dropdownOptions.scrollTop(selectScrollTop - itemHeight);
            } else if (itemOffsetTop + itemHeight > selectHeight) {
                $dropdownOptions.scrollTop(selectScrollTop + itemHeight);
            }
              }
              else{
                      index = 0;
              }   
            
          }
          if(e.key === 'Enter'){
          e.preventDefault();
          const commomSugenstionHide = $inputField.closest('.custom-dropdown-container').find(`#search-results`);
          const nameValues = $inputField.text().trim();
          const itemValue = $inputField.attr('data-key');
          
          if ($inputField.length > 0) {
              
            $inputField.val(nameValues);
           
            $.ajax({           // this ajax reuest is to send the data and show the all the option will filed once click on the suggestion on the screen
            url: '/itemcreatecloneajax/',
            method: 'GET',
            data: {
                'itemValue': itemValue
            },
            success: function (response) {
              const item_data_response = response.response_data
              
                $('#id_Fabric_Group').val(item_data_response.fabric_group.fab_g_key);
                $('#id_Item_Color').val(item_data_response.color.color_key);
                $('#id_Units_value').val(item_data_response.unit_name_units);
                $('#Item_Packing').val(item_data_response.packing.packing_key);
                $('#id_unit_name_item').val(item_data_response.unit_name.unit_name_key);
                $('#id_Panha').val(item_data_response.panha);
                $('#id_Fabric_nonfabric').val(item_data_response.fab_non_fab);
                $('#id_Item_Fabric_Finishes').val(item_data_response.fab_finishes.fab_finishes_key);
                $('#id_Item_Creation_GST').val(item_data_response.gst.gst_key);
                $('#id_HSN_Code').val(item_data_response.hsn_code);
                $('#id_status').val(item_data_response.status);
                 
            },
            error: function (xhr, errmsg, err) {
                console.log('Error sending value to the backend');
            }
        }); 
          }
          index = 0;
          indexbool = false;
          enterValue = true; // Set the flag to true when Enter is pressed
          commomSugenstionHide.css('display', 'none'); // Hide the dropdown
          commomSugenstionHide.empty();
        }    
    })
})
</script>

<script>
document.getElementById('itemForm').addEventListener('submit', async function (event) {
  event.preventDefault();  // Prevent the default form submission
    var submitBtn = document.getElementById('id_save');
  submitBtn.disabled = true;
  const form = event.target;
  const formData = new FormData(form);
  formData.append('save', 'Save');
  try {

    const response = await fetch(form.action, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': '{{ csrf_token }}',
      }
    });

    if (response.ok) {
      window.close();  // Now you can access the JSON data
      formSubmitted = true;  // Set flag to true after successful submission
    } else {
      console.error('Failed to create item.');
    }

  } catch (error) {
    console.error('Error:', error);
  }
});

// Handle the case when the window is closed without form submission
window.addEventListener('beforeunload', function (event) {
  if (!formSubmitted) {
    const data = { message: 'close' };
    window.opener.postMessage(data, '*');
  }
});


  document.querySelector('input[type="file"]').addEventListener('change', function(event) {
      const imgPreview = document.getElementById('iFrame');
      const file = event.target.files[0];
      const reader = new FileReader();

      reader.onload = function() {
        imgPreview.src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      }
    });
</script>



{% endblock body %}