{% extends 'product/base.html' %}
{% load static %}

{% block body %}
<div>
  <div class="row">
    <div class="col-lg-12 mt-3">
      <div class="d-flex mb-3">
        <button class="item-btn" onclick="redirectProductList()">Add +</button>
        <form method="GET">
          <div class="container-flex">
            <input class="" type="search" placeholder="Search" aria-label="Search" id="p_search" name="product_search" value="{{product_search | default_if_none:'' }}">
            <input type="submit" class="mx-2"></input>
          </div>
        </form>
        <button class="item-btn ms-4" onclick="redirectProductFilter()">Clear Filter</button>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-striped table-bordered table-hover ">
      <thead class="name_absolute sticky-top bg-white">
        <tr>
          <th>No</th>
          <th>Model Name</th>
          <th>Refrence ID</th>
          <th>Color</th>
          <th>SKU</th>
          <th>Channel</th>
          <th>Brand</th>
          <th>Sale Price</th>
          <th>MRP</th>
          <th>Bulk Price</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="mainrawTable">
        {% for product in products %}
        <tr class="expandable-row expandable-cell" data-item-id="{{ item.id }}" >
          <td>{{ forloop.counter }}</td>
          <td>{{ product.Model_Name | default_if_none:''}}
            {% if product.productdetails.first.PProduct_image %}

            <img src="{{product.productdetails.first.PProduct_image.url }}" alt="img" style="width:40px;">
            
          {% endif %}
          </td>

          <td>{{ product.Product_Refrence_ID }}</td>
          <td class="expandable-cell">
            {% for pproduct in product.productdetails.all %}
            {% if forloop.first %}
            <span class="half-content">{{ pproduct.product_color_name }}</span>
            {% else %}
            <span class="more-content">{{ pproduct.product_color_name }}</span>
            {% endif %}
            {% endfor %}
          </td>
          <td class="expandable-cell">
            {% for pproduct in product.productdetails.all %}
            {% if forloop.first %}
            <span class="half-content">{{ pproduct.PProduct_SKU }}</span>
            {% else %}
            <span class="more-content">{{ pproduct.PProduct_SKU }}</span>
            {% endif %}
            {% endfor %}
          </td>
          <td style="width: 8%;">
           
            {% for x in product.Product_Channel %}
            {% if forloop.first %}
            <span  class="half-content">{{x}}</span>
            
            {% else %}
            <span class="more-content" >{{x}}</span>
            {% endif %}
            {% endfor %}
          
          </td>
          <td>{{ product.Product_Brand | default_if_none:''}}</td>
          <td>{{ product.Product_SalePrice_CustomerPrice | default_if_none:''}}</td>
          <td>{{ product.Product_MRP | default_if_none:''}}</td>
          <td>{{ product.Product_BulkPrice | default_if_none:''}}</td>
          <td style="width: 8%;">{{ product.Product_Status| default_if_none:'' }}</td>
          <td><a href="{% url 'edit_production_product' product.Product_Refrence_ID %}"><i class="fa-solid fa-pen-to-square px-2"></i></a></td>
          <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ product.Product_Refrence_ID }}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-text">
        Are you sure you want to delete this Product Item?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>



<div class="" style="margin-top: 10px; margin-left: 500px;">
  <nav aria-label="Page navigation example justify-content-end">
    <ul class="pagination">
      {% if products.has_previous %}
      <!-- <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li> -->
      <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if 1 not in page_range %}
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% if 2 not in page_range %}
      <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}
      {% endif %}

      {% for page in page_range %}
      {% if page == products.number %}
      <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}

      {% if max_index not in page_range %}
      {% if max_index|add:'-1' not in page_range %}
      <li class="page-item"><span class="page-link">...</span></li>
      {% endif %}
      <!-- <li class="page-item"><a class="page-link" href="?page={{ max_index }}">{{ max_index }}</a></li> -->
      {% endif %}

      {% if products.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
      <!-- <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">last &raquo;</a></li> -->
      {% endif %}
    </ul>
  </nav>

</div>


<script>
  document.body.appendChild(document.getElementById('exampleModal'));

  $(document).ready(function () {
    $('.delete-btn').click(function () {
      var itemId = $(this).data('item-id');
      var name = $(this).closest('tr').find('td').eq(1).text();
      var coloredName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
      $('#modal-body-text').html('Are you sure you want to delete the product item ' + coloredName + '?');
      $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
      $('#confirmDeleteModal').modal('show');
    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function () {
      var itemId = $(this).data('item-id');
      // Redirect to delete view
      window.location.href = '/pproductdelete/' + itemId;
    });
  });

  function redirectProductList() {
    window.location.href = "{% url 'pproduct_creation' %}";
  }

  function redirectProductFilter() {
    window.location.href = "{% url 'pproductlist' %}";
  }


  document.querySelectorAll('.expandable-row').forEach(row => {
  row.addEventListener('click', function() {
    // Toggle the expanded class on the clicked row
    this.classList.toggle('expanded');
  });
});

</script>

{% endblock body %}