{% extends 'product/base.html' %} 
{% load static %} 
{% block body %}

  <button type="button" class="add_btn mt-4" onclick="openNewColor()">Add Color +</button>
<form method="POST" enctype="multipart/form-data" id="productCreateForm">
  {% csrf_token %}
  <span id="materialError" class="error-messages"></span>
  <div class="d-flex mt-4 mb-4">
    <label for="id_Product_Refrence_ID" class="item-form fw-bold">Refrence ID :</label>
    <input type="number" class="item-select" name="Product_Refrence_ID" id="Product_Refrence_ID" value="{{ref_id | default_if_none:''}}">
  </div>
 
  <div class="d-flex flex-wrap">
    {{formset.management_form}}
    {% for form in formset %}
     <input type="hidden" id="id_{{forloop.counter0}}-PProduct_SKUs" value="{{form.instance.PProduct_SKU}}" name="{{forloop.counter0}}-PProduct_SKUs">
    <div id="cardContainer" class="">
      <div class="card card-clone" style="width: 15rem;  display: none;">
        <button type="button" value="cancel" class="cancel-btn"><i class="fa-solid fa-xmark"></i></button>
        <img id="id_frame-{{forloop.counter0}}" src="{% if form.instance.PProduct_image %}{{ form.instance.PProduct_image.url }}{% else %}...{% endif %}" class="card-img-top card-img p-1" alt="..." name="frame-{{forloop.counter0}}" />
       
      
        <div class="card-body card-input">
          <div class="mb-2 d-flex">
            <label class="form-label">Image:</label>
            <input type="file" class="px-2 rounded-3 productImageFile" name="{{form.prefix}}-PProduct_image"  id="id_{{form.prefix}}-PProduct_image" value="{{form.instance.PProduct_image}}" />
          </div>
          <div class="mb-2 d-flex">
            <label class="form-label me-2">Color:</label>
            <select name="{{form.prefix}}-PProduct_color" id="id_{{form.prefix}}-PProduct_color" class="product_color">
              {% if form.instance.PProduct_SKU %}
              <option value="{{form.instance.PProduct_color.id}}">{{form.instance.PProduct_color.color_name}}</option>
              {%for c in color %}
              <option value="{{ c.id }}">{{c.color_name}}</option>
              {% endfor %}
              {% elif not form.instance.PProduct_SKU %}
              <option value=""></option>
              {%for c in color %}
              <option value="{{ c.id }}">{{c.color_name}}</option>
              {% endfor %}
              {% endif %}
            </select>
          </div>

          <div class="mb-2 d-flex">
            <label class="form-label me-3">SKU:</label>
            <input type="number" name="{{form.prefix}}-PProduct_SKU" min="-9223372036854775808" max="9223372036854775807" id="id_{{form.prefix}}-PProduct_SKU" class="product_color ps-2" value="{{form.instance.PProduct_SKU | default_if_none:''}}" />
          </div>
          <div class="mb-2 d-flex">
            <label class="form-label me-2">EANCode:</label>
            <input type="number" name="{{form.prefix}}-Product_EANCode" maxlength="100" id="id_{{form.prefix}}-Product_EANCode" class="product_color_EAnCode" value="{{form.instance.Product_EANCode}}" />
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <span style="padding-top: 100px;" class="add-button-container">
      <button type="button" id="addNewProductButton" class="add_btn">Add +</button>
    </span>

  </div>


  <div><button type="submit" class="newProductCreateBtn mt-5" name="save" value="Save" id="id_submit">Submit</button></div>

</form>

<script>
   
    document.addEventListener("DOMContentLoaded", function () {
    window.onload = function() {
      document.getElementById("Product_Refrence_ID").focus();
    };
  })
$(document).ready(function(){
        $('#Product_Refrence_ID').on('focusout',function(){
            var product_ref_no = $(this).val();  
            var Product_Refrence = $("#Product_Refrence_ID");
            var errorElement = $('#purchaseCreateError'); // The error message element
            var submitButton = $('#id_submit');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'product_ref_no': product_ref_no, 
                },
                success: function (data) {
                    if(data.validation_flag === true){
                      Product_Refrence.css('border', '1px solid red');
                      errorElement.text('*Product ref number already exists');
                      errorElement.show();
                      submitButton.attr('disabled', 'disabled');
                    }else {
                      Product_Refrence.css('border', '1px solid black');
                      errorElement.text('');
                      errorElement.hide();
                      submitButton.removeAttr('disabled');
                    }
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        })
    })

document.addEventListener("DOMContentLoaded", function () {
  
// Event listener for adding new cards
document.getElementById("addNewProductButton").addEventListener("click", function () {
    createCard();
});

function createCard() {
    var form = document.getElementById('id_productdetails-TOTAL_FORMS');
    var totalForms = parseInt(form.value);
    
    // Get the last card in the container
    var existingCards = document.querySelectorAll('.card');
    var lastCard = existingCards[existingCards.length - 1];

    // Clone the last card
    var newCard = lastCard.cloneNode(true);
    newCard.style.display = "block";

    // Reset values in the cloned card
    resetCardFields(newCard, totalForms);

    // Event listener for image preview
    setupImagePreview(newCard);

    // Event listener for canceling the card
    newCard.querySelector(".cancel-btn").addEventListener("click", function (event) {
        var cardToRemove = event.target.closest(".card");
        cardToRemove.parentNode.removeChild(cardToRemove);
        form.value = totalForms - 1; // Decrement the counter
    });

    // Add the new card after the last one
    lastCard.insertAdjacentElement('afterend', newCard);

    // Increment the total form count
    form.value = totalForms + 1;
}

function resetCardFields(card, totalForms) {
    card.querySelectorAll('input, select').forEach(function (el) {
        el.value = "";
    });
    card.querySelector('img').id = `id_frame-${totalForms}`;
    card.querySelector('img').setAttribute("name", `frame-${totalForms}`);
    card.querySelector('img').src = "";

    card.querySelector('input[type="file"]').id = `id_productdetails-${totalForms}-PProduct_image`;
    card.querySelector('input[type="file"]').setAttribute("name", `productdetails-${totalForms}-PProduct_image`);

    card.querySelector('select[name$="-PProduct_color"]').id = `id_productdetails-${totalForms}-PProduct_color`;
    card.querySelector('select[name$="-PProduct_color"]').setAttribute("name", `productdetails-${totalForms}-PProduct_color`);
    card.querySelector('select[name$="-PProduct_color"]').selectedIndex = 0;

    card.querySelector('input[name$="-PProduct_SKU"]').id = `id_productdetails-${totalForms}-PProduct_SKU`;
    card.querySelector('input[name$="-PProduct_SKU"]').setAttribute("name", `productdetails-${totalForms}-PProduct_SKU`);

    card.querySelector('input[name$="-Product_EANCode"]').id = `id_productdetails-${totalForms}-Product_EANCode`;
    card.querySelector('input[name$="-Product_EANCode"]').setAttribute("name", `productdetails-${totalForms}-Product_EANCode`);
}

function setupImagePreview(card) {
    card.querySelector('input[type="file"]').addEventListener("change", function (event) {
        var file = event.target.files[0];
        var imgPreview = card.querySelector(".card-img-top");

        if (file) {
            compressImage(file, function (compressedFile, compressedDataUrl) {
                imgPreview.src = compressedDataUrl;
                //console.log('Compressed file size: ', compressedFile.size / 1024, 'KB');
            });
        }
    });
}

function compressImage(file, callback) {
    var reader = new FileReader();
    
    reader.onload = function (event) {
        var img = new Image();
        img.src = event.target.result;

        img.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");

            canvas.width = img.width;
            canvas.height = img.height;

            ctx.drawImage(img, 0, 0);

            var mimeType = file.type;
            var quality = 0.9;
            var compressedDataUrl;

            if (mimeType === "image/jpeg") {
                compressedDataUrl = canvas.toDataURL("image/jpeg", quality);
            } else if (mimeType === "image/png") {
                compressedDataUrl = canvas.toDataURL("image/png");
            } else {
                alert('Unsupported file type. Please select a PNG or JPEG image.');
                return;
            }

            while (compressedDataUrl.length / 1024 > 1024 && quality > 0.1) {
                if (mimeType === "image/jpeg") {
                    quality -= 0.1;
                    compressedDataUrl = canvas.toDataURL("image/jpeg", quality);
                }
                break;
            }

            var byteString = atob(compressedDataUrl.split(',')[1]);
            var mimeString = compressedDataUrl.split(',')[0].split(':')[1].split(';')[0];
            var ab = new ArrayBuffer(byteString.length);
            var ia = new Uint8Array(ab);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            var compressedFile = new Blob([ab], { type: mimeString });

            callback(compressedFile, compressedDataUrl);
        };
    };

    reader.readAsDataURL(file);
}

// Initial image preview setup for existing cards
document.querySelectorAll('.card').forEach(function (card) {
  setupImagePreview(card);
});

});


function productCardData(){
  var cards = document.querySelectorAll('.card');
 
  var productSku = document.getElementById('id_productdetails-0-PProduct_SKU').value;

  if(productSku){
    for(var i = 0 ; i < cards.length; i++){
      cards[i].style.display = "block";
    
    }
   
  }
}

productCardData();
</script>

<!--This code for color popup -->
<script>
let popUpWindow = null;
function openNewColor(button) {
  if (popUpWindow === null || popUpWindow.closed) {
    newPopUpwindow(button, '{% url "color-popup" %}');
  } else {
    popUpWindow.focus();
  }
}

function newPopUpwindow(button, path) {
  // Specify minimum height and width

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');
  const minWidth = 800; // minimum width
  const minHeight = 600; // minimum height

  // this will generate http://127.0.0.1:8000/ 
  const baseUrl = "{{ request.scheme }}://{{ request.get_host }}";
  popUpWindow = window.open(baseUrl + path, "_blank", "width=" + minWidth + ", height=" + minHeight + ", resizable=yes");

  window.addEventListener('message', function(event){
    if (event.data.message === 'close') {
      $('body').removeClass('popup-open');
      $('.popup-overlay').remove();
        popUpWindow.close();
    }
  });
      
   // Listen for messages from the popup window
  window.addEventListener('click', function(event) {
    handleOutside(event);
  });
}

function handleOutside(event) {
  const popUpRect = document.querySelector('body').getBoundingClientRect();
  const clickX = event.clientX;
  const clickY = event.clientY;

    // Check if the click is outside the popup window
    if ( clickX > popUpRect.left || clickX <= popUpRect.right || clickY > popUpRect.top || clickY <= popUpRect.bottom) {
  
      popUpWindow.focus();  
    }
}

window.addEventListener('message',function(event){
const data = event.data;
  if(data.color_all){
  popupDataDropDown(data.color_all , '.product_color', 'color_name', 'Select Color');
  }
})

function popupDataDropDown(data, selector, name, placeholder) {
const $selector = $(selector);
$selector.append(`<option value="">${placeholder}</option>`);
for (const item of data) {
  $selector.append(`<option value="${item[name]}">${item[name]}</option>`);
}
}
</script>


{% endblock body %}