<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="email-form" name="email-form" method="POST" class="form-3" data-wf-page-id="655da7d8dfdfa0f441436d46" data-wf-element-id="34ca82c3-c7ae-f720-9335-cd6d44293776" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        
        <input type="submit">
    </form>
    
</body>
</html>