
{% extends 'product/base.html'%}
{% load static %}


{% block head %}
<html data-wf-page="65661d738a073764572feb95" data-wf-site="65434b6ad3d07597b42d340e">
<head>
  <meta charset="utf-8">
  <title>Edit Product</title>
  <meta content="Edit Product" property="og:title">
  <meta content="Edit Product" property="twitter:title">

  <script type="text/javascript">
      WebFont.load({
        google: {
          families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"]
        }
      });
    </script>
  <script type="text/javascript">
      ! function(o, c) {
        var n = c.documentElement,
          t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
      }(window, document);
    </script>
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon">
</head>
{% endblock %}



{% block section %}
    <section>
      <h1 class="heading">Edit Product</h1>
    </section>
    <div class="form-block-3 w-form">
      <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form-3" data-wf-page-id="65661d738a073764572feb95" data-wf-element-id="34ca82c3-c7ae-f720-9335-cd6d44293776">
        <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
          <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="tablinknoncurrent w-inline-block w-tab-link w--current">
              <div class="text-block-10">Classification</div>
            </a>
            <a data-w-tab="Tab 2" class="tablinknoncurrent w-inline-block w-tab-link">
              <div id="t1">Attributes</div>
            </a>
            <a data-w-tab="Tab 3" class="tablinknoncurrent w-inline-block w-tab-link">
              <div>Description</div>
            </a>
            <a data-w-tab="Tab 4" class="tablinknoncurrent w-inline-block w-tab-link">
              <div>Identifiers</div>
            </a>
            <a data-w-tab="Tab 5" class="tablinknoncurrent w-inline-block w-tab-link">
              <div>Multimedia</div>
            </a>
            <a data-w-tab="Tab 6" class="tablinknoncurrent w-inline-block w-tab-link">
              <div>Pricing</div>
            </a>
            <a data-w-tab="Tab 7" class="tablinknoncurrent w-inline-block w-tab-link">
              <div>Links</div>
            </a>
          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="tab-pane-tab-1 w-tab-pane w--tab-active">

              <label for="id_Product_Name" class="field-label-5">Name</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Name" data-name="Name 3" placeholder="" id="id_Product_Name">


              <label for="id_Model_Name" class="field-label-5">Model Name</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Model_Name" data-name="Name 3" placeholder="" id="id_Model_Name">


              <label for="id_Product_Brand" class="field-label-5">Brand</label>
              <select id="id_Product_Brand" name="Product_Brand" data-name="Field 2" class="product-status-field-2 w-select">
                <option value="Cosmus">Cosmus</option>
                <option value="Killer">Killer</option>
                <option value="Tuffgear">Tuffgear</option>
                <option value="INIT">INIT</option>
                <option value="BeeArmour">BeeArmour</option>
                <option value="OEM">OEM</option>
              </select>
              


              <label for="name-4" class="field-label-5">Category 1</label><select id="field-2" name="field-2" data-name="Field 2" class="product-status-field-2 w-select">
                <option value="">Laptop Backpack</option>
                <option value="Another option">Trolley</option>
                <option value="First">Messenger</option>
                <option value="Second">Sling</option>
                <option value="Third">College Bag</option>
                <option value="Another option">School Bag</option>
              </select><label for="name-4" class="field-label-5">Category 2</label><select id="field-2" name="field-2" data-name="Field 2" class="product-status-field-2 w-select">
                <option value="">Laptop Backpack</option>
                <option value="Another option">Trolley</option>
                <option value="First">Messenger</option>
                <option value="Second">Sling</option>
                <option value="Third">College Bag</option>
                <option value="Another option">School Bag</option>



              </select>
              <label for="id_Product_Status" class="field-label-5">Status</label>
              <select id="id_Product_Status" name= "Product_Status" data-name="Field 4" class="product-status-field w-select">
                <option value="Preproduction">Preproduction</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Discontinued">Discontinued</option>




              </select>

              <br>

              <label class="field-label-6">Product Channel</label>

              <label class="w-checkbox">
                <input value="Ecommerce" type="checkbox" id="id_Product_Channel_0" name="Product_channel" data-name="Ecommerce" class="w-checkbox-input">
                <span class="checkbox-label w-form-label" for="id_Product_Channel_0">Ecommerce</span>
              </label>
              <label class="w-checkbox">
                <input value="Retail" type="checkbox" id="id_Product_Channel_1" name="Product_channel" data-name="Ecommerce 2" class="w-checkbox-input">
                <span class="checkbox-label w-form-label" for="id_Product_Channel_1">Retail</span>
              </label>
              <label class="w-checkbox">
                <input value="Corporate" type="checkbox" id="id_Product_Channel_2" name="Product_Channel" data-name="Ecommerce 2" class="w-checkbox-input">
                <span class="checkbox-label w-form-label" for="id_Product_Channel_2">Corporate</span>
              </label>
              <label class="w-checkbox">
                <input value="Modern Trade" type="checkbox" id="id_Product_Channel_3" name="Product_Channel" data-name="Ecommerce 2" class="w-checkbox-input">
                <span class="checkbox-label w-form-label" for="id_Product_Channel_3">Modern Trade</span>
              </label>
              <label class="w-checkbox">
                <input value="Export" type="checkbox" id="id_Product_Channel_4" name="Product_Channel" data-name="Ecommerce 2" class="w-checkbox-input">
                <span class="checkbox-label w-form-label" for="id_Product_Channel_4">Export</span>
              </label>
              <br>


              <label for="field-4" class="field-label-5">Vendor</label>
              <select id="field-4" name="field-4" data-name="Field 4" class="product-status-field-2 w-select">
                <option value="">Cosmus Bihar</option>
                <option value="Another option">Cosmus Mumbai</option>
              </select>
              
            </div>

            <div data-w-tab="Tab 2" class="tab-pane-tab-1 w-tab-pane">
              <div class="w-row">
                <div class="w-col w-col-4"><label for="id_color_primary" class="field-label-5">Colour</label>
                  <select id="id_color_primary" name="color_primary" data-name="Field 4" class="product-status-field w-select">
                    <option value="4">Red</option>
                    <option value="5">Blue</option>
                    <option value="6">Green</option>
                    <option value="7">Navy</option>
                    <option value="8">Yellow</option>
                    </select>
                    
                    <label for="id_Product_Compartments" class="field-label-5">Compartment</label>
                    <select id="id_Product_Compartments" name="Product_Compartments" data-name="Field 4" class="product-status-field w-select">
                      <option value="One">One</option>

                      <option value="Two">Two</option>
                    
                      <option value="Three">Three</option>
                    
                      <option value="Four">Four</option>
                    
                      <option value="Five">Five</option>
                    
                      <option value="Six">Six</option>
                    
                      <option value="Seven">Seven</option>
                    
                      <option value="Eight">Eight</option>
                    
                      <option value="Nine">Nine</option>
                    
                      <option value="Ten">Ten</option>
                  </select>
                  
                  <label for="id_Product_Accessory_Compartments" class="field-label-5">Acc_Compartment</label>
                  <select id="id_Product_Accessory_Compartments" name="Product_Accessory_Compartments" data-name="Field 4" class="product-status-field w-select">
                    <option value="One">One</option>

                    <option value="Two">Two</option>
                  
                    <option value="Three">Three</option>
                  
                    <option value="Four">Four</option>
                  
                    <option value="Five">Five</option>
                  
                    <option value="Six">Six</option>
                  
                    <option value="Seven">Seven</option>
                  
                    <option value="Eight">Eight</option>
                  
                    <option value="Nine">Nine</option>
                  
                    <option value="Ten">Ten</option>
                  </select>
                  
                  <label for="id_Product_CapacityLtrs" class="field-label-5">Capacity (In Litres)</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_CapacityLtrs" data-name="Name 3" placeholder="" id="id_Product_CapacityLtrs">


                  <label for="id_Product_Material" class="field-label-5">Material</label>
                  <select id="id_Product_Material" name="Product_Material" data-name="Field 4" class="product-status-field w-select">
                    <option value="PU Coated Polyester">PU Coated Polyester</option>

                    <option value="PU Coated Nylon">PU Coated Nylon</option>
                  
                    <option value="Vegan Leather">Vegan Leather</option>
                  
                    <option value="Polycarbonate">Polycarbonate</option>
                  
                    <option value="Eva Shell">Eva Shell</option>
                  
                    <option value="Cotton">Cotton</option>
                  
                    <option value="Jute">Jute</option>
                  </select>
                </div>

                <div class="w-col w-col-4">

                  <label for="id_Product_Dimensions_WP_Width" class="field-label-5">Width(Inches) WP</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WP_Width" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WP_Widht">

                  <label for="id_Product_Dimensions_WP_Height" class="field-label-5">Height (Inches) WP </label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WP_Height" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WP_Height">

                  <label for="id_Product_Dimensions_WP_length" class="field-label-5">Length (Inches) WP </label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WP_Length" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WP_Length">

                  <label for="id_Product_Dimensions_WP_Weight" class="field-label-5">Weight (Gms) WP </label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WP_Weight" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WP_Weight">

                  <label for="id_Product_WarrantyTime" class="field-label-5">Warranty (Months)</label>
                  <select id="id_Product_WarrantyTime" name="Product_WarrantyTime" data-name="Field 4" class="product-status-field w-select">
                    <option value="6 Months">6 Months</option>

                    <option value="12 Months">12 Months</option>
                  
                    <option value="18 Months">18 Months</option>
                  
                    <option value="24 Months">24 Months</option>
                  
                    <option value="30 Months">30 Months</option>
                  
                    <option value="36 Months">36 Months</option>
                  
                    <option value="42 Months">42 Months</option>
                  
                    <option value="48 Months">48 Months</option>
                  
                    <option value="54 Months">54 Months</option>
                  
                    <option value="60 Months">60 Months</option>
                  </select>

                </div>


                <div class="w-col w-col-4">
                  <label for="id_Product_Dimensions_WOP_Width" class="field-label-5">Width(Inches)WOP </label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WOP_Width" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WOP_Width">

                  <label for="id_Product_Dimensions_WOP_Height" class="field-label-5">Height(Inches)WOP</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WOP_Height" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WOP_Height">

                  <label for="id_Product_Dimensions_WOP_Length" class="field-label-5">Length(Inches)WOP</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WOP_Length" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WOP_Length">

                  <label for="id_Product_Dimensions_WOP_Weight" class="field-label-5">Weight(Gms)WOP</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_Dimensions_WOP_Length" data-name="Name 3" placeholder="" id="id_Product_Dimensions_WOP_Length">

                  <label for="id_Product_QtyPerBox" class="field-label-5">Per Box Qty</label>
                  <input type="text" class="formtextfield w-input" maxlength="256" name="Product_QtyPerBox" data-name="Name 3" placeholder="" id="id_Product_QtyPerBox">

                </div>
              </div>
            </div>
            <div data-w-tab="Tab 3" class="tab-pane-tab-1 w-tab-pane">
              <label for="id_Product_BulletPoint1" class="field-label-5">Bullet Point 1</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_BulletPoint1" data-name="Email 4" placeholder="" id="id_Product_BulletPoint1" required="">

              <label for="id_Product_BulletPoint2" class="field-label-5">Bullet Point 2</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_BulletPoint2" data-name="Email 4" placeholder="" id="id_Product_BulletPoint2" required="">

              <label for="id_Product_BulletPoint3" class="field-label-5">Bullet Point 3</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_BulletPoint3" data-name="Email 4" placeholder="" id="id_Product_BulletPoint3" required="">

              <label for="id_Product_BulletPoint4" class="field-label-5">Bullet Point 4</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_BulletPoint4" data-name="Email 4" placeholder="" id="id_Product_BulletPoint4" required="">

              <label for="id_Product_BulletPoint5" class="field-label-5">Bullet Point 5</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_BulletPoint5" data-name="Email 4" placeholder="" id="id_Product_BulletPoint1" required="">

              <label for="id_Product_ShortDescription" class="field-label-5">Short Description</label>
              <textarea id="id_Product_ShortDescription" name="Product_ShortDescription" maxlength="5000" data-name="Field 5" placeholder="Example Text" class="textarea w-input"></textarea>

                <label for="id_Product_LongDescription" class="field-label-5">Long Description</label>
                <textarea id="id_Product_LongDescription" name="Product_LongDescription" maxlength="5000" data-name="Field 5" placeholder="Example Text" class="textarea w-input"></textarea>
              
              </div>


            <div data-w-tab="Tab 4" class="tab-pane-tab-1 w-tab-pane">
              
              <label for="id_Product_EANCode" class="field-label-5">EAN Code</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_EANCode" data-name="Email 4" placeholder="" id="id_Product_EANCode" required="">
              
              <label for="id_Product_SKU" class="field-label-5">SKU</label>
              <input type="text" class="formtextfield w-input" maxlength="256" name="Product_SKU" data-name="Email 4" placeholder="" id="id_Product_SKU" required="">

              <!-- <label for="field-6" class="field-label-5">Barcode</label>
              <input type="email" class="formtextfield w-input" maxlength="256" name="email-4" data-name="Email 4" placeholder="" id="email-4" required=""> -->
              

                <label for="id_Product_HSNCode" class="field-label-5">Product HSN Code</label>
                <input type="text" class="formtextfield w-input" maxlength="256" name="Product_HSNCode" data-name="Email 3" placeholder="HSN Code" id="id_Product_HSNCode">

              </select><label for="id_Product_GST" class="field-label-5">GST %</label>
              <select id="id_Product_GST" name="Product_GST" data-name="Field 2" class="product-status-field-2 w-select">
                <option value="0%">0%</option>

                <option value="5%">5%</option>
              
                <option value="12%">12%</option>
              
                <option value="18%">18%</option>
              
                <option value="28%">28</option>
              </select>

            </div>
            <div data-w-tab="Tab 5" class="tab-pane-tab-1 w-tab-pane">
              <h3>Image 1</h3>
              <input type="file" name="Image_1" accept="image/*">
              <label for="Image_type_1">Image Type:</label>
              <input type="text" name="Image_type_1">
              <label for="Order_by_1">Order By:</label>
              <input type="text" name="Order_by_1">
              <input type="hidden" name="Image_ID_1" value="1">
          
              <h3>Image 2</h3>
              <input type="file" name="Image_2" accept="image/*">
              <label for="Image_type_2">Image Type:</label>
              <input type="text" name="Image_type_2">
              <label for="Order_by_2">Order By:</label>
              <input type="text" name="Order_by_2">
              <input type="hidden" name="Image_ID_2" value="2">
          
              <h3>Image 3</h3>
              <input type="file" name="Image_3" accept="image/*">
              <label for="Image_type_3">Image Type:</label>
              <input type="text" name="Image_type_3">
              <label for="Order_by_3">Order By:</label>
              <input type="text" name="Order_by_3">
              <input type="hidden" name="Image_ID_3" value="3">
          
              <h3>Image 4</h3>
              <input type="file" name="Image_4" accept="image/*">
              <label for="Image_type_4">Image Type:</label>
              <input type="text" name="Image_type_4">
              <label for="Order_by_4">Order By:</label>
              <input type="text" name="Order_by_4">
              <input type="hidden" name="Image_ID_4" value="4">
          
          
              <h3>Image 5</h3>
              <input type="file" name="Image_5" accept="image/*">
              <label for="Image_type_5">Image Type:</label>
              <input type="text" name="Image_type_5">
              <label for="Order_by_5">Order By:</label>
              <input type="text" name="Order_by_5">
              <input type="hidden" name="Image_ID_5" value="5">
          
              <h3>Image 6</h3>
              <input type="file" name="Image_6" accept="image/*">
              <label for="Image_type_6">Image Type:</label>
              <input type="text" name="Image_type_6">
              <label for="Order_by_6">Order By:</label>
              <input type="text" name="Order_by_6">
              <input type="hidden" name="Image_ID_6" value="6">
          
              <h3>Image 7</h3>
              <input type="file" name="Image_7" accept="image/*">
              <label for="Image_type_7">Image Type:</label>
              <input type="text" name="Image_type_7">
              <label for="Order_by_7">Order By:</label>
              <input type="text" name="Order_by_7">
              <input type="hidden" name="Image_ID_7" value="7">
          
          
              <h3>Image 8</h3>
              <input type="file" name="Image_8" accept="image/*">
              <label for="Image_type_8">Image Type:</label>
              <input type="text" name="Image_type_8">
              <label for="Order_by_8">Order By:</label>
              <input type="text" name="Order_by_8">
              <input type="hidden" name="Image_ID_8" value="8">
          
          
              <h3>Image 9</h3>
              <input type="file" name="Image_9" accept="image/*">
              <label for="Image_type_9">Image Type:</label>
              <input type="text" name="Image_type_9">
              <label for="Order_by_9">Order By:</label>
              <input type="text" name="Order_by_9">
              <input type="hidden" name="Image_ID_9" value="9">
          
          
              <h3>Image 10</h3>
              <input type="file" name="Image_10" accept="image/*">
              <label for="Image_type_10">Image Type:</label>
              <input type="text" name="Image_type_10">
              <label for="Order_by_10">Order By:</label>
              <input type="text" name="Order_by_10">
              <input type="hidden" name="Image_ID_10" value="10">

              <!-- <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">image id</label></div>
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Upload</label></div>
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image Type</label></div>
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Order By</label></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 1</label></div>
                <input type="hidden" name="Image_id_1" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_1" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_1" data-name="Field 2" class="product-status-field-2 w-select">
                    <option value="Main Image">Main Image</option>
                    <option value="White Background">White Background</option>
                    <option value="Model Image">Model Image</option>
                    <option value="Catalogue Image">Catalogue Image</option>

                  </select>
                </div>
                <div class="w-col w-col-3">
                  <select id="field-2" name="Order_by_1" data-name="Field 2" class="product-status-field-2 w-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" name = 'Image 1' class="field-label-6">Image 1</label></div>
                <input type="hidden" name="Image_id_2" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_2" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_2" data-name="Field 2" class="product-status-field-2 w-select">
                    <option value="Main Image">Main Image</option>
                    <option value="White Background">White Background</option>
                    <option value="Model Image">Model Image</option>
                    <option value="Catalogue Image">Catalogue Image</option>

                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_2" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 2</label></div>
                <input type="hidden" name="Image_id_3" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_3" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_3" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_3" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 3</label></div>
                <input type="hidden" name="Image_id_4" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_4" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_4" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_4" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 4</label></div>
                <input type="hidden" name="Image_id_5" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_5" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_5" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_5" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 5</label></div>
                <input type="hidden" name="Image_id_6" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_6" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_6" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_6" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 6</label></div>
                <input type="hidden" name="Image_id_7" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_7" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_7" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_7" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 7</label></div>
                <input type="hidden" name="Image_id_8" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_8" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_8" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_8" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 8</label></div>
                <input type="hidden" name="Image_id_9" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_9" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_9" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_9" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div>
              <div class="columns-3 w-row">
                <div class="w-col w-col-3"><label for="field-6" class="field-label-6">Image 9</label></div>
                <input type="hidden" name="Image_id_10" value="1">
                <div class="w-col w-col-3"><input type="file" name="Image_10" accept="image/*" id="id_Image"></div>
                <div class="w-col w-col-3"><select id="field-2" name="Image_type_10" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="Main Image">Main Image</option>
                  <option value="White Background">White Background</option>
                  <option value="Model Image">Model Image</option>
                  <option value="Catalogue Image">Catalogue Image</option>
                  </select></div>
                <div class="w-col w-col-3"><select id="field-2" name="Order_by_10" data-name="Field 2" class="product-status-field-2 w-select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  </select></div>
              </div> -->
             
            </div>
            <div data-w-tab="Tab 6" class="tab-pane-tab-1 w-tab-pane">
              <div class="w-row">
                <div class="w-col w-col-6">
                  <label for="id_Product_UOM" class="field-label-5">UOM</label>
                  <select id="id_Product_UOM" name="Product_UOM" data-name="Field 2" class="product-status-field-2 w-select">
                    <option value="Pcs">Pcs</option>

                    <option value="Set of 3">Set of 3</option>


                  </select>
                  
                  <label for="id_Product_WRP" class="field-label-5">MRP</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_WRP" data-name="Email 4" placeholder="" id="id_Product_WRP" required="">
                  
                  <label for="id_Product_SalePrice_CustomerPrice" class="field-label-5">Customer Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_SalePrice_CustomerPrice" data-name="Email 4" placeholder="" id="id_Product_SalePrice_CustomerPrice" required="">
                  
                  <label for="id_Product_WRP" class="field-label-5">WRP</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_WRP" data-name="Email 4" placeholder="" id="id_Product_WRP" required="">
                  
                  <label for="id_Product_CashCounterPrice" class="field-label-5">Counter Price</label>
                  
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_CashCounterPrice" data-name="Email 4" placeholder="" id="id_Product_CashCounterPrice" required="">
                </div>
                <div class="w-col w-col-6">
                  <label for="id_Product_Retailer_dealer_Price" class="field-label-5">Retailer / Dealer Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_Retailer_dealer_Price" data-name="Email 4" placeholder="" id="id_Product_Retailer_dealer_Price" required="">
                  
                  <label for="id_Product_Wholesaler_DistributorPrice" class="field-label-5">Wholesale / Distributor Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_Wholesaler_DistributorPrice" data-name="Email 4" placeholder="" id="id_Product_Wholesaler_DistributorPrice" required="">
                  
                  <label for="id_Product_IndiaMartPrice" class="field-label-5">Indiamart Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_IndiaMartPrice" data-name="Email 4" placeholder="" id="id_Product_IndiaMartPrice" required="">
                  
                  <label for="id_Product_BulkPrice" class="field-label-5">Bulk Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_BulkPrice" data-name="Email 4" placeholder="" id="id_Product_BulkPrice" required="">
                  
                  <label for="id_Product_Cost_price" class="field-label-5">Cost Price</label>
                  <input type="number" class="formtextfield w-input" maxlength="256" name="Product_Cost_price" data-name="Email 4" placeholder="" id="id_Product_Cost_price" required="">
                
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 7" class="w-tab-pane">
              <label for="id_Amazon_Link" class="field-label-5">Amazon Link</label>
              <input type="url" class="formtextfield w-input" maxlength="256" name="Amazon_Link" data-name="Email 3" placeholder="" id="id_Amazon_Link" required="">

              <label for="id_Flipkart_Link" class="field-label-5">Flipkart Link</label>
              <input type="url" class="formtextfield w-input" maxlength="256" name="Flipkart_Link" data-name="Email 3" placeholder="" id="id_Flipkart_Link" required="">
              
              <label for="id_Cosmus_link" class="field-label-5">Cosmus Link</label>
              <input type="url" class="formtextfield w-input" maxlength="256" name="Cosmus_link" data-name="Email 3" placeholder="" id="id_Cosmus_link" required="">
              
              <label for="id_Youtube_Link" class="field-label-5">Youtube Link</label>
              <input type="url" class="formtextfield w-input" maxlength="256" name="id_Youtube_Link" data-name="Email 3" placeholder="" id="id_Youtube_Link" required="">
              
              <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button-2 w-button"></div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
    

{% endblock %}