{% extends 'product/base.html' %}
{% load static %}
{% block body %}
<div>
  <!-- <div class="d-flex mb-3 pt-3">
    <h2 class="">Credit Debit Report</h2>
    <div class="container-item">
      <input class="" type="search" placeholder="Search" aria-label="Search" id="" name="" />
      <a class="px-2 py-2 " href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
    <button class="item-btn ms-2">Clear Filter</button>
  </div> -->
  <div class="row">
    <div class="col-lg-11 mt-3">
      <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive table-bordered">
          <thead class="name_absolute sticky-top">
            <tr>
              <th>No</th>
              <th>Date Created</th>
              <th>Date Modified</th>
              <th>Party A/c Name</th>
              <th>Voucher Type</th>
              <th>Voucher No</th>
              <th>Debit Amount</th>
              <th>Credit Amount</th>
              <th>View</th>
            </tr>
          </thead>

          <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
            {% for row in all_reports %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td class="text-nowrap">{{row.create_date}}</td>
              <td class="text-nowrap">{{row.modified_date_time}}</td>
              <td class="text-nowrap">{{row.ledger.name}}</td>
              <td>{{row.voucher_type}}</td>
              <td>{{row.voucher_no}}</td>
              <td>{{row.debit}}</td>
              <td>{{row.credit}}</td>
              <td><a href="#" class="view-btn"><i class="fa-solid fa-eye px-2"></i></a></td>
            </tr>
            {% endfor %}

          </tbody>

        </table>
      </div>

    </div>

  </div>

  {% endblock %}