{% extends 'product/base.html' %}
{% load static %}

{% block body %}
<div class="mt-4">

  <form action="" method="POST">
    {% csrf_token %}

    <div class="d-flex mb-3">
      <label for="" class="form-label px-2">Name</label>
      <input type="text" class="item-select mx-3" value="{{godown_name_instance}}" name="godown_name" maxlength="50" required id="">
    </div>

    <div class="d-flex mb-3">
      <label for="" class="form-label px-2">Godown type</label>
      <select name="Godown_types" value="{{godown_type_value}}" class="item-select mx-3" required id="">
        <option class="item-select" value="Raw Material">Raw Material</option>
        <option class="item-select" value="Finished Goods">Finished Goods</option>
        <option class="item-select" value="Warehouse Finished Goods">Warehouse Finished Goods</option>
      </select>
    </div>
    <!-- <button type="button" class="add_btn"><a class="text-decoration-none text-white" href="{% url 'godown-list' %}">Return</a></button> -->
    <button type="submit" class="create-btn mt-4" name="save" value="Save" id="submitCreateButton">Save</button>
    <!-- <input type="submit" class="create-btn" style="width: 190px;" name="save_and_add_another" value="Save and Add Another"> -->
  </form>
</div>

{% endblock body %}