{% extends 'product/base.html' %}
{% load static %}

{% block body %}
<div>
  <div class="row">
    <div class="col-lg-12 mt-4">
      <div class="d-flex mb-3">
        <button class="item-btn" onclick="redirectStockList()">Add +</button>
        <div class="container-flex">
          <input class="" type="search" placeholder="Search" aria-label="Search">  <input type="submit" class="mx-2"></input>
        </div>
        <button class="item-btn ms-1">Clear Filter</button>
      </div>
    </div>
  </div>
  <div class="table-responsives">
    <table class="table table-striped table-bordered table-hover" style="width:100%;">
      <thead class="text-nowrap name_absolute sticky-top">
        <tr>
          <th>Voucher No</th>
          <th>Source Godown</th>
          <th>Destination Godown</th>
          <th>Creation date</th>
          <th>Update date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
        {% for record in stocktrasferall %}
        <tr>
          <td>{{record.voucher_no}}</td>
          <td>{{record.source_godown}}</td>
          <td>{{record.destination_godown}}</td>
          <td>{{record.created_date}}</td>
          <td>{{record.updated_date}}</td>
          <td><a href="{% url 'stock-transfer-raw-update' record.pk %}"><span class="ps-3"><i class="fa-solid fa-pen-to-square"></i></span></a></td>
          <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{ record.pk }}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash text-danger px-2"></button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="confirmDeleteModalBody">
        Are you sure you want to delete this Stock Transfer?
      </div>
      <div class="modal-footer">
        <button type="button" class="add_btn rounded-2" data-bs-dismiss="modal">No</button>
        <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  function redirectStockList() {
    window.location.href = "{% url 'stock-transfer-raw-create' %}";
  }

  document.body.appendChild(document.getElementById('exampleModal'));

  $(document).ready(function () {
    $('.delete-btn').click(function () {
      var itemId = $(this).data('item-id');
      var name = $(this).closest('tr').find('td').eq(1).text();
      var coloredName = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';
      $('#confirmDeleteModalBody').html('Are you sure you want to delete this Stock Transfer?' + coloredName + '?');
      $('#confirmDeleteButton').attr('data-item-id', itemId); // Set the item id to the confirm button's data
      $('#confirmDeleteModal').modal('show');
    });

    // Confirm delete button click event
    $('#confirmDeleteButton').click(function () {
      var itemId = $(this).data('item-id');
      // Redirect to delete view
      window.location.href = '/stocktransferrawdelete/' + itemId;
    });
  });
</script>

{% endblock %}