{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %} 
  <div>
     
      <form  id ="myForm" action="" method="POST">
           {% csrf_token %}
           <h2 class="mb-3 mt-4">Create Fabric Finishes</h2> 
       <div class="d-flex">
      <label for="id_fabric_finish" class="item-form">Fabric Finishes:</label>
      <input type="text" class="item-select" value="{{ form.instance.fabric_finish }}" name="fabric_finish" maxlength="255" required id="id_fabric_finish">
    </div>

    <input type="submit" class="create-btn mt-4" name="save" value="Save">
   
  </div>


{% endblock body %}