{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}

 <h2>Fabric Finishes List</h2>
<button class="create-btn" onclick="redirectGstCreate()">Create +</button>

<div class="row">
    <div class="col-lg-4">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Fabrics</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for fabricfinish in fabricfinishes %}
                <tr>
                    <td>{{forloop.counter}}</td>
                   <td>{{fabricfinish.fabric_finish}}</td>  
                   <td><a href="{% url 'fabric-finishes-delete' fabricfinish.id %}"><i class="fa-solid fa-trash text-danger px-2"></a></td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</div>


<script>
  function redirectGstCreate() {
  window.location.href = "{% url 'fabric-finishes-create' %}"; 
  } 
</script>
 {% endblock body %}