{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}

<form action="" method="POST">

    {% csrf_token %}
   <h2>Fabric Finishes {{title}}</h2>
    <div class="d-flex my-4">
        <label for="id_fabric_finish" class="item-form">Fabric Finishes :</label>
        <input type="text" name="fabric_finish" class="item-select" required id="id_fabric_finish" value="{{form.instance.fabric_finish}}">    
    </div>

    <input type="submit" class="create-btn mt-4" name="save" value="Save">
    {% if not form.instance.id %}
    <input type="submit" class="create-btn" name="save_and_add_another" value="Save and Add Another">
    {% endif %}
   <button type="button" class="create-btn"><a class="text-decoration-none text-white" href="{% url 'fabric-finishes-list' %}">Return</a></button>
</form>

 {% endblock body %}