{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %} 
  <div>
        <h2>Create Packing</h2>
      <form  id ="packingForm" class="mt-5" action="" method="POST">
           {% csrf_token %}
           
       <div class="d-flex">
      <label for="id_packing_material" class="form-label px-2">Name:</label>
      <input type="text" class="item-select" value="{{ form.instance.packing_material }}" name="packing_material" maxlength="255" required id="id_packing_material">
    </div>

    <input type="submit" class="create-btn mt-4" name="save" value="Save">
       
  </div>

  <script>
    document.getElementById('packingForm').addEventListener('submit', async function(event) {
        event.preventDefault();  // Prevent the default form submission
    
    const form = event.target;
    const formData = new FormData(form);

    formData.append('save', 'Save');
  
    try {
        const response = await fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        });

        if (response.ok) {
            const data = await response.json();  // Await the response.json() call
            console.log('Response data:', data);  // Now you can access the JSON data

           window.opener.postMessage(data, '*');

            window.close();
        } else {
            console.error('Failed to update Packing.');
        }
    } catch (error) {
        console.error('Error:', error);
    }
      
    });
    </script>
    
{% endblock body %}