{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %} 
  <div>
        <h2>Create Packing</h2>
      <form  id ="myForm" class="mt-5" action="" method="POST">
           {% csrf_token %}
           
       <div class="d-flex">
      <label for="id_packing_material" class="form-label px-2">Name:</label>
      <input type="text" class="item-select" value="{{ form.instance.packing_material }}" name="packing_material" maxlength="255" required id="id_packing_material">
    </div>

    <input type="submit" class="create-btn mt-4" name="save" value="Save">
       
  </div>

{% endblock body %}