{% extends 'product/base.html' %} 
{% load static %} 
 {% block body %}

    <div class="row ps-3 mt-4">
        <div class="col-lg-5">
            <form action="" method="POST">

                {% csrf_token %}
               <h2>Packaging - {{title}}</h2>
                <div class="d-flex my-4">
                    <label for="id_packing_material" class="item-form">Packaging :</label>
                    <input type="text" name="packing_material" class="item-select" required id="id_packing_material" value="{{form.instance.packing_material}}">    
                </div>
            
                <input type="submit" class="create-btn mt-4" name="save" value="Save">
            
            
            </form>
            
        </div>
        <div class="col-lg-5 mt-5">
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Material</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="mainTableList">
                    {% for package in packaging_all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                       <td>{{package.packing_material}}</td>  
                       <td><a href="{% url 'packaging-update' package.id %}"><i class="fa-solid fa-pen-to-square px-1"></i></td>
                       <td><a href="{% url 'packaging-delete' package.id %}"><i class="fa-solid fa-trash text-danger px-2"></a></td>
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
    



 {% endblock body %}