
.banner {
    background-image: url("../../static/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: sans-serif;
    height: 100vh;  
    width: 100%;
}
.form-back {
    margin-left: 700px;
    padding: 290px 20px 10px;
}
.form-page{
   height: 35px;
   margin: 4px;
   padding-left: 10px;
   width: 55%;
   border-radius: 6px;
   border: 1px solid;
   border-color: black;
}

.button1{
    border-radius: 10px;
    border: 1px;
    padding:7px 30px;
    color: whitesmoke;
}

@media (max-width: 425px){
    .form-back {
        margin-left: 175px;
        padding: 365px 5px 0px;
    }
    .banner{
       height: 100vh;
        width: 100%;
        font-family: sans-serif;
        background-repeat: no-repeat;   
        background-size: fill;
      

    }
    .form-page{
        width: 100%;
        height: 35px;
        margin: 4px;
        padding-left: 10px;
        border-radius: 6px;
        border: 1px solid;
        border-color: black;

    }
}