
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Lato", sans-serif;
}
   
body{
    min-height: 100vh;
    background-color:#f6f7fb;
    color: #000;
    background-size: cover;
    background-position: center;
    
}
.pcoded-navbar .scroll-div.navbar-content {
    height: 100%;
}

.pcoded-navbar.menupos-fixed {
    position: fixed;
    height: 100vh;
    min-height: 100vh;
}

.pcoded-navbar.menupos-fixed .scroll-div.navbar-content {
    height: calc(100% - 56px);
    min-height: calc(100% - 56px);
}

.bcard-pad{
    padding-left: 139px;
}
.gcard-pad{
    padding-left: 142px;
}
.bcard-pa{
    padding-left: 64px;
}
.gcard-pa{
    padding-left: 122px;
}
.ycard-pad{
    padding-left: 74px;
}
.ycard-pa{
    padding-left: 112px;
}
.rcard-pad{
    padding-left: 99px;
}
.rcard-pa{
    padding-left: 126px;
}
.icon{
    height: 50px;
    border-radius: 20px;
}

.search_input{
    width: 40%;
    border-radius: 30px;
    padding-left: 10px;
    margin-left: 250px;
    height: 40px;
}
.dashboard_main{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 }

 .sub_main{
    padding-top: 40px;
 }
 .search_input{
    width: 30%;
 }
 .form_input{
    padding-left:20px;
    gap: 20px;
    padding-bottom: 60px;
 }
 .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
  }
  .dropbtn a{
    text-decoration: none !important;
    color: #fff;
  }
  .dropdown{
   list-style: none;
  }

  .dropdown .dropdown-menu{
   display: none;
  }
  .dropdown:hover > .dropdown-menu ,.dropend:hover > .dropdown-menu{
   display: block;
   margin-top: .125em;
  }

  .dropend:hover > .dropdown-menu{
   position: absolute;
   top: 0;
   left: 100%;
   margin-left: .125em;
  }
  .input_text{
   height: auto;
   width: 150px;
   border-radius: 20px;
   outline: none;
  }
  .input_text li{
    color: #fff;
    background-color: gray;
  }
  .name_absolute{
   position: relative;
   font-size: 13px;
   width: 200px;
  }
  .name_icons{
    position: absolute;
    top: 10px;
    left: 49px;
   }
   .fabric_icons{
    position: absolute;
    top: 10px;
    left: 44px;
   }
 .Item_color_icons{
    position: absolute;
    top:10px;
    left: 36px;
 }
 .material_icons{
    position: absolute;
    top: 9px;
    left: 54px;
 }
 .packing_icons{
    position: absolute;
    top: 9px;
    left: 52px;
 }
 .unit_icons{
    position: absolute;
    top: 9px;
    left: 39px;
 }
 .fn_fabric_icons{
    position: absolute;
    top: 10px;
    left: 47px;
 }
 .ffabric_icons{
    position: absolute;
    top: 10px;
    left: 47px;
 }
 .hsn_icons{
    position: absolute;
    top: 10px;
    left: 43px;
 }
 .status_icons{
    position: absolute;
    top: 10px;
    left: 43px;
 }
  .dropdown-menu-right {
    right: 0;
    left: auto;
}
.float-right {
    font-size: 10px;
    float: left !important;
}
.card-icons{
    font-size: 27px;
    padding-left: 12px;
}
.dud-logout{
    color: black
}

/*====siderbar====*/

.side-bar{
    background:#fff;
    color: #666;
    backdrop-filter: blur(15px);
    width: 230px;
    height: 100vh;
    min-height: 56px;
    position: absolute;
    font-size: 20px;
    top: 55px;
    left:0px;
    margin: 5px 0px;
}

.side-bar::-webkit-scrollbar {
     width: 200px;
}  
   
.side-bar.active{
    left: 0;
    overflow: auto;
}

.side-bar .menu{
    width: 100%;
    margin-top: 30px;
}
   
.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}
   
.side-bar .menu .item a{
    color: #666;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 3px 25px;
    line-height: 60px;
    background-color: #fff;
}
   
.side-bar .menu .item a:hover{
    background: #b6b8b9;
    transition: 0.2s ease;

}
   
.side-bar .menu .item i{
    margin-right: 15px;
}
   
.side-bar .menu .item a .dropdown{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.2s ease;
}
   
.side-bar .menu .item .sub-menu{
    background: #262627;
    display: block;
}
   
.side-bar .menu .item .sub-menu a{
    padding-left: 20px;
}
   
.rotate{
    transform: rotate(90deg);
}
.menu-btn{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin: 25px;
    cursor: pointer;
}
   
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
   

@media (max-width: 900px){
    .main h1{
      font-size: 40px;
      line-height: 60px;
    }
 
   img{
     width: 100px;
     margin: 15px;
     border-radius: 50%;
     margin-left: 70px;
     border: 3px solid #b4b8b9;
   }
   header{
     background: #c0c2c4;
   }
   .side-bar{
    background-color: #fff;
    color: #666;
   }
}
.coder-navbar{
    z-index: 1029;
    position: fixed;
    display: flex;
    padding: 0;
    top: 0;
    background: #fff;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    height: 60px;
}

.coder-navbar .headerpos-fixed{
    position: fixed;
    top: 0;
}

.coder-navbar.header-blue{
    background: -webkit-gradient(linear, left top, right top, from(#4099ff), to(#73b4ff));
    background: linear-gradient(to right, #4099ff, #73b4ff);
    color: rgba(255, 255, 255, 0.8);
}

.image-h{
    height: 50px;
    width: 50px;
    margin: 5px;
}
.notifiaction{
    font-size: 20px;
    margin-top: 13px;
    margin-right: 12px;

}
.notification:after{
    background-color: red;
}

.dropdown-menu .float-right{
    float: left;
}
.pro-head{
    color: #fff;
    background: #4099ff;
}
.dropdown-menu .dropdown-menu-right li:hover{
    background: red;
    transition: 0.3s ease;
    
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 200px;
    left: 0;
}
}
/*=====new code =======*/
.coded-navbar .scroll-div.navbar-content {
    height: 100%;
}

.coded-navbar.menupos-fixed {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
}

.coded-navbar.menupos-fixed .scroll-div.navbar-content {
    height: calc(100% - 56px);
    min-height: calc(100% - 56px);
}

.bcard-pad{
    padding-left: 139px;
}
.bcard-pa{
    padding-left: 63px;
}
.gcard-pad{
    padding-left: 142px;
}
.gcard-pa{
    padding-left: 122px;
}
.ycard-pad{
    padding-left: 74px;
}
.ycard-pa{
    padding-left: 92px;
}
.rcard-pad{
    padding-left: 99px;
}
.rcard-pa{
    padding-left: 106px;
}
.icon{
    height: 50px;
    border-radius: 20px;
}

.search_input{
    position: relative;
    width: 40%;
    border-radius: 30px;
    padding-left: 10px;
    margin-left: 250px;
    height:40px;
}
.search-icons{
    position: absolute;
    padding-right: 10px;
    height: 30px;
    margin-top: 5px;
}
.dashboard_main{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
 }

 .dropbtn {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    color: white;
    padding: 6px;
    font-size: 13px;
    border: none;
  }
  .dropdown{
   list-style: none;
  }

  .dropdown .dropdown-menu{
   display: none;
  }
  .dropdown:hover > .dropdown-menu ,.dropend:hover > .dropdown-menu{
   display: block;
   margin-top: .125em;
  }

  .dropend:hover > .dropdown-menu{
   position: absolute;
   top: 0;
   left: 100%;
   margin-left: .125em;
  }
 
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.card-icons{
    font-size: 27px;
    padding-left: 12px;
}
.dud-logout{
    color: #fff;
    padding: 10px;
}
.pcoded-content{
    position: relative;
    display: block;
    padding: 90px 25px;
}

.pcoded-main-container {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    display: block;
    clear: both;
    float: unset;
    right: 0;
    top: 0;
    margin-left: 235px;
    min-height: 100vh;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.container-flex {
    color: #555;
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    margin: 0 0;
    width: 35%;
    margin-left: 470px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent 0.5;
    border-radius: 17px;
    outline: none;
    width: 100%;
  }

  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  

  /*=========card style=======*/

  .bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}
.bg-c-purple {
    background: linear-gradient(45deg, #7759de, #9a84e6);
}

.bg-c-red {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}
.order-card {
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.order-card i {
    font-size: 26px;
}
.order-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/*===========create item form =========*/

.item-form{
    width: 170px;
  }
  .item-select{
    width: 200px;
    border: 1px solid #666;
    border-radius: 7px;
  }

  .form-button{
    font-family:"Poppins", sans-serif;
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
  }

  .create_item_form{
    font-family:"Poppins", sans-serif;
  }
  /*=========create color form=======*/
  .modal {
    display: block; /* Hide the modal by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure the modals appear on top of other content */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    height: 550px;
    width: 452px;
    top: 15%;
    left: 35%;
  }

  .close {
    display: flex;
   color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
    background-color: transparent;
    height: auto;
    width: auto;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.create_color_lable{
  width: 110px;
}
.create_icons{
    position: absolute;
    left: 171px;
    top: 207px;
}
.create-btn{
  background-color: #3498db;
  color: white;
  padding: 6px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin: 10px;
}
.color_search{
    color: #555;
    display: flex;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 45%;
    margin-left: 10px;
    margin-top: 40px;
}

.color_table{
    font-size: 14px;
}

/*====== product form ======*/
.add_btn{
    color: #666;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 13px;
    margin-left: 10px;
    height:35px;
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
/*=====card item====*/
.product_div{
    font-family:"Poppins", sans-serif;
    margin: 0px 15px;
}
.card-img{
    width: 238px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.card_btn{
    font-family:"Poppins", sans-serif;
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 70px;
    text-decoration: none;
}
.card-clone{
    border: 1px solid;
    border-radius: 15px;
    margin: 25px;
    background-color: #f9f9f9;
    float: left;
    width: calc(20% - 10px); /* 20% width for each card with 5 cards per row */
    box-sizing: border-box;
  }

.card-input{
    background-color:#cfcccc ;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}