:root {
    --untitled-ui-gray700: #344054;
    --untitled-ui-primary600: #7f56d9;
    --untitled-ui-white: white;
    --untitled-ui-primary700: #6941c6;
    --untitled-ui-primary100: #f4ebff;
    --untitled-ui-gray600: #475467;
    --untitled-ui-gray50: #f9fafb;
    --untitled-ui-gray300: #d0d5dd;
    --untitled-ui-gray800: #1d2939;
    --untitled-ui-gray100: #f2f4f7;
    --untitled-ui-gray900: #101828;
    --untitled-ui-gray500: #667085;
    --untitled-ui-gray400: #98a2b3;
    --untitled-ui-gray200: #eaecf0;
    --walsh-walsh-mid-green: #47888a;
    --walsh-walsh-dark-green: #2c5c5d;
  }
  
  .w-layout-vflex {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .w-layout-layout {
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-auto-columns: 1fr;
    justify-content: center;
    padding: 20px;
  }
  
  .w-layout-cell {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .w-checkbox {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
  }
  
  .w-checkbox:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-checkbox:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .w-checkbox-input {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
  }
  
  .w-checkbox-input--inputType-custom {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  .w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: #3898ec;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #3898ec;
  }
  
  .w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0 0 3px 1px #3898ec;
  }
  
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: none;
    }
  }
  
  .body {
    min-width: 10rem;
    background-color: #080f25;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
  }
  
  .uui-navbar06_styles {
    display: block;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }
  
  .uui-navbar06_menu-button {
    padding: 0;
  }
  
  .uui-button {
    grid-column-gap: .5rem;
    border: 1px solid var(--untitled-ui-primary600);
    background-color: var(--untitled-ui-primary600);
    color: var(--untitled-ui-white);
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }
  
  .uui-button:hover {
    border-color: var(--untitled-ui-primary700);
    background-color: var(--untitled-ui-primary700);
  }
  
  .uui-button:focus {
    background-color: var(--untitled-ui-primary600);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui-primary100);
  }
  
  .uui-button-tertiary-gray {
    grid-column-gap: .5rem;
    color: var(--untitled-ui-gray600);
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }
  
  .uui-button-tertiary-gray:hover {
    background-color: var(--untitled-ui-gray50);
    color: var(--untitled-ui-gray700);
  }
  
  .uui-button-secondary-gray {
    grid-column-gap: .5rem;
    border: 1px solid var(--untitled-ui-gray300);
    background-color: var(--untitled-ui-white);
    color: var(--untitled-ui-gray700);
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }
  
  .uui-button-secondary-gray:hover {
    background-color: var(--untitled-ui-gray50);
    color: var(--untitled-ui-gray800);
  }
  
  .uui-button-secondary-gray:focus {
    background-color: var(--untitled-ui-white);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui-gray100);
  }
  
  .uui-button-secondary-gray.show-tablet, .show-tablet {
    display: none;
  }
  
  .uui-navbar06_button-wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    align-items: center;
    display: flex;
  }
  
  .uui-navbar06_menu-right {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }
  
  .uui-navbar06_link {
    color: var(--untitled-ui-gray600);
    align-items: center;
    padding: 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
  }
  
  .uui-navbar06_link:hover {
    color: var(--untitled-ui-gray700);
  }
  
  .uui-navbar06_link.w--current {
    color: #000;
  }
  
  .uui-text-size-small {
    color: var(--untitled-ui-gray600);
    letter-spacing: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    line-height: 1.5;
  }
  
  .uui-text-size-small.text-color-gray500 {
    color: var(--untitled-ui-gray500);
  }
  
  .uui-navbar06_item-heading {
    color: var(--untitled-ui-gray900);
    margin-bottom: .25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-weight: 600;
  }
  
  .uui-navbar06_blog-item-content {
    flex-direction: column;
    font-weight: 400;
    display: flex;
  }
  
  .uui-navbar06_blog-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .uui-navbar06_blog-item-image-wrapper {
    width: 100%;
    min-width: 9rem;
    border-radius: .375rem;
    padding-top: 66.6667%;
    position: relative;
    overflow: hidden;
  }
  
  .uui-navbar06_blog-item {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0px;
    border-radius: .5rem;
    grid-template-rows: auto;
    grid-template-columns: .5fr 1fr;
    grid-auto-columns: 1fr;
    align-content: start;
    align-items: start;
    padding: .75rem;
    text-decoration: none;
    transition: all .3s;
    display: grid;
  }
  
  .uui-navbar06_blog-item:hover {
    background-color: var(--untitled-ui-gray50);
  }
  
  .uui-navbar06_blog-list {
    width: 100%;
    grid-column-gap: 1.5rem;
    grid-row-gap: .5rem;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    grid-auto-columns: max-content;
    align-items: start;
    display: grid;
  }
  
  .uui-navbar06_dropdown-content-right {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    display: flex;
    position: relative;
  }
  
  .uui-navbar06_dropdown-link {
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    color: var(--untitled-ui-gray900);
    border-radius: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding: .75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
  }
  
  .uui-navbar06_dropdown-link:hover {
    background-color: var(--untitled-ui-gray50);
  }
  
  .uui-navbar06_dropdown-link-list {
    grid-column-gap: 0px;
    grid-row-gap: .25rem;
    grid-template-rows: max-content max-content max-content max-content max-content;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .uui-navbar06_heading {
    color: var(--untitled-ui-primary600);
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: .75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    font-weight: 600;
  }
  
  .uui-navbar06_dropdown-content-left {
    width: 100%;
    max-width: 15rem;
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 2rem 2rem 2rem 0;
  }
  
  .uui-navbar06_dropdown-content {
    width: 100%;
    display: flex;
  }
  
  .uui-navbar06_container {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .uui-navbar06_dropdown-list {
    box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
  }
  
  .uui-navbar06_dropdown-list.w--open {
    width: 100vw;
    max-width: 100%;
    min-width: 100vw;
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 5.0625rem;
    bottom: auto;
    left: 0%;
    right: auto;
    overflow: hidden;
  }
  
  .uui-dropdown-icon {
    width: 1.25rem;
    height: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: 0%;
  }
  
  .uui-navbar06_dropdown-toggle {
    color: var(--untitled-ui-gray600);
    align-items: center;
    padding: 1.75rem 2.5rem 1.75rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    transition: all .3s;
    display: flex;
  }
  
  .uui-navbar06_dropdown-toggle:hover {
    color: var(--untitled-ui-gray700);
  }
  
  .uui-navbar06_menu-dropdown {
    position: static;
  }
  
  .uui-navbar06_menu {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }
  
  .uui-logo_image {
    width: auto;
    height: 100%;
    flex: none;
    display: none;
  }
  
  .uui-logo_logotype {
    width: auto;
    height: 100%;
    flex: none;
  }
  
  .uui-logo_logomark-dot {
    z-index: 1;
    width: 50%;
    height: 50%;
    background-image: linear-gradient(26.5deg, #6941c6, #53389e);
    border-radius: 50%;
    position: relative;
  }
  
  .uui-logo_logomark-blur {
    z-index: 2;
    width: 100%;
    height: 50%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .2);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }
  
  .uui-styleguide_logomark-bg {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .uui-logo_logomark {
    width: 2rem;
    height: 2rem;
    border: .1px solid #dae0e8;
    border-radius: .5rem;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
  }
  
  .uui-logo_component {
    width: auto;
    height: 2rem;
    flex-wrap: nowrap;
    display: flex;
  }
  
  .uui-navbar06_logo-link {
    padding-left: 0;
  }
  
  .uui-navbar06_component {
    min-height: 5rem;
    border-bottom: 1px solid var(--untitled-ui-gray100);
    background-color: #fff;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }
  
  .uui-footer04_legal-link {
    color: var(--untitled-ui-gray500);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: .875rem;
    text-decoration: none;
    transition: all .3s;
  }
  
  .uui-footer04_legal-link:hover {
    color: var(--untitled-ui-gray600);
  }
  
  .uui-footer04_legal-list {
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: center;
    display: grid;
  }
  
  .uui-footer04_bottom-wrapper {
    grid-column-gap: 1.5rem;
    border-top: 1px solid var(--untitled-ui-gray200);
    justify-content: center;
    margin-top: 4rem;
    padding-top: 2rem;
    display: flex;
  }
  
  .uui-footer04_social-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .uui-footer04_social-link {
    color: var(--untitled-ui-gray400);
    align-items: center;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }
  
  .uui-footer04_social-link:hover {
    color: var(--untitled-ui-gray500);
  }
  
  .uui-footer04_social-list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: start;
    justify-items: start;
    display: grid;
  }
  
  .uui-footer04_link {
    grid-column-gap: .5rem;
    color: var(--untitled-ui-gray600);
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: .5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all .3s;
    display: flex;
  }
  
  .uui-footer04_link:hover {
    color: var(--untitled-ui-gray700);
  }
  
  .uui-footer04_link-list {
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
    white-space: normal;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: start;
    display: grid;
  }
  
  .uui-footer04_top-wrapper {
    grid-column-gap: 4vw;
    grid-row-gap: 0rem;
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr .25fr;
    justify-content: space-between;
    align-items: center;
  }
  
  .uui-padding-vertical-xlarge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .uui-container-large {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .uui-page-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .uui-footer04_component {
    background-color: #101935;
    position: static;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .text-block, .text-block-2, .text-block-3, .text-block-4, .text-block-5, .text-block-6 {
    color: var(--untitled-ui-white);
  }
  
  .container {
    position: static;
  }
  
  .image {
    display: block;
    position: static;
  }
  
  .section {
    justify-content: center;
    display: flex;
  }
  
  .flex-block {
    justify-content: center;
    align-items: center;
  }
  
  .form {
    width: 50%;
    float: none;
    display: block;
    position: static;
  }
  
  .form-block {
    justify-content: center;
    align-items: center;
  }
  
  .field-label, .field-label-2 {
    color: #fff;
  }
  
  .login-submit-button {
    display: block;
    position: static;
  }
  
  .field-label-3, .field-label-4 {
    color: #fff;
  }
  
  .submit-button {
    width: auto;
    float: none;
    clear: none;
    aspect-ratio: auto;
    object-fit: fill;
    background-color: #00aeef;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .text-below-welcome {
    color: #fff;
    margin-top: -21px;
    margin-bottom: 42px;
    font-size: 25px;
  }
  
  .below-welcome-text {
    color: #fff;
    margin-top: -21px;
    font-size: 18px;
  }
  
  .form-2 {
    margin-top: 39px;
  }
  
  .form-block-2 {
    width: 400px;
    display: block;
  }
  
  .register {
    color: #fff;
    text-align: center;
  }
  
  .body-2 {
    background-color: #080f25;
    font-family: Montserrat, sans-serif;
  }
  
  .walsh-menu-button {
    color: #fff;
  }
  
  .walsh-button-hover-fill {
    width: 5em;
    height: 5em;
    background-color: #000;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -100%;
    bottom: auto;
    left: -46%;
    right: auto;
  }
  
  .walsh-icon-arrow-flip {
    height: 12px;
  }
  
  .walsh-arrow-wrapper {
    height: 12px;
    grid-row-gap: 0px;
    flex-direction: column;
    flex: none;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  
  .walsh-label-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1.2em;
  }
  
  .walsh-button-label-wrapper {
    z-index: 4;
    grid-column-gap: 8px;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  .walsh-link-block-orange {
    color: #fff;
    text-align: center;
    background-color: #ff715b;
    border-radius: 100px;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    padding: 20px 32px;
    text-decoration: none;
    transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .walsh-link-block-orange:hover {
    background-color: #ffbba6;
  }
  
  .walsh-link-block-transparent-1 {
    box-shadow: inset 1px -1px 0 0 var(--walsh-walsh-mid-green), inset -1px 1px 0 0 var(--walsh-walsh-mid-green), inset -1px -1px 0 0 var(--walsh-walsh-mid-green), inset 1px 1px 0 0 var(--walsh-walsh-mid-green);
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .walsh-link-block-transparent-1:hover {
    box-shadow: none;
    color: var(--walsh-walsh-dark-green);
    background-color: #fff;
  }
  
  .walsh-flex-nav-buttons {
    grid-column-gap: 10px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .walsh-nav-link-white {
    color: #fff;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  
  .walsh-nav-link-white:hover {
    background-color: rgba(0, 0, 0, .35);
  }
  
  .walsh-nav-grid-center {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1.25fr 1.75fr 1.25fr;
  }
  
  .walsh-nav-menu-green-left {
    width: 100%;
    grid-column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    display: flex;
  }
  
  .walsh-nav-logo {
    height: 80px;
    line-height: 14px;
  }
  
  .walsh-brand-block {
    z-index: 2;
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;
  }
  
  .walsh-nav-grid-2 {
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: .5fr 1fr .5fr;
  }
  
  .walsh-inner-nav {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .walsh-container-nav {
    max-width: 1480px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .walsh-main-nav {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .navigationbardesktop {
    z-index: 10;
    background-color: #101935;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .utility-page-wrap {
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .utility-page-content {
    width: 260px;
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  
  .utility-page-form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }
  
  .body-3 {
    background-color: #080f25;
  }
  
  .image-2 {
    width: 100px;
    text-align: left;
    object-fit: fill;
    display: inline-block;
  }
  
  .image-3 {
    width: 150px;
    float: left;
    display: block;
  }
  
  .section-2 {
    float: left;
  }
  
  .image-4 {
    align-self: center;
    display: block;
  }
  
  .link {
    color: #fff;
  }
  
  .link-1 {
    color: #fff;
    margin-left: 10px;
  }
  
  .section-3 {
    height: 200px;
  }
  
  .heading {
    color: #fff;
    text-align: left;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: flex;
  }
  
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  
  .text-block-7 {
    color: #fff;
    text-align: center;
  }
  
  .columns {
    align-self: center;
  }
  
  .form-block-3 {
    width: 100%;
    order: 1;
    align-self: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
    position: static;
  }
  
  .submit-button-2 {
    width: 80px;
    float: none;
    text-align: center;
    background-color: #6c72ff;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
    position: static;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }
  
  .flex-block-2 {
    float: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .field-label-5 {
    color: #fff;
  }
  
  .field-label-6 {
    color: var(--untitled-ui-white);
    text-align: center;
  }
  
  .uui-heroheader01_pattern-image {
    width: 18.625rem;
    position: absolute;
    top: -6%;
    right: -21%;
  }
  
  .uui-heroheader01_fileupload-image2 {
    width: 23rem;
    min-width: 23rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: .5rem;
  }
  
  .uui-heroheader01_fileupload-image1 {
    width: 23rem;
    min-width: 23rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: .5rem;
    margin-bottom: .75rem;
  }
  
  .uui-heroheader01_fileupload-image-wrapper {
    width: 23rem;
    position: absolute;
    top: auto;
    bottom: 5%;
    left: -16%;
    right: auto;
  }
  
  .uui-heroheader01_image {
    width: 100%;
    height: 40rem;
    object-fit: cover;
    border-top-left-radius: 10rem;
  }
  
  .uui-heroheader01_image-wrapper {
    position: relative;
  }
  
  .uui-button-2 {
    grid-column-gap: .5rem;
    border: 1px solid var(--untitled-ui-primary600);
    background-color: var(--untitled-ui-primary600);
    color: var(--untitled-ui-white);
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }
  
  .uui-button-2:hover {
    border-color: var(--untitled-ui-primary700);
    background-color: var(--untitled-ui-primary700);
  }
  
  .uui-button-2:focus {
    background-color: var(--untitled-ui-primary600);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui-primary100);
  }
  
  .uui-button-2.is-button-large {
    grid-column-gap: .75rem;
    padding: 1rem 1.75rem;
    font-size: 1.125rem;
  }
  
  .uui-button-icon {
    width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .uui-button-icon.is-icon-large {
    width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }
  
  .uui-button-secondary-gray-2 {
    grid-column-gap: .5rem;
    border: 1px solid var(--untitled-ui-gray300);
    background-color: var(--untitled-ui-white);
    color: var(--untitled-ui-gray700);
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    padding: .625rem 1.125rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }
  
  .uui-button-secondary-gray-2:hover {
    background-color: var(--untitled-ui-gray50);
    color: var(--untitled-ui-gray800);
  }
  
  .uui-button-secondary-gray-2:focus {
    background-color: var(--untitled-ui-white);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05), 0 0 0 4px var(--untitled-ui-gray100);
  }
  
  .uui-button-secondary-gray-2.is-button-large {
    grid-column-gap: .75rem;
    padding: 1rem 1.75rem;
    font-size: 1.125rem;
  }
  
  .uui-button-row {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
  }
  
  .uui-space-large {
    width: 100%;
    min-height: 3rem;
  }
  
  .uui-text-size-xlarge {
    color: var(--untitled-ui-gray600);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .uui-max-width-medium {
    width: 100%;
    max-width: 35rem;
  }
  
  .uui-space-small {
    width: 100%;
    min-height: 1.5rem;
  }
  
  .uui-heading-xlarge {
    color: var(--untitled-ui-gray900);
    margin-top: 0;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1.2;
  }
  
  .uui-heroheader01_component {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .uui-padding-vertical-xhuge {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .uui-container-large-2 {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .uui-page-padding-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .uui-section_heroheader01 {
    overflow: hidden;
  }
  
  .body-4 {
    background-color: #5c5c5c;
  }
  
  .container-2 {
    flex-direction: column;
    display: flex;
  }
  
  .section-4 {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    display: block;
  }
  
  .text-block-8 {
    color: #fff;
  }
  
  .dropdown-list {
    background-color: #101935;
  }
  
  .nav-dropdown-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .div-block {
    width: 100%;
  }
  
  .container-3 {
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .product-status-field {
    background-color: #101935;
    border: 0 #000;
    border-radius: 10px;
  }
  
  .product-status-field-2 {
    background-color: #101935;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .product-channel-field {
    background-color: #101935;
    border-radius: 10px;
  }
  
  .container-4 {
    width: 50%;
    flex-direction: row;
    display: flex;
  }
  
  .div-block-2 {
    width: 50rem;
  }
  
  .container-5 {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }
  
  .form-3 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .div-block-3 {
    width: 100%;
  }
  
  .columns-2 {
    align-self: stretch;
  }
  
  .column, .column-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .formtextfield {
    color: #000;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .formtextfield.shortdescription {
    height: 5rem;
  }
  
  .formtextfield.sort {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .section-5 {
    height: 500px;
  }
  
  .checkbox-label {
    color: #fff;
  }
  
  .table_cell {
    width: 5%;
    height: auto;
    text-align: justify;
    border: 1px solid #fff;
    margin-left: 0;
    margin-right: 0;
  }
  
  .table_cell.image {
    width: 14%;
    border-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .table_cell.update, .table_cell.action {
    width: 5%;
  }
  
  .table_cell.price, .table_cell.inventory {
    width: 20%;
  }
  
  .table_cell.status {
    width: 5%;
  }
  
  .table_cell.image1 {
    width: 14%;
  }
  
  .table_row, .table_body {
    border: 1px #fff;
  }
  
  .table_header {
    width: auto;
    border: 1px solid #fff;
  }
  
  .table_component {
    width: 100%;
    height: 150px;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  .insidechildtable {
    width: auto;
    border: 1px rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }
  
  .insidechildtable.border {
    width: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .tablecell_left {
    text-align: left;
    margin-bottom: 0;
    font-size: 13px;
  }
  
  .tablecell_left.bgcolor {
    background-color: #303d64;
  }
  
  .tablecell_right {
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 13px;
  }
  
  .tablecell_right.bgcolor {
    background-color: #303d64;
  }
  
  .image-5 {
    width: auto;
    flex: 0 auto;
    margin: 10px;
    display: block;
  }
  
  .image-6, .image-7 {
    width: 50%;
    height: 50%;
  }
  
  .image-8 {
    width: 50%;
    height: 50%;
    text-align: left;
    align-self: center;
    margin-top: 20px;
  }
  
  .section-6 {
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }
  
  .image-9 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .text-block-9 {
    text-align: center;
    margin-top: 20px;
  }
  
  .section-7 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .div-block-4 {
    width: 10%;
  }
  
  .text-field {
    border-radius: 20px;
  }
  
  .section-8 {
    display: flex;
  }
  
  .div-block-5 {
    width: 80%;
    margin-right: 5px;
  }
  
  .div-block-5.searchbox {
    width: 20%;
    margin-left: 5px;
  }
  
  .div-block-6 {
    width: auto;
  }
  
  .search-input, .text-field-2, .text-field-3 {
    border-radius: 20px;
  }
  
  .section-9 {
    border: 1px solid #fff;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
  }
  
  .submit-button-3 {
    background-color: #6c72ff;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .search-button, .button {
    background-color: #6c72ff;
    border-radius: 20px;
  }
  
  .section-10 {
    margin-bottom: 10px;
  }
  
  .path-tuwmr {
    width: 50%;
    height: 50%;
    color: #fff;
  }
  
  .ikonik-d505k {
    width: 50%;
    height: 50%;
  }
  
  .flex-block-3 {
    align-items: center;
  }
  
  .path-vutgx {
    color: #fff;
  }
  
  .ikonik-ychyt {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
    display: block;
  }
  
  .path-d1486i {
    color: #fff;
  }
  
  .ikonik-zhmny {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
  
  .path-5p0oe {
    color: #fff;
  }
  
  .path-rwclk {
    width: 50%;
    color: #fff;
  }
  
  .ikonik-s2wf0h {
    width: 50%;
    height: 50%;
  }
  
  .flex-block-4 {
    align-items: center;
  }
  
  .tabs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }
  
  .tablink.w--current {
    color: #fff;
    background-color: #7e00ff;
  }
  
  .tab-link-tab-2 {
    color: #fff;
    background-color: #6c72ff;
  }
  
  .tablinknoncurrent {
    border: 1px solid var(--untitled-ui-white);
    color: #fff;
    background-color: #6c72ff;
  }
  
  .tablinknoncurrent.w--current {
    background-color: #7e00ff;
    border: 1px solid #fff;
  }
  
  .tabs-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .tab-pane-tab-1 {
    width: 500px;
  }
  
  .text-block-10 {
    width: 100%;
  }
  
  .textarea {
    color: #000;
    border-radius: 10px;
  }
  
  .columns-3 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
  }
  
  .path-c6tu4 {
    width: 25%;
    height: 25%;
    color: #fff;
  }
  
  .ikonik-getr2 {
    width: 25%;
    height: 25%;
    text-align: justify;
    display: inline-block;
  }
  
  .flex-block-5 {
    align-items: center;
  }
  
  .link-block {
    flex-direction: column;
    align-self: center;
    align-items: center;
    display: flex;
  }
  
  .path-ttcckh, .path-xgzg9 {
    color: #fff;
  }
  
  .iconsize {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }
  
  .path-zm6zw {
    color: #f90000;
  }
  
  .path-xnbrui, .path-luvdn, .path-ki5q2 {
    color: #fff;
  }
  
  .textarea-2 {
    border-radius: 10px;
  }
  
  .image-10 {
    margin: 5px;
  }
  
  .aplusdittalecell {
    width: 10%;
  }
  
  .aplusdittalecell.sort {
    width: 5%;
  }
  
  .aplusdittalecell.image11 {
    width: 20%;
  }
  
  @media screen and (max-width: 991px) {
    .menu-icon_line-bottom {
      width: 24px;
      height: 2px;
      background-color: var(--untitled-ui-gray700);
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .menu-icon_line-middle-inner {
      width: 4px;
      height: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .menu-icon_line-middle {
      width: 24px;
      height: 2px;
      background-color: var(--untitled-ui-gray700);
      border-radius: 1rem;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }
  
    .menu-icon_line-top {
      width: 24px;
      height: 2px;
      background-color: var(--untitled-ui-gray700);
      border-radius: 1rem;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .menu-icon_component {
      width: 48px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -.5rem;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }
  
    .uui-navbar06_menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .hide-tablet {
      display: none;
    }
  
    .uui-button-secondary-gray.show-tablet, .show-tablet {
      display: block;
    }
  
    .uui-navbar06_button-wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      display: flex;
    }
  
    .uui-navbar06_menu-right {
      flex-direction: column-reverse;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      align-items: stretch;
      margin-top: 1.5rem;
      padding-bottom: 7rem;
    }
  
    .uui-navbar06_link {
      width: 100%;
      color: var(--untitled-ui-gray900);
      padding: .75rem 0;
      font-size: 1.125rem;
    }
  
    .uui-navbar06_link:hover {
      color: var(--untitled-ui-gray900);
    }
  
    .uui-navbar06_blog-item-content, .uui-navbar06_blog-item-image {
      width: 100%;
    }
  
    .uui-navbar06_blog-item-image-wrapper {
      width: 100%;
      flex-direction: column;
    }
  
    .uui-navbar06_blog-item {
      grid-row-gap: 1.5rem;
      grid-template-columns: 1fr;
      padding-left: 0;
      padding-right: 0;
    }
  
    .uui-navbar06_blog-item:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .uui-navbar06_blog-list {
      width: 100%;
      grid-row-gap: 1rem;
    }
  
    .uui-navbar06_dropdown-content-right {
      max-width: none;
      align-items: flex-start;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }
  
    .uui-navbar06_dropdown-link {
      padding-left: 0;
      padding-right: 0;
    }
  
    .uui-navbar06_dropdown-link:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .uui-navbar06_dropdown-content-left {
      max-width: none;
      align-content: start;
      align-items: start;
      padding: 1rem 0 0;
    }
  
    .uui-navbar06_dropdown-content {
      flex-direction: column;
    }
  
    .uui-navbar06_dropdown-list {
      position: relative;
      overflow: hidden;
    }
  
    .uui-navbar06_dropdown-list.w--open {
      min-width: auto;
      box-shadow: none;
      border-style: none;
      align-items: flex-start;
      padding: 0 0 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
  
    .uui-dropdown-icon {
      color: var(--untitled-ui-gray500);
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      top: auto;
      bottom: auto;
      left: auto;
      right: 0%;
    }
  
    .uui-navbar06_dropdown-toggle {
      color: var(--untitled-ui-gray900);
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }
  
    .uui-navbar06_dropdown-toggle:hover {
      color: var(--untitled-ui-gray900);
    }
  
    .uui-navbar06_menu-dropdown {
      width: 100%;
      position: relative;
    }
  
    .uui-navbar06_menu-left {
      grid-column-gap: 0px;
      grid-row-gap: .5rem;
      color: var(--untitled-ui-gray900);
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }
  
    .uui-navbar06_menu {
      height: 100vh;
      border-top: 1px solid var(--untitled-ui-gray100);
      -webkit-text-fill-color: inherit;
      background-color: #fff;
      background-clip: border-box;
      align-items: flex-start;
      margin-left: 0;
      padding: 1.5rem 2rem 5rem;
      position: absolute;
      overflow: auto;
    }
  
    .uui-footer04_top-wrapper {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
    }
  
    .uui-padding-vertical-xlarge {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  
    .walsh-menu-button {
      color: #fff;
      order: 1;
    }
  
    .walsh-menu-button.w--open {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .walsh-button-hover-fill {
      display: none;
    }
  
    .walsh-link-block-orange {
      padding-left: 50px;
    }
  
    .walsh-flex-nav-buttons {
      justify-content: flex-start;
      margin-top: 15px;
    }
  
    .walsh-nav-link-white {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
    }
  
    .walsh-nav-link-white:hover {
      background-color: rgba(0, 0, 0, 0);
    }
  
    .walsh-nav-grid-center {
      grid-column-gap: 15px;
      grid-row-gap: 0px;
    }
  
    .walsh-nav-menu-green-left {
      background-color: var(--walsh-walsh-dark-green);
      padding-top: 0;
      padding-right: 20px;
    }
  
    .walsh-container-nav {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 0;
    }
  
    .uui-heroheader01_fileupload-image-wrapper {
      left: -2.5%;
    }
  
    .uui-space-large {
      min-height: 2.5rem;
    }
  
    .uui-heading-xlarge {
      font-size: 3.25rem;
    }
  
    .uui-heroheader01_component {
      min-height: auto;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  
    .uui-padding-vertical-xhuge {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .uui-button {
      font-size: 1rem;
    }
  
    .uui-button:hover {
      border-color: var(--untitled-ui-primary600);
      background-color: var(--untitled-ui-primary600);
    }
  
    .uui-button-tertiary-gray:hover {
      color: var(--untitled-ui-gray600);
      background-color: rgba(0, 0, 0, 0);
    }
  
    .uui-button-secondary-gray {
      padding-left: 1.25rem;
      font-size: 1rem;
    }
  
    .uui-button-secondary-gray:hover {
      background-color: var(--untitled-ui-white);
      color: var(--untitled-ui-gray700);
    }
  
    .uui-navbar06_link {
      font-size: 1rem;
    }
  
    .uui-navbar06_blog-item-image {
      margin-bottom: 0;
    }
  
    .uui-navbar06_blog-item-image-wrapper {
      max-width: 100%;
    }
  
    .uui-navbar06_blog-item {
      grid-row-gap: 1rem;
    }
  
    .uui-navbar06_blog-list {
      grid-row-gap: .5rem;
    }
  
    .uui-navbar06_dropdown-link-list {
      max-width: none;
    }
  
    .uui-navbar06_dropdown-content-left {
      grid-row-gap: 1.5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
    }
  
    .uui-navbar06_dropdown-list.w--open {
      margin-bottom: 0;
    }
  
    .uui-navbar06_dropdown-toggle {
      font-size: 1rem;
    }
  
    .uui-navbar06_menu {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .uui-styleguide_logomark-bg {
      background-image: url('../images/untitled-ui-logomark.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .uui-navbar06_component {
      min-height: 4.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .uui-footer04_legal-link:hover {
      color: var(--untitled-ui-gray400);
    }
  
    .uui-footer04_legal-list {
      margin-bottom: 1rem;
    }
  
    .uui-footer04_bottom-wrapper {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: 3rem;
    }
  
    .uui-footer04_social-link:hover {
      color: var(--untitled-ui-gray400);
    }
  
    .uui-footer04_link:hover {
      color: var(--untitled-ui-gray500);
    }
  
    .uui-footer04_link-list {
      grid-column-gap: 1rem;
      grid-row-gap: .5rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row;
      justify-items: center;
    }
  
    .uui-padding-vertical-xlarge {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  
    .uui-page-padding {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .walsh-brand-block {
      padding-left: 0;
    }
  
    .uui-heroheader01_pattern-image {
      width: 14.9rem;
      top: auto;
      bottom: -15%;
      right: -10%;
    }
  
    .hide-mobile-landscape {
      display: none;
    }
  
    .uui-heroheader01_image {
      height: 22rem;
      border-top-left-radius: 6rem;
    }
  
    .uui-button-2 {
      font-size: 1rem;
    }
  
    .uui-button-2:hover {
      border-color: var(--untitled-ui-primary600);
      background-color: var(--untitled-ui-primary600);
    }
  
    .uui-button-2.is-button-large {
      grid-column-gap: .5rem;
      padding: .75rem 1.25rem;
      font-size: 1rem;
    }
  
    .uui-button-wrapper.max-width-full-mobile-landscape {
      width: 100%;
    }
  
    .max-width-full-mobile-landscape {
      width: 100%;
      max-width: none;
    }
  
    .uui-button-icon.is-icon-large {
      width: 1.25rem;
      height: 1.25rem;
    }
  
    .uui-button-secondary-gray-2 {
      padding-left: 1.25rem;
      font-size: 1rem;
    }
  
    .uui-button-secondary-gray-2:hover {
      background-color: var(--untitled-ui-white);
      color: var(--untitled-ui-gray700);
    }
  
    .uui-button-secondary-gray-2.is-button-large {
      grid-column-gap: .5rem;
      padding: .75rem 1.25rem;
      font-size: 1rem;
    }
  
    .uui-button-row {
      align-self: stretch;
    }
  
    .uui-button-row.is-reverse-mobile-landscape {
      flex-direction: column-reverse;
    }
  
    .uui-space-large {
      min-height: 2rem;
    }
  
    .uui-text-size-xlarge {
      font-size: 1.125rem;
    }
  
    .uui-space-small {
      min-height: 1.25rem;
    }
  
    .uui-heading-xlarge {
      font-size: 2.25rem;
    }
  
    .uui-padding-vertical-xhuge {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  
    .uui-page-padding-2 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  @media screen and (max-width: 479px) {
    .uui-navbar06_blog-item {
      flex-direction: column;
    }
  
    .uui-navbar06_blog-list, .uui-navbar06_dropdown-content-left {
      grid-template-columns: 1fr;
    }
  
    .uui-footer04_social-list {
      display: none;
    }
  
    .uui-footer04_link-list {
      grid-template-columns: 1fr 1fr;
      margin-top: -42px;
      display: block;
    }
  
    .text-block {
      font-size: 1rem;
    }
  
    .image {
      width: 100px;
      height: 120px;
    }
  
    .footerlogo {
      width: 100px;
      height: 120px;
      display: block;
    }
  
    .text-below-welcome {
      margin-top: 0;
    }
  
    .below-welcome-text {
      font-size: 13px;
    }
  
    .form-block-2 {
      width: 300px;
    }
  
    .register {
      color: #fff;
      text-align: center;
      margin-top: 6px;
    }
  
    .walsh-label-button {
      font-size: 16px;
    }
  
    .walsh-link-block-orange {
      align-self: center;
      padding-left: 30px;
      padding-right: 25px;
    }
  
    .walsh-link-block-transparent-1 {
      padding-left: 30px;
      padding-right: 25px;
    }
  
    .walsh-flex-nav-buttons {
      grid-row-gap: 10px;
      flex-direction: column;
      align-items: stretch;
    }
  
    .walsh-nav-link-white {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  
    .walsh-nav-logo {
      height: 24px;
    }
  
    .heading {
      width: 200px;
      text-align: center;
      font-size: 20px;
    }
  
    .form-block-3 {
      width: 300px;
    }
  
    .uui-heroheader01_pattern-image {
      width: 12.125rem;
      bottom: -25%;
      right: -20%;
    }
  
    .uui-heroheader01_image {
      height: 15rem;
      border-top-left-radius: 4rem;
    }
  
    .uui-heroheader01_component {
      grid-template-columns: 1fr;
    }
  
    .container-3 {
      flex-direction: column;
      align-items: center;
    }
  
    .table_body {
      flex-direction: column;
      align-items: center;
      display: block;
    }
  
    .table_component {
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: 0;
      padding: 0;
    }
  
    .section-6 {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      flex-direction: column;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      justify-content: flex-start;
      align-items: flex-start;
      display: block;
    }
  }
  
  #w-node-ce06bfa0-9295-b3d8-a4e7-5b69d9c6fd66-d9c6fd4f {
    justify-self: end;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-9f42a0de {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: start;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b34-9f42a0de {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-9f42a0de {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    justify-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-9f42a0de {
    grid-column: span 3 / span 3;
  }
  
  #w-node-_0ef74247-43c0-ca2d-7299-f6ba053efb6c-1a9b739a {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-a4a4bf93 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: start;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b34-a4a4bf93 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-a4a4bf93 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    justify-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-a4a4bf93 {
    grid-column: span 3 / span 3;
  }
  
  #w-node-e6d2d68c-f244-c185-7376-9449e625e5bf-e625e5ba {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: start;
  }
  
  #w-node-e6d2d68c-f244-c185-7376-9449e625e5c1-e625e5ba {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }
  
  #w-node-e6d2d68c-f244-c185-7376-9449e625e5c3-e625e5ba {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    justify-self: center;
  }
  
  #w-node-e6d2d68c-f244-c185-7376-9449e625e5e4-e625e5ba {
    grid-column: span 3 / span 3;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-b6e10dc2 {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    justify-self: start;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b34-b6e10dc2 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-b6e10dc2 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    justify-self: center;
  }
  
  #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-b6e10dc2 {
    grid-column: span 3 / span 3;
  }
  
  @media screen and (max-width: 991px) {
    #w-node-ce06bfa0-9295-b3d8-a4e7-5b69d9c6fd66-d9c6fd4f {
      justify-self: center;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-9f42a0de {
      grid-column: 1 / 2;
      justify-self: start;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-9f42a0de {
      grid-column: 1 / 4;
      justify-self: auto;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-9f42a0de {
      grid-area: 1 / 3 / 2 / 4;
      justify-self: end;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-a4a4bf93 {
      grid-column: 1 / 2;
      justify-self: start;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-a4a4bf93 {
      grid-column: 1 / 4;
      justify-self: auto;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-a4a4bf93 {
      grid-area: 1 / 3 / 2 / 4;
      justify-self: end;
    }
  
    #w-node-e6d2d68c-f244-c185-7376-9449e625e5bf-e625e5ba {
      grid-column: 1 / 2;
      justify-self: start;
    }
  
    #w-node-e6d2d68c-f244-c185-7376-9449e625e5c3-e625e5ba {
      grid-column: 1 / 4;
      justify-self: auto;
    }
  
    #w-node-e6d2d68c-f244-c185-7376-9449e625e5e4-e625e5ba {
      grid-area: 1 / 3 / 2 / 4;
      justify-self: end;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-b6e10dc2 {
      grid-column: 1 / 2;
      justify-self: start;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b36-b6e10dc2 {
      grid-column: 1 / 4;
      justify-self: auto;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b4d-b6e10dc2 {
      grid-area: 1 / 3 / 2 / 4;
      justify-self: end;
    }
  }
  
  @media screen and (max-width: 767px) {
    #w-node-ce06bfa0-9295-b3d8-a4e7-5b69d9c6fd54-d9c6fd4f {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }
  
  @media screen and (max-width: 479px) {
    #w-node-ce06bfa0-9295-b3d8-a4e7-5b69d9c6fd56-d9c6fd4f {
      align-self: auto;
    }
  
    #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-9f42a0de, #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-a4a4bf93, #w-node-e6d2d68c-f244-c185-7376-9449e625e5bf-e625e5ba, #w-node-_05eb6281-45fd-667c-4c72-41da40b65b32-b6e10dc2 {
      grid-column-end: 3;
    }
  }
  