{% extends 'product/base.html' %}
{% load static %}
{% block body %}

Ref No - {{product_instance.Product_Refrence_ID}}
Model Name - {{product_instance.Model_Name}}

{% for instance in product_instance.productdetails.all %}

Images - {{instance.PProduct_image.url}}

{% endfor %}

<h3>Model Wise</h3>
{% for instance in purchase_instances %}
{{instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.purchase_order_number}} Po No

{{instance.challan_no}} GRN No 

{{instance.labour_voucher_number.labour_name.name}} Vendor Name


{% endfor %}

{% endblock body %}