{% extends 'product/base.html' %}
{% load static %}
{% block body %}


<!-- Ref No - {{product_instance.Product_Refrence_ID}}
Model Name - {{product_instance.Model_Name}} -->

<div class="mt-2">
<label class="fw-bold">Ref No :</label><span class="text-danger ms-2 refId"> {{product_instance.Product_Refrence_ID}}</span>
<label class="fw-bold ms-3">Model Name :</label><span class="text-danger ms-2">{{product_instance.Model_Name}}</span>
        <label class="fw-bold ps-3">Images :</label>
        {% for instance in product_instance.productdetails.all %}
        {% if instance.PProduct_image.url is not None %}
        <img src=" {{instance.PProduct_image.url}}" style="width: 60px; height: 60px; padding:2px; margin: 2px;">
        {% endif %}
        {% endfor %}
</div>



<div class=" mt-2">
    <h3>Model Wise</h3>
    <table class="table table-striped table-hover table-bordered" id="tableLabourWorkinIdBody">
        <thead class="name_absolute sticky-top">
            <tr>
                <th>PO No</th>
                <th>GRN No</th>
                <th>Challan No</th>
                <th>Date</th>
                <th>Vendor Name</th>
                <th>Total Labour Work Out</th>
                <th>Total Labour Work In</th>
                <th>Rep Out</th>
                <th>Rep In</th>
                <th>Total Balance to Vendor</th>
                <th>Total Received</th>
            </tr>
        </thead>
        <tbody class="mainTableList" id="tableLabourWorkinId">
            {% for instance in purchase_instances %}
            <tr>
                <td>{{instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.purchase_order_number}}</td>
                <td>{{instance.voucher_number}}</td>
                <td>{{instance.labour_voucher_number.challan_no}}</td>
                <td>{{instance.created_date}}</td>
                <td>{{instance.labour_voucher_number.labour_name.name}}</td>
                <td>{{instance.labour_voucher_number.total_process_pcs}}</td>
                <td>{{instance.total_return_pcs}}</td>
                <td></td>
                <td></td>
                <td>{{instance.total_balance_to_vendor}}</td>
                <td></td>
                    <input type="hidden" class="godownId" value="{{instance.labour_voucher_number.labour_name.id}}">
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>


    function godownModalWaise(){
        var godownModel = document.querySelectorAll('.mainTableList tr');
 
        godownModel.forEach(function(item){
            item.style.cursor = 'pointer';
            item.addEventListener('click',function(event){
                event.preventDefault();
             
                var godownId = item.querySelector('.godownId').value;
                var refIds = $('.refId').text();
                var newrefIds = parseInt(refIds);
                window.location.href = "/finishedgoodsgodownproductrefvendorwisereport/" + godownId + "/" + newrefIds;
            })
        })
   
    }
    godownModalWaise()
</script>
{% endblock body %}