
{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<h3 class="mb-3 mt-2">Labour Workin List</h3>
<div class="d-flex mb-3">
    <button class="item-btn" onclick="redirectlistCutting()"><a id="create" class="text-decoration-none text-white" href="{% url 'labour-workin-create' labour_workout_child_instance.id %}">Create</a></button>
  </div>
  <div class="mb-3">
    <lable class="fw-bold">Challan No :</lable>
    <span class="text-danger ms-2">{{labour_workout_child_instance.challan_no}}</span> 
    <lable class="fw-bold ms-3">Total Labour Workout Pcs  :</lable>
    <span class="text-danger ms-2">{{labour_workout_child_instance.total_process_pcs}}</span>  
    <lable class="fw-bold ms-3">Total Returned Pcs :</lable> 
    <span class="text-danger ms-2">{{labour_workout_child_instance.labour_workin_pcs}}</span>
    <lable class="fw-bold ms-3">Total Balance Pcs :</lable>
    <span class="text-danger ms-2">{{labour_workout_child_instance.labour_workin_pending_pcs}}</span>
    </div>
  <div class="row">
    <div class="col-lg-8">
        <div class="table-responsives">
            <table class="table table-striped table-hover table-bordered">
                <thead class="name_absolute sticky-top">
                    <tr>
                        <th>No</th>
                        <th>GRN No</th>
                        <th>labour name</th>
                        <th>Issues Pcs</th>
                        <th>Return Pcs</th>
                        <th>Balance Pcs</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                  
                <tbody class="mainTableList text-nowrap" style="max-height: 450px; overflow-y: auto;">
                    
                  {% for record in labour_workin_instances %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{record.voucher_number}}</td>
                        <td>{{record.labour_voucher_number.labour_name.name}}</td>
                        <td>{{record.labour_voucher_number.total_process_pcs}}</td>
                        <td>{{record.total_return_pcs}}</td>
                        <td>{{record.total_balance_pcs}}</td>
                        <td><a href="{% url 'labour-workin-view-update' record.labour_voucher_number.id record.id %}"><i class="fa-solid fa-pen-to-square px-2"></i></a></td>
                        <td><button class="border-0 bg-transparent delete-btn" data-item-id="{{record.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-solid fa-trash text-danger px-2"></i></button></td>
                        <input type="hidden" name="labour_workin_id" value="{{record.id}}" id="id_labour_workin_id">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Deletion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-text">
            Are you sure you want to delete this Labour Workin Challan No?
        </div>
        <div class="modal-footer">
          <button type="button" class="add_btn rounded-2" id="noButton" data-bs-dismiss="modal">No</button>
          <button type="button" class="modal-btn" id="confirmDeleteButton">Yes</button>
        </div>
      </div>
    </div>
</div>

<script>
      document.body.appendChild(document.getElementById('exampleModal'));
$(document).ready(function(){
  $('.delete-btn').click(function(){
    // Fetching data from the clicked row
    var deleteBtn = $(this);
    var row = $(this).closest('tr');
    var name = row.find('td').eq(2).text();

    var CuttingId = '<span class="color-name" style="color:' + name + ';">' + name + '</span>';

    $('#modal-body-text').html('Are you sure you want to delete this labourWorkin ' + CuttingId + '?');
    $('#exampleModal').modal('show');

    // Attach a one-time click event to the confirm delete button
    $('#confirmDeleteButton').off('click').on('click', function(){
      var labour_workin_pk = deleteBtn.data('item-id');
    
        $.ajax({
          type: 'POST',
          url: "{% url 'labour-workin-single-delete' %}",
          data: {
            'labour_workin_pk': labour_workin_pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function(response){
            console.log(response);
            $('#exampleModal').modal('hide');
            
          },
          error: function(xhr, status, error){
            console.error("Error occurred: " + error);
            $('#modal-body-text').html('An error occurred. Please try again.');
          }
        });
    });
    
  });
});
</script>
{% endblock %}