{% extends 'product/base.html' %}
{% load static %}
{% block body %}

Labour Workout Create


<a href="{% url 'labour-workout-single' labour_master_pk %}"><i class="fa-solid fa-circle-plus px-2">Create</i></a>


<div><table>
    <tr>
        <th>Challan No</th>
        <th>labour_name</th>
        <th>total_approved_pcs</th>
        <th>total_pending_pcs</th>
        <th>total balance qty</th>
        <th>View</th>
    </tr>
    {% for record in labour_workout_child_instances %}
    <tr>
        <td>{{record.challan_no}}</td>
        <td>{{record.labour_name.name}}</td>
        <td>{{record.total_approved_pcs}}</td>
        <td>{{record.total_pending_pcs}}</td>
        <td>{{record.total_balance_pcs}}</td>
        <td><a href="{% url 'labour-workout-single-view' record.id %}">View</a></td>
    </tr>
    {% endfor %}
    </table></div>





{% endblock %}