
{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<!-- <span>Challan No - {{labour_workout_child_instance.challan_no}}</span> -->
<h3 class="mb-3 mt-2">Labour Workout List</h3>
<div class="d-flex mb-3">
    <button class="item-btn" onclick="redirectlistCutting()"><a id="create" class="text-decoration-none text-white" href="{% url 'labour-workin-create' labour_workout_child_instance.id %}">Create</a></button>

  </div>
  <div class="row">
    <div class="col-lg-8">
        <div class="table-responsives">
            <table class="table table-striped table-hover table-bordered">
                <thead class="name_absolute sticky-top">
                    <tr>
                        <th>No</th>
                        <th>Challan No</th>
                        <th>Date</th>
                        <th>labour name</th>
                        <th>Processed Pcs</th>
                        <th>Balance Pcs</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                  
                <tbody class="mainTableList text-nowrap" style="max-height: 450px; overflow-y: auto;">
                  
                    <!-- <tr>
                        <td></td>
                        <td>{{record.challan_no}}</td>
                        <td>{{record.created_date}}</td>
                        <td>{{record.labour_name.name}}</td>
                        <td>{{record.total_process_pcs}}</td>
                        <td>{{record.total_balance_pcs}}</td>
                        <td><a href=""><i class="fa-solid fa-eye px-1"></i></a></td>
                        <td><button class="border-0 bg-transparent delete-btn" data-item-id="" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="fa-solid fa-trash text-danger px-2"></i></button></td>
                        <input type="hidden" id="id_primary_key" name="primary_key" value="{{record.id}}" class="primary_key">
                    </tr> -->
                 
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}