{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<form method="post" class="mt-2">
    {% csrf_token %}
<div>
    <h5 class="fw-bold mt-2 text-danger mb-3">Labour Workin Create</h5>
    <div class="d-flex mb-3">
        <label for="id_voucher_number" class="item-form">GRN No:</label>

        {% if not master_form.instance.id %}

        <input type="number" class="item-select" name="voucher_number" value="{{master_form.voucher_number.initial}}" required id="id_voucher_number">
        {% else %}
        <input type="number" class="item-select" name="voucher_number" value="{{master_form.instance.voucher_number}}" required id="id_voucher_number">

        {% endif %}


    </div>
    <div class="d-flex mb-3">
        <label for="id_labour_name" class="item-form">Labour Name:</label>

        {% if not master_form.instance.id %}

        <input type="text" class="item-select" name="labour_name" value="{{master_form.labour_name.initial}}" required id="id_labour_name">

        {% else %}
        <input type="text" class="item-select" name="labour_name" value="{{master_form.instance.labour_voucher_number.labour_name.name}}" required id="id_labour_name">

        {% endif %}
    </div>
    <div class="d-flex mb-3">
        <label for="id_challan_no" class="item-form">Challan no:</label>
        {% if not master_form.instance.id %}

    <input type="text" class="item-select" name="challan_no" value="{{master_form.challan_no.initial}}" required id="id_challan_no">
    {% else %}

    <input type="text" class="item-select" name="challan_no" value="{{master_form.instance.labour_voucher_number.challan_no}}" required id="id_challan_no">
    {% endif %}
    </div>
    <div class="d-flex mb-3">
        <label for="id_purchase_order_no" class="item-form">PO.No:</label>

    
        {% if not master_form.instance.id %}

        <input type="text" class="item-select" name="purchase_order_no" value="{{master_form.purchase_order_no.initial}}" required id="id_purchase_order_no">
        {% else %}


        <input type="text" class="item-select" name="purchase_order_no" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.purchase_order_number}}" required id="id_purchase_order_no">

        {% endif %}
    
    </div>
    <div class="d-flex mb-3">
        <label for="id_refrence_number" class="item-form">Refrence Number:</label>
        {% if not master_form.instance.id %}


    <input type="number" class="item-select" name="refrence_number" value="{{master_form.refrence_number.initial}}" required id="id_refrence_number">
    
    {% else %}
    <input type="number" class="item-select" name="refrence_number" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.Product_Refrence_ID}}" required id="id_refrence_number">

    {% endif %}

</div>
    <div class="d-flex mb-3">
        <label for="id_model_name" class="item-form">Model Name:</label>

        {% if not master_form.instance.id %}

    <input type="text" class="item-select" name="model_name" value="{{master_form.model_name.initial}}" required id="id_model_name">

    {% else %}
    <input type="text" class="item-select" name="model_name" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.Model_Name}}" required id="id_model_name">
    
    {% endif %}

    </div>
    <div class="d-flex mb-3">


        
        <label for="id_total_p_o_qty" class="item-form">Total PO. Qty:</label>


        {% if not master_form.instance.id %}
        <input type="number" class="item-select" name="total_p_o_qty" value="{{master_form.total_p_o_qty.initial}}" id="id_total_p_o_qty">


        {% else %}

        <input type="number" class="item-select" name="total_p_o_qty" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.number_of_pieces}}" id="id_total_p_o_qty">

        {% endif %}
    </div>
    <div class="d-flex mb-3">
        <label for="id_labour_workout_qty" class="item-form">Total Issued Qty:</label>

    {% if not master_form.instance.id %}

    <input type="number" class="item-select" name="labour_workout_qty" value="{{master_form.labour_workout_qty.initial}}" required id="id_labour_workout_qty">

    {% else %}
    <input type="number" class="item-select" name="labour_workout_qty" value="{{master_form.instance.labour_voucher_number.total_process_pcs}}" required id="id_labour_workout_qty">

    {% endif %}

    </div>

   
    <div class="d-flex mb-3">
        <label for="id_pending_pcs" class="item-form">Pending Pcs:</label>

        {% if not master_form.instance.id %}
        <input type="text" class="item-select" name="pending_pcs" value="{{ master_form.pending_pcs.initial }}" required id="id_pending_pcs">

        {% else %}
        <input type="text" class="item-select" name="pending_pcs" value="{{ master_form.instance.labour_voucher_number.labour_workin_pending_pcs }}" required id="id_pending_pcs">

        {% endif %}

    </div>

    <div class="d-flex mb-3">
        <label for="id_total_return_pcs" class="item-form">Total return pcs:</label>
        <input type="number" class="item-select" name="total_return_pcs" required id="id_total_return_pcs">
    </div>
    <div class="d-flex mb-3">
        <label for="id_labour_charges" class="item-form">Labour charges:</label>

        {% if not master_form.instance.id %}

        <input type="number" class="item-select" name="labour_charges" step="0.01" value="{{master_form.labour_charges.initial}}" required id="id_labour_charges">
        {% else %}

        <input type="number" class="item-select" name="labour_charges" step="0.01" value="{{master_form.instance.labour_voucher_number.labour_workout_master_instance.purchase_order_cutting_master.purchase_order_id.product_reference_number.labour_charges}}" id="id_labour_charges">
        
        {% endif %}
    </div>
    <div class="d-flex mb-3">
        <label for="id_other_charges" class="item-form">Other charges:</label>
        <input type="number" class="item-select" name="other_charges" step="0.01" required id="id_other_charges">
    </div>
    <div class="d-flex mb-3">
        <label for="id_amount" class="item-form">Amount:</label>
    <input type="number" class="item-select" name="amount" step="0.01" required id="id_amount">
    </div>
    <div class="d-flex mb-3">
        <label for="id_description" class="item-form">Naration:</label>
    <input type="text" class="item-select" name="description" maxlength="100" required id="id_description">
    </div>
    <input type="submit" value="Submit" class="create-btn">
</div>

<div>
    {% for form in labour_work_in_product_to_item_formset %}
    {{form.as_p}}
    {% endfor %}

</div>


</form>
{% endblock %}