{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<div class="" >
    <form method="POST">
        {% csrf_token %}
       
        <div class="row">
            <div class="col-lg-6 mt-3">
                <h4 class="">Labour Workout</h4>
                <div style="border: 3px solid rgb(165, 164, 164); padding: 10px; border-radius: 5px;">
                    <span id="challanError" class="error-messagescuttingCreate"></span>
                    <div class="d-flex mb-2">
                        
                        <div class="d-flex">
                            
                            <input type="hidden" name="godown_id" id="id_godown_id" value="{{godown_id}}">

                            <lable for="id_challan_no" class="">Challan No:</lable>
                            <input type="text" name="challan_no" id="id_challan_no" class="purchase-amount text-danger ms-2 me-5 pb-2" value="{{labour_work_out_child_form.instance.challan_no}}" required>
                        </div>
                        <div class="d-flex ms-1 ">
                            <lable for="id_labour_name" class="">Labour:</lable>
                            <select type="number" name="labour_name" id="id_labour_name" class="item-select ms-2 pb-2" >
                            {% if labour_work_out_child_form.instance.id %}
                            <option value="{{labour_work_out_child_form.instance.labour_name.id}}">{{labour_work_out_child_form.instance.labour_name.name}}</option>
                            {% for ledger in ledger_labour_instances %}
                                <option value="{{ledger.id}}">{{ledger.name}}</option>
                            {% endfor %}
                            {% elif not labour_work_out_child_form.instance.id %}
                            <option value=""></option>
                            {% for ledger in ledger_labour_instances %}
                                <option value="{{ledger.id}}">{{ledger.name}}</option>
                            {% endfor %}

                            {% endif %}
                        
                            </select>
                            <button type="button" class="itemCreate_btn popup-trigger" onclick="openlabourPopup()">+</button>
                        </div>
                    
                    </div>

                    <div class="d-flex mb-2">
                        <div class="d-flex">
                            <label for="id_total_approved_pcs" class="">Total approved pcs:</label>
                            {% if labour_work_out_child_form.instance.id %}
                            <input name="total_approved_pcs"  value ="{{labour_work_out_child_form.instance.labour_workout_master_instance.total_approved_pcs}}" required id="id_total_approved_pcs" class="purchase-input text-danger ms-2 me-3 pb-2" readonly>
                            {% elif not labour_work_out_child_form.instance.id %}
                            <input name="total_approved_pcs"  value ="{{labour_work_out_child_form.initial.total_approved_pcs}}" required id="id_total_approved_pcs" class="purchase-input text-danger ms-2 me-3 pb-2" readonly>
                            {% endif %}
                        </div>
                   
                        <div class="d-flex"> 
                            <lable for="id_total_process_pcs" class="">Total processed Pcs</lable> 
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.instance.total_process_pcs | default_if_none:0}}" name="total_process_pcs" id="id_total_process_pcs" readonly>
                            
                        </div>

                        <div class="d-flex"> 
                            <lable for="id_total_balance_pcs" class="">Total balance pcs</lable> 

                            {% if labour_work_out_child_form.instance.id %}
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.instance.labour_workout_master_instance.total_pending_pcs}}" name="total_balance_pcs" id="id_total_balance_pcs" readonly>
                            {% elif not labour_work_out_child_form.instance.id %}
                            <input class="purchase-input text-danger ms-2 me-3 pb-2" value="{{labour_work_out_child_form.initial.total_balance_pcs}}" name="total_balance_pcs" id="id_total_balance_pcs" readonly>
                            {% endif %}
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-lg-6 mt-3">
                <div class="table-responsives">

                
                    <table class="table table-striped table-hover table-bordered tables">
                        <thead class="text-nowrap name_absolute sticky-top">
                            <tr>
                                <th>Product Sku</th>
                                <th>Color</th>
                                <th>Approved Qty</th>
                                <th>Balance Qty</th>
                                <th>Process Qty</th>
                            </tr>
                        </thead>
                        <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;">
                            {{product_to_item_formset.management_form}}
                            {% for form in product_to_item_formset %}
                            {% if form.instance.id %}
                            <tr>
            
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput"  name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-pending_pcs" value="{{form.instance.pending_pcs}}" id="id_{{form.prefix}}-pending_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-processed_pcs" value="{{form.instance.processed_pcs}}" id="id_{{form.prefix}}-processed_pcs" ></td>
                                
                            </tr>

                            {% elif not form.instance.id %}
                            
                            <tr>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.initial.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput"  name="{{form.prefix}}-product_color" value="{{form.initial.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-pending_pcs" value="{{form.initial.pending_pcs}}" id="id_{{form.prefix}}-pending_pcs" readonly></td>
                                <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.initial.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>  
                                <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-processed_pcs" value="{{form.initial.processed_pcs}}" id="id_{{form.prefix}}-processed_pcs" ></td>   
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex pb-2">
                        <label for="id_OderQty" class="text-danger">Total:</label>
                        <input type="number" class="productorderqty-input text-danger" name="OrderQty" id="id_OderQty" value="{{form.instance.number_of_pieces}}" style="margin-left: 232px;" readonly>
                        <input type="number" class="productorderqty-input text-danger " name="balanceQtys" id="id_balanceQtys" value="0" style="margin-left: 60px;" readonly>
                        <input type="number" class="productorderqty-input text-danger " name="processQty" id="id_processQty" value="0" style="margin-left: 47px;" readonly>
                    
                    </div>
                </div>
            </div>
             
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="tables-form">
                    <table class="table table-striped table-hover table-bordered tables"  >
                        <thead class="name_absolute sticky-top border-1">
                            <tr >
                                <th>Product SKU</th>
                                <th>Product Color</th>
                                <th>Material Name</th>
                                <th>Color Shade</th>
                                <th>Rate</th>
                                <th>Panha</th>
                                <th>Unit Name</th>
                                <th>Units</th>
                                <th>G-Total</th>
                                <th>Comsumption</th>
                                <th>Total Comsumption</th>
                                <th>Physical Stock</th>
                                <th>Balance Stock</th>
                            </tr>
                        </thead>
                        <tbody class="mainTableList" style="max-height: 450px; overflow-y: auto;" id="labourTable">
                            {{ labour_workout_cutting_items_formset_form.management_form }}
                            {% for form in labour_workout_cutting_items_formset_form %}
                            
                            {{form.id}}
                            {% if form.instance.id %}
                            <tr class="text-nowrap">
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="text" class="productShadeCutting_Material_input" name="{{form.prefix}}-material_name" value="{{form.instance.material_name}}" maxlength="100" id="id_{{form.prefix}}-material_name" readonly></td>
                                <td><input type="text"  class="productinput" name="{{form.prefix}}-material_color_shade" value="{{form.instance.material_color_shade}}" maxlength="255" id="id_{{form.prefix}}-material_color_shade"></td>
                                <td><input type="number" name="{{form.prefix}}-rate" class="productorderrawqty-input" value="{{form.instance.rate}}" step="0.01" id="id_{{form.prefix}}-rate" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-panha" class="productorderrawqty-input" value="{{form.instance.panha}}" step="0.01" id="id_{{form.prefix}}-panha" readonly></td>
                                <td><input type="text" name="{{form.prefix}}-unit_value" class="productorderrawqty-input" value="{{form.instance.unit_value}}" step="0.01" id="id_{{form.prefix}}-unit_value" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-units" class="productorderrawqty-input" value="{{form.instance.units}}" step="0.01" id="id_{{form.prefix}}-units" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-g_total" class="productorderrawqty-input" value="{{form.instance.g_total}}" step="0.01" id="id_{{form.prefix}}-g_total"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-consumption" class="productorderrawqty-input" value="{{form.instance.consumption}}" step="0.01" id="id_{{form.prefix}}-consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-total_comsumption" class="productorderrawqty-input" value="{{form.instance.total_comsumption}}" step="0.01" id="id_{{form.prefix}}-total_comsumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-physical_stock" class="productorderrawqty-input" value="{{form.instance.physical_stock}}" step="0.01" id="id_{{form.prefix}}-physical_stock" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-balance_physical_stock" class="productorderrawqty-input" value="{{form.instance.balance_physical_stock}}" step="0.01" id="id_{{form.prefix}}-balance_physical_stock" readonly></td>
                            </tr>
                            {% elif not form.instance.id %}
                           
                            <tr class="text-nowrap">
                                <input type="hidden" name="{{form.prefix}}-fab_non_fab" id="id_{{form.prefix}}-fab_non_fab" value="{{form.initial.fab_non_fab}}" class="fab_non_fab">
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.initial.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                                <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.initial.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                                <td><input type="text" class="productShadeCutting_Material_input" name="{{form.prefix}}-material_name" value="{{form.initial.material_name}}" maxlength="100" id="id_{{form.prefix}}-material_name" readonly></td>
                                <td><input type="text"  class="productinput" name="{{form.prefix}}-material_color_shade" value="{{form.initial.material_color_shade}}" maxlength="255" id="id_{{form.prefix}}-material_color_shade"></td>
                                <td><input type="number" name="{{form.prefix}}-rate" class="productorderrawqty-input" value="{{form.initial.rate}}" step="0.01" id="id_{{form.prefix}}-rate" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-panha" class="productorderrawqty-input" value="{{form.initial.panha}}" step="0.01" id="id_{{form.prefix}}-panha" readonly></td>
                                <td><input type="text" name="{{form.prefix}}-unit_value" class="productorderrawqty-input" value="{{form.initial.unit_value}}" step="0.01" id="id_{{form.prefix}}-unit_value" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-units" class="productorderrawqty-input" value="{{form.initial.units}}" step="0.01" id="id_{{form.prefix}}-units" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-g_total" class="productorderrawqty-input" value="{{form.initial.g_total}}" step="0.01" id="id_{{form.prefix}}-g_total"readonly ></td>
                                <td><input type="number" name="{{form.prefix}}-consumption" class="productorderrawqty-input" value="{{form.initial.consumption}}" step="0.01" id="id_{{form.prefix}}-consumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-total_comsumption" class="productorderrawqty-input" value="{{form.initial.total_comsumption}}" step="0.01" id="id_{{form.prefix}}-total_comsumption" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-physical_stock" class="productorderrawqty-input" value="{{form.initial.physical_stock}}" step="0.01" id="id_{{form.prefix}}-physical_stock" readonly></td>
                                <td><input type="number" name="{{form.prefix}}-balance_physical_stock" class="productorder_input " value="{{form.initial.balance_physical_stock}}" step="0.01" id="id_{{form.prefix}}-balance_physical_stock" readonly></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <input type="hidden" id="id_physical_stock" value="{{physical_stock_all_godown_json}}">
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
    
        <input type="submit" class="create-btn mt-3 mx-3" name="submit-form" value="Submit" id="id_submit">
    </form>
</div>
<script>
    var popUpWindow = null;
function openlabourPopup(button){
    openNewPopup(button, '{% url "ledger-create" %}');
}

function openNewPopup(button, url){
    if (popUpWindow === null || popUpWindow.closed) {
    newPopUpwindow(button, url);
  } else {
  
    popUpWindow.focus();
  }
}

function newPopUpwindow(button, path){
    // Specify minimum height and width
  var minWidth = 800; // minimum width
  var minHeight = 600; // minimum height

  $('body').addClass('popup-open');
  $('body').append('<div class="popup-overlay"></div>');

  // Open new page with specified dimensions
  popUpWindow = window.open(path, '_blank', 'width=' + minWidth + ', height=' + minHeight + ', resizable=yes');
    // Ensure only one event listener is attached
  
    window.addEventListener('message', function(event){
        if (event.data.message === 'close') {
                $('body').removeClass('popup-open');
                $('.popup-overlay').remove();
                popUpWindow.close();
             }
           });


    // Listen for messages from the popup window
    window.addEventListener('click', function(event) {
    handleOutsideClick(event);
  });
}
function handleOutsideClick(event) {

var popUpRect = document.querySelector('body').getBoundingClientRect();
var clickX = event.clientX;
var clickY = event.clientY;
 
  // Check if the click is outside the popup window
  if (
    clickX > popUpRect.left || clickX <= popUpRect.right ||
    clickY > popUpRect.top || clickY <= popUpRect.bottom
  ) {
   
    popUpWindow.focus();
    
  }

}
</script>

<script>
 $(document).ready(function(){
        $('#id_challan_no').on('focusout',function(){
            var challanNo = $(this).val();
            var challanId = $("#id_challan_no");
            var errorElement = $('#challanError'); // The error message element
            var submitButton = $('#id_submit');
            $.ajax({
                url: '/uniquevalidcheckajax/',
                method: 'GET',
                data: {
                    'labour_workout_challan_no': challanNo,
                    
                },
                success: function (data) {
                    if(data.validation_flag === true){
                        challanId.css('border', '1px solid red');
                        errorElement.text('*Challan number already exists');
                        errorElement.show();
                        submitButton.attr('disabled', 'disabled');
                    }else {
                        
                        challanId.css('border', '1px solid black'); 
                        errorElement.text('');
                        errorElement.hide();
                        submitButton.removeAttr('disabled');
                    }
                   
                },
                error: function (error) {   
                    console.log(error);
                }

            })
        })
    })
function labourApprovedQty() {
    let total = 0;
    let balance =0;
    const approvedsValue = document.querySelectorAll('[name$="-pending_pcs"]');
    approvedsValue.forEach(function(el){
        const approvedQty = parseFloat(el.value || 0);
        const balncePic = el.closest('tr').querySelector('[name$="-balance_pcs"]').value;
        const blanceAQty = parseFloat(balncePic || 0);
        balance += blanceAQty;
        total += approvedQty;

        document.getElementById('id_OderQty').value = total;
        document.getElementById('id_balanceQtys').value =balance;
    })

    const ids = document.getElementById('id_labour_workout_cutting_items_set-0-id').value;

    if(ids !== ""){
        const submitButton = document.getElementById('id_submit');
        const challanNo = document.getElementById('id_challan_no');
        const labourname = document.getElementById('id_labour_name');
        let totals =0;
        challanNo.readOnly = 'true';
        challanNo.style.backgroundColor = 'transparent';
        challanNo.style.border = 'none';
        submitButton.style.display = 'none';
        labourname.disabled = 'true';
        labourname.style.backgroundColor = 'transparent';
        const processQty = document.querySelectorAll('[name$="-processed_pcs"]');
        processQty.forEach(function(element){
            element.readOnly = 'true';
            element.style.backgroundColor = 'transparent';
            element.style.border = 'none';
            element.style.outline = 'none';
            const approvedQty = parseInt(element.value);
            totals += approvedQty;
            document.getElementById('id_processQty').value = totals;
        })

       
    }
}
labourApprovedQty()
    function labourQty() {
        let totalValue = 0;
        let balanceValue = 0;
        const processQty = document.querySelectorAll('[name$="-processed_pcs"]');
        processQty.forEach(function (element) {
            const processValue = parseInt(element.value) || 0;
            const approvedValue = parseInt(element.closest('tr').querySelector('[name$="-pending_pcs"]').value);
            const balanceValue = parseInt(element.closest('tr').querySelector('[name$="-balance_pcs"]').value);

            if (balanceValue < processValue) {
                element.closest('tr').querySelector('[name$="-processed_pcs"]').value = 0;
            }

            if (!isNaN(processValue) && !isNaN(approvedValue)) {
                totalValue += processValue;
                document.getElementById('id_processQty').value = totalValue;
                document.getElementById('id_total_process_pcs').value = totalValue;

                const totalApproved = parseInt(document.getElementById('id_total_approved_pcs').value);

                //var totalbalance = totalApproved - totalValue;
                //document.getElementById('id_total_balance_pcs').value = totalbalance;
            }

        })

    }

    function fabricQty() {
        let totalFabric = 0;
        const processQty = document.querySelectorAll('[name$="-processed_pcs"]');

        processQty.forEach(function (element) {
            const processValue = parseInt(element.value) || 0;
            const color = element.closest('tr').querySelector('[name$="-product_color"]').value;

            totalFabric += processValue;

            const mainTables = document.querySelectorAll('#labourTable tr');

            mainTables.forEach(function (el) {
                const mainColor = el.querySelector('[name$="-product_color"]').value;

                let totalConsumtion = el.querySelector('[name$="-total_comsumption"]');

                if (totalConsumtion) {


                        if (color === mainColor) {

                            const consumtion = el.querySelector('[name$="-consumption"]').value;
                            let tConsumtion = consumtion * processValue;
                            totalConsumtion.value = tConsumtion.toFixed(2);

                        } else if (mainColor === "Common Item") {

                            const consumtion = el.querySelector('[name$="-consumption"]').value || 0;

                            let tConsumtion = consumtion * totalFabric;
                            totalConsumtion.value = tConsumtion.toFixed(2);

                        }
                    
                }


            })
        })
    }

document.addEventListener('DOMContentLoaded', function() {
 
    const pendingQty = document.querySelectorAll('[name$="-processed_pcs"]');
    pendingQty.forEach(function(el){
      el.addEventListener('input',function(){
        labourApprovedQty();
        labourQty();
        fabricQty();
      })
    })
});

</script>
{% endblock %}