{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}
<h4 class="mb-3">Add Unique Product</h3>

   <h5 class="me-5">Product Refrence No : <span class="text-capitalize text-danger">{{product_refrence_no}}</span></h5>
   <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

 
    <table class="table table-responsive table-striped table-bordered" id="mainProductForm">
        <thead>
            <tr>
                <th>No</th>
                <th>Product Sku</th>
                <th>Item Name</th>
                <th>Rows</th>
                <th>Remark</th>
                <th>Delete</th>
            </tr>
        </thead>
       
        <tbody class="mainTableList">
            {{formset_single.management_form}}
            {% for form in formset_single %}
            {{ form.id }}
            <tr>
                <td><input type="number" class="product_id"  name="{{form.prefix}}-row_number" value="{{forloop.counter}}" maxlength="255" id="id_{{form.prefix}}-row_number" readonly ></td>
               
                <td>
                    <select class=" product2Select" name="{{form.prefix}}-PProduct_pk" id="id_{{form.prefix}}-PProduct_pk">
                        <option value="{{form.instance.PProduct_pk.PProduct_SKU}}">{{form.instance.PProduct_pk.PProduct_SKU}} &nbsp; &nbsp; {{form.instance.PProduct_pk.PProduct_color}}</option>
                        {% for product in Products_all %}
                        <option value="{{product.PProduct_SKU}}">{{product.PProduct_SKU}} &nbsp; &nbsp;{{product.PProduct_color}}</option>
                        {% endfor %}
                    </select>

                </td>
                <td>
                    <select class="product2Select" name="{{form.prefix}}-Item_pk" id="{{form.prefix}}-Item_pk">
                        
                        <option value="{{form.instance.Item_pk.id}}">{{form.instance.Item_pk.item_name}}</option>
                        {% for item in items %}
                        <option value="{{item.id}}">{{item.item_name}}</option>
                        {% endfor %}
                    </select>

                </td>
                <td> <input type="text" class="product_row" name="{{form.prefix}}-no_of_rows" value="{{form.instance.no_of_rows}}" maxlength="255" id="id_{{form.prefix}}-no_of_rows"></td>
                <td> <input type="text" class="product_remark" name="{{form.prefix}}-Remark" value="{{form.instance.Remark | default_if_none:''}}"  maxlength="255" id="id_{{form.prefix}}-Remark"></td>
                <td><span class="delete-btn border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="product_Item_deleteId px-2" style="display: none;"  name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE" value="" ></i></span></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <button type="button" class="add_btn mb-4" id="addForm">Add</button>  
  
    <div>
        <h4 class="mb-3">Add common Product</h3>
            <table class="table table-responsive table-striped table-bordered" id="myProduct">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Item Name</th>
                        <th>Rows</th>
                        <th>Remark</th>
                        <th>Delete</th>
                    </tr>
                </thead>
               
                <tbody class="mainTable">
                   {{formset_common.management_form}}
                   {% for forms in formset_common %}
                   {{ forms.id }}
        
                    <tr>
                        <td><input type="number" class="product_id common_product"  name="{{forms.prefix}}-row_number" value="{{forloop.counter}}" id="id_{{forms.prefix}}-row_number" readonly ></td>
        
                        <td>
                            <select class="product2Select" name="{{forms.prefix}}-Item_pk" id="id_{{forms.prefix}}-Item_pk">
                                
                                <option value="{{forms.instance.Item_pk.id}}">{{forms.instance.Item_pk.item_name}}</option>
                                {% for item in items %}
                                <option value="{{item.id}}">{{item.item_name}}</option>
                                {% endfor %}
                            </select>
        
                        </td>
                      
                        <td> <input type="text" class="product_row" name="{{forms.prefix}}-no_of_rows" value="{{forms.instance.no_of_rows}}"  maxlength="255" id="id_{{forms.prefix}}-no_of_rows" ></td>
                      
                        <td> <input type="text" class="product_remark" name="{{forms.prefix}}-Remark" value="{{forms.instance.Remarks}}"  maxlength="255" id="id_{{forms.prefix}}-Remark" ></td>
                        <td><span class="delete border-0 bg-transparent" style="cursor: pointer;"><i class="fa-solid fa-trash text-danger px-3 py-2 fs-6"><input type="checkbox" class="product_deleteId px-2" style="display: none;"  name="{{forms.prefix}}-DELETE" id="id_{{forms.prefix}}-DELETE" value="" ></i></span></td>
                    </tr>
                    {% endfor %} 
                </tbody>
                
            </table>
            
                    
        <button type="button" class="add_btn mb-3" id="addNewRow">Add</button>  
    </div>
    
<div>
    <input type="submit" class="add_btn" >
</div>

</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addFormButton = document.getElementById('addForm');
        const tableBody = document.querySelector('#mainProductForm tbody');

        if( addFormButton && tableBody) {
        addFormButton.addEventListener('click', function() {
        let lastVisibleRow = null;
        tableBody.querySelectorAll('tr').forEach(row => {
            if (window.getComputedStyle(row).display !== 'none') {
                lastVisibleRow = row;
            }
        });
        if (lastVisibleRow) {
            var forms = document.getElementById('id_product2itemuniqueformset-TOTAL_FORMS');
            var newFormCount = parseInt(forms.value) ;
            console.log(newFormCount);
            var newTable = lastVisibleRow.cloneNode(true);
            newTable.querySelectorAll("input select").forEach(function(e) {
            e.value= "";
          });

         
         
            const newSelectElement = newTable.querySelector('select[name^="product2itemuniqueformset-"][name$="PProduct_pk"]');
            newSelectElement.id = `id_product2itemuniqueformset-${newFormCount}-PProduct_pk`;
            newSelectElement.name = `product2itemuniqueformset-${newFormCount}-PProduct_pk`;
            newSelectElement.value = '';

            const selectValueName = newTable.querySelector('select[name^="product2itemuniqueformset-"][name$="Item_pk"]');
            selectValueName.id = `id_product2itemuniqueformset-${newFormCount}-Item_pk`;
            selectValueName.name = `product2itemuniqueformset-${newFormCount}-Item_pk`;
            selectValueName.value = '';


            const inputElement = newTable.querySelector('input[name^="product2itemuniqueformset-"][name$="no_of_rows"]');
            inputElement.id = `id_product2itemuniqueformset-${newFormCount}-no_of_rows`;
            inputElement.name = `product2itemuniqueformset-${newFormCount}-no_of_rows`;
            inputElement.value = '';

            const inputRemark = newTable.querySelector('input[name^="product2itemuniqueformset-"][name$="Remark"]');
            inputRemark.id = `id_product2itemuniqueformset-${newFormCount}-Remark`;
            inputRemark.name = `product2itemuniqueformset-${newFormCount}-Remark`;
            inputRemark.value = '';

            const inputRowNumber = newTable.querySelector('input[name^="product2itemuniqueformset-"][name$="row_number"]');
            inputRowNumber.id = `id_product2itemuniqueformset-${newFormCount}-row_number`;
            inputRowNumber.name = `product2itemuniqueformset-${newFormCount}-row_number`;
            inputRowNumber.value = `${newFormCount + 1}`;




            const deleteElement = newTable.querySelector('.product_Item_deleteId[name^="product2itemuniqueformset-"][name$="DELETE"]');
            deleteElement.id = `id_product2itemuniqueformset-${newFormCount}-DELETE`;
            deleteElement.name = `product2itemuniqueformset-${newFormCount}-DELETE`;
            deleteElement.value = '';
            deleteElement.checked = false;


            forms.value = newFormCount + 1;

            tableBody.appendChild(newTable);
            deleteRow();

        }else {
            console.error("No visible rows found to clone.");
        }   
        });
    }

    function deleteRow(){
// Add click event listener to all delete buttons
document.querySelectorAll('.delete-btn').forEach(function(button) {
    button.addEventListener('click', function() {
        // Find the row containing the clicked delete button
        var row = this.closest('tr');
        console.log("row",row);
        var checkRow = row.querySelector('.product_Item_deleteId[name^="product2itemuniqueformset-"][name$="-DELETE"]');
        if (checkRow) {
            checkRow.checked = true; // Mark as checked
            checkRow.value = 'true'; // Set the value to 'true'

            row.style.display = 'none';

        } else {
            console.error("Checkbox for deletion not found in this row");
        }
    });
});

};
deleteRow();
    });

 

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addNewButton = document.getElementById('addNewRow');
        const tableBody = document.querySelector('#myProduct tbody');

        if( addNewButton && tableBody) {
            addNewButton.addEventListener('click', function() {
        let lastVisibleRow = null;
        tableBody.querySelectorAll('tr').forEach(row => {
            if (window.getComputedStyle(row).display !== 'none') {
                lastVisibleRow = row;
            }
        });
        if (lastVisibleRow) {
            var tableRow = document.getElementById('id_product2itemcommonformset-TOTAL_FORMS');
            console.log(tableRow);
            var newCount = parseInt(tableRow.value) ;
            var lastRow = lastVisibleRow.cloneNode(true);
            lastRow.querySelectorAll("input select").forEach(function(e) {
            e.value= "";
          });

          const newInputRow = lastRow.querySelector('.common_product[name^="product2itemcommonformset-"][name$="row_number"]');
          newInputRow.id = `id_product2itemcommonformset-${newCount}-row_number`;
          newInputRow.name = `product2itemcommonformset-${newCount}-row_number`;
          newInputRow.value = `${newCount + 1}`;

            const selectElement = lastRow.querySelector('select[name^="product2itemcommonformset-"][name$="Item_pk"]');
            selectElement.id = `id_product2itemcommonformset-${newCount}-Item_pk`;
            selectElement.name = `product2itemcommonformset-${newCount}-Item_pk`;
            selectElement.value = '';


            const inputNameValue = lastRow.querySelector('input[name^="product2itemcommonformset-"][name$="no_of_rows"]');
            inputNameValue.id = `id_product2itemcommonformset-${newCount}-no_of_rows`;
            inputNameValue.name = `product2itemcommonformset-${newCount}-no_of_rows`;
            inputNameValue.value = '';


            const inputElement = lastRow.querySelector('input[name^="product2itemcommonformset-"][name$="Remark"]');
            inputElement.id = `id_product2itemcommonformset-${newCount}-Remark`;
            inputElement.name = `product2itemcommonformset-${newCount}-Remark`;
            inputElement.value = '';

            const deleteElement = lastRow.querySelector('.product_deleteId[name^="product2itemcommonformset-"][name$="DELETE"]');
            deleteElement.id = `id_product2itemcommonformset-${newCount}-DELETE`;
            deleteElement.name = `product2itemcommonformset-${newCount}-DELETE`;
            deleteElement.value = '';
            deleteElement.checked = false;


            tableRow.value = newCount + 1;

            tableBody.appendChild(lastRow);
            deletedRow();

        }else {
            console.error("No visible rows found to clone.");
        }   
        });
    }

    function deletedRow(){
// Add click event listener to all delete buttons
document.querySelectorAll('.delete').forEach(function(button) {
    button.addEventListener('click', function() {
        // Find the row containing the clicked delete button
        var row = this.closest('tr');
        console.log("row",row);
        var checkRow = row.querySelector('.product_deleteId[name^="product2itemcommonformset-"][name$="-DELETE"]');
        if (checkRow) {
            checkRow.checked = true; // Mark as checked
            checkRow.value = 'true'; // Set the value to 'true'

            row.style.display = 'none';

        } else {
            console.error("Checkbox for deletion not found in this row");
        }
    });
});

};
deletedRow();
    });

 

</script>
    {% endblock body %} 