{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}
    <h4>Add items to product</h4>
    Product Name : {{product_name}} product Color : {{product_color}}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
       
        {% for form in formset %}
        {{form}}
        {% endfor %}
                
    <button type="button" class="add_btn" id="addForm">Add</button>  
    <input type="submit" class="add_btn" >
    </form>

    {% endblock body %} 