{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped table-hover table-bordered">
            <thead class="name_absolute text-nowrap">
                <tr>
                    <th>Product Sku</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="mainTableList">
                {{formset.management_form}}
                {% for form in formset %}
                {{form.id}}
                <tr>
                    <td class="text-nowrap">
                        <input type="text" name="{{form.prefix}}-product_id" value="40051141036" id="id_{{form.prefix}}-product_id">
                    </td>
                    <td>
        
                    </td>
                    <td>
                        <input type="number" name="{{form.prefix}}-quantity" value="0" id="id_{{form.prefix}}-quantity">
                    </td>
                    <td> <input type="checkbox" name="{{form.prefix}}-DELETE" id="id_{{form.prefix}}-DELETE"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<input type="submit" class="create-btn mt-4">
{% endblock %}