{% extends 'misc/navbar_popup.html' %}
{% load static %}
{% block body %}

<form method="POST" id="myForms">
    {% csrf_token %}

    <h2 class="mb-3 mt-3">Cutting</h2>
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-striped table-hover table-bordered tables">
                <thead class="name_absolute text-nowrap">
                    <tr>
                        <th>Product Sku</th>
                        <th>Color</th>
                        <th>Cutting Qty</th>
                        <th>Approved pcs</th>
                        <th>Balance pcs</th>
                    </tr>
                </thead>
                <tbody class="mainTableList">
                    {{formset.management_form}}
                    {% for form in formset %}
                    {{form.id}}
                    <tr class="text-nowrap">
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_sku" value="{{form.instance.product_sku}}" maxlength="100" id="id_{{form.prefix}}-product_sku" readonly></td>
                        <td><input type="text" class="productinput" name="{{form.prefix}}-product_color" value="{{form.instance.product_color}}" maxlength="100" id="id_{{form.prefix}}-product_color" readonly></td>
                        <td><input type="number" class="productorderrawqty-input" name="{{form.prefix}}-cutting_quantity" value="{{form.instance.cutting_quantity}}" id="id_{{form.prefix}}-cutting_quantity" readonly></td>
                        <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-approved_pcs" value="{{form.instance.approved_pcs}}" id="id_{{form.prefix}}-approved_pcs"></td>
                        <td><input type="number" class="productorderqty-input" name="{{form.prefix}}-balance_pcs" value="{{form.instance.balance_pcs}}" id="id_{{form.prefix}}-balance_pcs" readonly></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
   
<input type="submit" name="" id="" class="create-btn mt-3 mx-3">
</form>

<script>


  function quantityCheck(){

    let forms = document.getElementById('id_purchase_order_to_product_cutting_set-TOTAL_FORMS').value;
  
    for(let i=0; i<forms; i++){
        const cuttingQty = document.getElementById('id_purchase_order_to_product_cutting_set-'+i+'-cutting_quantity');
        const approvedQty = document.getElementById('id_purchase_order_to_product_cutting_set-'+i+ '-approved_pcs');
        const balanceQty = document.getElementById('id_purchase_order_to_product_cutting_set-'+i+ '-balance_pcs');
        const approvedValue = parseFloat(approvedQty.value);
        const cuttingValue = parseFloat(cuttingQty.value);
        const balanceValue = parseFloat(balanceQty.value);
    
        if(cuttingValue < approvedValue){
            approvedQty.value = "0"
        }
        if(!isNaN(approvedValue) && !isNaN(cuttingValue) && !isNaN(balanceValue)){
            
            balanceQty.value = cuttingValue - approvedValue;
        }
    }
    
  }
  
  document.addEventListener('DOMContentLoaded', function () {
    //let formSubmitted= true;
    quantityCheck();
    let approve = document.querySelectorAll('input[name$="-approved_pcs"]');
    approve.forEach(function(element){
        element.addEventListener('input', ()=>{
            quantityCheck();
        });
    })
      // Attach event listener to the form submission
      let form = document.getElementById('myForms'); // Adjust selector to target the correct form
    form.addEventListener('submit', function () {
      formSubmitted = true;
    });
  })
</script>

{% endblock %}
