{% extends 'product/base.html' %} 
{% load static %} 

{% block body %}

<form action="" method="POST">
    <h3 class="my-4">Create new Purchase Order</h3>

    {% csrf_token %}
    <input type="hidden" name="productRowCreate" value="{{form.instance.id}}" id="id_productRow">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex mb-3">
          <label for="id_purchase_order_number" class="item-form">Order Number:</label>
          <input type="number" name="purchase_order_number" class="item-select" value="{{form.instance.purchase_order_number | default_if_none:''}}" required id="id_purchase_order_number">
      </div>
      
        
        <div class="d-flex mb-3">
          <label for="id_product_reference_number" class="item-form">Reference Number:</label>
          <select name="product_reference_number" class="item-select" required id="id_product_reference_number">
              {% if form.instance.id %}
              <option value="{{form.instance.product_reference_number.id}}">{{form.instance.product_reference_number.Product_Refrence_ID}}</option>
              {% for product in products %}      
              <option value="{{product.id}}">{{product.Product_Refrence_ID}}</option>
              {% endfor %}
              {% elif not form.instance.id %}
              <option value=""></option>
              {% for product in products %}      
              <option value="{{product.id}}">{{product.Product_Refrence_ID}}</option>
              {% endfor %}
              {% endif %}
      </select> 
        </div>
        <div class="d-flex mb-3">
          <label for="id_ledger_party_name" class="item-form">Ledger party name:</label>
          <select name="ledger_party_name" class="item-select" id="id_ledger_party_name">
              {% if form.instance.id %}
              <option value="{{form.instance.ledger_party_name.id}}">{{form.instance.ledger_party_name.name}}</option>
              {% for party_name in ledger_party_names %}
                <option value="{{party_name.id}}">{{party_name.name}}</option>
              {% endfor %}
              {% elif not form.instance.id %}
              <option value=""></option>
              {% for party_name in ledger_party_names %}
                <option value="{{party_name.id}}">{{party_name.name}}</option>
              {% endfor %}
              {% endif %}
          </select>
        </div>
        <div class="d-flex mb-3">
          <label for="id_target_date" class="item-form">Target date:</label>
          <input type="date" name="target_date" class="item-select" value="{{ form.instance.target_date|date:'Y-m-d' }}" required id="id_target_date">  
        </div> 
        <div class="d-flex mb-3">
          <label for="id_number_of_pieces" class="item-form ">Number of pieces:</label>
          <input type="number" name="number_of_pieces" class="item-select"  value="{{form.instance.number_of_pieces}}" required id="id_number_of_pieces">
        </div>   
        <div class="d-flex mb-3">
          <label for="id_product_select" class="item-form">Product Name:</label>
          <select name="product_select" id="id_product_select" class="item-select" >
            {% for product in product_queryset %}
            <option  value="{{product.id}}">{{product.Product_Name}}</option>
            {% endfor %}
          </select>
        </div>
       
      </div>
      <div class="col-lg-6">
        <div id="div_id_product_form"></div>
      </div>
    </div>
    
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 
    </button> -->
    

    <input  type="submit" class="create-btn mt-4 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal" value="submit" id="id_submit">
    </form>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Product PK: <span id="productPkDisplay"></span></p>
            <p>Form PK: <span id="formPkDisplay"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dateInput = document.getElementById('id_target_date');
            var today = new Date().toISOString().split('T')[0];
             var date= dateInput.value;
             dateInput.min = today;
        });
        
      
    </script>


{% endblock %}