{% extends 'misc/navbar_popup.html' %}
{% load static %} 

{% block body %}

<form method="post" action="" id="myForm" onsubmit="submitForm()">
    {% csrf_token %}
    <input type="hidden" id="urlInput" name="url" value="{{ request.scheme }}://{{ request.get_host }}/setproductiondownload/{{product_ref_id}}">
<h2>Set Production</h2>
<div class="d-flex mb-3">
    <lable>Product Refrence ID:</lable>
    <span class="product_items "> {{product_ref_id}}</span>

    <label>Product Name:</label>
    <span> {{product_name}}</span>
</div>
 
<div class="mb-2">
    <label for="item_Numbers">No of Items:</label>
    <input type="number" class="purchase-input" id="item_Numbers" name="item_numbers" value="">
</div>

<input type="submit"  class="create-btn">
<button type="button" class="create-btn">Add +</button>
</form>



<!-- <script>
   
  function submitForm() {
    var url = document.getElementById('urlInput').value;
   
    var itemValue = document.getElementById('item_Numbers').value;
    
    // Modify form action to include encoded URL parameters
    var updatedUrl = url + '/' + itemValue;

   console.log('updatedUrl:', updatedUrl);
   console.log('itemValue:', itemValue);
    var newData = {
        'itemValue': itemValue,
        'updatedUrl': updatedUrl

    }
    console.log('newData', newData)
    window.opener.newUrlData(newData);
}



</script> -->

{% endblock %}

